<div class="performance-level-color-legend">
  <strong class="below_average"><%= t('.red') %></strong> = <%= t('.bottom_30') %>,
  <strong class="average"><%= t('.orange') %></strong> = <%= t('.middle_40') %>,
  <strong class="above_average"><%= t('.green') %></strong> = <%= t('.top_30') %>
</div>
