<% domain = 'http://www.greatschools.org' %>
<div class="marginGS" id="marginGS">
    <div class="contentGS" id="contentGS">
        <div class="terms" id="api_docs">
            <div class="apiTerms">
                <div class="apiTermsHeading">GreatSchools API Terms of Service</div>
                <div class="apiTermsEffective">Effective July 2010</div>
                <p class="clearfloat">Thank you for using the GreatSchools, Inc. ("GreatSchools") API. By using the GreatSchools API, (the "API"), you and the organization listed in your Request for Service ("You") accept and agree to be bound by the following terms and conditions (the "Terms of Service").</p>
                <div class="apiTermsSection">1. GreatSchools API</div>
                <p>a. Applying to Become an Approved Licensee</p>
                <p>To apply to become an approved licensee, please submit a Request for access to the GreatSchools API ("Request"). You hereby represent and warrant to GreatSchools that all information included in your Request is true, complete and accurate.</p>
                <p>b. API Service</p>
                <p>The GreatSchools API enables approved licensees to obtain and display local school information from GreatSchools' API database ("GreatSchools API Service") on their Websites and mobile applications ("Web and Mobile Use"), subject to the conditions and limitations in these Terms of Service. The API includes an API client library and associated documentation that allows approved licensees to display results from the GreatSchools API ("GS Content") in accordance with these Terms of Service.</p>
                <p>GreatSchools reserves the right to approve on a case-by-case basis uses of the API beyond Web and Mobile Use. If you would like to use the API for a non-Web and Mobile Use, please describe your proposed use in your Request. GreatSchools may amend these Terms of Service by addendum for approved non-Web and Mobile Uses.</p>
                <p>c. Modifications</p>
                <p>GreatSchools reserves the right to release updated versions of the API and to require You to obtain and use the most recent version. GreatSchools may modify the Terms of Service at any time with or without notice, and You can review the most current version of the Terms of Service online at any time at <a href="http://www.greatschools.org/api/registration.page">www.greatschools.org/api/registration.page</a> (or any other URL as GreatSchools may decide from time to time). If a modification is unacceptable to You, You may cancel the Service by stopping your use of the Service. If You continue to use the Service, You will be deemed to have accepted the modifications.</p>
                <div class="apiTermsSection">2. License GreatSchools API Service</div>
                <p>Effective upon GreatSchools' acceptance of You as an approved licensee pursuant to your Request, and subject to the terms of these Terms of Service (including, without limitation, Section 4 below), GreatSchools will grant You a nontransferable, nonsublicensable, nonexclusive license during the term set forth in a fully executed agreement to: (a) access the API, (b) implement the API on Your Website(s) or Mobile Application specified in your Request ("Website(s) or Mobile Application"), and (c) display GreatSchools API Service on Your Website(s) or Mobile Application for consumers to access such data for their personal use, without charge, and without requiring user to sign in or enter a user name and/or pass code to access the data.</p>
                <div class="apiTermsSection">3. Branding License</div>
                <p>GreatSchools grants to Licensee a non-exclusive, nontransferable, non sublicensible license, during the term set forth in a fully executed agreement, to access the API, implement the API on your Website(s) or Mobile Application specified in your request and display the API, GreatSchools' trademarks, logos and other brands provided by GreatSchools (the "<span class="strong">GS Brands</span>") for the purpose of: (i) identifying the GS Content on Your Website(s) or Mobile Application as content provided by GreatSchools, (ii) linking to the GreatSchools.org website from Your Website(s) or Mobile Application, and (iii) including in promotional materials as described in Section 2.1 of the licensing agreement.</p>
                <p>In using the GS Brands, You agree that You will not:</p>
                <ol type="a">
                    <li>Display a GS Brand in any manner that implies a relationship or affiliation with, or sponsorship or endorsement by GreatSchools, other than Your use of the API;</li>
                    <li>Display a GS Brand on Your site if contains or displays adult content or promotes illegal activities, gambling or the sale of tobacco or alcohol to persons under twenty-one (21) years of age;</li>
                    <li>Display a GS Brand in a manner that is misleading, defamatory, infringing, libelous, disparaging or otherwise objectionable to GreatSchools; or</li>
                    <li>Remove, distort or alter any element of a GS Brand.</li>
                </ol>
                <p>You understand and agree that GreatSchools has the sole discretion to determine whether Your use of the GS Brands is in accordance with the above restrictions.</p>
                <div class="apiTermsSection">4. Acceptable Use; Restrictions.</div>
                <p>You agree not to use the API, GreatSchools API Service or GS Brands in any way that is unlawful, or that harms GreatSchools, its service providers, its suppliers, Your users, or any other person or entity. GreatSchools may terminate Your use of the API, GreatSchools API Service or GS Brands if and when GreatSchools determines Your use is inappropriate. The licenses granted to You herein are subject to these Terms of Service, including without limitation the following restrictions:</p>
                <ol type="a">
                    <li>All calls to the API must reference Your unique API Key.</li>
                    <li>You agree to keep Your API Key confidential, and to not share it with any third party, including without limitation subsidiaries, affiliates and partner organizations. Any third party must submit its own Request and API Key request.</li>
                    <li>You agree to provide the GreatSchools API Service to Your users on an "as is" basis, with disclaimers substantially similar to those set forth in Section 5 of the licensing agreement.</li>
                    <li>You may not use the GreatSchools API data to develop a stand-alone application that substantial re-creates the functionality offered by www.GreatSchools.org, or for the purpose of competing directly with www.GreatSchools.org.</li>
                    <li>You must clearly and conspicuously display the GS Brands on any Website(s) or Mobile Application page that displays or uses the API or GreatSchools API Service, in accordance with the Branding Requirements set forth below.</li>
                    <li>You may not, and You may not permit Your users or any third parties to, modify, obscure or disable the GreatSchools API Service that You display on Your Website(s) or Mobile Application.</li>
                    <li>You agree that You will not display or permit Your users or any third parties to display the GreatSchools API Service in a manner that makes it appear to be available on a third party Website.</li>
                    <li>You may present GreatSchools API data only on a transactional basis. You agree not to allow Your users to access GreatSchools API Service in bulk.</li>
                    <li>You may not use or make available the API data as part of any webpage that allows users to blog, comment, rate, or otherwise provide feedback regarding schools or related information, or as part of a webpage that promotes the availability of this type of service, on any Website other than a GreatSchools.org Website.</li>
                    <li>You must use commercially reasonable efforts to prevent the GreatSchools API data from being downloaded in bulk or otherwise scraped. Such efforts include "spider traps,"C.A.P.T.C.H.A.," velocity checks, source IP analysis, or other methods that are as effective.</li>
                    <li>You shall not tag links to the GreatSchools.org Website with a "nofollow" attribute or otherwise prevent or discourage search engines from following or scoring the link.</li>
                    <li>You agree to use the API and GreatSchools API Service only for purposes that are legal, proper and in accordance with these Terms of Service. By way of illustration and not limitation, You agree that You will not and will not permit Your users or other third parties to:
                        <ol type="i">
                            <li>Use or provide data elements from the GreatSchools API Service to enhance the data of any third party, including by generating any derivative works using GreatSchools API Service;</li>
                            <li>Use the GreatSchools API Service for direct marketing or telemarketing purposes;</li>
                            <li>Interfere with or disrupt GreatSchools services or servers or networks connected to GreatSchools services, or disobey any requirements, procedures, policies or regulations connected to GreatSchools services; or</li>
                            <li>Transmit any viruses, worms, defects, Trojan horses or any items of a destructive nature.</li>
                        </ol>
                    </li>
                    <li>You may not keep any copies of the GreatSchools API data. Your license to GreatSchools API data is limited to making direct server calls to GreatSchools.org for the GreatSchools API data and to distributing the GreatSchools API data to Your users immediately upon receipt by Your server(s).</li>
                    <li>Unless otherwise notified to you by GreatSchools, You may make up to 3000 direct server requests to the API per day. GreatSchools reserves the right at its discretion to reduce or increase the maximum number of calls applicable to You immediately and without notice. In addition, subject to GreatSchools' discretion, GreatSchools may approve You to make an additional number of direct server calls per day if You adhere to these Terms of Service and pass a GreatSchools audit and review. To request an increase in the maximum number of calls, please send an email to <a href="mailto:api-support@greatschools.org">api-support@greatschools.org</a>.</li>
                    <li>Should you exceed 3000 calls in a 24 hour period you will be subject to overage fees that range between $0.08/call to $0.01/call depending on your specific usage. GreatSchools reserves the right at its discretion to reduce or increase the fees.</li>
                    <li>You agree to refrain from reproducing, modifying, distributing, decompiling, disassembling or reverse engineering any portion of the API or any GreatSchools API Service.</li>
                    <li>You understand and agree that You are solely responsible for providing user support and any other technical assistance for any implementation of the API in Your Website(s) or Mobile Application. GreatSchools is under no obligation to provide You or Your users with user support or any other technical assistance.</li>
                    <li>If You become aware that any user of Your implementation of the API is in material breach of these Terms of Service (including, without limitation, the Branding Requirements set forth below), You agree to notify GreatSchools promptly by sending an email to <a href="mailto:api-support@greatschools.org">api-support@greatschools.org</a>, and to take prompt, commercially reasonable action at Your expense to remedy the breach.</li>
                </ol>
                <div class="apiTermsSection">5. Privacy Policy</div>
                <p>GreatSchools' collection of personal data is governed by GreatSchools' Privacy Policy. You understand and agree that GreatSchools may access, preserve and disclose Your information if required to do so by law or in a good faith belief that such access or disclosure is reasonably necessary to comply with legal process or to protect the rights, property and/or safety of GreatSchools, its affiliates or the public.</p>
                <div class="apiTermsSection">6. Limited Relationship</div>
                <p>The relationship between You and GreatSchools is one of independent contractors. Nothing in these Terms of Service shall be construed as creating an employer-employee relationship, partnership, joint venture, or any relationship other than an independent contractor relationship. You may publicly indicate that You have implemented the GreatSchools API on Your Website(s) or Mobile Application; however, You agree not to make any other public statements that assert or imply any other relationship with GreatSchools without GreatSchools' prior written consent.</p>
                <div class="apiTermsSection">7. Indemnity</div>
                <p>You agree to defend, hold harmless and indemnify GreatSchools, and its subsidiaries, affiliates, officers, agents, employees, suppliers, licensors and partners from and against any and all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys' fees, of every kind and nature arising from or in any way related to (i) Your or Your users' use of the API, GreatSchools API Service or GS Brands, (i) violation by You of these Terms of Service or other actions connected to Your use of the Service or API. In such a case, GreatSchools will provide You with written notice of such claim, suit or other action.</p>
                <div class="apiTermsSection">8. No Warranty</div>
                <p>GREATSCHOOLS PROVIDES THE API, GREATSCHOOLS API SERVICE AND GS BRANDS "AS IS," "WITH ALL FAULTS" AND "AS AVAILABLE." THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORT IS WITH YOU.</p>
                <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, GREATSCHOOLS EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES OR CONDITIONS, EXPRESS, STATUTORY OR IMPLIED, INCLUDING WITHOUT LIMITATION (A) WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE EFFORT, ACCURACY, TITLE, QUIET ENJOYMENT, NO ENCUMBRANCES, NO LIENS AND NONINFRINGEMENT, (B) WARRANTIES OR CONDITIONS ARISING THROUGH COURSE OF DEALING OR USAGE OF TRADE AND (C) WARRANTIES OR CONDITIONS OF UNINTERRUPTED OR ERROR-FREE ACCESS OR USE.</p>
                <div class="apiTermsSection">9. Liability Limitation; Exclusive Remedy</div>
                <p>IN NO EVENT WILL GREATSCHOOLS BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES ARISING OUT OF, BASED ON, OR RESULTING FROM THESE TERMS OF SERVICE OR YOUR OR YOUR USERS' USE OF THE API, GREATSCHOOLS API SERVICE, OR GS BRANDS, EVEN IF GREATSCHOOLS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE EXCLUSION OF DAMAGES UNDER THIS PARAGRAPH IS INDEPENDENT OF YOUR EXCLUSIVE REMEDY AND SURVIVES IN THE EVENT SUCH REMEDY FAILS OF ITS ESSENTIAL PURPOSE OR IS OTHERWISE DEEMED UNENFORCEABLE. THESE LIMITATIONS AND EXCLUSIONS APPLY WITHOUT REGARD TO WHETHER THE DAMAGES ARISE FROM (A) BREACH OF CONTRACT, (B) BREACH OF WARRANTY, (C) NEGLIGENCE OR (D) ANY OTHER CAUSE OF ACTION, TO THE EXTENT SUCH EXCLUSION AND LIMITATIONS ARE NOT PROHIBITED BY APPLICABLE LAW.</p>
                <p>IF YOU DO NOT AGREE WITH ANY PART OF THESE TERMS OF SERVICE, OR YOU HAVE ANY DISPUTE OR CLAIM AGAINST GREATSCHOOLS WITH RESPECT TO THESE TERMS OF SERVICE OR THE API, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE API, GREATSCHOOLS API SERVICE AND BRAND FEATURES.</p>
                <div class="apiTermsSection">10. Intellectual Property</div>
                <p>For purposes of these Terms of Service, "Intellectual Property Rights" shall mean any and all rights existing from time to time under patent law, copyright law, moral rights law, trade secret law, trademark law, unfair competition law, publicity rights law, privacy rights law, and any and all other proprietary rights, and any and all applications, renewals, extensions and restorations thereof, now or hereafter in force and effect worldwide. You acknowledge that GreatSchools or its licensors owns all right, title and interest, including without limitation all Intellectual Property Rights, in and to the API and GreatSchools API, and that You shall not acquire any right, title or interest to the API or GreatSchools API or any Intellectual Property Rights therein.</p>
                <div class="apiTermsSection">11. Term and Termination</div>
                <ol type="a">
                    <li>Term. The term of the Terms of Service shall commence on the date upon which agree to the Terms of Service and shall continue in force thereafter, unless terminated as provided herein.</li>
                    <li>Termination. GreatSchools may change, suspend or discontinue all or any aspect of the Service, including their availability, at any time, and may suspend or terminate Your use of the Service at any time. This includes, without limitation, the right to set, at GreatSchools' own discretion and at any time, a maximum amount of GreatSchools API Service you may access through the Service without GreatSchools' prior written consent.</li>
                    <li>In addition, either party may terminate the Terms of Service at any time, for any reason, or for no reason including, but not limited to, if You engage in any action that reflects poorly on GreatSchools or otherwise disparages or devalues the GS Brands or GreatSchools' reputation or goodwill. If You desire to terminate the Terms of Service, You must remove the Service from Your Site and cease all use of the API.</li>
                    <li>Rejection of Request. GreatSchools shall have the right, in its sole discretion, to reject any request to use the Service at any time and for any reason, and such rejection shall render null and void the Terms of Service between You and GreatSchools. GreatSchools shall not be liable to You for damages of any sort resulting from its decision to reject such a request.</li>
                    <li>Effect of Termination. Upon the termination of the Terms of Service for any reason (i) all license rights granted herein shall terminate and (ii) You shall immediately delete the GreatSchools API and any and all GS Content and GS Brands in the possession or control of You or your affiliates or available on or through any Website(s) or Mobile Application controlled by You or your affiliates.</li>
                    <li>Survival. In the event of any termination or expiration of the Terms of Service for any reason, Sections 6 through 13 shall survive termination. Neither party shall be liable to the other party for damages of any sort resulting solely from terminating the Terms of Service in accordance with its terms.</li>
                    <li>Remedies. You acknowledge that Your breach of service/license restrictions contained herein may cause irreparable harm to GreatSchools, the extent of which would be difficult to ascertain. Accordingly, You agree that, in addition to any other remedies to which GreatSchools may be legally entitled, GreatSchools shall have the right to seek immediate injunctive relief in the event of a breach of such sections by You or any of Your officers, employees, consultants or other agents.</li>
                    <li>Third Party Beneficiaries. Nothing in the Terms of Service should be construed to confer any rights to third party beneficiaries.</li>
                </ol>
                <div class="apiTermsSection">12. Choice of Law; Disputes</div>
                <p>These Terms of Service and the relationship between You and GreatSchools shall be governed by the laws of the State of California, without regard to its conflict of law provisions. You and GreatSchools agree to submit to exclusive jurisdiction of the courts located in San Francisco, California, for any and all disputes, claims and actions arising from or in connection with the API, GreatSchools API Service or these Terms of Service.</p>
                <div class="apiTermsSection">13. General</div>
                <p>You represent that You have the authority to bind the organization (if any) identified in Your Request. You agree not to export to any place any part of the API, GreatSchools API Service and GS Brands provided to You or any direct product thereof except in compliance with, and with all licenses and approvals required under, applicable export laws, rules and regulations. If provided to the U.S. government, the API, GreatSchools API Service and GS Brands are provided with the commercial license rights described herein. If any provision of these Terms of Service is found by a court of competent jurisdiction to be invalid or unenforceable, then the invalid or unenforceable provision will be replaced with a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of these Terms of Service will continue in effect. The section titles in these Terms of Service are solely for the convenience of the parties and have no legal or contractual significance. GreatSchools may assign these Terms of Service, in whole or in part, at any time with or without notice to You. You may not transfer, assign, sublicense or delegate the Terms of Service or Your API Key to any third party. GreatSchools' failure to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision. Except as expressly stated herein, these Terms of Service constitute the entire agreement between You and GreatSchools with respect to the API and supersede any prior or contemporaneous agreements between You and GreatSchools.</p>
                <div class="apiTermsSection">GreatSchools API Branding Requirements</div>
                <p>All API users must clearly and conspicuously display the GreatSchools name, logo(s) and link(s) to GreatSchools.org (the "GS Brands") on any Website(s) or Mobile Application page that displays or uses the GreatSchools API Service, in accordance with the following branding requirements. If you have any questions about the GreatSchools API service, please contact us at <a href="mailto:api-support@greatschools.org">api-support@greatschools.org</a>.</p>
                <div class="apiTermsHeading">
                    <div class="apiTermsTitle">GreatSchools Attribution Requirements</div>
                </div>
                <div class="apiTermsSection attrReq">I. GreatSchools Logos &amp; Images</div>
                <p>GreatSchools will provide logos and related images for attribution purposes. Images are available in web-ready .jpg, .gif, and .png formats. Should you require images of a different file size, type, or resolution, please ask us. We are happy to meet your needs and maintain our branding standards in this way.</p>
                <ul>
                    <li>Logos are available from our Media Room:
                        <br><a href="http://www.greatschools.org/about/pressRoom.page">http://www.greatschools.org/about/pressRoom.page</a></li>
                    <li>Partner may not stretch or skew images horizontally or vertically.</li>
                    <li>Partner may, however, resize images with proportional constraints.</li>
                    <li>If placing the GreatSchools logo on non-white background, Partner must request a version with a transparent background from their GreatSchools contact.</li>
                </ul>
                <div class="apiTermsSection attrReq">II. Attribution and Links</div>
                <p>Attribution and links to GreatSchools data must be displayed on the Partner's Website(s) or Mobile Application according to the specifications below.</p>
                <p>Partner Website(s) or Mobile Application pages that contain GreatSchools data or content must cite GreatSchools as the source and link to <a href="http://www.greatschools.org">www.greatschools.org</a>. Or, alternatively, the GreatSchools logo must be displayed and it must link to the GreatSchools homepage.</p>
                <p>When referencing GreatSchools, keep in mind that 'GreatSchools' is the official name of our organization and should always appear as a single, capitalized word. Our website is located at <a href="http://www.greatschools.org">www.greatschools.org</a>.</p>
                <p class="emphasis">Correct:</p>
                <ul>
                    <li>GreatSchools</li>
                    <li>GreatSchools.org</li>
                    <li>www.greatschools.org</li>
                </ul>
                <p class="emphasis">Incorrect:</p>
                <ul>
                    <li>Great Schools</li>
                    <li>great schools</li>
                    <li>greatschools.net</li>
                    <li>www.greatschools.net</li>
                </ul>
                <p>Partner must allow search engines to crawl the links pointing from their Website(s) or Mobile Application to GreatSchools. Links may not include the attribute rel="no follow". This rule applies to all links described below.</p>
                <p><span class="emphasis">Correct</span>: &lt;a href="http://www.greatschools.org"&gt;GreatSchools&lt;/a&gt;</p>
                <p><span class="emphasis">Incorrect</span>: &lt;a href="http://www.greatschools.org" rel="nofollow"&gt;GreatSchools&lt;/a&gt;</p>
                <p>When linking to the GreatSchools homepage, avoid non-descriptive anchor text, such as "click here". Instead, use "GreatSchools" or "school ratings" or "school information" as your anchor text.</p>
                <div class="apiTermsTitle">Specifying Canonical URLs</div>
                <p>Partner agrees that on any pages containing school profile data the page must also include a cross domain canonicalization tag to avoid either party being penalized by search engines for duplicate content. The rel=”canonical” link below shall be added to the &lt;head&gt; section of all non-canonical versions of each HTML page:</p>
                <ul>
                    <li>&lt;link rel="canonical" href="[<span class="strong">school overview page URL</span>]"/&gt;</li>
                    <li>For example, the HTML link for a page containing Lowell High School data shall read:
                        <ul>
                            <li>&lt;link rel="canonical" href="http://www.greatschools.org/california/san-francisco/6397-Lowell-High-School/"/&gt;</li>
                        </ul>
                    </li>
                </ul>
                <div class="apiTermsSection attrLinks">A. School Profiles</div>
                <p>Partner will provide text links to School Profile pages on GreatSchools using the school name within the anchor text, for every school name listed on their Website(s) or Mobile Application.</p>
                <ul class="spacedList">
                    <li>Sample School Profile page on GreatSchools website:
                        <br> http://www.greatschools.org/illinois/chicago/953-Bell-Elementary-School/
                    </li>
                    <li>Example HTML link from Partner site:
                        <br> &lt;a href="http://www.greatschools.org/illinois/chicago/953-Bell-Elementary-School/"&gt;Bell Elementary School&lt;/a&gt;
                    </li>
                    <li>Either of the following two anchor text formats must be used within the link:
                        <ul class="spacedListNested">
                            <li><span class="link">Bell Elementary School</span></li>
                            <li><span class="link">More information on Bell Elementary School</span></li>
                        </ul>
                    </li>
                </ul>
                <div class="apiTermsSection attrLinks">B. Test Scores</div>
                <p>Where applicable, Partner will also link to the Test Scores page associated with that school on the GreatSchools website. The words "test scores" must be included in the anchor text.</p>
                <ul class="spacedList">
                    <li>Sample Test Scores page for a specific school on GreatSchools website:
                        <br> http://www.greatschools.org/modperl/achievement/il/953
                    </li>
                    <li>Example HTML for link from Partner site:
                        <br> &lt;a href="http://www.greatschools.org/modperl/achievement/il/953"&gt;View test scores&lt;/a&gt;
                    </li>
                    <li>Either of the following two anchor text formats must be used within the link:
                        <ul class="spacedListNested">
                            <li><span class="link">Test scores</span></li>
                            <li><span class="link">View test scores</span></li>
                        </ul>
                    </li>
                </ul>
                <div class="apiTermsSection attrLinks">C. School Reviews</div>
                <p>Partner will have access to school reviews GreatSchools has gathered. School reviews are comprised of two parts: 1) an overall star rating for a school (on a scale of 1-5 stars) and 2) written comments that have been submitted to GreatSchools by parents, students, school officials and others. Below are usage, display, and linking guidelines for school reviews.</p>
                <ul class="spacedList">
                    <li>A school's overall star rating may be labeled as "School Rating", "Parent Rating", or simply "Rating". Partner may <span class="emphasis">not</span> label the star rating as a "GreatSchools Rating" which carries a specific meaning (see section D).</li>
                    <li class="parentRatingsStars">Partner may use overall star rating images provided by GreatSchools (examples below), or their own.
                      <br>
                      <img alt="5 out of 5 stars" src="/res/img/api/GS_Stars/GS_Stars_5.png">
                      <img alt="4 out of 5 stars" src="/res/img/api/GS_Stars/GS_Stars_4.png">
                      <img alt="3 out of 5 stars" src="/res/img/api/GS_Stars/GS_Stars_3.png">
                      <img alt="2 out of 5 stars" src="/res/img/api/GS_Stars/GS_Stars_2.png">
                      <img alt="1 out of 5 stars" src="/res/img/api/GS_Stars/GS_Stars_1.png">
                      <img alt="0 out of 5 stars" src="/res/img/api/GS_Stars/GS_Stars_0.png">
                    </li>
                    <li>The comments that have been collected about a school may be labeled as "School Reviews", "Parent Reviews" or simply "Reviews". Partner may <span class="emphasis">not</span> label the comments as a "GreatSchools Rating" which carries a specific meaning (see section D).</li>
                    <li>School Reviews may not be used in any other calculation or manipulated. They may not be used in any aggregate calculation with other data.</li>
                    <li>Partner may display up to 60 words, or 300 characters (including spaces) of each school review. Longer reviews must be truncated and more text should be indicated with an ellipsis (...). Partner must link to the full text all school reviews on the GreatSchools website.</li>
                    <li>Example of review displayed on Partner site:
                        <br> "The best thing I could have done for my child. We have been at Bell since 2nd grade. My daughter is now in 7th grade. This school has developed my daughter in amazing ways. Not only is it the strongest academically but the sports opportunities are wonderful. Our basketball teams ..." <span class="link">More reviews</span> &gt;</li>
                    <li>Sample link to the School Reviews page for the full review: http://www.greatschools.org/school/parentReviews.page?id=953&amp;state=IL </li>
                    <li>The following anchor text formats are acceptable when linking to school reviews on the GreatSchools website:
                        <ul class="spacedListNested">
                            <li><span class="link">X reviews</span> (where X is the number of reviews)</li>
                            <li><span class="link">More reviews</span></li>
                            <li><span class="link">Bell Elementary School reviews</span></li>
                            <li><span class="link">More reviews of Bell Elementary School</span></li>
                        </ul>
                    </li>
                </ul>
                <div class="apiTermsSection attrLinks">D. GreatSchools Ratings</div>
                <p>The GreatSchools Rating is a 1-10 number (10 is best) that provides a quick overview of a public school's academic performance. GreatSchools Ratings are based on a comparison of standardized test results for all public schools in the state. Below are usage, display, and linking guidelines for GreatSchools Ratings.</p>
                <ul class="spacedList">
                    <li>GreatSchools Ratings for all public and public charter schools must be titled as "GreatSchools Ratings".</li>
                    <li>GreatSchools Ratings must be a whole number between 1-10 and state "X out of 10".</li>
                    <li>GreatSchools Ratings may not be used in any other calculation or manipulated. It may not be used in any aggregate calculation with other data.</li>
                    <li>Explanatory text provided by GreatSchools must be accessible from any page on Partner's Website(s) or Mobile Application that displays GreatSchools Ratings. This text will be included in the GreatSchools feed. You may also choose to link to a more detailed explanation of the GreatSchools Ratings. This link will be included in the GreatSchools feed.</li>
                    <li>On each page where the GreatSchools Ratings reside, GreatSchools will be cited as the source with a link to www.greatschools.org. Or, alternatively, the GreatSchools logo must be displayed and it must link to the GreatSchools homepage.</li>
                    <li>GreatSchools Ratings will be displayed as GreatSchools-branded images, never as plain text.</li>
                    <li>Images for each Rating (1-10) and "N/A" will be provided by GreatSchools. Different sizes will be available for use in search results and other pages. GreatSchools will provide the branded images. Below are some samples and recommendations for usage:
                        <ul class="spacedListNested">
                            <li>Each image shall link to the corresponding School Profile page on the GreatSchools website.</li>
                            <li>Alt text for this link should read: SCHOOLNAME GreatSchools Rating, where SCHOOLNAME is the name of the school.</li>
                        </ul>
                    </li>
                </ul>
                <div class="apiTermsSection attrLinks">GreatSchools Ratings — Sample Images</div>
                <table class="ratingsSampleImages">
                    <tbody>
                        <tr>
                            <td class="size">
                                <div class="strong">SMALL</div>
                                Recommended for search results and list pages
                            </td>
                            <td colspan="2">
                              <img alt="10" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_10.png">
                              <img alt="9" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_9.png">
                              <img alt="8" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_8.png">
                              <img alt="7" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_7.png">
                              <img alt="6" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_6.png">
                              <img alt="5" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_5.png">
                              <img alt="4" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_4.png">
                              <img alt="3" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_3.png">
                              <img alt="2" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_2.png">
                              <img alt="1" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_1.png">
                              <img alt="NR" src="<%= domain %>/res/img/api/GS_Rating_Small_20x20/20x20_GS_School_Rating_Small_NR.png">
                            </td>
                        </tr>
                        <tr>
                            <td class="spacer" colspan="3"></td>
                        </tr>
                        <tr>
                            <td class="size">
                                <div class="strong">MEDIUM</div>
                                Recommended for school profiles and detail pages
                            </td>
                            <td>
                              <img alt="GreatSchools Rating: 10 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_10.png">
                              <img alt="GreatSchools Rating: 9 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_9.png">
                              <img alt="GreatSchools Rating: 8 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_8.png">
                              <img alt="GreatSchools Rating: 7 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_7.png">
                              <img alt="GreatSchools Rating: 6 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_6.png">
                              <img alt="GreatSchools Rating: 5 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_5.png"></td>
                            <td>
                              <img alt="GreatSchools Rating: 4 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_4.png">
                              <img alt="GreatSchools Rating: 3 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_3.png">
                              <img alt="GreatSchools Rating: 2 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_2.png">
                              <img alt="GreatSchools Rating: 1 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_1.png">
                              <img alt="GreatSchools Rating: No rating." src="<%= domain %>/res/img/api/GS_Rating_Medium_24x24/24x24_GS_School_Rating_Medium_NR.png">
                            </td>
                        </tr>
                        <tr>
                            <td class="spacer" colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="size">
                                <div class="strong">LARGE</div>
                                At Partner's discretion, large versions of the GreatSchools Rating may be used.
                            </td>
                        </tr>
                        <tr>
                          <td align="center" colspan="3">
                            <img alt="GreatSchools Rating: 10 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_10.png">
                            <img alt="GreatSchools Rating: 9 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_9.png">
                            <img alt="GreatSchools Rating: 8 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_8.png">
                            <br>
                            <img alt="GreatSchools Rating: 7 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_7.png">
                            <img alt="GreatSchools Rating: 6 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_6.png">
                            <img alt="GreatSchools Rating: 5 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_5.png">
                            <img alt="GreatSchools Rating: 4 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_4.png">
                            <br>
                            <img alt="GreatSchools Rating: 3 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_3.png">
                            <img alt="GreatSchools Rating: 2 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_2.png">
                            <img alt="GreatSchools Rating: 1 out of 10." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_1.png">
                            <img alt="GreatSchools Rating: No rating." src="<%= domain %>/res/img/api/GS_Rating_Large_94x94/94x94_GS_School_Rating_Large_NR.png">
                          </td>
                        </tr>
                        <tr>
                            <td class="spacer" colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="size">
                                <div class="strong">CITY and DISTRICT</div>
                                Display for cities' and districts' ratings.
                            </td>
                        </tr>
                        <tr>
                          <td align="center" colspan="3">
                            <img alt="GreatSchools Rating: 10 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_10.png">
                            <img alt="GreatSchools Rating: 9 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_9.png">
                            <img alt="GreatSchools Rating: 8 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_8.png">
                            <br>
                            <img alt="GreatSchools Rating: 7 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_7.png">
                            <img alt="GreatSchools Rating: 6 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_6.png">
                            <img alt="GreatSchools Rating: 5 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_5.png">
                            <img alt="GreatSchools Rating: 4 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_4.png">
                            <br>
                            <img alt="GreatSchools Rating: 3 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_3.png">
                            <img alt="GreatSchools Rating: 2 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_2.png">
                            <img alt="GreatSchools Rating: 1 out of 10." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_1.png">
                            <img alt="GreatSchools Rating: No rating." src="<%= domain %>/res/img/api/GS_Disctrict_City_Ratings/94x94_GS_CityDistrict_Rating_Large_NR.png">
                          </td>
                        </tr>
                    </tbody>
                </table>
                <div class="apiTermsSection attrLinks">E. School Districts</div>
                <p>The GreatSchools website also provides information about public school districts across the country. Below are guidelines for linking to School District pages.</p>
                <ul class="spacedList">
                    <li>Sample School District page on GreatSchools website:
                        <br> http://www.greatschools.org/illinois/chicago/Chicago-Public-Schools/
                    </li>
                    <li>Example HTML for link from Partner site:
                        <br> &lt;a href="http://www.greatschools.org/illinois/chicago/Chicago-Public-Schools/"&gt;More about the Chicago Public Schools district&lt;/a&gt;
                    </li>
                    <li>Following are suggested anchor text formats that may be used within the link:
                        <ul class="spacedListNested">
                            <li><span class="link">More about the Chicago Public Schools district</span></li>
                            <li><span class="link">Overview of the Chicago Public Schools district</span></li>
                        </ul>
                    </li>
                </ul>
                <div class="apiTermsSection attrLinks">F. City Profiles</div>
                <p>The GreatSchools website also contains profiles of 18,000 cities, small towns and areas across the country. Below are guidelines for linking to city profiles.</p>
                <ul class="spacedList">
                    <li>Sample City Profile page on GreatSchools website:
                        <br> http://www.greatschools.org/illinois/chicago/
                    </li>
                    <li>Example HTML for link from Partner site:
                        <br> &lt;a href="http://www.greatschools.org/illinois/chicago/"&gt;Chicago schools&lt;/a&gt;
                    </li>
                    <li>Following are suggested anchor text formats that may be used within the link:
                        <ul class="spacedListNested">
                            <li><span class="link">Chicago schools</span></li>
                            <li><span class="link">Overview of the Chicago schools</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dn">
        </div>
    </div>
</div>
