<div class="row">
  <div class="grey-bg dvp col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="limit-width-1200 tac">
      <h3 class="inverted-text mtn pbl">Browse by city</h3>

      <div class="invert-colors-home hidden-xs mlm">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div>
            <%= link_to 'Albany, NY', city_url(city_params('NY', 'Albany')) %>

          </div>
          <div>
            <%= link_to 'Austin, TX', city_url(city_params('TX', 'Austin')) %>
          </div>
          <div>
            <%= link_to 'Baltimore, MD', city_url(city_params('MD', 'Baltimore')) %>
          </div>
          <div>
            <%= link_to 'Boston, MA', city_url(city_params('MA', 'Boston')) %>
          </div>
          <div>
            <%= link_to 'Chandler, AZ', city_url(city_params('AZ', 'Chandler')) %>
          </div>
          <div>
            <%= link_to 'Dallas, TX', city_url(city_params('TX', 'Dallas')) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div>
            <%= link_to 'Denver, CO', city_url(city_params('CO', 'Denver')) %>
          </div>
          <div>
            <%= link_to 'Elmhurst, IL', city_url(city_params('IL', 'Elmhurst')) %>
          </div>
          <div>
            <%= link_to 'Irvine, CA', city_url(city_params('CA', 'Irvine')) %>
          </div>
          <div>
            <%= link_to 'Miami, FL', city_url(city_params('FL', 'Miami')) %>
          </div>
          <div>
            <%= link_to 'Nashville, TN', city_url(city_params('TN', 'Nashville')) %>
          </div>
          <div>
            <%= link_to 'Newark, NJ', city_url(city_params('NJ', 'Newark')) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div>
            <%= link_to 'Oakland, CA', city_url(city_params('CA', 'Oakland')) %>
          </div>
          <div>
            <%= link_to 'Philadelphia, PA', city_url(city_params('PA', 'Philadelphia')) %>
          </div>
          <div>
            <%= link_to 'Phoenix, AZ', city_url(city_params('AZ', 'Phoenix')) %>
          </div>
          <div>
            <%= link_to 'Richardson, TX', city_url(city_params('TX', 'Richardson')) %>
          </div>
          <div>
            <%= link_to 'Sacramento, CA', city_url(city_params('CA', 'Sacramento')) %>
          </div>
          <div>
            <%= link_to 'San Antonio, TX', city_url(city_params('TX', 'San Antonio')) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div>
            <%= link_to 'San Diego, CA', city_url(city_params('CA', 'San Diego')) %>
          </div>
          <div>
            <%= link_to 'San Francisco, CA', city_url(city_params('CA', 'San Francisco')) %>
          </div>
          <div>
            <%= link_to 'Seattle, WA', city_url(city_params('WA', 'Seattle')) %>
          </div>
          <div>
            <%= link_to 'St. Louis, MO', city_url(city_params('MO', 'St. Louis')) %>
          </div>
          <div>
            <%= link_to 'Tampa, FL', city_url(city_params('FL', 'Tampa')) %>
          </div>
          <div>
            <%= link_to 'Washington, DC', city_url(city_params('DC', 'Washington')) %>
          </div>
        </div>
      </div>
      <div class="invert-colors-home visible-xs mll">
        <div class="col-xs-12 col-sm-12 tal">
          <div>
            <%= link_to 'Atlanta, GA', city_url(city_params('GA', 'Atlanta')) %>
          </div>
          <div>
            <%= link_to 'Chicago, IL', city_url(city_params('IL', 'Chicago')) %>
          </div>
          <div>
            <%= link_to 'Houston, TX', city_url(city_params('TX', 'Houston')) %>
          </div>
          <div>
            <%= link_to 'Los Angeles, CA', city_url(city_params('CA', 'Los Angeles')) %>
          </div>
          <div>
            <%= link_to 'New York City, NY', city_url(city_params('NY', 'New York City')) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>