<div class="limit-width-1200">

  <div class="row mbl">
    <div class="plm-mobile">
      <h2>Choosing a school</h2>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
        <% article_hash={title:'Crash course on picking a high school',
                         content: 'Ready to start your high school search? Here\'s your go-to guide with touring tips, unique school types to check out, and the top 10 questions to ask.',
                         image: 'articles/High-school-crash-course-350x208.jpg',
                         link: '/high-school/7639-types-of-high-school.gs' } %>
        <%= render 'shared/article_module', data: article_hash  %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
        <% article_hash={title:'It\'s all about the teacher',
                         content: "There’s a truism that few would dispute: when it comes to the quality of your child's education, it's all about the teacher. Here's why.",
                         image: 'articles/All-about-teacher-350x208.jpg',
                         link: '/improvement/teacher-quality/4891-all-about-the-teacher.gs' } %>
        <%= render 'shared/article_module', data: article_hash  %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
        <div class="pam tac">
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Choosing_Content, view: :desktop  %>
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Choosing_Content, view: :mobile  %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row pbl">
    <div class="pbl plm-mobile">
      <h2>Ideas for parents</h2>
    </div>
    <div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
        <% article_hash={title:'Welcome to the nonfiction revolution',
                         content: 'Have you heard education\'s latest buzzword? It\'s "nonfiction" and you\'re going to hear it a whole lot more in the coming years.',
                         image: 'articles/Nonfiction-350x208.jpg',
                         link: '/reading/7071-non-fiction-why-its-important.gs' } %>
        <%= render 'shared/article_module', data: article_hash  %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
        <% article_hash={title:'Is your child gifted?',
                         content: 'The answer may be trickier than you think. Learn more about what it means to be gifted, and how you can help your child.',
                         image: 'home/Child-gifted-homepage.jpg',
                         link: '/parenting/learning-development/7087-gifted-and-talented-children.gs' } %>
        <%= render 'shared/article_module', data: article_hash  %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
        <div class="pam tac">
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Parenting_Content, view: :desktop  %>
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Parenting_Content, view: :mobile  %>

        </div>
      </div>


    </div>

  </div>
</div>
