<div class="limit-width-1200">

  <div class="row mbl">
    <div class="plm-mobile">
      <h2>Choosing a school</h2>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
        <% article_hash={title:'Private versus public',
                         content: 'Many differences between public and private schools are obvious. But how do you know what\'s right for your child?',
                         image: 'home/home_article_01.jpg',
                         link: '/find-a-school/defining-your-ideal/59-private-vs-public-schools.gs' } %>
        <%= render 'shared/article_module', data: article_hash  %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
        <% article_hash={title:'What\'s a charter school anyway?',
                         content: "Misconceptions and rumors abound. Here's the real scoop on charters, and why you might want to consider one for your child.",
                         image: 'home/home_article_02.jpg',
                         link: '/school-choice/charter-schools/6974-what-is-charter-school-video.gs' } %>
        <%= render 'shared/article_module', data: article_hash  %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
        <div class="pam tac">
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Choosing_Content, view: :desktop  %>
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Choosing_Content, view: :mobile  %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row pbl">
    <div class="pbl plm-mobile">
      <h2>Ideas for parents</h2>

      <div>
        We have thousands of articles, worksheets, and videos to help parents encourage and support learning at
        home. Our new personalized education guide, GreatKids, helps parents see how their children are doing,
        support their learning, and find great education resources.
      </div>
    </div>
    <div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
        <% article_hash={title:'How to beat the morning rush',
                         content: 'Are crazed mornings stressing out your family? Here are a few strategies to help start the day off happier, calmer - and on time.',
                         image: 'home/home_article_03.jpg',
                         link: '/back-to-school/4903-beat-the-morning-rush.gs' } %>
        <%= render 'shared/article_module', data: article_hash  %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
        <% article_hash={title:'Start your school routine now',
                         content: 'Get the whole family ready for the new school year by setting a new routine, checking after-school plans - and cutting TV time.',
                         image: 'home/home_article_04.jpg',
                         link: '/back-to-school/preparation/110-start-your-school-routine-now.gs' } %>
        <%= render 'shared/article_module', data: article_hash  %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
        <div class="pam tac">
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Parenting_Content, view: :desktop  %>
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Parenting_Content, view: :mobile  %>

        </div>
      </div>


    </div>

  </div>
</div>
