<div class="row limit-width-1200">

    <%= form_tag("/admin/gsr/choose-pyoc", method: "get") do %>

            <%= label_tag(:state, "State" ,:class => "brand-primary") %>
            <%= text_field_tag(:state, value = params[:state], options = {:size => "3", :required => true,:maxlength =>2})%><br>

            <%= label_tag(:collection_id, "Collection ID",:class => "brand-primary") %>
            <%= text_field_tag(:collection_id,value=params[:collection_id], options = {:size => "3" ,:maxlength =>2, :required => true})%></br>

            <%= check_box_tag(:is_k8,1,params[:is_k8]) %>
            <%= label_tag(:is_k8, "Is K8 Batch",:class => "brand-primary") %></br>
          <%= check_box_tag(:is_pk8,1,params[:is_pk8]) %>
          <%= label_tag(:is_pk8, "Is PK8 Batch",:class => "brand-primary") %></br>

            <%= check_box_tag(:is_high_school,1, params[:is_high_school] ) %>
            <%= label_tag(:is_high_school, "Is High School Batch",:class => "brand-primary") %></br>

            <%= label_tag(:added_schools, "Schools To be Added",:class => "brand-primary") %>
            <%= text_field_tag(:added_schools, value = params[:added_schools], options = {:size => "100",:maxlength => "800"})%><br>

            <%= label_tag(:removed_schools, "Schools To be Removed",:class => "brand-primary") %>
            <%= text_field_tag(:removed_schools, value = params[:removed_schools], options = {:size => "100",:maxlength => "800"})%><br>

           <%= label_tag "Language:", nil,:class =>"brand-primary"%>&nbsp;
           <%if params[:language].present? && params[:language] =="spanish" %>
              <%= radio_button_tag(:language, "spanish", :checked => true) %>
           <% else %>
              <%= radio_button_tag(:language, "spanish") %>

           <% end %>
          <%= label_tag(:language_spanish, "Spanish") %>

          <% if (params[:language].present? && params[:language] =="english") ||(!params[:language].present?) %>
              <%= radio_button_tag(:language, "english", :checked => true) %>
          <% else %>
              <%= radio_button_tag(:language, "english") %>

          <% end %>
          <%= label_tag(:language_english, "English") %></br>


          <%= label_tag(:page_number_start, "Page Number Start",:class => "brand-primary") %>
          <%= text_field_tag(:page_number_start, value = (params[:page_number_start] or 1), options = {:size => "3",:maxlength =>20})%><br>


          <%= submit_tag("FindSchools",:class => "btn btn-primary") %><br/>
    <% end %>
      <%if  @db_schools.present?%>
      <div class="row limit-width-1200 tac">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl">

        <%= form_tag("/admin/gsr/pyoc.pdf", method: "get", class: "alert alert-success mtl") do %>
            <%= hidden_field_tag "state", params[:state]%>
            <%= hidden_field_tag "collection_id", params[:collection_id]%>
            <%= hidden_field_tag "is_k8", params[:is_k8]%>
            <%= hidden_field_tag "is_pk8", params[:is_pk8]%>
            <%= hidden_field_tag "is_high_school", params[:is_high_school]%>
            <%= hidden_field_tag "page_number_start", params[:page_number_start]%>
            <%= hidden_field_tag "added_schools", params[:added_schools]%>
            <%= hidden_field_tag "removed_schools", params[:removed_schools]%>
            <%= hidden_field_tag "language", params[:language]%>


            Ready to generate Schools PDF ? <%= submit_tag("Generate Schools PDF", :class => "btn btn-primary") %><% end%></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl">


        <%= form_tag("/admin/gsr/pyoc.pdf", method: "get", class: "alert alert-success mtl") do %>
                <%= hidden_field_tag "state", params[:state]%>
                <%= hidden_field_tag "collection_id", params[:collection_id]%>
                <%= hidden_field_tag "is_k8", params[:is_k8]%>
                <%= hidden_field_tag "is_pk8", params[:is_pk8]%>
                <%= hidden_field_tag "is_high_school", params[:is_high_school]%>
                <%= hidden_field_tag "page_number_start", params[:page_number_start]%>
                <%= hidden_field_tag "added_schools", params[:added_schools]%>
                <%= hidden_field_tag "removed_schools", params[:removed_schools]%>
                <%= hidden_field_tag "language", params[:language]%>

                Ready to generate Performance Index PDF ? <%= submit_tag("Generate Performance Index PDF", :class => "btn btn-primary") %>

      <% end %>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl">


          <%= form_tag("/admin/gsr/pyoc.pdf", method: "get", class: "alert alert-success mtl") do %>
              <%= hidden_field_tag "state", params[:state]%>
              <%= hidden_field_tag "collection_id", params[:collection_id]%>
              <%= hidden_field_tag "language", params[:language]%>
              <%= hidden_field_tag "added_schools", params[:added_schools]%>
              <%= hidden_field_tag "removed_schools", params[:removed_schools]%>

              <%= label_tag(:location_index_page_number_start, " Location Index  Page Number Start",:class => "brand-primary") %>
              <%= text_field_tag(:location_index_page_number_start, value = (params[:location_index_page_number_start] or 1), options = {:size => "3",:maxlength =>20})%><br>
              <%= hidden_field_tag "is_location_index",1%>


              Ready to generate Location Index PDF ? <%= submit_tag("Generate Location Index PDF", :class => "btn btn-primary") %>

          <% end %>
        </div>
    </div>
    <%end%>

      <div class="row limit-width-1200">
      <%if  @db_schools.present?%><h1 class="tac brand-secondary">Total Schools <%= @db_schools.length%></h1>

      <% school_index = 0 %>
      <table class="table table-striped mbm">
        <tr>
          <th class="emphasis-color"> LineNo </th>
          <th class="emphasis-color"> State  </th>
          <th class="emphasis-color"> School Name  </th>
          <th class="emphasis-color"> SchoolId   </th>
          <th class="emphasis-color"> LevelCode   </th>
        </tr>

        <% @db_schools.each do |school| %>
            <tr>
              <td>  <%= school_index=school_index+1 %></td>
              <td>  <%= school.state %></td>
              <td>  <%= school.name %></td>
              <td>  <%= school.id %></td>
              <td>  <%= school.level_code.to_s%></td>
            </tr>
        <% end %>
      </table>
      <% else%>
          <h2 class="brand-secondary tac">Use the Collection Id Mapping to get the collection ID against the state/City</h2>

          <table class="table table-bordered mbm">
            <tr>
              <th class="tac emphasis-color"> State </th>
              <th class="tac emphasis-color"> City  </th>
              <th class="tac emphasis-color"> CollectionID    </th>
            </tr>
            <tr>
              <td class="tac">MI</td>
              <td class="tac">Detroit</td>
              <td class="tac">1</td>
            </tr>
            <tr>
              <td class="tac">WI</td>
              <td class="tac">Milwaukee</td>
              <td class="tac">2</td>
            </tr>
            <tr>
              <td class="tac">IN</td>
              <td class="tac">Indianapolis</td>
              <td class="tac">3</td>
            </tr>
            <tr>
              <td class="tac">CA</td>
              <td class="tac">Oakland</td>
              <td class="tac">4</td>
            </tr>
            <tr>
              <td class="tac">CA</td>
              <td class="tac">San Francisco</td>
              <td class="tac">5</td>
            </tr>
            <tr>
              <td class="tac">IN</td>
              <td class="tac"></td>
              <td class="tac">6</td>
            </tr>
            <tr>
              <td class="tac">OH</td>
              <td class="tac"></td>
              <td class="tac">7</td>
            </tr>
            <tr>
              <td class="tac">NC</td>
              <td class="tac"></td>
              <td class="tac">8</td>
            </tr>
            <tr>
              <td class="tac">DE</td>
              <td class="tac"></td>
              <td class="tac">9</td>
            </tr>
            <tr>
              <td class="tac">GA</td>
              <td class="tac">Atlanta</td>
              <td class="tac">10</td>
            </tr>
            <tr>
              <td class="tac">GA</td>
              <td class="tac"></td>
              <td class="tac">11</td>
            </tr>
            <tr>
              <td class="tac">OK</td>
              <td class="tac">Oklahoma City</td>
              <td class="tac">12</td>
            </tr>
            <tr>
              <td class="tac">OK</td>
              <td class="tac"></td>
              <td class="tac">13</td>
            </tr>
          </table>
          </div>
      <% end%>
</div>