<% if page == 'overview' %>
    <div class="tac pal">
        <% if rating.to_s.length < 3 %>
            <div class="ma" style="width: 72px; height: 72px; border: #CCCCCC solid thin; border-radius: 36px;">
                <div style="padding-top: 10px; color:#000000; font-size: 32px"><%= rating %></div>
            </div>
        <% else %>
            <div class="tac ptm" style="font-size: 24px">
                <span class="pam link-darkgray open-sans_sb" style=" letter-spacing: 1px; border: #CCCCCC solid thin; text-transform: uppercase; border-radius: 4px;"><%= rating %></span>
            </div>

        <% end %>
        <div class="ptl link-darkgray"><%= supporting_text %></div>
    </div>
<% elsif rating.to_s.length < 3 %>
    <div class="tac" style="width: 72px; height: 72px; border: #CCCCCC solid thin; border-radius: 36px;">
        <div style="padding-top: 10px; color:#000000; font-size: 32px"><%= rating %></div>
    </div>
<% else %>
    <div class="tal" style="font-size: 24px">
        <span class="pam open-sans_sb" style=" letter-spacing: 1px; border: #CCCCCC solid thin; text-transform: uppercase; border-radius: 4px;"><%= rating %></span>
    </div>
<% end %>
