<% if state_rating %>

  <div class="link-darkgray pbs"><%= (@school.state == 'CA' ? 'API score' : 'State rating') %><br /></div>
  <div class="ma">
  <% if @school.state == 'MI' %>
    <% color_hash = {"Green" => "#009900", "Lime" => "#99FF66", "Yellow" => "#FFFF00", "Orange" => "#FF9900", "Red" => "#FF3300"} %>
    <div class="ma tac" style="width: 72px; height: 58px; background-color: <%= color_hash[state_rating] %>">
      <div class="black" style="padding-top:18px;" ><%= state_rating %></div>
    </div>
  <% else %>
    <% if state_rating.to_s.length < 3 %>
      <div class="default_rating_circle ma">
        <div class="ptm text_000"><%= state_rating %></div>
      </div>
    <% else %>
      <div class="tac ptm">
        <span class="pam link-darkgray open-sans_sb default_rating_rect"><%= state_rating %></span>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>