<%  decorated_topic = ReviewTopicDecorator.decorate(@topic) %>

<div class="row bg-white pvl <%= @display_morgan_stanley %>">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="oa tac ">
      <img height="40px" src="<%= image_path('review_school_chooser/morganstanley.png')%>" alt="Morgan Stanley"><br />
      Welcome Morgan Stanley employees, thank you for participating in 2015 Global Volunteer Month!</div>
  </div>
</div>

<div class="review_school_chooser <%= @gs_bootstrap %>">
  <header>
    <div class="container-fluid">
      <h1 class="lg-roboto">
        <%= decorated_topic.header %>
      </h1>
    </div>
  </header>

  <section class="top">
    <div class="container-fluid">
      <div class="row">
        <div class="review-highlight col-xs-12 col-sm-8 col-sm-offset-2 col-offset-md-2 col-offset-lg-2">
          <p><%= decorated_topic.sample_review_intro.html_safe  %></p>
          <div class="review row">
            <div class="visible-sm visible-md visible-lg col-sm-2">
              <div class="fl iconx48-icons i-48-green-quotes"></div>
            </div>
            <div class="col-sm-8">
              <span class="small-quotes">"</span><%= decorated_topic.sample_review  %><span class="small-quotes">"</span>
            </div>
            <div class="visible-sm visible-md visible-lg col-sm-2">
              <div class="fr iconx48-icons i-48-green-quotes-upsidedown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="review-school-picker-module">
      <h1><%= t('.school_picker_header_1') %></h1>
      <%=  render 'shared/school_picker', linkClass: 'search-link-black'  %>
    </div>
  </section>
  <% if @topic.id == 8 %>
    <section class="mtl">
      <div class="partner-logo">
        <div class="text uc">
          <%= t(".in_partnership_with") %>
        </div>
        <a href="http://greatergood.berkeley.edu/" target="_blank">
          <img src="<%= image_path('greater_good_logo.png') %>"/>
        </a>
      </div>
    </section>
<% end  %>
  <!--
  <section class="reviews-list">
    <div class="container-fluid pbl">
      <div id="js_reviewsListHeader" class="rs-review-list-header">
        <div class="plm mbl tac">
          <h3><%#= t('.review_lists_header') %></h3>
        </div>
      </div>
      <div class="js_reviewsList">
        <%#= render partial: 'review_module',
          #collection: @reviews,
          #as: :review, locals: { border_bottom: false} %>
      </div>
    </div>
    <div class="review-school-picker-module">
      <h1><%#= t('.school_picker_header_2') %></h1>
      <%#=  render 'shared/school_picker', linkClass: 'search-link-black'  %>
    </div>
  </section>
-->
</div>

<%= render partial: 'nav/home_footer' %>
