<% cities = @cities %>
<% state_names = @state_names %>
<% dropdown_info = @dropdown_info %>

<div class="districts-cities-list clearfix">
  <div class="top-bottom">
    <div class="top">
      <div class="navlinks top-link">
        <a class="top-link" href="/schools/<%= state_names[:routing] %>/<%= state_names[:abbr] %>">All schools in <%= state_names[:full] %></a>
        <span class="top-link">All cities in <%= state_names[:full] %></span>
        <a class="top-link" href="/schools/districts/<%= state_names[:routing] %>/<%= state_names[:abbr] %>"><%= state_names[:full] %> School Districts</a>
      </div>
      <div class="page-heading">
        <%= state_names[:full] %> School Information by City
      </div>
      <div class="dropdown">
        Show me cities in a different state:

        <select id="dropdown_menu">
          <% dropdown_info.each do |st, st_name| %>
            <option value="<%= cities_list_path(st_name,st) %>"> <%= st %></option>
          <% end %>
        </select>

      </div>
      <div class="pagination-links">
      </div>
    </div>
    <div>
      <div class="table-column">
        <table cellspacing="0" cellpadding="0">
          <tbody>
          <tr class="table-top-row">
            <th style="width: 50%">Popular Cities</th>
          </tr>
          <% cities.each do |city| %>
              <tr>
                <td class="city-district-link">
                  <a href="/city/<%= city.gsub(' ','_') %>/NV"><%= city %> Schools</a>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="top-bottom">
    <div class="pagination-links">
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#dropdown_menu').bind('change', function () {
      var url = $(this).val();
      if (url) {
        window.location.replace(url);
      }
      return false;
    });
  });
</script>