<%
   f
   submitted_review
   principal = @school_user ? @school_user.principal? : false
   reviews_for_topic = SchoolProfileReviewsDecorator.decorate(@school_reviews.five_star_rating_reviews, self)
%>

<div class="topical-review-question-container left">
  <%= render 'school_profile/reviews/lib/question_title', question: question %>
  <% if principal %>
      <%= render 'school_profile/reviews/modules/output/answer_summary',
                 reviews_for_topic: reviews_for_topic
      %>
  <% else %>
      <%= render 'school_profile/reviews/lib/stars_input',
                 f: f,
                 question: question,
                 submitted_answer: submitted_review.try(:answer)
      %>
  <% end %>
</div>
<div class="topical-review-question-container right">

  <%= render 'school_profile/reviews/modules/output/overall_rating_summary' %>

  <% options = {
          comment_required: true,
          principal: principal
  } %>
  <%= render 'school_profile/reviews/modules/input/review_comment',
             f: f,
             options: options,
             question: question,
             submitted_review: submitted_review
  %>
</div>
