<%
  category_placement # The +CategoryPlacement+ that is configured to show this bar chart
  data_config = category_placement.table_config

  filtered_data = if data_config.config['breakdowns']
                    filter_by_breakdowns(data_config.config['breakdowns'], data)
                  else
                    data
                  end
%>
<%= debug(filtered_data) if params[:debug] %>

<% if filtered_data.is_a?(Hash) %>
  <% filtered_data = filtered_data.values.inject([], &:+) %>
<% end %>

<% if filtered_data.present? %>
  <% bar_chart_id = "barchart-#{category_placement_anchor category_placement}" %>

  <%= render layout:'col', locals:{ css_class:'', category_placement: category_placement} do  %>
      <a name="<%= category.code_name %>"></a>
      <%= render "shared/section_header", category_placement:category_placement %>
      <div id="<%= bar_chart_id %>" class="notranslate ma"></div>
  <% end %>

  <%= render partial: 'about_this_data',
    locals: {
      unique_id: category_placement.id,
      descriptions: filtered_data.map { |hash| hash[:description] }.uniq.compact
    }
  %>

  <%= render 'school_profile/see_footnotes_link', page_config: @page_config, school: @school, category: category %>

  <%
    bar_chart = BarCharts::BasicBarChart.decorate(
      filtered_data,
      context: {
        config: category_placement.layout_config_json
      }
    )
  %>

  <% content_for :head do %>
    <%= bar_chart.script_tag(bar_chart_id).try(:html_safe) %>
  <% end %>
<% end %>
