<% data # A +Hash+ that holds city rating, if available %>

<% if !data["city_rating"].nil? && !data["city_rating"]["overall_rating"].nil? %>

    <div class="row mbl pam">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <% rating = data["city_rating"]["overall_rating"] %>
            <% rating.gsub!("+", "plus") %>
            <% icon_to_use = 'iconx72-ESD-ratings' %>
            <% icon_to_choose = 'i-72-ratings-' %>
            <span class="<%= icon_to_use %> <%= icon_to_choose+rating %>"></span>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <h5><%= data["city_rating"]["city_rating_label"] %></h5>
            <br/><%= data["city_rating"]["description"] %>

        <% if !data["city_rating"]["rating_breakdowns"].nil? %>
            <a href="javascript:void(0)" onclick='$( "#js_CityRatingLearnMore" ).slideToggle( "fast")'><br/>Learn More &raquo;</a><br /><br />
            <div class="dn well bg-white" id="js_CityRatingLearnMore">
                <h5>Rating Breakdown</h5>
                <table class="table table-striped">
                    <% data["city_rating"]["rating_breakdowns"].each do |key, value| %>
                        <tr><td><%= key %></td><td><%= value %></td></tr>
                    <% end %>
                </table>
                <h5>Methodology</h5>
                <a href="http://www.excellentschoolsdetroit.org/en/how-do-schools-stack" target="_blank">View more details on ESD site</a>
            </div>
        <% end %>
        </div>
    </div>
<% end %>

