<% if !data["city_rating"].nil? && !data["city_rating"]["overall_rating"].nil? %>
    <div class="row mbl pam">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <% rating = data["city_rating"]["overall_rating"] %>
            <% rating.gsub!("+", "plus") %>
            <% icon_to_use = 'iconx72-ESD-ratings' %>
            <% icon_to_choose = 'i-72-ratings-' %>
            <span class="<%= icon_to_use %> <%= icon_to_choose+rating %>"></span>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <strong><%= data["city_rating"]["city_rating_label"] %></strong>
            <br/><%= data["city_rating"]["description"] %>

        <% if !data["city_rating"]["rating_breakdowns"].nil? %>
            <a href="javascript:void(0)" onclick='$( "#js_CityRatingLearnMore" ).slideToggle( "fast")'>Learn More >></a><br /><br />
            <div class="dn well bg-white" id="js_CityRatingLearnMore">
                <table class="table table-striped">
                    <% data["city_rating"]["rating_breakdowns"].each do |key, value| %>
                        <tr><td><%= key %></td><td><%= value %></td></tr>
                    <% end %>
                </table>
            </div>
        <% end %>
        </div>
    </div>
<% end %>

