<% if !data["city_rating"].nil? && !data["city_rating"]["overall_rating"].nil? %>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
            <% rating = data["city_rating"]["overall_rating"] %>
            <% rating.gsub!("+", "plus") %>
            <% icon_to_use = 'iconx72-ESD-ratings' %>
            <% icon_to_choose = 'i-72-ratings-' %>
            <span class="<%= icon_to_use %> <%= icon_to_choose+rating %>"></span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-10">
            <strong><%= data["city_rating"]["city_rating_label"] %></strong>
            <br/> <%= data["city_rating"]["description"] %></div>

        <% if !data["city_rating"]["rating_breakdowns"].nil? %>
            Learn More >> <br/>
            <% data["city_rating"]["rating_breakdowns"].each do |key, value| %>
                <%= key %>  <%= value %>    <br/>
            <% end %>
        <% end %>

        <br/>
        <br/>
    </div>
<% end %>

