<% layout_grid = (@show_ads ?  "col-xs-12 col-sm-6 col-md-6 col-lg-6" : "col-xs-12 col-sm-12 col-md-12 col-lg-12") %>
<div class="row mtl">
    <div class="tac <%= layout_grid %>">
        <% if @page_config.page.name == "Details" %>
            <% article_hash={title:'How important is cultural diversity?',
                             content: "Learn how cultural diversity can affect your child's education.",
                             image: 'articles/school-cultural-diversity1.jpg',
                             link: '/find-a-school/defining-your-ideal/284-cultural-diversity-at-school.gs' } %>
            <%= render 'shared/article_module', data: article_hash  %>
        <% else %>
            <% article_hash={title:'Facts (and fiction) about school test scores',
                             content: "They're never the whole story, but test scores do offer important information about a school. If you know how to dig deeper.",
                             image: 'articles/test-score-video1-350x208.jpg',
                             link: '/school-choice/standardized-testing/7262-school-test-scores-video.gs' } %>
            <%= render 'shared/article_module', data: article_hash  %>
        <% end %>
    </div>
    <% if @show_ads %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <%= render 'layouts/ad_layer', page: ('School_'+@page_config.name).to_sym, slot: :CMS, view: :desktop  %>
        </div>
    <% end %>
</div>
<% if @show_ads %>
    <div class="ptl">
        <%= render 'layouts/ad_layer', page: ('School_'+@page_config.name).to_sym, slot: :CMS, view: :mobile  %>
    </div>
<% end %>
