<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
        <hr />
        <h3 class="pll">Contact Information</h3>
        <div class="clearfix">
            <div class="phl fl"><%= @school.street %><br />
            <%= @school.city+","+@school.state+" "+@school.zipcode %><br /><br />
                <%= @school.phone %><br /><br />
                <a href='http://<%= @school.home_page_url %>'><%= @school.home_page_url %></a><br /><br /></div>
            <div class="fr prl"><%= image_tag("pixel.gif", :class => "js-contact_map_image") %>
               </div>
        </div>
    </div>
</div>