<%= debug data if params[:debug] %>

<% esp_enrollment = EspEnrollmentDecorator.new(data) %>
<% enrollment_array = [] %>

<% if esp_enrollment.enrollment_chances.present? && esp_enrollment.enrollment_chances[:year].present?
     esp_enrollment.enrollment_chances[:chance].present? %>

    <%  enrollment_array << (render 'shared/icon_text',sprite: 'community_blue',
                                    supporting_text:"Students accepted for the #{esp_enrollment.enrollment_chances[:year]} school year",
                                    icon_text: "#{esp_enrollment.enrollment_chances[:chance]} / 10" ) %>
<% end %>

<% if esp_enrollment.application_deadline.present? %>
    <!-- GET state and school type -->
    <% supporting_text = 'Applications Due' %>
    STATE:<%= @school.state.downcase %>
    TYPE:<%= @school.type.downcase %>

    <% if @school.state.downcase == 'de' && (@school.type.downcase == 'charter' || @school.type.downcase == 'public') %>
        <% supporting_text = 'Applications due for most schools. See the choice admission policy for details.' %>
    <% end %>
    <% enrollment_array << (render 'shared/icon_text',sprite: 'application', supporting_text: supporting_text,
                                   icon_text: esp_enrollment.application_deadline ) %>
<% end %>

<% if enrollment_array.present? %>
    <%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do %>

        <div class="row phs">
          <%= raw render_array_horizontally enrollment_array, {"xs"=> 12,"sm"=> 6,"md"=> 4,"lg"=> 3} %>
        </div>
    <% end %>
<% end %>
