<% bar_chart_collections = data[:bar_chart_collections] %>
<div class="gs-bootstrap">
  <div class="container-fluid js-dataVizBarChartContainer group-comparison">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <% ['btn-group btn-group-justified hidden-xs', 'btn-group-vertical visible-xs full-width'].each do | classes | %>
            <div class="<%= classes %>" data-toggle="buttons">
              <% bar_chart_collections.each_with_index do |collection, i| %>
                  <div class='btn btn-default <%= 'active' if i == 0 %> js-barChartBreakdown' data-breakdown="<%= collection.title %>">
                    <input type="radio"/>
                    <%= collection.title %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>

    <% bar_chart_collections.each_with_index do |bar_chart_collection, i| %>
        <% show_hide_collection = i == 0 ? '' : 'dn' %>
        <%= render partial: 'school_profile/data_viz/bar_chart_collection',
                   locals: {bar_chart_collection: bar_chart_collection,
                            show_hide_collection: show_hide_collection} %>
    <% end %>

    <%= render partial: "shared/partners/promo_delegator",
               locals: {
                 collections: @school.collections,
                 partial: current_partial,
               }
    %>
  </div>
</div>
