<% bar_chart_collections = data %>
<%= render "shared/section_header", category_placement:category_placement %>

<div class="gs-bootstrap">
  <div class="container-fluid js-dataVizBarChartContainer group-comparison">

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <% ['btn-group btn-group-justified hidden-xs', 'btn-group-vertical visible-xs full-width'].each do | classes | %>
            <div class="<%= classes %>" data-toggle="buttons">
              <% bar_chart_collections.each_with_index do |collection, i| %>
                  <div class='btn btn-default <%= 'active' if i == 0 %> js-barChartBreakdown js-gaClick' data-title="<%= collection.original_data_type.gsub(/\s/,'-') %>"
                       data-ga-click-category = 'profile data - subgroup display'
                       data-ga-click-action = 'data point toggle'
                       data-ga-click-label = '<%= collection.original_data_type %>'
                  >
                    <input type="radio"/>
                    <%= collection.title %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>

    <% bar_chart_collections.each_with_index do |bar_chart_collection, i| %>
        <% show_hide_collection = i == 0 ? '' : 'dn' %>
        <%= render partial: 'school_profile/data_viz/bar_chart_collection',
                   locals: {bar_chart_collection: bar_chart_collection,
                            bar_chart_collection_index: i,
                            show_hide_collection: show_hide_collection} %>
    <% end %>

    <%= render partial: "shared/partners/promo_delegator",
               locals: {
                 collections: @school.collections,
                 partial: current_partial,
               }
    %>
  </div>
</div>
