<% data # A +Hash+ that contains a gs_rating +Hash+ if available %>

<% if !data["gs_rating"].nil? && !data["gs_rating"]["overall_rating"].nil? %>

    <div class="row mbm pam">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"><span class="iconx72-ratings i-72-ratings-<%= data["gs_rating"]["overall_rating"] %>"></span></div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><h4>GreatSchools Rating</h4>
            <% if data["gs_rating"]["disclaimer_private"].present? && @school.private_school? %>
                <p class="alert alert-warning man mbm"><%= data["gs_rating"]["disclaimer_private"].html_safe %></p>
            <% end %>
        <p><%= data["gs_rating"]["description"] %></p>

        <% if !data["gs_rating"]["rating_breakdowns"].nil? %>
            <p><a  href="javascript:void(0)" class="js_toggle_parent_sib">Learn More &raquo;</a></p>
            <div class="dn well bg-white">
                <h5>Rating Breakdown</h5>
                <table class="table table-striped">
                    <% data["gs_rating"]["rating_breakdowns"].each do |key, value| %>
                        <tr><td><%= key %></td><td><%= value['rating'] %></td></tr>
                        <tr><td colspan="2"><%= value['description'] %></td></tr>
                    <% end %>
                </table>
            </div>
        <% end %>
        </div>
    </div>
<% end %>


