<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<% media_hash = @school.school_media %>
<% if media_hash != [] || (@header_metadata.school_video1 && youtube_parse_id_from_str(@header_metadata.school_video1).present? )  %>
  <%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do  %>
    <%= render "shared/section_header", category_placement:category_placement %>
    <div class="row limit-width-1200">
      <div class="mtl pvl clearfix">
        <%= @show_ads ?  '<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">'.html_safe : '' %>
          <div id="galleria">
            <%= include_lightbox_youtube_video @header_metadata.school_video1 %>
            <%= include_lightbox_media(@school) %>
          </div>
        <%= @show_ads ?  '</div>'.html_safe : '' %>
        <% if @show_ads %>
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Media_Gallery, view: :desktop  %>
          </div>
        <% end %>
      </div>
      <% if @show_ads %>
        <div class="plm">
          <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Media_Gallery, view: :mobile  %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= render "shared/section_header", category_placement:category_placement %>
  <% layout_grid = (@show_ads ?  "col-xs-12 col-sm-6 col-md-6 col-lg-6" : "col-xs-12 col-sm-12 col-md-12 col-lg-12") %>
  <div class="row mtl">
    <div class=" <%= layout_grid %>">
      <div class="well ma" style="max-width: 400px">
        <div class="pam tac"><%= image_tag(image_path("lib/media_missing.png"))%></div>
        <p class="ptm">Uh oh! No photos. This frame will look much better when you
        <%= link_to 'upload photos&nbsp;&raquo;'.html_safe, osp_register_url(city: @school.city,school_id: @school.id.to_s,state: @school.state) %>
        </p>
      </div>
    </div>
    <% if @show_ads %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Media_Gallery, view: :desktop  %>
      </div>
    <% end %>
  </div>
  <% if @show_ads %>
    <div class="ptl">
      <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Media_Gallery, view: :mobile  %>
    </div>
  <% end %>
<% end %>
