<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<% media_hash = @school.school_media %>
<% if media_hash != [] || (@header_metadata.school_video1 && youtube_parse_id_from_str(@header_metadata.school_video1).present? )  %>
    <%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do  %>
        <%= render "shared/section_header", category_placement:category_placement %>
        <div class="row limit_width_1200">
            <div class="mtl pvl clearfix">
                <%= @show_ads ?  '<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">'.html_safe : '' %>
                    <div id="galleria">
                        <%= include_lightbox_youtube_video @header_metadata.school_video1 %>
                        <%= include_lightbox_media media_hash %>
                    </div>
                <%= @show_ads ?  '</div>'.html_safe : '' %>
                <% if @show_ads %>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                        <div class="gs_ad_slot visible-lg visible-md visible-sm ma" id="overviewMediaGalleryAd" data-ad-size="[300,250]" style="width: 300px"  data-dfp="School_Overview_Media_Gallery_300x250"></div>
                    </div>
                <% end %>
            </div>
            <% if @show_ads %>
                <div class="plm">
                    <div class="gs_ad_slot visible-xs ma" id="overviewMediaGalleryAdMobile" data-ad-size="[300,250]" style="width: 300px" data-dfp="School_Overview_Mobile_Media_Gallery_300x250"></div>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>