<%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do %>
  <% neighbors = NearbySchoolDecorator.decorate_collection(@school.neighbors) %>
  <% if neighbors.size >= 4 %>
    <%= render "shared/section_header", category_placement:category_placement %>

    <div class="row">
      <% neighbors[0..3].each_with_index do |neighbor, index| %>
        <%= div_tag(class: 'pbm', sizes: { xs: 12, sm: 6, md: 3, lg: 3 }) do %>
        <div class="partner-carousel-image mam">
          <div class="ma oh hidden-xs" style="width: 100%;">
            <%= neighbor.photo(400,150) %>
            <br/>
          </div>
          <div class="pam">
            <span class="open-sans_b pbl">
              <%= neighbor.link_to_overview(class: 'link-darkgray') { neighbor.name } %>
            </span>
            <br/>
            <%= neighbor.city_state %>
            <br/>
            <%= neighbor.type %> | <%= neighbor.process_level %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% end %>