<% if @school.cache_results.OECD_data.present? %>
  <% oecd_data = @school.cache_results.OECD_data %>
  <% country_data = CensusDataCountryValue.get_country_scores_by_subject %>
  <% countries_to_display = ['Shanghai-China', 'Korea', 'Finland', 'Canada', 'Singapore','Japan','Poland','Germany',
                             'United Kingdom','Portugal','Mexico','Brazil', 'Australia', 'New Zealand'] %>
  <% country_data_in_use = '' %>
  <% country_data.each do | country_subjects | %>
    <% if country_subjects[:subject_name] == category_placement.title %>
      <% country_data_in_use = country_subjects[:scores] %>

    <% end %>
  <% end %>
  <% school_score = '' %>
  <% oecd_data.each do | oecd_data_subject | %>
    <% if oecd_data_subject["subject"] == category_placement.title %>
      <% school_score = oecd_data_subject["school_value"] %>
    <% end %>
  <% end %>


<% data # A +Hash+ containing data for this table to display %>
<% category_placement # The +CategoryPlacement+ that this table is for %>
<% category # The +Category+ belonging to this table's +CategoryPlacement+ %>

<% data_config = category_placement.table_config %>
<%= debug data if params[:debug] %>
<% data = TableData.new data %>

<% data.sort!(data_config.config['sort']) if data_config.config['sort'] %>

<%= render layout:'col', locals:{ css_class:'', category_placement: category_placement} do  %>

  <a name="<%= category.code_name %>"></a>

  <%= render "shared/section_header", category_placement:category_placement %>

  <table class="table table-striped no-more-tables">
    <thead><th>Country</th><th>Score</th></thead>

    <tbody>
    <% #columns_to_print = data_config.columns_to_print(data) %>
<% first_time = true %>
    <% country_data_in_use.each do | country_and_scores | %>

      <% if countries_to_display.include? country_and_scores[:country_name] %>

      <% if country_and_scores[:country_score] < school_score && first_time == true %>
          <% first_time = false %>
          <tr>
            <td class="open-sans_sb font-size-medium">This school</td>
            <td class="open-sans_sb font-size-medium"><%= school_score %></td>
          </tr>
      <% end %>
      <tr>
          <%= td country_and_scores[:country_name], country_and_scores[:country_name] %>
          <%= td country_and_scores[:country_score], country_and_scores[:country_score] %>
      </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>

<% end %>

<%= render partial: 'about_this_data',
           locals: {
               unique_id: category_placement.id,
               descriptions: data.rows.map { |hash| hash[:description] }.uniq.compact
           }
%>

<% if @page_config.root_placements_with_data.present? &&
    @page_config.root_placements_with_data.find{ |category_placement| category_placement['title'] == 'Sources' } &&
    (@school.footnotes_for_category category: category).present? %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pls pbl clearfix">
    <div class="fr prm">Source: <a href="#Footnotes">See notes</a></div>
  </div>
<% end %>
<% end %>