<% data_config = category_placement.table_config %>
<% data = TableData.new data %>
<%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do  %>
    <hr />
    <h3 class="pll">Student Ethnicity</h3>

    <div id="piechart" class="ma">

    </div>

    <% first_key = data_config.config['columns'][0]['key'].to_sym %>
    <% second_key = data_config.config['columns'][1]['key'].to_sym %>
    <% chart_name = data_config.config['chart_name'] %>

    <% data_array = data.to_piechart :breakdown, :school_value %>

    <%= debug ['Pie chart data', data_array] if params[:debug] %>

    <% piechart_options = {
            fontSize: '13',
            title: category.name
        }.stringify_keys;
    %>

    <% content_for :head do %>
        <script type="text/javascript">
            GS.visualchart.drawPieChart(
                <%= raw data_array.to_json %>,
                'piechart',
                null,
                <%= raw data_config.config.merge(piechart_options).to_json %>,
                '<%= raw chart_name %>'
            );
        </script>
    <% end %>

<% end %>
