<%= render layout:'col', locals:{ css_class:'', category_placement: category_placement} do  %>
<%= render "shared/section_header", category_placement:category_placement %>


<% if @school.progress_bar_hash.present? %>


    <% case @school.progress_bar_hash["total_completeness_score"]
       when 0 %><% progress_bar_width = 20 %><% progress_bar_text = 'BASIC' %>
    <% when 1 %><% progress_bar_width = 40 %><% progress_bar_text = 'INTERMEDIATE' %>
    <% when 2 %><% progress_bar_width = 60 %><% progress_bar_text = 'ADVANCED' %>
    <% when 3 %><% progress_bar_width = 90 %><% progress_bar_text = 'HONOR ROLL' %>
    <% end %>

      <div class="row">

        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 progress progress-striped">
          <div class="progress-bar" style="width: <%=progress_bar_width%>%;"></div>
        </div>
      </div>

        <div class="row">
          <div class="col-md-12 tac font-size-block"><%= progress_bar_text %></div>
          <div class="col-md-12 tac">Want to improve this school's profile?</div>
        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="tac"><h3>For parents</h3></div>

            <div class="tac">
              <button type="button" data-link-value="<%= osp_form_url(school_id: @school.id.to_s,state: @school.state) %>" class="btn btn-primary js-button-link ">
                Fill out your school programs
              </button>
              <button type="button" data-link-value="<%= school_review_form_path(@school) %>" class="btn btn-primary js-button-link " onclick="GS.omniture.track_reviews('Overview');">
                Share your story
              </button>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="tac"><h3>For Schools</h3></div>

            <div class="tac">
              <button type="button" data-link-value="<%= osp_register_url(city: @school.city,school_id: @school.id.to_s,state: @school.state) %>" class="btn btn-primary js-button-link ">
                Upload photos
              </button>
              <button type="button" data-link-value="<%= osp_register_url(city: @school.city,school_id: @school.id.to_s,state: @school.state) %>" class="btn btn-primary js-button-link ">
                Fill out your school programs
              </button>
            </div>
          </div>

        </div>



<% end %>
<% end %>