<% ga_hash = { :'ga-click-category' => 'Profile data - quality snapshot', :'ga-click-action' => 'Quicklinks click' } %>
<div class='mtm'>
  <div class='pbm'><span class='open-sans_b'><%= t('.report_card') %></span>
    <%= link_to t('.test_scores'), school_quality_path(@school, anchor: 'Test_scores'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Test scores'}) %>,
    <%= link_to t('.college_readiness'), school_quality_path(@school, anchor: 'College_readiness'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'College readiness'}) %>,
    <%= link_to t('.student_group_comparison'), school_quality_path(@school, anchor: 'Student_Group_Comparison'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Student group comparison'}) %>
  </div>
  <div class='pbm'><span class='open-sans_b'><%= t('.school_details') %></span>
    <%= link_to t('.student_demographics'), school_details_path(@school, anchor: 'Students'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Student demographics'}) %>,
    <%= link_to t('.programs'), school_details_path(@school, anchor: 'Programs'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Programs'}) %>,
    <%= link_to t('.classes'), school_details_path(@school), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Classes'}) %>,
    <%= link_to t('.extracurriculars'), school_details_path(@school, anchor: 'Extracurriculars'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Extracurriculars'}) %>,
    <%= link_to t('.teachers'), school_details_path(@school, anchor: 'Teachers'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Teachers'}) %>
  </div>
  <div><span class='open-sans_b'><%= t('.reviews') %></span>
    <%= link_to t('.parent_reviews'), school_reviews_path(@school, anchor: 'com'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Parent Reviews'}) %>,
    <%= link_to t('.student_reviews'), school_reviews_path(@school, anchor: 'com'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Student Reviews'}) %>,
    <%= link_to t('.write_a_review'), school_reviews_path(@school, anchor: 'topicalReviewQuestionCarousel'), class: 'js-gaClick', data: ga_hash.merge({:'ga-click-label' => 'Write a review'}) %>
  </div>
</div>
