<div class='mtm'>
  <div><span class='open-sans_b'><%= t('.report_card') %></span>
    <%= link_to t('.test_scores'), school_quality_path(@school, anchor: 'Test_scores') %>,
    <%= link_to t('.college_readiness'), school_quality_path(@school, anchor: 'College_readiness') %>
  </div>
  <div><span class='open-sans_b'><%= t('.school_details') %></span>
    <%= link_to t('.student_demographics'), school_details_path(@school, anchor: 'Students') %>,
    <%= link_to t('.programs'), school_details_path(@school, anchor: 'Programs') %>,
    <%= link_to t('.classes'), school_details_path(@school) %>,
    <%= link_to t('.extracurriculars'), school_details_path(@school, anchor: 'Extracurriculars') %>,
    <%= link_to t('.teachers'), school_details_path(@school, anchor: 'Teachers') %>
  </div>
  <div><span class='open-sans_b'><%= t('.reviews') %></span>
    <%= link_to t('.parent_reviews'), school_reviews_path(@school, anchor: 'com') %>,
    <%= link_to t('.student_reviews'), school_reviews_path(@school, anchor: 'com') %>,
    <%= link_to t('.write_a_review'), school_reviews_path(@school, anchor: 'topicalReviewQuestionCarousel') %>
  </div>
</div>
