<% gs_rating = @school.gs_rating %>
<% if gs_rating %>
    <%=  render "shared/rating/gs_rating", rating:gs_rating, supporting_text:'GreatSchools rating' %>
<% else %>
    <%=  render "shared/rating/gs_rating", rating:'nr', supporting_text:'GreatSchools rating' %>
<% end %>

<% state_rating = @school.state_rating %>
<% if state_rating  %>
    <%= render state_partial(@school.state), page:'overview', rating: state_rating%>
    <div>State rating</div>
<% end %>

<% local_rating = @school.local_rating %>
<% if local_rating  %>
    <% rating = local_rating  %>
    <% rating.gsub!("+", "plus") %>
    <% icon_to_use = 'iconx72-ESD-ratings' %>
    <% icon_to_choose = 'i-72-ratings-' %>
    <span class="<%= icon_to_use %> <%= icon_to_choose + rating %>"></span>
    <div>Local rating</div>
<% end %>

<% if @school.preK_star_rating %>
    <% rating_type = '' %>
    <% rating_star = @school.preK_star_rating %>
    <% if rating_star == 0 %>
        <% rating_type = '-outline' %>
        <% rating_star = '1' %>
    <% end %>
      <% if @school.state == 'MI' %>
          <span class="iconx24-stars_detroit i-24-blue<%= rating_type %>-star i-24-star-<%= rating_star %>"></span>
      <% else %>
          <%= render state_partial(@school.state), page:'overview', rating: @school.preK_star_rating %>
      <% end %>
    <div>preK rating</div>
<% end %>