<% config=category_placement.layout_config_json %>

<% column_1_contents = data[0..4] %>
<% column_2_contents = data[5..10] %>

<table class="table table-striped">
    <% column_1_contents.each_with_index do |value_hash, index| %>
        <tr>
            <% value_hash.each do |key, value| %>
                <td> <%= capitalize_if_string value[:label] %> </td>
                <td>
                    <% if config.present? && config[key.to_s].present? && config[key.to_s]["format"].present? && config[key.to_s]["format"].to_s == 'integer' && value[:school_value].present? %>
                        <%= value[:school_value].round %>
                    <% else %>
                        <%= capitalize_if_string value[:school_value] %>
                    <% end %>
                </td>
            <% end %>
            <% value_hash_col2 = column_2_contents[index] if column_2_contents.present? %>
            <% if value_hash_col2.present? %>
                <% value_hash_col2.each do |key, value| %>
                    <td><%= capitalize_if_string value[:label] %></td>
                    <td>
                        <% if config.present? && config[key.to_s].present? && config[key.to_s]["format"].present? && config[key.to_s]["format"].to_s == 'integer' && value[:school_value].present? %>
                            <%= value[:school_value].round %>
                        <% else %>
                            <%= capitalize_if_string value[:school_value] %>
                        <% end %>
                    </td>
                <% end %>
            <% else %>
                <td></td>
                <td></td>
            <% end %>
        </tr>
    <% end %>
</table>


