<div class="row">
  <% if @school.includes_level_code? (['e','m','h']) %>
      <!-- Hack for Safari on IOS  -- using ad page name -->
      <% append_page = "" %>
      <% if @ad_page_name != :School_Details %>
          <% append_page = "details/" %>
      <% end %>
      <%= link_to school_details_url(@school, anchor:"Programs") do %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><%= render "shared/icon_content_snapshot", data_local: data[:art], sprite: 'art'  %></div>
      <% end %>
      <%= link_to school_details_url(@school, anchor:"Extracurriculars") do %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><%= render "shared/icon_content_snapshot", data_local: data[:club], sprite: 'clubs'  %></div>
      <% end %>
      <%= link_to school_details_url(@school, anchor:"Extracurriculars") do %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><%= render "shared/icon_content_snapshot", data_local: data[:sport], sprite: 'sports'  %></div>
      <% end %>
      <%= link_to school_details_url(@school, anchor:"Programs") do %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><%= render "shared/icon_content_snapshot", data_local: data[:lang], sprite: 'language'  %></div>
      <% end %>
  <% end %>
</div>


<div class="row">
  <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 tac fl"><%= link_to 'Programs', school_details_url(@school, anchor:"Programs") %></div>
  <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 tac fl"><%= link_to 'Students', school_details_url(@school, anchor:"Students") %></div>
  <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 tac clearfix"><%= link_to 'Teachers', school_details_url(@school, anchor:"Teachers") %></div>
</div>










