<% # An +Array+ of +Hash+es that contains data for this layout %>
<% # Example: [ %>
<% # { "enrollment": { "school_value": 130.0, "label": "Students enrolled" } } %>
<% # { "head official name": { "school_value": "LINDA BROOKS", "label": "School leader" } } %>
<% # ] %>
<% data %>
<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<% config = category_placement.layout_config_json %>

<%= debug data if params[:debug] %>

<% total_array_size = data.size %>
<% left_table_size = total_array_size / 2 + total_array_size % 2 %>

<% column_1_contents = data[0..left_table_size-1] %>
<% column_2_contents = data[left_table_size..total_array_size] %>
<% all_columns = [column_1_contents, column_2_contents]  %>

<div class="row limit-width-1200">
  <div class="mtl pvl clearfix">
    <%= @show_ads ?  '<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">'.html_safe : '' %>
    <%  all_columns.each_with_index do |col_arr, index_all| %>
      <% layout_grid = (@show_ads ?  "col-xs-12 col-sm-12 col-md-12 col-lg-12" : "col-xs-12 col-sm-12 col-md-6 col-lg-6")%>
      <div class="<%= layout_grid %>">
        <div class="mhm">
        <table class="table table-striped mbm">
          <% col_arr.each_with_index do |value_hash, index| %>
            <tr>
              <% decorator = SnapshotDecorator.decorate(value_hash, context: { config: config, school: @school }) %>
              <% decorator.each do |object| %>
                <td style="width:50%"><%= object.label %></td>
                <td style="width:50%"><%= object.value %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
        </div>
      </div>
      <% end %>
      <% if !@school.preschool? %>
        <div class="fr prl">
          <%= link_to '<span class="vam iconx16 i-16-pencil mrs"></span>Edit'.html_safe, osp_register_url(city: @school.city,school_id: @school.id.to_s,state: @school.state) %>
        </div>
      <% end %>
    <%= @show_ads ?  '</div>'.html_safe : '' %>
    <% if @show_ads %>
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
        <%= render 'layouts/ad_layer', page: @page_config.name.to_sym, slot: :Snapshot, view: :desktop  %>
      </div>
    <% end %>
  </div>
    <% if @show_ads %>
      <div class="plm">
        <%= render 'layouts/ad_layer', page: @page_config.name.to_sym, slot: :Snapshot, view: :mobile  %>
      </div>
    <% end %>
</div>
