<% # An +Array+ of +Hash+es that contains data for this layout %>
<% # Example: [ %>
<% # { "enrollment": { "school_value": 130.0, "label": "Students enrolled" } } %>
<% # { "head official name": { "school_value": "LINDA BROOKS", "label": "School leader" } } %>
<% # ] %>
<% data %>
<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<% config = category_placement.layout_config_json %>

<%= debug data if params[:debug] %>

<% total_array_size = data.size %>
<% left_table_size = total_array_size / 2 + total_array_size % 2 %>

<% column_1_contents = data[0..left_table_size-1] %>
<% column_2_contents = data[left_table_size..total_array_size] %>
<% all_columns = [column_1_contents, column_2_contents]  %>

<div class="row limit_width_1200">
    <div class="mtl pvl clearfix">
        <%  all_columns.each_with_index do |col_arr, index_all| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="mhm">
                <table class="table table-striped">
                    <% col_arr.each_with_index do |value_hash, index| %>
                        <tr>
                            <% value_hash.each do |key, value| %>
                                <td style="width:50%"> <%= capitalize_if_string value[:label] %> </td>
                                <td style="width:50%">
                                    <% if config.present? && config[key.to_s].present? && config[key.to_s]["format"].present? && config[key.to_s]["format"].to_s == 'integer' && value[:school_value].present? %>
                                        <%= (value[:school_value].is_a? Numeric) ? value[:school_value].round : value[:school_value] %>

                                    <% elsif value[:school_value] != 'no info' %>
                                        <%= capitalize_if_string value[:school_value] %>
                                    <% else %>
                                        <%= value[:school_value] %>
                                    <% end %>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                </table>
                </div>
            </div>
        <% end %>
    </div>
</div>
