<% average_score = @school_reviews.average_5_star_rating %>
<% reviews_count = @school_reviews.number_of_active_reviews %>
<% school_reviews = @school_reviews %>

<div class="tac" style="height:300px;">
  <%= link_to school_reviews_url(@school), class:"js-gaLoad js-gaClick",
              data:{
                'ga-load-label' => 'reviewsSnapshot communityRating link',
                'ga-click-label' => 'reviewsSnapshot communityRating link'
              } do %>
    <div class="link-darkgray tac pbl">Community rating</div>
  <% end %>

  <div class="row tac mtm">
    <% if average_score > 0  %>
      <%= link_to school_reviews_url(@school), class:"js-gaLoad js-gaClick",
                  data:{
                    'ga-load-label' => 'reviewsSnapshot avgScoreStars link',
                    'ga-click-label' => 'reviewsSnapshot avgScoreStars link'
                  } do %>
        <%= draw_stars_24 average_score %>
      <% end %>
    <% else %>
      <a href="<%=school_reviews_path(@school)%>" class="js-gaLoad js-gaClick"
         data-ga-load-label="reviewsSnapshot noAvgScoreStars link"
         data-ga-click-label="reviewsSnapshot noAvgScoreStars link">
        <%= draw_stars_24 0 %>
      </a>
    <% end %>
  </div>

  <div class="tac mtxl ptm">
    <% review = school_reviews.first %>
    <% review = SchoolProfileReviewDecorator.decorate(review) if review %>
    <% show_review_text = school_reviews.present? && review.has_comment? %>

    <% if show_review_text %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <%= link_to school_reviews_url(@school),
                    class:"js-gaLoad js-gaClick",
                    data:{
                      'ga-load-label' => 'reviewsSnapshot firstReviewText link',
                      'ga-click-label' => 'reviewsSnapshot firstReviewText link'
                    } do %>
            <div class="gray-dark font-size-large"><%= review.truncated_comment %></div>
        <% end %>
      </div>
    <% else %>
        <%= link_to school_reviews_path(@school),
                    class:"js-gaLoad js-gaClick",
                    data:{
                      'ga-load-label' => 'reviewsSnapshot helpOthersNoReviewText link',
                      'ga-click-label' => 'reviewsSnapshot helpOthersNoReviewText link'
                    } do %>
            <div class="link-darkgray">Help others find their GreatSchool!</div>
            <div class="link-darkgray">Rate and review this school now!</div>
        <% end %>
    <% end %>
  </div>

  <div class="tac pa full-width" style="bottom: 20px;">
    <% if reviews_count > 0 %>
      <% reviews_count_text = pluralize(reviews_count, 'Review', 'Reviews') %>
      <%= link_to reviews_count_text, school_reviews_url(@school),
                  class:"js-gaLoad js-gaClick",
                  data:{
                    'ga-load-label' => 'reviewsSnapshot reviewsRatingsCount link',
                    'ga-click-label' => 'reviewsSnapshot reviewsRatingsCount link'
                  } %>
    <% else %>
      <button type="button" data-link-value="<%= school_reviews_path(@school) %>"
              class="btn btn-primary mtm js-button-link js-gaLoad js-gaClick"
              data-ga-load-label="reviewsSnapshot writeAReview link"
              data-ga-click-label="reviewsSnapshot writeAReview link">
        Write a review
      </button>
    <% end %>
  </div>
</div>