<% config=category_placement.layout_config_json %>
<div class="row">
    <!--Refactor so that we are no looping twice ovre the results-->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <% data.each_with_index do |value_hash, index| %>
            <% if index < 5 %>
                <% value_hash.each do |key, value| %>
                    <%= value[:label] %>
                    <% if config[key.to_s].present? && config[key.to_s]["format"].present? && config[key.to_s]["format"].to_s == 'integer' && value[:school_value].present? %>
                        <%= value[:school_value].round %>
                    <% else %>
                        <%= value[:school_value] %>
                    <% end %>

                <% end %>
                <br/>
            <% end %>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <% data.each_with_index do |value_hash, index| %>
            <% if index >= 5 %>
                <% value_hash.each do |key, value| %>
                    <%= value[:label] %>
                    <% if config[key.to_s].present? && config[key.to_s]["format"].present? && config[key.to_s]["format"].to_s == 'integer' && value[:school_value].present? %>
                        <%= value[:school_value].round %>
                    <% else %>
                        <%= value[:school_value] %>
                    <% end %>
                <% end %>
                <br/>
            <% end %>
        <% end %>
    </div>
</div>