<% category_placement # The +CategoryPlacement+ that is configured to use this group layout %>

<%
  collections_to_show = [*category_placement.layout_config_json['show_module_for_collections']]
  should_show_partial = (@school.collection_ids & collections_to_show).present?
%>

<% if should_show_partial %>
  <% begin %>
    <div class="sticky-nearby-schools gs-bootstrap">
      <div class="sticky-container">
        <div class="current-school school hidden-xs">
          <div class='school-rating'>
            <%= render 'performance/gs_rating',
              value: @school.cache_results.gs_rating,
              size: 'sm'
            %>
          </div>
          <div class='school-name'><%= @school.name %></div>
        </div>
        <div class="nearby-schools">
          <div class="title">
            TOP RATED NEARBY SCHOOLS
          </div>
          <div class="js-closeNearbySchools close-nearby-schools">
            <span class="iconx16 i-16-plain-x mls vam"></span>
            <br/>
            Close
          </div>
          <div class="carousel">
            <div class="js-nearbySchoolsCarousel">
              <% data.each do |school| %>
                <% # Slick will apply styles to the following div.
                   # Be warned! Classes may have styles overwritten! %>
                <div>
                  <div class="nearby-school school">
                    <%= link_to(school_hash_to_url_for_profile(school)) do %>
                      <div class="school-rating">
                        <%=
                          render 'performance/gs_rating',
                            value: school['gs_rating'],
                            size: 'sm'
                          %>
                      </div>
                      <div class="school-name">
                        <%= school['name'] %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="js-next next">
            <span class="iconx16 i-16-right-arrow mls vam"></span>
            <br/>
            Next
          </div>
        </div>
      </div>
    </div>
  <% rescue => e %>
    <%= log_view_error "Something went wrong while trying to display #{category_placement.title}", e %>
    <% raise e if params[:debug] %>
  <% end %>
<% end %>
