<% if data.present? %>
  <div class='mvm'><%= t('.score_range') %></div>
  <div class='row'>
    <% [*data].each do |d| %>
      <div class="col-xs-12 col-md-6 col-lg-4 mbm">
        <div class="gs-rating-white-sm sub-rating-icon <%= d.performance_level %>">
          <%= d.value %>
        </div>
        <span class="sub-rating-text"><%= d.label %></span>
        <%= render 'school_profile/data_viz/tooltip_activator',
          text: d.description,
          trigger: 'focus' ,
          ga_category: 'Profile data - quality snapshot',
          ga_action: 'Open Tooltip',
          ga_label: d.original_label
        %>
      </div>
    <% end %>
  </div>
<% end %>
