<% data # A +Hash+ that contains test score data for this layout %>
<%= debug data if params[:debug] %>

<% if data && data.count != 0 %>
    <%= render "shared/section_header", category_placement:category_placement %>
<% end %>
<% data.each_with_index do |(test,value),index| %>
    <%= render layout:'col', locals: { css_class:'clearfix pam', category_placement: category_placement } do %>
        <h3><%= value[:test_label] %></h3><br/>
        <div class="btn-group js_grades_div js_bootstrapExtButtonSelect">
            <% value[:grades].each_with_index do | (grade, value), index_grade| %>
                <button id="js_<%= test %>_<%= grade.value %>" class="btn btn-default js_test_scores_grades<%= index_grade == 0 ? ' active' : '' %>">Grade <%= grade.value %></button>
            <% end %>
        </div>

        <% value[:grades].each_with_index do |(grade,value), index_grade| %>
            <div id="js_<%= test %>_<%= grade.value %>_scores" class="js_<%= test %>_grades">

                <% value.each do |levelcode,value| %>
                    <% value.each_with_index do |(subject,value),  index_subject| %>

                        <h4 <%= ((index_subject == 0) ? "class=ptl" : '') %>><%= subject.gs_capitalize_first %></h4>
                        <!--TODO change this to test id-->

                        <% bar_chart_div_id = "js_bar_chart_div_#{test.to_s.gsub(/\s/,'')}_#{grade.value}_#{subject.to_s.gsub(/\s/,'')}" %>

                        <div id="<%= bar_chart_div_id %>" class="ma"><!--Div for bar chart--></div>

                        <% content_for :head do %>
                            <script type="text/javascript">
                                GS.visualchart.drawBarChartTestScores(<%= raw (to_bar_chart_array value).to_s %>,<%= raw '"'+bar_chart_div_id+'"' %>, 'testscores');
                            </script>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        <% if value[:test_description] %>
            <div>
                <p class="mbm"><span class="open-sans_sb">About the test.</span>
                <a  href="javascript:void(0)" class="js_toggle_parent_sib plm">Learn More &raquo;</a></p>
                <div class="dn"><%= raw value[:test_description]%></span></div>
            </div>
        <% end %>
        <% if value[:test_source] %>
            <div>
                <p class="font-size-small ptm">Source: <%= value[:test_source] %></p>
            </div>
        <% end %>
    <% end %>
<% end %>
