<% data ||= {} # A +Hash+ that contains test score data for this layout %>
<%= debug data if params[:debug] %>

<% if data && data.count != 0 %>
    <%= render "shared/section_header", category_placement:category_placement %>
<% end %>

<% data.each_with_index do |(test,value),index| %>
  <%= render layout:'col', locals: { css_class:'clearfix pam', category_placement: category_placement } do %>
    <% unless value.present? && value[:All].present? %>
       <% GSLogger.warn(:school_profiles, nil, vars: value, message: "Test hash missing required :All key") and next %>
    <% end %>
    <% test_label = value.seek(:All,:test_label) %>
    <h3><%= db_t(test_label) %></h3><br/>
    <span class=""><%= t('data_layouts.test_scores.showing_results_for_html', test: test) %></span>
    <br/><br/>

    <% decorator = TestScoresDecorator.decorate(data, context: { state: @school.state }) %>
    <%= raw(decorator.tabs_for_test(test)) %>
    <%= raw decorator.render_bar_charts(test) %>
    
    <% if decorator.description(value) %>
      <div>
        <p class="mbm"><span class="open-sans_sb"><%= t('data_layouts.test_scores.about_the_test') %></span>
          <!--<a  href="javascript:void(0)" class="js_toggle_parent_sib plm">Learn More &raquo;</a>-->
        </p>
        <% description = decorator.description(value) %>
        <div><%= raw(db_t(description)) %></div>
      </div>
    <% end %>
    <% if decorator.source(value) %>
      <div class="pbm">
        <p class="font-size-small ptm"><%= t('data_layouts.test_scores.source') %>: <%= decorator.source(value) %></p>
      </div>
    <% end %>
    <% if @school.show_ads %>
      <% test_slot_name = 'Test_Scores'+(index+1).to_s %>
      <%= render 'layouts/ad_layer', page: @ad_page_name, slot: test_slot_name.to_sym, view: :desktop  %>
      <%= render 'layouts/ad_layer', page: @ad_page_name, slot: test_slot_name.to_sym, view: :mobile  %>
    <% end %>
  <% end %>
<% end %>
