<% data # A +Hash+ that contains test score data for this layout %>
<%= debug data if params[:debug] %>

<% if data && data.count != 0 %>
    <%= render "shared/section_header", category_placement:category_placement %>
<% end %>

<% data.each_with_index do |(test,value),index| %>
  <%= render layout:'col', locals: { css_class:'clearfix pam', category_placement: category_placement } do %>
    <h3><%= value[:test_label] %></h3><br/>

    <% decorator = TestScoresDecorator.decorate(data, context: { state: @school.state }) %>
    <%= raw(decorator.tabs_for_test(test)) %>
    <%= raw decorator.render_bar_charts(test) %>
    
    <% if value[:test_description] %>
      <div>
        <p class="mbm"><span class="open-sans_sb">About the test</span>
          <!--<a  href="javascript:void(0)" class="js_toggle_parent_sib plm">Learn More &raquo;</a>-->
        </p>
        <div><%= raw value[:test_description]%></div>
      </div>
    <% end %>
    <% if value[:test_source] %>
      <div class="pbm">
        <p class="font-size-small ptm">Source: <%= value[:test_source] %></p>
      </div>
    <% end %>
    <% if @school.show_ads %>
      <% test_slot_name = 'Test_Scores'+(index+1).to_s %>
      <%= render 'layouts/ad_layer', page: ('School_'+@page_config.name).to_sym, slot: test_slot_name.to_sym, view: :desktop  %>
      <%= render 'layouts/ad_layer', page: ('School_'+@page_config.name).to_sym, slot: test_slot_name.to_sym, view: :mobile  %>
    <% end %>
  <% end %>
<% end %>
