<div class="ptl tac">
  <% config.opt[:datapoints].each do |datapoints| %>
      <div class="pbm phl">
        <% if datapoints[:form] %>
            <form <%= @school.send(datapoints[:method]) %></form>
            <button class="<%= datapoints[:class] %>" style="width:80%">
              <span class="vat <%= datapoints[:icon] %> mrs"></span>
              <%= datapoints[:label] %>
            </button>
        <% else %>
            <button class="<%= datapoints[:class]%>" data-link-value="<%= @school.send(datapoints[:method])%>" style='width:80%' data-link-use-new-window="<%= datapoints[:target].present? ? true : '' %>">
                <span class="vat <%= datapoints[:icon] %> mrs"></span>
                <%= datapoints[:label] %>
            </button>
        <% end %>
      </div>
  <% end %>
</div>
