<% if !@school.max_fit_score.nil? && @school.max_fit_score > 0 %>

  <%= render layout: "compare_schools/school_description_modules/category", locals: {config: config} do %>

    <div class="pvm">
      <div class="tac" style="height: 24px">
        <% if @school.fit_score > 0 %>
          <span class="vam iconx24-icons js-icon <%=(@school.strong_fit?) ? 'i-24-happy-face' : (@school.ok_fit?) ? 'i-24-smiling-face' : 'i-24-neutral-face'%>"></span>
        <% end %>
      </div>
      <div class="tac gray-dark mbm">
        <span class="font-size-s"><%= if @school.strong_fit?
                                        'Strong fit'
                                      elsif @school.ok_fit?
                                        'Ok fit'
                                      elsif @school.fit_score == 0
                                        'No matches'
                                      else
                                        'Low fit'
                                      end %></span>
      </div>
      <div class="phm">
        <table class="full-width <%= config.opt[:table_name] %>">
          <% @school.fit_score_breakdown.each do |breakdown| %>
            <tr>
              <td class="<%= breakdown[:match_status] != :yes ? 'pls' : ''%>" style="width: 30px">
                <% if breakdown[:match_status] == :yes %>
                  <i class="vam iconx16 i-16-green-check"></i>
                <% elsif breakdown[:match_status] == :no %>
                  X
                <% else %>
                  <%= SchoolCompareDecorator::NO_DATA_SYMBOL %>
                <% end %>
              </td>
              <td class="tal <%= breakdown[:match_status] != :yes ? 'gray-dark' : '' %>">
                  <%= truncate(breakdown[:filter], length: 26)%>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

  <% end %>

<% end %>

