<% college_readiness %>
<% title = t('.title') %>
<% subtitle = t('.subtitle_html') %>
<% rating = college_readiness.rating %>
<% info_text = college_readiness.info_text  %>
<% data_values = college_readiness.data_values || [] %>
<% initial_size = 3 %>
<% content = college_readiness.sources %>

<div class="rating-container rs-college-readiness">
  <a class="anchor-mobile-offset" name="College_readiness"></a>
  <div class="rating-container__rating">
    <%= render "module_header",
      circle_color_modifier: rating,
      circle_content: rating,
      title: title,
      subtitle: subtitle,
      info_text: info_text
    %>
  </div>

  <%= render partial: 'rating_score_item', collection: data_values.take(initial_size), as: :score_data %>

  <% if data_values.size > initial_size %>
    <div class="rating-container__more-items">
      <%= render layout:'drawer', locals: { :ga_category => 'Profile', :ga_label => 'College Readiness' } do %>
        <% render partial: 'rating_score_item', collection: data_values[initial_size..-1], as: :score_data %>
      <% end %>
    </div>
  <% end %>
  <div>
    <a data-remodal-target="modal_info_box"
       data-content-type="info_box"
       data-content-html="<%= content %>"
       href="javascript:void(0)">
      <span class="source-link"><%= t('.see notes') %></span>
    </a>
  </div>
</div>
