<% college_readiness %>
<% title = t('.title') %>
<% subtitle = t('.subtitle_html') %>
<% rating = college_readiness.rating %>
<% qualaroo_module_link = college_readiness.qualaroo_module_link %>
<% info_text = college_readiness.info_text  %>
<% data_values = college_readiness.data_values || [] %>
<% initial_size = 3 %>
<% content = college_readiness.sources %>
<% narration = college_readiness.narration %>

<% content_for(:header, flush: true) do %>
  <%= render "module_header",
    rating: rating,
    title: title,
    subtitle: subtitle,
    info_text: info_text,
    has_data: data_values.present?,
    show_historical_ratings: college_readiness.show_historical_ratings?
  %>
<% end %>

<% content_for(:historical_ratings, flush: true) do %>
  <%=
    if college_readiness.show_historical_ratings?
      render 'historical_ratings', historical_ratings: college_readiness.historical_ratings,
             title: t('.historical.title'), subtitle: t('.historical.subtitle')
    end
  %>
<% end %>

<%= render layout: 'basic_data_module_layout', locals: {
  has_data: data_values.present?,
  name: 'College readiness',
  sources_link: college_readiness.sources,
  qualaroo_link: qualaroo_module_link,
  narration: narration
} do %>
  <%= render partial: 'rating_score_item', collection: data_values.take(initial_size), as: :score_data %>
  <% if data_values.size > initial_size %>
    <div class="rating-container__more-items">
      <%= render layout:'drawer', locals: { :ga_category => 'Profile', :ga_label => 'College Readiness', suffix: title } do %>
        <% render partial: 'rating_score_item', collection: data_values[initial_size..-1], as: :score_data %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: 'info_text_and_circle', locals: {cta: college_readiness.faq.cta, content: college_readiness.faq.content } if data_values.present? %>
<% end %>
