<%# equity_overview %>
<% title = t('lib.equity_overview.title') %>
<% rating = equity_overview.equity_rating %>
<% info_text = equity_overview.info_text  %>
<% narration = equity_overview.narration %>
<% sources = equity_overview.sources %>
<% analytics_id = 'EquityOverview' %>
<% analytics_id += '-empty' unless equity_overview.has_data? %>

<div id="<%= analytics_id %>" class="rating-container rs-equity_overview" data-ga-click-label="Equity overview">
  <a class="anchor-mobile-offset" name="Equity_overview"></a>
  <div class="rating-container__rating js-historical-module">
    <%= render 'module_header',
               circle_color_modifier: rating,
               circle_content: rating,
               title: title,
               info_text: info_text,
               has_data: equity_overview.has_data?

    %>

    <%#=
      if equity_overview.show_historical_ratings?
        render 'historical_ratings', historical_ratings: equity_overview.historical_ratings,
               title: t('.historical.title'), subtitle: t('.historical.subtitle')
      end
    %>

    <% if equity_overview.has_data? %>
        <div class="panel">
          <div class="auto-narration">
            <%= narration %>
          </div>
        </div>
    <% end %>
  </div>

  <% if equity_overview.has_data? %>
      <%= render 'sources_link_to_modal', content: sources %>
      <%= render 'module_feedback', content: equity_overview.qualaroo_module_link(:race_ethnicity) %>
  <% end %>
</div>
