<% title = t('.title') %>
<a class="anchor-mobile-offset" name="Equity"></a>
<div class="equity-container rs-equity">
  <div class="row">
    <div class="col-xs-12 col-lg-3">
      <div class="rating-container__title">
        <%= title %>
        <% if @school.state == 'CA' %>
          <%= link_to 'http://innovateschools.org/greatschools/' do %>
            <%= image_tag('data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAABAAEAAAICVAEAOw==',
              class: 'innovate-logo mobile',
              data: {src: image_path('innovate_logo_mobile.png')}) %>
            <%= image_tag(
              'data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAABAAEAAAICVAEAOw==',
              class: 'innovate-logo desktop',
              data: {src: image_path('innovate_logo_desktop.png')}) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-lg-9">
      <%= react_component('Equity', props: {test_scores:  equity.test_scores,
                          enrollment: equity.enrollment,
                          characteristics: equity.characteristics,
                          rating_low_income: equity.rating_low_income,
                          sources: equity.sources,
                          data: equity.equity_data_hash,
                          discipline: equity.equity_discipline_hash,
                          disabilities: equity.equity_disabilities_hash})  %>
    </div>
  </div>
</div>
