<% hero %>

<div>
  <div>
    GreatSchools rating
    <span class="rs-gs-rating">
      <%= hero.gs_rating %>
    </span>
    <%= hero.school_address %>
    <%= hero.school_type %>
    <%= hero.district_name %>
    <%= hero.school_phone %>
    <%= hero.school_home_page_link %>
    <%= hero.grade_range_label %><%= hero.grade_range %>
    <%= hero.students_enrolled %>

    <%= hero.number_of_active_reviews %>
    <span class="rs-five-star-rating">
      <%= hero.five_star_rating %>
    </span>
  </div>
</div>

