<% hero %>

<div>
  <div>
    GreatSchools rating
    <span class="rs-gs-rating">
      <%= hero.gs_rating %>
    </span>
    <%= hero.school_address %>
    <%= hero.school_type %>
    <%= hero.district_name %>
    <%= hero.school_phone %>
  </div>
</div>

