<% gs_rating %>
<% coming_soon %>
<% greatschools_rating_label %>
<% tooltip_partial %>

<a data-remodal-target="modal_info_box"
   data-content-type="info_box"
   data-content-html='<%= render tooltip_partial %>'
   class="gs-tipso js-gaClick"
   data-tipso-offsetX="0"
   data-tipso-offsetY="-20"
   data-tipso-width="430"
   data-tipso-position="right"
   data-ga-click-category='Profile'
   data-ga-click-action='Infobox'
   data-ga-click-label='SummaryRating'
   href="javascript:void(0)">
  <div class="gs-rating-with-label__rating">
    <div class="rs-gs-rating circle-rating--large-responsive circle-rating--<%= gs_rating %>">
      <%= gs_rating %><span class="rating-circle-small">/10</span>
    </div>
  </div>
  <div class="gs-rating-with-label__label">
    <div class="label-container">
      <div class='line pre-animation'></div>
      <div class="coming-soon-container pre-animation">
        <span class="coming-soon"><%= coming_soon %></span>
      </div>
    </div>
    <span class="gsr-text">
      <%= greatschools_rating_label %>
      <span class="info-circle"><span class="icon-question"></span></span>
    </span>
  </div>
</a>