<% rating ||= nil %>
<% title %>
<% subtitle ||= nil %>
<% info_text = info_text || nil %>
<% has_data %>
<% no_data_summary ||= '' %>
<% share_content = share_content || nil %>
<% show_alternate_no_data_summary ||= nil %>

 <div class="module-header">
   <div class="row">
     <%# bootstrap logic below is to ensure that the alternate no-data-summary fills the container (because there is no share button) %>
     <div class="col-xs-12 <%= show_alternate_no_data_summary ? 'col-md-12' : 'col-md-10'%>">
       <% if rating.present? && rating != 'NR' %>
         <div class="circle-rating--<%= rating %> circle-rating--medium">
           <%= rating %><span class="rating-circle-small">/10</span>
         </div>
       <% elsif local_assigns[:icon] %>
         <div class="circle-rating--equity-blue">
           <span class="icon-<%= icon %>"></span>
         </div>
       <% end %>
       <div class="title-container">
         <div>
           <h3 class="title">
             <%= title %>
           </h3>
           <% if info_text %>
             <%= render 'info_circle', content: info_text, element_type: 'toptooltip' %>
           <% end %>
         </div>
         <% if show_alternate_no_data_summary %>
             <%# Special handling for certain states. The no_data_for_module partial is not currently easily configurable to support this format %>
            <div class="ptm no-data-alternate">
              <span><%= image_tag("/assets/school_profiles/brown-owl.svg",  alt: "") %></span>
              <span><%= no_data_summary %></span>
            </div>
         <% else %>
             <% if subtitle.present? %>
                <span><%= subtitle %></span>
             <% end %>
             <% unless has_data %>
                 <%= render 'no_data_for_module', title: title, no_data_summary: no_data_summary %>
             <% end %>
         <% end %>
       </div>
     </div>
     <div class="col-xs-12 col-md-2 show-share-button">
       <% if has_data %>
         <div>
           <a data-remodal-target="modal_info_box"
              data-content-type="info_box"
              data-content-html='<%= share_content %>'
              class="share-link gs-tipso tipso_style"
              data-tipso-width="318"
              data-tipso-position="left"
              href="javascript:void(0)">
              <span class="icon-share"></span>
              <%= t('.share') %>
           </a>
         </div>
       <% end %>
     </div>
   </div>
</div>
