 <% rating ||= nil %>
 <% title %>
 <% subtitle ||= nil %>
 <% info_text = info_text || nil %>
 <% has_data %>
 <% show_historical_ratings ||= false %>
 <% columns_historical = show_historical_ratings ? 'col-md-8' : 'col-md-12' %>

 <div class="module-header">
   <div class="row">
     <div class="col-xs-12 <%= columns_historical %>">
       <% if rating.present? && rating != 'NR' %>
         <div class="circle-rating--<%= rating %> circle-rating--medium">
           <%= rating %><span class="rating-circle-small">/10</span>
         </div>
       <% elsif icon %>
         <div class="circle-rating--equity-blue">
           <span class="icon-<%= icon %>"></span>
         </div>
       <% end %>
       <div class="title-container">
         <div>
           <span class="title">
             <%= title %>
           </span>
           <% if info_text %>
             <%= render 'info_circle', content: info_text %>
           <% end %>
         </div>
         <% if subtitle.present? %>
           <span><%= subtitle %></span>
         <% end %>
         <% unless has_data %>
           <%= render 'no_data_for_module', title: title %>
         <% end %>
       </div>
     </div>
   <% if show_historical_ratings %>
     <div class="col-xs-12 col-md-4 show-history-button">
       <div>
         <button class="js-historical-button">
           <span class="icon-clock"></span>
           <div class="dib"><%= t('.past_ratings') %></div>
         </button>
       </div>
     </div>
   <% end %>
   </div>
</div>
