<% content %>
<div class="module_feedback">
  <span class="module_feedback_desktop_divider">&nbsp;|&nbsp;</span><%= t('lib.test_scores.was_this_useful') %>
  <!--<a data-remodal-target="modal_info_box"-->
     <!--data-content-type="info_box"-->
     <!--data-content-html="<%= content %>"-->
     <!--href="javascript:void(0)">-->
    <!--<span class="source-link"><%= t('lib.test_scores.give_us_your_feedback') %></span>-->
  <!--</a>-->
  <a href="<%= content %>" target="_blank"><span class="source-link"><%= t('lib.test_scores.give_us_your_feedback') %></span></a>
</div>
