<% score_data %>

<% if score_data.visualization.present? && (score_data.visualization != :ratio_viz && score_data.visualization != :dollar_viz ) %>
    <%=
      render "#{score_data.visualization}",
             score_data: score_data
    %>
<% else %>




<div class="rating-container__score-item">
  <div class="rating-score-item">
    <div class="row">
      <div class="col-xs-6 rating-score-item__label">
        <%= score_data.label %>
        <% if score_data.info_text %>
          <%= render 'info_circle', content: score_data.info_text %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <div class="rating-score-item__score">
          <%= score_data.formatted_score %>
          <% if score_data.visualization == :ratio_viz %>
            <span class="ratio-viz">:1</span>
          <% end %>
        </div>

        <% unless score_data.formatted_state_average.nil? %>
          <div class="rating-score-item__state-average">
            <%= t('.state_average') %>: <%= score_data.formatted_state_average %>
            <% if score_data.visualization == :ratio_viz %>
                <span class="ratio-viz-state-avg">:1</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
<% end %>
