<% reviews %>
<% summary = reviews.summary %>

<% initial_size = 3 %>
<a name="Reviews"></a>

<div class="review-summary rs-review-summary">
  <div class="review-sumary__info">
    <div class="number-of-reviews">
      <span class="count"><%= summary.number_of_reviews %></span>
      <span class="label"><%= summary.number_of_reviews_label %></span>
    </div>
    <%= render 'five_stars', filled: summary.average_five_star_rating %>
    <div class="n-out-of-5-stars"><%= summary.average_five_star_rating %> out of 5 stars</div>
  </div>
  <div class="review-summary__distribution">
  </div>
</div>

<%= react_component('ReviewsList', reviews: reviews.reviews_list) %>

