<% private_school_profile %>

<div class="school-profile">
  <%= render 'breadcrumbs', breadcrumbs: private_school_profile.breadcrumbs %>
  <%= render 'hero', hero: private_school_profile.hero %>
  <!-- main content -->
  <div class="static-container">
    <div class="right_rail">
      <%= render 'school_profile_sticky_cta' %>
    </div>
    <div class="content">
      <div>
        <%= render 'toc_private', claimed: private_school_profile.claimed %>
      </div>
      <div>
        <div class="row">
          <div class="col-xs-12 col-lg-3">
            <div class="rating-container__title">
              OVERVIEW
            </div>
          </div>
          <div class="col-xs-12 col-lg-9">
            <%= react_component('PrivateSchoolInfo', props: {
              content: private_school_profile.tab_config,
              osp_link: osp_register_path(
                city: private_school_profile.school.city,
                school_id: private_school_profile.school.id.to_s,
                state: private_school_profile.school.state
              ).gsub(/\/$/, ''),
              source_name: private_school_profile.source_name}) %>
          </div>
        </div>
      </div>

      <div class="environment-container">
        <div class="row">
          <div class="col-xs-12 col-lg-3">
            <div class="rating-container__title">
              Environment
            </div>
          </div>
          <div class="col-xs-12 col-lg-9">
            <%= render 'students', students: private_school_profile.students %>
          </div>
        </div>
      </div>

      <div>
        <%= render 'review_summary', reviews: private_school_profile.reviews %>
      </div>

      <div>
        <%= render 'reviews',
                   review_questions: private_school_profile.review_questions,
                   reviews: private_school_profile.reviews
        %>
      </div>

    </div>
  </div>

  <div>
    <%= render 'neighborhood', neighborhood: private_school_profile.neighborhood %>
  </div>

  <div>
    <%= render 'nearby_schools', nearby_schools: private_school_profile.nearby_schools %>
  </div>

</div>
