<% score_data %>
<% inverted ||= false %>

<% range = score_data.range ||= (0..100) %>
<% percentage = score_data.score_percentage(score_data.score.float_value, range) %>
<% percentage = 100.to_f - percentage if inverted %>

<% grey_score = 100.to_f - percentage %>
<% state_average_percentage = score_data.score_percentage(score_data.state_average.try(:float_value), range) %>
<% state_average_percentage = 100.to_f - state_average_percentage if inverted && state_average_percentage.present? %>
<% score_rating = score_data.score_rating_color(percentage,false) %>

<div class="row bar-graph-display">
  <div class="test-score-container clearfix">
    <div class="col-xs-12 col-sm-5 subject"><%= score_data.label %>
      <% if score_data.info_text %>
        <%= render 'info_circle', content: score_data.info_text %>
      <% end %>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-xs-12 col-sm-6">
      <div class="bar-graph-container">
        <div class="score"><%= score_data.formatted_score %></div>
        <div class="item-bar">
          <div class="single-bar-viz">
            <div class="color-row rating_<%= score_rating %>" style="width:<%= percentage %>%"></div>
            <div class="grey-row" style="width:<%= grey_score %>%"></div>
            <% if (0..100).cover?(state_average_percentage) %>
              <div class="arrow-up"><span style="top: 11px;left:<%= state_average_percentage %>%"></span></div>
            <% end %>
          </div>
        </div>
      </div>
      <% if (0..100).cover?(state_average_percentage) %>
        <div class="state-average">
          <%= t('school_profiles.rating_score_item.state_average') + ': ' + score_data.formatted_state_average.to_s %>
        </div>
      <% end %>
    </div>
  </div>
</div>