<% ethnicity_data = student_diversity.ethnicity_data %>

<% title = t('.title_html') %>
<% subtitle = t('.subtitle_html') %>

<% # If you change these colors they need to be changed in ethnicity_pie_chart.js %>
<% ethnicity_colors = %w(#184a7d #2ba3dc #08c569 #dca21a #d94373 #fdda46 #0e6ac9 #999EFF) %>

<a name="Student_Diversity"></a>
<div class="student-diversity-container">
  <div class="row">
    <div class="col-xs-12 col-lg-3">
      <div class="rating-container__title">
        <%= title %>
      </div>
    </div>
    <div class="col-xs-12 col-lg-9">
      <p class="subtitle-placement"><%= subtitle %></p>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div id="ethnicity-graph"></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <% ethnicity_data.each_with_index do |val, index |  %>
            <div class="legend-separator js-highlightPieChart" data-slice-id="<%= index %>">
              <div class="legend-square" style="background-color: <%= ethnicity_colors[index] %>"></div>
              <div class="legend-title"><%= val['breakdown'] %></div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="subgroups">
        <div class="row">

        </div>
      </div>
      <div class="gender"> </div>
    </div>
  </div>
</div>
