<% arr = @school_profile.summary_narration.build_content %>
<% qualaroo_link = @school_profile.summary_narration.qualaroo_module_link %>

<div class="auto-narration summary-narration">
  <span>
  <% if arr.length > 4 %>
      <% more = t('.more').capitalize %>
      <%= arr[0..2].join(' ').html_safe %>
      <a class="js-moreRevealLink" href="javascript:void(0)">... <%= more %></a>
      <span class="js-moreReveal" style="display:none">
      <%= arr[3..arr.length].join(' ').html_safe %>
      <%= render 'module_feedback', content: qualaroo_link %>
      </span>
  <% else %>
      <%= arr.join(' ').html_safe %>
      <%= render 'module_feedback', content: qualaroo_link %>
  <% end %>
  </span>
</div>