<% sn = @school_profile.summary_narration %>
<% arr = sn.build_content %>
<% breakpoint_for_more = 3 %>

<% if arr.present? %>
  <div class="auto-narration summary-narration">
    <span>
      <% if @school_profile.summary_rating.test_scores_only? %>
        <% more = t('.more').capitalize %>
        <% arr = sn.build_content_test_score_only %>
        <%= arr[0].html_safe %>
        <a class="js-gaClick js-moreRevealLink more-reveal-link" href="javascript:void(0)" data-ga-click-category="Profile"
           data-ga-click-action="Show More"
           data-ga-click-label="Summary Auto-narrative">... <%= more %></a>
            <span class="js-moreReveal more-reveal">
              <%= arr[1].html_safe %>
              <%= render 'module_feedback', content: sn.qualaroo_module_link_test_only , yml_key: 'was_this_useful_test_only' %>
            </span>
      <% else %>
        <% if arr.length > breakpoint_for_more %>
            <% more = t('.more').capitalize %>
            <%= arr[0..1].join(' ').html_safe %>
            <a class="js-gaClick js-moreRevealLink more-reveal-link" href="javascript:void(0)" data-ga-click-category="Profile"
               data-ga-click-action="Show More"
               data-ga-click-label="Summary Auto-narrative">... <%= more %></a>
            <span class="js-moreReveal  more-reveal">
             <%= arr[2..arr.length].join(' ').html_safe %>
              <% if I18n.locale == :es %>
                <br/><br/>
                <%= image_tag "/assets/school_profiles/brown-owl.svg",  alt: "" %>
                <span class="speech-bubble left">Este al día sobre que esperar este año escolar. <a href="https://pub.s1.exacttarget.com/bkt2mldejgh" rel="nofollow" target="_blank">Aprendes más >></a></span>
              <% end %>
            </span>
        <% else %>
            <%= arr.join(' ').html_safe %>
        <% end %>
      <% end %>
    </span>
  </div>
<% end %>