<% teachers_staff %>
<% data_values = teachers_staff.data_values %>
<% content = teachers_staff.sources %>
<% initial_size = 3 %>
<% analytics_id = 'TeachersStaff' %>
<% analytics_id += '-empty' unless data_values.present? %>

<div id="<%= analytics_id %>" class="teachers-staff">
  <a class="anchor-mobile-offset" name="Teachers_staff"></a>
  <div class="rating-container__rating">
    <div class="module-header">
      <div class="circle-rating--equity-blue circle-rating--medium">
        <span class="icon-user"></span>
      </div>
      <div class="title-container">
        <span class="title"><%= t('.title') %></span></br>
        <span><%= t('.subtitle_html') %></span>
        <%= render 'no_data_for_module', title: t('.title') unless data_values.present? %>
      </div>
    </div>
  </div>
  <% if data_values.present? %>
    <%= render partial: 'rating_score_item', collection: data_values.take(initial_size), as: :score_data %>

    <% if data_values.size > initial_size %>
        <div class="rating-container__more-items">
          <%= render layout:'drawer', locals: { :ga_category => 'Profile', :ga_label => 'Teachers Staff', suffix: t('.title') }  do %>
              <% render partial: 'rating_score_item', collection: data_values[initial_size..-1], as: :score_data %>
          <% end %>
        </div>
    <% end %>
    <div>
      <a data-remodal-target="modal_info_box"
         data-content-type="info_box"
         data-content-html="<%= content %>"
         href="javascript:void(0)">
        <span class="source-link"><%= t('.sources') %></span>
      </a>
    </div>
  <% end %>
</div>
