<% test_scores %>
<% title = t('.title') %>
<% subtitle = t('.subtitle_html') %>
<% rating = test_scores.rating %>
<% qualaroo_module_link = test_scores.qualaroo_module_link %>
<% info_text = test_scores.info_text  %>
<% data_values = test_scores.subject_scores || [] %>
<% initial_size = 3 %>
<% content = test_scores.sources %>
<% analytics_id = 'TestScores' %>
<% analytics_id += '-empty' unless data_values.present? %>
<% narration = test_scores.narration %>

<div id="<%= analytics_id %>" class="rating-container rs-test-scores">
  <a class="anchor-mobile-offset" name="Test_scores"></a>
  <div class="rating-container__rating js-historical-module">
    <%= render "module_header",
      circle_color_modifier: rating,
      circle_content: rating,
      title: t('lib.test_scores.Test scores'),
      subtitle: subtitle,
      info_text: info_text,
      has_data: data_values.present?,
      show_historical_ratings: test_scores.show_historical_ratings?
    %>

    <%=
      if test_scores.show_historical_ratings?
        render 'historical_ratings', historical_ratings: test_scores.historical_ratings,
               title: t('.historical.title'), subtitle: t('.historical.subtitle')
      end
    %>

  <% subjects = data_values.map(&:label) %>
  <% total_items = data_values.size %>
  <% last_test_name = nil %>

  <% render_test_names = subjects.uniq.size < subjects.size %>
  <% if data_values.present? %>
    <div class="panel">
      <% if narration %>
        <div class="auto-narration"><%= narration %></div>
      <% end %>
      <% data_values.take(initial_size).each do |data_value| %>
        <% if render_test_names && last_test_name != data_value.test_label %>
          <div class="item-heading"><%= data_value.test_label %></div>
        <% end %>

        <%= render partial: 'single_score_display', locals: { score_data: data_value } %>
        <% last_test_name = data_value.test_label %>
      <% end %>

      <% if total_items > initial_size %>
        <div class="rating-container__more-items">
          <%= render layout:'drawer', locals: { :ga_category => 'Profile', :ga_label => 'Test Scores', suffix: t('lib.test_scores.Test scores') } do %>
            <% data_values.drop(initial_size).each do |data_value| %>
              <% if render_test_names && last_test_name != data_value.test_label %>
                <div class="item-heading"><%= data_value.test_label %></div>
              <% end %>
              <%= render partial: 'single_score_display', locals: { score_data: data_value } %>
              <% last_test_name = data_value.test_label %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= render partial: 'info_text_and_circle', locals: {cta: test_scores.faq.cta, content: test_scores.faq.content } if data_values.present? %>
    </div>
    <% if data_values.present? %>
      <%= render 'sources_link_to_modal', content: content %>
      <%= render 'module_feedback', content: qualaroo_module_link %>
    <% end %>
  <% end %>
  </div>
</div>
