<% test_scores %>
<% title = 'Test Scores' %>
<% rating = test_scores.rating %>
<% score_items = test_scores.subject_scores || [] %>
<% initial_size = 1 %>

<div class="rating-container--test-scores">
  <div class="row">
    <div class="col-xs-12 col-lg-3">
      <div class="rating-container__title">
        <%= title %>
      </div>
    </div>
    <div class="col-xs-12 col-lg-9">
      <div class="rating-container__rating">
        <div class="circle-rating-with-label">
          <div class="circle-rating-with-label__circle">
            <div class="circle-rating--<%= rating %> circle-rating--medium">
              <%= rating %>
            </div>
          </div>
          <div class="circle-rating-with-label__label
            circle-rating-with-label__label--<%= test_scores.rating %>">
            <%= test_scores.rating_label  %>
          </div>
        </div>
      </div>
      <%= render partial: 'rating_score_item', collection: score_items.take(initial_size), as: :score_data %>

      <% if score_items.size > initial_size %>
        <div class="rating-container__more-items">
          <%= render 'show_more', items: score_items[initial_size..-1] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
