<% claimed_string = claimed.to_s %>

<div id="toc_private">
  <div class="toc-private-header">
    <% I18n.t('.' + claimed_string + '_header', scope:'school_profiles.show_profile').each_with_index do |header_data, i| %>
      <ul>
        <li><%= header_data[:first_bullet] %></li>
        <% if i == 0 %>
          <li><%= link_to "#{header_data[:second_bullet]}", osp_dashboard_url, class: "js-no_ad" %></li>
        <% else %>
          <li><%= header_data[:second_bullet] %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="toc-private-container-box">
    <div class="row">
      <% I18n.t('.toc', scope:'school_profiles.show_profile').each do |column_data| %>
        <div class="col-xs-12 col-sm-4">
          <div class="toc-private-section">
            <div class="toc-private-section-title">
              <a><%= column_data[:title].upcase %></a>
            </div>
            <div>
              <%= column_data[:description] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
