<!--
there is a partial for ratings called toc-entry-rating - need to figure out NR color.
going to build a partial for badges.  it will use the name passed in to generate the sprite name
-->
<div id="toc">
  <div class="container toc-container-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row grid-divider">
            <div class="col-sm-12 col-md-4">
              <%= render 'toc_entry_rating', rating: '8', title: 'Test Scores' %>
              <%= render 'toc_entry_rating', rating: '7', title: 'Equity' %>
              <%= render 'toc_entry_rating', rating: '6', title: 'College Readiness' %>
            </div>
            <div class="col-sm-12 col-md-4">
              <%= render 'toc_entry_rating', rating: '', title: 'Elective Course Offering' %>
              <%= render 'toc_entry_rating', rating: '5', title: 'Health and Safety' %>
              <%= render 'toc_entry_rating', rating: '4', title: 'Demographics' %>
            </div>
            <div class="col-sm-12 col-md-4 hidden-sm-down">
              <%= render 'toc_entry_rating', rating: '1', title: 'Teachers' %>
              <%= render 'toc_entry_rating', rating: '2', title: 'School Resources' %>
              <%= render 'toc_entry_rating', rating: '3', title: 'Sports' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>