<!--
there is a partial for ratings called toc-entry-rating - need to figure out NR color.
going to build a partial for badges.  it will use the name passed in to generate font accessor
-->
<div id="toc">
  <div class="toc-container-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="toc-section-title">
              Academics
            </div>
            <%= render 'toc_entry_rating', rating: @school_profile.test_scores.rating, title: 'Test Scores' %>
            <%= render 'toc_entry_rating', rating: @school_profile.college_readiness.rating, title: 'College Readiness' %>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="toc-section-title">
              Equity
            </div>
            <%= render 'toc_entry_badge', icon: 'shield', title: 'Equity' %>
            <%= render 'toc_entry_rating', rating: @school_profile.equity.rating_low_income.to_f.round,
                       title: 'Low Income Students' %>
          </div>
          <div class="col-xs-12 col-sm-4 hidden-sm-down">
            <div class="toc-section-title">
              Environment
            </div>
            <%= render 'toc_entry_badge', icon: 'shield', title: 'Students' %>
            <%= render 'toc_entry_badge', icon: 'location', title: 'Neighborhood' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>