<% reviews %>
<% title = t('.title') %>
<% topical_review_summary = reviews.summary.topical_review_summary %>

<% if topical_review_summary.present? %>
  <a class="anchor-mobile-offset" name="Topical_Review_Summary"></a>
  <div class="topical-review">
    <div class="topical-review-summary">
      <div class="row">
        <div class="col-xs-12 col-lg-3">
          <div class="topical-title">
            <%= title %>
          </div>
        </div>
        <div class="col-xs-12 col-lg-9">
          <% topical_review_summary.keys.sort.each do |topic| %>
            <a class="js-react-on-rails-component topical_item gs-tipso"
               data-remodal-target="modal_info_box"
               data-content-type="react"
               data-component-name="ReviewDistribution"
               data-props="<%= {distribution: reviews.summary.topical_review_distributions[topic]}.to_json %>"
               data-dom-id="js-topical-review-distribution"
               data-ga-click-label="topical review summary - <%= topic %>"
               href="javascript:void(0)">
              <span class="answer-icon topic-icon <%= topical_review_summary[topic][:average].downcase.gsub(' ', '-') %>"></span>
              <span class="topic-details"><%= topic %>&nbsp;(<%= topical_review_summary[topic][:count] %>)</span>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div id="js-topical-review-distribution" style="display:none;">
    </div>
  </div>
<% end %>
