<%= render 'tour_modal' %>

<div
class='tour-teaser'
data-content-type="info_box"
data-remodal-target="modal_info_box"
data-content-html='<div><div><h3><%= image_tag('school_profiles/brown-owl.svg', alt: '') %> <%= t('school_profiles.Welcome')%></h3><%= t('school_profiles.tour_tooltip_content')%></div><br/><button class="tour-cta js-start-tour active"><%= t('school_profiles.Take_a_quick_tour')%></button></div>' >
  <%= webpack_image_tag('school_profiles/brown-owl.svg', alt: '') %>
  <button class="active">?</button>
</div>

