<% encoded_address = ERB::Util.url_encode(address) %>
<% sources = t("school_profiles.xq.sources") %>

<div class="module-header xq_school_board_module_mobile">
  <div class="row">
    <div class="col-xs-12">
      <div class="circle-rating--equity-blue">
        <span class="icon-high-performing-schools"></span>
      </div>
      <div class="title-container">
        <div>
          <h3 class="title">
            <%= t("school_profiles.xq.school_board_finder_html", address: encoded_address) %>
          </h3>
        </div>
        <span><%= t("school_profiles.xq.learn_more_school_board") %></span>
        <div class="powered"><%= t('xq.powered_by_xq', scope: 'community.district') %></div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <div class="circle-rating--equity-blue">
        <%= image_tag image_path("icons/home_icon.svg"), width: '25px' %>
      </div>
      <div class="title-container">
        <div>
          <h3 class="title">
            <%= t("school_profiles.homes_sales.homes_nearby_html", query: "#{@school.state}-#{@school.zipcode}") %>
          </h3>
        </div>
        <span><%= t("school_profiles.homes_sales.homes_body") %></span>
        <div class="powered"><%= t('homes_sales.powered_by_zillow', scope: 'community.district') %></div>
      </div>
    </div>
  </div>
</div>
