<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag 'react-redux', defer: true %>
  <%= webpack_javascript_include_tag 'school-profiles', defer: true %>
<% end %>
<div class="school-profile">
  <%= render 'community/breadcrumbs', breadcrumbs: @private_school_profile.breadcrumbs %>
  <%= render 'hero', hero: @private_school_profile.hero %>
  <%= render 'school_profile_sticky_cta', rating: '' %>
  <!-- main content -->
  <div class="static-container">
    <div class="right_rail">
      <%= render 'sticky_right_rail', private_school_flag: true %>
    </div>
    <div class="content">

      <div>
        <%= render 'toc_private',
          mailto: @private_school_profile.mailto,
          claimed: @private_school_profile.claimed %>
      </div>
        <%= render 'shared/ad', slotId: 'greatschools_Profiles_Second', css_class: 'hidden-xs hidden-sm' %>
      <div>
        <div id="js-ctaShow"></div>
      </div>
      <%= render 'shared/ad', slotId: 'greatschools_Profiles_First', css_class: 'visible-xs visible-sm', id_counter: 2 %>
      <div class="profile-section">
        <div class="row">
          <div class="col-xs-12 col-lg-3">
            <div class="section-title">
              <%= I18n.t('overview', scope:'school_profiles.show_profile') %>
            </div>
            <div class="left-rail-jumpy-ad" style="position: fixed; width: 175px; height: 205px; padding-bottom: 30px">
              <%= render 'shared/ad', slotId: 'greatschools_Profiles_175x175', css_class: 'hidden-xs visible-lg', show_ad_text: false %>
            </div>
          </div>

          <div class="col-xs-12 col-lg-9">
            <% osp_link = osp_register_path(city: @school.city, school_id: @school.id.to_s, state: @school.state).gsub(/\/$/, '') %>
            <div class="profile-section-slot">
              <%= render 'osp_school_info', osp_link: osp_link, osp_school_info: @private_school_profile.osp_school_info %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/ad', slotId: 'greatschools_Profiles_Second', css_class: 'hidden-md hidden-lg', id_counter: 2 %>
      <div class="profile-section">
        <div class="row">
          <div class="col-xs-12 col-lg-3">
            <div class="section-title">
              <%= I18n.t('environment', scope:'school_profiles.show_profile') %>
            </div>
          </div>
          <div class="col-xs-12 col-lg-9">
            <div class="profile-section-slot">
              <%= render 'students', students: @private_school_profile.students %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/ad', slotId: 'greatschools_Profiles_Third', css_class: 'mbl' %>
      <div>
        <%= render 'review_summary', reviews: @private_school_profile.reviews %>
      </div>

      <div>
        <%= render 'reviews',
                   review_questions: @private_school_profile.review_questions,
                   reviews: @private_school_profile.reviews,
                   on_demand: @private_school_profile.reviews_on_demand
        %>
      </div>

    </div>
  </div>

  <div class="profile-section">
    <%= render 'shared/ad', slotId: 'greatschools_Profiles_Fourth', css_class: 'mbl' %>
  </div>
  <a name="Neighborhood" id="Neighborhood"></a>
  <div class="profile-section">
    <%= render 'neighborhood', neighborhood: @private_school_profile.neighborhood %>
  </div>

  <div class="profile-section">
    <%= render 'nearby_schools', nearby_schools: @private_school_profile.nearby_schools %>
  </div>

  <%= render 'shared/bottom_mobile_ad' %>

</div>

<%= react_component('ProfileInterstitialAd') %>
<%= react_component('SearchBoxWrapper') %>