<%= render 'breadcrumbs', breadcrumbs: @breadcrumbs %>
<%# <div class="hidden-xs-down"><%= @school.name %1></div> %>
<%# <div class="hidden-xs-down"><%= @school.name %1></div> %>
<%# <div class="dropdown open"> %>
<%#   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> %>
<%#     Dropdown button %>
<%#   </button> %>
<%#   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> %>
<%#     <a class="dropdown-item" href="#">Action</a> %>
<%#     <a class="dropdown-item" href="#">Another action</a> %>
<%#     <a class="dropdown-item" href="#">Something else here</a> %>
<%#   </div> %>
<%# </div> %>
<%= render 'hero', hero: @school_profile.hero %>
<%= render 'toc' %>

