<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag 'react-redux', defer: true %>
  <%= webpack_javascript_include_tag 'school-profiles', defer: true %>
<% end %>
<div class="school-profile">
  <%= render 'breadcrumbs', breadcrumbs: @private_school_profile.breadcrumbs %>
  <%= render 'hero', hero: @private_school_profile.hero %>
  <%= render 'school_profile_sticky_cta', rating: '' %>
  <!-- main content -->
  <div class="static-container">
    <div class="right_rail">
      <%= render 'sticky_right_rail' %>
    </div>
    <div class="content">

      <div>
        <%= render 'toc_private',
          mailto: @private_school_profile.mailto,
          claimed: @private_school_profile.claimed %>
      </div>
      <div>
        <div id="js-ctaShow"></div>
      </div>
      <%= render 'shared/ad', slot: 'Profiles_First', size_mapping: 'box_or_tall',
                 width: 300, height: 250, css_class: 'visible-xs visible-sm', id_counter: 2 %>
      <div class="profile-section">
        <div class="row">
          <div class="col-xs-12 col-lg-3">
            <div class="section-title">
              <%= I18n.t('overview', scope:'school_profiles.show_profile') %>
            </div>
          </div>

          <div class="col-xs-12 col-lg-9">
            <% osp_link = osp_register_path(city: @school.city, school_id: @school.id.to_s, state: @school.state).gsub(/\/$/, '') %>
            <div class="profile-section-slot">
              <%= render 'osp_school_info', osp_link: osp_link, osp_school_info: @private_school_profile.osp_school_info %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/ad', slot: 'Profiles_Second', size_mapping: 'thin_banner',
                 width: 320, height: 50, css_class: 'mbl' %>
      <div class="profile-section">
        <div class="row">
          <div class="col-xs-12 col-lg-3">
            <div class="section-title">
              Environment
            </div>
          </div>
          <div class="col-xs-12 col-lg-9">
            <div class="profile-section-slot">
              <%= render 'students', students: @private_school_profile.students %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/ad', slot: 'Profiles_Third', size_mapping: 'thin_banner',
                 width: 320, height: 50, css_class: 'mbl' %>
      <div>
        <%= render 'review_summary', reviews: @private_school_profile.reviews %>
      </div>

      <div>
        <%= render 'reviews',
                   review_questions: @private_school_profile.review_questions,
                   reviews: @private_school_profile.reviews
        %>
      </div>

    </div>
  </div>

  <div class="profile-section">
    <%= render 'shared/ad', slot: 'Profiles_Fourth', size_mapping: 'thin_banner_or_box',
             width: 320, height: 50, css_class: 'mbl' %>
  </div>
  <a name="Neighborhood" id="Neighborhood"></a>
  <div class="profile-section">
    <%= render 'homes_and_rentals', school: @school %>
  </div>
  <div class="profile-section">
    <%= render 'neighborhood', neighborhood: @private_school_profile.neighborhood %>
  </div>

  <div class="profile-section">
    <%= render 'nearby_schools', nearby_schools: @private_school_profile.nearby_schools %>
  </div>
  <%= render 'shared/bottom_mobile_ad' %>

</div>
