<% content_for :head do %>
  <link rel="preload" href="<%= asset_path('school_profiles/hero_bg.jpg') %>" as="image">
<% end %>
<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag 'react-redux', defer: true %>
  <%= webpack_javascript_include_tag 'school-profiles', defer: true %>
<% end %>
<div class="overlay" style="display:none"></div>
<div class="school-profile">
    <%= render 'breadcrumbs', breadcrumbs: @school_profile.breadcrumbs %>
    <%= render 'hero', hero: @school_profile.hero %>
    <%= render 'school_profile_sticky_cta', rating: @school_profile.hero.gs_rating %>

    <!-- main content -->
    <div class="static-container">
      <div class="right_rail">
        <%= render 'sticky_right_rail', private_school_flag: false, address: @school_profile.hero.school_address %>
      </div>
      <div class="content">
        <div class="profile-section">
          <%= render 'summary_narration' if @school_profile.summary_narration.present? %>
        </div>
        <%= render 'csa_badge', college_success: @school_profile.college_success %>
        <div class="profile-section">
          <%= render 'toc' %>
        </div>
        <div>
          <div id="js-ctaShow"></div>
        </div>
        <%= render 'shared/ad', slot: 'Profiles_First', size_mapping: 'box_or_tall',
                   width: 300, height: 250, css_class: 'visible-xs visible-sm', id_counter: 2 %>

        <a class="anchor-mobile-offset" name="Academics"></a>
        <div class="profile-section">

          <div class="row">
            <div class="col-xs-12 col-lg-3">
              <h2 class="section-title">
                <%= t('school_profiles.toc.ACADEMICS') %>
              </h2>
              <div class="left-rail-jumpy-ad" style="position: fixed; width: 175px; height: 205px; padding-bottom: 30px">
                <%= render 'shared/ad', slot: 'Profiles_175x175', width: 175, height: 175, css_class: 'hidden-xs visible-lg', id_counter: 1, show_ad_text: false %>
              </div>
            </div>
            <div class="col-xs-12 col-lg-9">
              <% if @school_profile.show_high_school_data %>
                <div class="profile-section-slot">
                  <%= render 'college_readiness', college_readiness: @school_profile.college_readiness %>
                </div>

                <% if @school.state == 'CA' %>
                  <div class="profile-section-slot">
                    <%= render 'csa_info' %>
                  </div>
                <% end %>

                <% if @school_profile.college_success.visible? %>
                    <div class="profile-section-slot">
                      <%= render 'college_success', college_success: @school_profile.college_success %>
                    </div>
                <% end %>
              <% end %>

              <div class="profile-section-slot">
                <%= render 'test_scores', test_scores: @school_profile.test_scores %>
              </div>

              <% if @school.state == 'CA' && !@school_profile.show_high_school_data %>
                <div class="profile-section-slot">
                  <%= render 'csa_info' %>
                </div>
              <% end %>

              <%# NOTE LOGIC FOR STUDENT PROGRESS (SP) vs. ACADEMIC PROGRESS (AP):
                If a school is in a SP state and is a elementary(E) or middle (M) school, it will display the StudentProgress module 
                If a school is in a SP state and is a high(H) school, it will check to see if any other H schools have this rating to display
                the module or not
                If a school is in a AP state and is a elementary(E) or middle (M) school, it will display the AcademicProgress module 
                If a school is in a AP state and is a high(H) school, it will check to see if any other H schools have this rating to display
                the module or not
                If a school is in a state with NEITHER AP or SP it will display NOTHING
              %>
              <% if @school_profile.student_progress.student_progress_state? && @school_profile.student_progress.visible? %>
                <div class="profile-section-slot">
                  <%= render 'student_progress', student_progress: @school_profile.student_progress %>
                </div>
              <% elsif @school_profile.academic_progress.academic_progress_state? && @school_profile.academic_progress.visible? %>
                <div class="profile-section-slot">
                  <%= render 'academic_progress', academic_progress: @school_profile.academic_progress %>
                </div>
              <% end %>

              <% if @school.includes_level_code?(%w[m h]) %>
                <div class="profile-section-slot">
                  <% if @school_profile.stem_courses.visible? %>
                    <%= render(
                      'stem_courses',
                      stem_courses: @school_profile.stem_courses
                    ) %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <%= render 'shared/ad', slot: 'Profiles_Second', size_mapping: 'wide_or_box',
                   width: 320, height: 50, css_class: 'mbl' %>
        <div>
          <%= render 'equity', equity: @school_profile.equity, equity_overview: @school_profile.equity_overview %>
        </div>

        <div class="profile-section">
          <div class="row">
            <div class="col-xs-12 col-lg-3">
              <h2 class="section-title">
                <%= t('school_profiles.toc.ENVIRONMENT') %>
              </h2>
            </div>

            <div class="col-xs-12 xq_school_board_module_mobile_container">
              <%= render 'xq_school_board_module_mobile', address: @school_profile.hero.school_address %>
            </div>

            <div class="col-xs-12 col-lg-9">
              <% osp_link = osp_register_path(city: @school.city, school_id: @school.id.to_s, state: @school.state).gsub(/\/$/, '') %>

              <div class="profile-section-slot">
                <%= render 'osp_school_info', osp_link: osp_link, osp_school_info: @school_profile.osp_school_info %>
              </div>
              <div class="profile-section-slot">
                <%= render 'students', students: @school_profile.students %>
              </div>
              <div class="profile-section-slot">
                <%= render 'teachers_staff', teachers_staff: @school_profile.teachers_staff %>
              </div>
            </div>
          </div>
        </div>

        <%= render 'shared/ad', slot: 'Profiles_Third', size_mapping: 'thin_banner',
                   width: 320, height: 50, css_class: 'mbl' %>

        <div class="profile-section">
          <%= render 'review_summary', reviews: @school_profile.reviews %>
        </div>

        <div>
          <%= render 'reviews',
            review_questions: @school_profile.review_questions,
            reviews: @school_profile.reviews,
            on_demand: @school_profile.reviews_on_demand
          %>
        </div>
      </div>
    </div>

    <div class="profile-section">
      <%= render 'shared/ad', slot: 'Profiles_Fourth', size_mapping: 'thin_banner_or_box',
               width: 320, height: 50, css_class: 'mbl' %>
    </div>
    <a name="Neighborhood" id="Neighborhood"></a>
    <div class="profile-section">

      <%= render 'homes_and_rentals', school: @school %>

    </div>

    <div class="profile-section">
      <%= render 'neighborhood', neighborhood: @school_profile.neighborhood %>
    </div>

    <div class="profile-section">
      <%= render 'nearby_schools', nearby_schools: @school_profile.nearby_schools %>
    </div>

    <%= render 'shared/bottom_mobile_ad' %>
</div>

<%= react_component('ProfileInterstitialAd') %>
<%= react_component('SearchBoxWrapper') %>