<%= render 'breadcrumbs', breadcrumbs: @breadcrumbs %>
<%# <div class="hidden-xs-down"><%= @school.name %1></div> %>
<%# <div class="hidden-xs-down"><%= @school.name %1></div> %>
<%# <div class="dropdown open"> %>
<%#   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> %>
<%#     Dropdown button %>
<%#   </button> %>
<%#   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> %>
<%#     <a class="dropdown-item" href="#">Action</a> %>
<%#     <a class="dropdown-item" href="#">Another action</a> %>
<%#     <a class="dropdown-item" href="#">Something else here</a> %>
<%#   </div> %>
<%# </div> %>
<%= render 'hero', hero: @school_profile.hero %>
<!-- main content -->
<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <%= render 'toc' %>
      <br/><br/>
      <%= render 'test_scores', test_scores: @school_profile.test_scores %>
      <br/><br/>
      <%= render 'college_readiness', college_readiness: @school_profile.college_readiness %>
      <br/><br/>
      <%= render 'test_score_graph', score: 2, state_score: 54, score_rating: 1 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 12, state_score: 84, score_rating: 2 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 22, state_score: 34, score_rating: 3 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 32, state_score: 54, score_rating: 4 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 42, state_score: 64, score_rating: 5 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 52, state_score: 74, score_rating: 6 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 62, state_score: 84, score_rating: 7 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 72, state_score: 14, score_rating: 8 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 82, state_score: 4, score_rating: 9 %>
      <br/><br/>
      <%= render 'test_score_graph', score: 92, state_score: 94, score_rating: 10 %>
      <br/><br/>
    </div>
    <!-- right rail -->
    <div class="col-md-4 col-lg-3">
      <%= render 'school_profile_sticky_cta' %>
    </div>
  </div>
</div>
