<% yml_path = 'nav.header.navigation.featured.' %>
<li><a href="/gk/category/character/"><%= t(yml_path + 'building_character') %></a></li>
<li><a href="/gk/road-to-college/"><%= t(yml_path + 'road_to_college') %></a></li>
<li><a href="/gk/cue-cards/"><%= t(yml_path + 'parenting_cue_cards') %></a></li>
<li class="hidden-sm"><a href="/gk/emotional-smarts/"><%= t(yml_path + 'emotional_smarts') %></a></li>
<li class="hidden-sm"><a href="/gk/worksheets/"><%= t(yml_path + 'worksheets') %></a></li>