<% yml_path = 'nav.header.navigation.featured.' %>
<li><a href="/gk/category/character/"><%= t(yml_path + 'building_character') %></a></li>
<li><a href="/gk/common-core-test-guide/"><%= t(yml_path + 'state_test_guide') %></a></li>
<li><a href="/gk/cue-cards/"><%= t(yml_path + 'parenting_cue_cards') %></a></li>
<li class="hidden-sm"><a href="/gk/tag/first-to-college/"><%= t(yml_path + 'first_to_college') %></a></li>
<li class="hidden-sm"><a href="/gk/worksheets/"><%= t(yml_path + 'worksheets') %></a></li>
