<div class="navigation tc">
  <nav class="tc">
    <ul class="menu menu_hide_mobile">

      <li class="">
        <!-- First Tier Drop Down -->
        <label for="drop-1" class="toggle"><%= t('.parenting.title')%> <span style="font-size:10px;"></span></label>
        <a href="#"><%= t('.parenting.title')%> <span style="font-size:10px;"></span></a>
        <input type="checkbox" id="drop-1"/>
        <ul>
          <li>
            <label for="drop-2" class="toggle"><%= t('.parenting.raising_kids')%> </label>
            <a href="#"><%= t('.parenting.raising_kids')%> </a>
            <input type="checkbox" id="drop-2"/>
            <ul>
              <li><a href="/gk/category/dilemmas/"><%= t('.parenting.parenting_dilemmas')%></a></li>
              <li><a href="/gk/emotional-smarts/"><%= t('.parenting.emotional_smarts')%></a></li>
              <li><a href="/gk/category/health/"><%= t('.parenting.health_and_development')%></a></li>
              <li><a href="/gk/category/smart-strategies/"><%= t('.parenting.smart_strategies')%></a></li>
              <li><a href="/gk/category/early-learning/"><%= t('.parenting.early_learning')%></a></li>
            </ul>
          </li>

          <li>
            <label for="drop-3" class="toggle"><%= t('.parenting.smart_strategies')%> </label>
            <a href="#"><%= t('.parenting.school_life')%></a>
            <input type="checkbox" id="drop-3"/>
            <ul>
              <li><a href="/gk/category/find-a-school-skills/"><%= t('.parenting.finding_the_right_school')%></a></li>
              <li><a href="/gk/category/education-trends/"><%= t('.parenting.education_trends')%></a></li>
              <li><a href="/gk/road-to-college/"><%= t('.parenting.road_to_college')%></a></li>
            </ul>
          </li>
          <li>
            <label for="drop-4" class="toggle"><%= t('.parenting.academics')%> </label>
            <a href="#"><%= t('.parenting.academics')%> </a>
            <input type="checkbox" id="drop-4"/>
            <ul>
              <li><a href="/gk/category/academics/reading-2/"><%= t('.parenting.reading')%></a></li>
              <li><a href="/gk/category/academics/math-2/"><%= t('.parenting.math')%></a></li>
              <li><a href="/gk/category/academics/writing-2/"><%= t('.parenting.writing')%></a></li>
              <li><a href="/gk/category/academics/science/"><%= t('.parenting.science')%></a></li>
              <li><a href="/gk/category/academics/arts/"><%= t('.parenting.arts')%></a></li>
              <li><a href="/gk/category/academics/stem/"><%= t('.parenting.stem')%></a></li>
              <li><a href="/gk/category/academics/social-studies/"><%= t('.parenting.social_studies')%></a></li>
              <li><a href="/gk/milestones/"><%= t('.parenting.milestones')%></a></li>
              <li><a href="/gk/common-core-test-guide/"><%= t('.parenting.state_test_guide')%></a></li>
            </ul>
          </li>

          <li>
            <label for="drop-5" class="toggle"><%= t('.parenting.learning_issues')%> </label>
            <a href="#"><%= t('.parenting.learning_issues')%> </a>
            <input type="checkbox" id="drop-5"/>
            <ul>
              <li><a href="/gk/category/learning-disabilities/"><%= t('.parenting.learning_disabilities')%></a></li>
              <li><a href="/gk/category/gifted/"><%= t('.parenting.gifted')%></a></li>
              <li><a href="/gk/category/attention-disorders/"><%= t('.parenting.attention_disorders')%></a></li>
              <li><a href="/gk/category/reading-disorders/"><%= t('.parenting.reading_disorders')%></a></li>
              <li><a href="/gk/category/special-needs/"><%= t('.parenting.special_needs')%></a></li>
            </ul>
          </li>
          <li><a href="/gk/book-lists/"><%= t('.parenting.book_lists')%></a></li>
          <li><a href="/gk/worksheets/"><%= t('.parenting.worksheets')%></a></li>
        </ul>
      </li>
      <li class="">
        <a class="js-donate-link hidden-sm" href="https://greatschools.networkforgood.com/" target="_blank" style="color: #659714;"><%= t('.donate')%></a>
      </li>
      <li class=""><a class="hidden-sm jsChangeLanguageLink" href="#"><%= t('.language')%></a></li>
      <li class="account_nav_out"><a href="/gsr/login/"><%= t('.sign_in') %></a></li>
      <li class="account_nav_in dn">
        <label for="drop-7" class="toggle"><%= t('.my_account') %> </label>
        <a href="#"><%= t('.my_account') %> </a>
        <input type="checkbox" id="drop-7"/>
        <ul>
          <li><a href="/account/"><%= t('.account_settings')%></a></li>
          <li><a href="/logout/"><%= t('.sign_out') %></a></li>
        </ul>
      </li>
      <li class="featured_visible_mobile featured">
        <label for="drop-6" class="toggle"><span><%= t('.featured.title') %></span> </label>
        <a href="#"><%= t('.featured.title') %> </a>
        <input type="checkbox" id="drop-6"/>
        <ul>
          <%= render 'nav/header/featured_links' %>
        </ul>
      </li>
    </ul>
  </nav>
</div>