<div class='search_icon'>
  <span class="search_icon_image"></span>
</div>
<div class="search_bar search_hide_mobile">
  <div class="dt-desktop">
    <div class="mobile-toggle-button active font-size-medium tac tav js-choose-school-search">
      <%= t('nav.header.navigation.schools')%>
    </div><div id="" class="mobile-toggle-button font-size-medium tac tav js-choose-content-search">
    <%= t('nav.header.navigation.parenting_topics')%>
  </div>
    <div class="search_hide_mobile desktop-search-toggle js-desktop-search-toggle">
      <a class="js-desktop-search-toggle-link js-school-search"> <%= t('nav.header.navigation.schools')%> </a>
      <span class="desktop-toggle-search-arrow">&#x25bc;</span>
      <div class="desktop-search-menu js-desktop-search-menu">
        <a class="dropdown-item js-desktop-search-dropdown-item"><%= t('nav.header.navigation.parenting.title')%></a>
      </div>
    </div>
    <%= render 'nav/header/search_form' %>
  </div>
</div>