<div id="js-assigned-school-<%=level.downcase%>" class="pam dn">
    <div class="row search-result-border emphasis-border prm bg-white">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-12 clearfix">
                    <div class="fl hidden-xs hidden-sm" style="width:140px;">
                        <div class="pvs plm font-size-small inverted-text bg-emphasis uc">Assigned school</div>
                    </div>
                    <div class="mll fl ptm">
                        <div class="font-size-small gray-darker">It looks like this is your assigned
                            <%= level %> school, but we recommend double-checking with the
                            district or school<span class="brand-primary">*</span></div>
                        <hr class="mvn"/>
                    </div>
                </div>
                <div class="col-xs-7 col-sm-5 col-md-6 clearfix">
                    <div class="fl hidden-xs hidden-sm js-photo">
                        <img class="thumbnail-border" src="<%= image_path('search/no-school-photo.png')%>" alt="No school photo available"/>
                    </div>
                    <div class="mll fl">
                        <div class="ptm notranslate">
                            <div><a class="js-name open-sans_sb mbs font-size-medium" style="line-height: 1.1em"></a></div>
                            <div class="hidden-xs font-size-small js-address"></div>
                            <div class="clearfix visible-xs font-size-small">
                                <div class="prs fl js-type"></div>
                                <div class="fl js-grade-range"></div>
                            </div>
                        </div>
                        <div class="font-size-small mvm clearfix ptm hidden-xs">
                            <div class="fl">
                                <span class="prm vam js-parent-rating-stars"><%= draw_stars_16 1 %></span>
                                <a class="font-size-small js-review-count"></a>
                                <em class="js-no-reviews">No Community Reviews</em>
                            </div>
                            <div class="phm fl">|</div>
                            <div class="prs fl js-type"></div>
                            <div class="fl js-grade-range"></div>
                            <div class="visible-xs phm fl">|</div>
                            <div class="visible-xs fl js-distance"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-4 ">
                    <div class="ptl hidden-xs"></div>
                    <div class="row">
                        <!-- Distance -->
                        <div class="hidden-xs col-sm-4 mtl mbm font-size-xs">
                            <div class="iconx24-icons i-24-new-grey_map_pin ma db vam"></div>
                            <span class="tac db js-distance"></span>
                        </div>
                        <!-- GS Rating -->
                        <div class="col-xs-6 col-sm-4 mvl">
                            <a class="js-gs-rating-link">
                                <div class="ma db iconx24-icons i-24-new-ratings-nr js-gs-rating-icon"></div>
                                <div class="hidden-xs pts"></div>
                                <span class="tac font-size-xs db link-darkgray" style="line-height: 1.3em">GreatSchools<br/>Rating</span>
                            </a>
                        </div>
                        <!-- Fit score -->
                        <div class="col-xs-6 col-sm-4 mtl mbs js-fitScore"></div>
                    </div>
                </div>
                <!-- TODO: Homes for Sale / Compare-->
                <div class="hidden-xs col-sm-3 col-md-2 tar pvl">
                  <div class="dib" style="width:150px;">
                    <div class="btn btn-default clearfix mbm db pull-left js-compareSchoolButton"
                         style="width:150px"
                         data-schoolname=""
                         data-schoolstate=""
                         data-schoolid=""
                         data-schoolrating="nr"
                    >
                      <div class="iconx16 i-16-gray-check-bigger fl mrs "></div>
                      <div class="fl js-compareSchoolsButtonText">Compare</div>
                    </div>
                    <div class="js-compareSchoolsText pull-left db dn pts pls">
                      <span class='pointer js-compareSchoolsSubmit brand-primary dn font-size-small'>Compare now</span>
                      <span class='js-compareSchoolsSelectMoreSchoolsText dn font-size-small'>Select more</span>
                      (<span class="js-compareSchoolsCount">0</span>/4)
                    </div>

                    <a class="btn btn-default clearfix mts db fr js-homes-for-sale" style="width: 150px;" target="_blank">
                        <div class="iconx16 i-16-home fl mrs"></div>
                        <div class="fl">Homes for sale</div>
                    </a>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 visible-xs clearfix phl pbm font-size-small">
            <div class="fl">
                <span class="prm vam js-parent-rating-stars"><%= draw_stars_16 1 %></span>
                <a class="font-size-small js-review-count"></a>
                <em class="js-no-reviews">No Community Reviews</em>
            </div>
            <div class="fr js-distance"></div>
        </div>
    </div>
</div>
