<div class="visible-xs pbm">
    <!-- button bar / button group. Look at guided search for dress code.  btn-group  -->
    <div class="btn-group row full-width" style="margin-left: 0px;">
        <% show_guided_search = true #ToDo add a check for hub mapping to allow guided-search %>
        <% state = 'delaware' #ToDo set state to actual state %>
        <button type="button" class="btn btn-primary <%= show_guided_search ? 'col-xs-4' : 'col-xs-6' %> js-searchFiltersDropdownMobile" style="font-size:11px; border-radius: 0px;margin-left: 0px;">
          <span class="iconx16 i-16-white-check-box vam"></span>
          Filters
        </button>
        <% if show_guided_search %>
          <a type="button" class="btn btn-primary col-xs-4" style="border-left: thin solid white; font-size:11px; border-radius: 0px;margin-left: 0px;"
            href="<%= state_guided_search_path(state: state) %>">
            <span class="iconx16 i-16-white-info vam"></span>
            Guide Me
          </a>
        <%end %>
        <button type="button" class="btn btn-primary <%= show_guided_search ? 'col-xs-4' : 'col-xs-6' %> js-search-toggle-map-view" style="border-left: thin solid white; font-size:11px; border-radius: 0px; margin-left: 0px;">
          <span class="iconx16 i-16-white-map-view vam"></span>
          Map
        </button>
    </div>
</div>
<div class="limit-width-1200 pr plm prm">
  <div class="pa ptl pbl">
    <div class="hidden-xs zir-1 js-searchFiltersDropdown toolbar-text open-sans_b">Refine Search<span class="caret"></span>
    </div>
    <div class="dn zir-1 ptm prm pbm js-searchFiltersMenu">
      <div class="ptm panel panel-primary">
        <div class="clearfix js-searchFiltersFormParent">
          <%= render 'search/filter_form' %>
        </div>
        <div class="clearfix pal">
          <label class="fl">
            <a class="js-advancedFilters">More Filters</a>
          </label>
          <button class="btn btn-default fr js-submitSearchFiltersForm" type='submit'>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-xs limit-width-1200 full-width row ptl prm pbl plm">
  <div class="col-xs-5">
    <div class="pa" style="padding-left:150px">
      <% if show_guided_search %>
        <span class="iconx16 i-16-blue-info vam"></span>
        <a class='toolbar-text open-sans_b' href='<%= state_guided_search_path(state: state) %>'>Guide Me</a>
      <% end %>
    </div>
  </div>
  <div class="col-xs-7 clearfix">
    <div class="fr">
      <span class="js-search-list-view">
      <span  class="iconx16 i-16-grey-list-view vam"></span>
      List
      </span>
      |
      <span class="js-search-map-view">
      <span  class="iconx16 i-16-blue-map-view vam"></span>
        Map
      </span>
    </div>
  </div>
</div>


