<div class="limit-width-1200 full-width row ptm plm prm">
  <div class="col-xs-3 ptm">
    <div class="dropdown drowpdown-large">
      <div data-toggle='dropdown' class="dropdown-toggle">Refine Search<span class="caret"></span></div>
      <ul class="dropdown-menu row" id="searchResultsFilterMenu" style="width:500px;">
	      <form name="searchResultsFilterForm" action=<%="/#{@state[:long]}/#{@city[:name]}/schools"%> method="get">
          <li class="pal col-xs-6">
            <div class="ptm">
              <span>School Types</span><br>
            </div>
            <div class="divider" style="height: 2px; background-color: darkgrey"></div>
            <div>
	            <% ['public', 'private', 'charter'].each do |school_type| %>
		            <span><input type="checkbox" name='st[]' value=<%=school_type%>
                <%if @params_hash.include?('st') && @params_hash['st'].include?(school_type)%>checked<%end%>><%=school_type.capitalize %></span><br>
	            <% end %>
            </div>
            <div class="ptl">
              <span>Quality</span><br>
            </div>
            <div class="divider" style="height: 2px; background-color: darkgrey"></div>
            <div>
             <span>GS Rating</span><br>
             <span>Local Rating</span><br>
             <span>Growth Rating</span><br>
             <span>Test Score Rating</span><br>
             <span>College Readiness Rating</span><br>
            </div>
          </li>
          <li class="pal col-xs-6">
            <div class="ptm">
              <span>Child Care Programs</span><br>
            </div>
            <div class="divider" style="height: 2px; background-color: darkgrey"></div>
            <div>
              <% ['afterSchool', 'summerPrograms', 'childCare'].each do |program| %>
		            <span><input type="checkbox" name='beforeAfterCare[]' value=<%=program%>
                <%if @params_hash.include?('beforeAfterCare') && @params_hash['beforeAfterCare'].include?(program)%>checked<%end%>><%=program.capitalize %></span><br>
              <% end %>
            </div>
            <div class="ptl">
              <span>Sports</span><br>
            </div>
            <div class="divider" style="height: 2px; background-color: darkgrey"></div>
            <div>
             <span>Basketball</span><br>
             <span>Baseball</span><br>
             <span>Hockey</span><br>
             <span>Soccer</span><br>
             <span>Swimming</span><br>
            </div>
          </li>
          <div class="col-xs-12">
            <button class="btn btn-default pull-right mrm mbm"type='submit'>Submit</button>
          </div>
        </form>

      </ul>
    </div><br>
  </div>
  <div class="col-xs-2 ptm">??Guide Me??</div>
  <div class="col-xs-7">
    <div class="fr">
      <%=image_tag 'nav/hamburger.png'%> list | <span class="iconx16 i-16-map-pin"></span>Map
    </div>
  </div>
</div>
