

<div class="visible-xs">
    <div class="btn-group row full-width mln js-mobileFiltersToolbar">
        <button type="button" class="btn btn-primary nav-button nav-button-font <%= @show_guided_search ? 'col-xs-4' : 'col-xs-6' %> js-searchFiltersDropdownMobile">
          <span class="iconx16 i-16-white-check-box vam"></span>
          Filters
        </button>
        <% if @show_guided_search %>
          <a type="button" class="btn btn-primary col-xs-4 nav-button nav-button-left-border nav-button-font"
            style="color: white;"
            href="<%= guided_search_path(@hub) %>">
            <span class="iconx16 i-16-white-info vam"></span>
            Guide Me
          </a>
        <%end %>
        <button type="button" class="btn btn-primary nav-button nav-button-left-border nav-button-font <%= @show_guided_search ? 'col-xs-4' : 'col-xs-6' %> js-search-toggle-map-view">
          <span class="iconx16 i-16-white-map-view vam"></span>
          <span class="js-toggle-list-map-view-text">Map</span>
        </button>
    </div>
</div>
<div class="limit-width-1200 pr plm prm">
  <div class="pa ptl pbm hidden-xs">
    <div class="hidden-xs zir-1 js-searchFiltersDropdown toolbar-text open-sans_sb  gs-tooltip pointer js-open-tooltip" data-toggle="tooltip"
         title="Use filters to find schools that meet your needs"
          data-placement="right" data-html="true"
         style="max-width: 125px">
        Refine Search<span class="caret"></span>
    </div>


    <div class="dn zir-1 ptm prm pbm js-searchFiltersMenu">
      <div class="ptm panel panel-primary mbn">
        <div class="clearfix js-searchFiltersFormParent">
          <%= @renderedFilters %>
        </div>
        <div class="clearfix pal">
          <label class="fl">
            <a class="js-advancedFilters pointer">More Filters</a>
          </label>
          <button class="btn btn-default fr js-submitSearchFiltersForm" type='submit'>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-xs limit-width-1200 full-width row ptl prm plm">
  <div class="col-xs-5">
    <div class="pa" style="padding-left:150px">
      <% if @show_guided_search %>
        <div class="iconx16 i-16-blue-info vam pull-left mas "></div>
        <div class="pull-left"><a class='toolbar-text open-sans_sb' href='<%= guided_search_path(@hub) %>'>Guide Me</a></div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-7 clearfix">
    <div class="fr">
      <span class="js-search-list-view pointer">
      <span  class="iconx16 i-16-blue-list-view vam"></span>
      List
      </span>
      |
      <span class="js-search-map-view pointer">
      <span  class="iconx16 i-16-grey-map-view vam"></span>
        Map
      </span>
    </div>
  </div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip({});
</script>


