<div class="limit-width-1200 row phm ptm pbl">
  <div class="col-xs-12 clearfix">
    <%= render 'number_schools_found' %>
  </div>
</div>
<div class="header-bg-color pvl">
  <% if @show_ads %>
      <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Content_Top'.to_sym, view: :desktop %>
      <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Content_Top'.to_sym,  view: :mobile %>
  <% end %>
  <div class="limit-width-1200 bg-white gray-border">
    <div class="pvl pll">
      <span class="font-size-block">
        <% if @state.is_a?(Hash) && @state[:long] %>
          <%= t('.no_results_for_state_html', term: @search_term, state: @state[:long].titleize) %>
        <% else %>
          <%= t('.no_results_for_html', term: @search_term) %>
        <% end %>
      </span>
      <% if @suggested_query.present? %>
        <br><br>
        <span><%= t('.did_you_mean') %> </span><a href="<%= @suggested_query[:url]%>"><%= @suggested_query[:term]%></a>
      <% end %>
      <br><br>
      <p class="open-sans_sb font-size-medium"><%= t('.suggestions') %></p>
      <ul>
        <li><%= t('.spelled_correctly') %></li>
        <li><%= t('.different_keywords') %></li>
        <li><%= t('.generalize_keywords') %></li>
        <% state = 'delaware' #ToDo set state to actual state %>
        <% if @show_guided_search %>
          <li>
            <%= t('.try_our') %>
            <div class="iconx16 i-16-blue-info vam "></div>
            <a class='toolbar-text ' href='<%= state_guided_search_path(state: state) %>'><%= t('.guide_me_search') %> &#8594;</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="mtl mbm ptm">
    <% if @show_ads %>
        <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Footer'.to_sym, view: :desktop %>
        <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Footer'.to_sym,  view: :mobile %>
    <% end %>
  </div>
</div>
