<div class="limit-width-1200 row phm ptm pbl">
  <div class="col-xs-12 clearfix">
    <%= render 'number_schools_found' %>
  </div>
</div>
<div class="header-bg-color pvl">
  <% if @show_ads %>
      <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Content_Top'.to_sym, view: :desktop %>
      <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Content_Top'.to_sym,  view: :mobile %>
  <% end %>
  <div class="limit-width-1200 bg-white partner-carousel-image">
    <div class="pvl pll">
      <span class="font-size-block">Your search for <span class="open-sans_sb"><%=@search_term%></span> did not return any results in <%=@state[:long].titleize%></span>
      <% if @suggested_query.present? %>
        <br><br>
        <span>Did you mean: </span><a href="<%= @suggested_query[:url]%>"><%= @suggested_query[:term]%></a>
      <% end %>
      <br><br>
      <p class="open-sans_sb font-size-medium">Suggestions:</p>
      <ul>
        <li>Make sure all words are spelled correctly.</li>
        <li>Try different or fewer keywords.</li>
        <li>Try more general keywords.</li>
        <% state = 'delaware' #ToDo set state to actual state %>
        <% if @show_guided_search %>
            <li>Try our <div class="iconx16 i-16-blue-info vam "></div>
              <a class='toolbar-text ' href='<%= state_guided_search_path(state: state) %>'>Guide Me Search &#8594;</a>
              </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="mtl mbm ptm">
    <% if @show_ads %>
        <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Footer'.to_sym, view: :desktop %>
        <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Footer'.to_sym,  view: :mobile %>
    <% end %>
  </div>
</div>
