<div class="limit-width-1200 row phm pbm">
  <div class="col-xs-12">
    <span class="open-sans_sb fl font-size-block">
      <%= pluralize(@total_results,'school', 'schools') + ' found' %>
      <% if @by_location %>
          <% if @radius %>
              within <%= pluralize(@radius, 'mile', 'miles') %> of <%= @search_term %>
          <% else %>
              near <%= @search_term %>
          <% end %>
      <% elsif @district %>
          in <%= @district.name %>
      <% elsif @city %>
          in <%= @city.name + ', ' + @city.state %>
      <% end %>
    </span>
  </div>
</div>
