<div class="number-schools-found">
  <div class="container-fluid">
    <div class="pr clearfix">
      <h1 class="js-numOfSchoolsFound" data-num-of-schools-found="<%= @total_results %>">
        <%=
          level_code = LevelCode.full_from_grade(@params_hash['grades']) ||
            {'p' => 'Preschool', 'e' => 'Elementary', 'm' => 'Middle', 'h' => 'High'}[@params_hash['gradeLevels']]
          level_code = t(".#{level_code}", count: @total_results) if level_code.present?
          school_type = @params_hash['st'] if [*@params_hash['st']].count == 1 && ['private','public','charter'].include?([*@params_hash['st']].first)
          school_type = t(".#{school_type}", count: @total_results) if school_type.present?

          if level_code.present? && school_type.present?
            t('.number_of_schools_found_with_level_code_and_school_type', count: @total_results, level_code: level_code, school_type: school_type)
          elsif level_code.present?
            t('.number_of_schools_found_with_level_code', count: @total_results, level_code: level_code)
          elsif school_type.present?
            t('.number_of_schools_found_with_school_type', count: @total_results, school_type: school_type)
          else
            t('.number_of_schools_found', count: @total_results)
          end
        %>

        <% if @normalized_address %>
        <%=  t('.near_address', address: @normalized_address)  %>
        <% elsif @district %>
          <%= t('.in_district', district: @district.name) %>
        <% elsif @city %>
          <%= t('.in_city_state', city: @city.name, state: @city.state) %>
        <% end %>

        <%= render 'save_search' %>

        <div class="fr">
          <%= render 'desktop_list_map_toggle' %>
        </div>
      </h1>
    </div>
  </div>
</div>
