<div class="search-page-search-bar">
  <div class="container-fluid">
    <div class="hidden-xs clearfix upper-search">
      <% if @state && @state[:long] && @city %>
        <div class="fl breadcrumbs ptm">
        <%= render 'shared/breadcrumbs',
          breadcrumbs: {
            States.abbr_to_label(@state[:short]) => state_path(state_params(@state[:long])),
            @city.name => city_path(city_params(@state[:long], @city.name))
          }
        %>
        </div>
      <% end %>
      <% if @show_guided_search %>
        <div class="fr ptl">
          <span><%= t('.find_greatest_schools') %></span>
          <span class="iconx24-icons i-24-guide-me vam mas"></span>
          <%= link_to t('.guide_me'), guided_search_path(@hub) %>
        </div>
      <%end %>
    </div>
    <div class="row ptl centered-row">
      <form name="schoolResultsSearchForm" class="js-schoolResultsSearchForm" action="/search/search.page" method="get">
        <div class="col-xs-3 col-sm-2 state-dropdown">
          <%= render 'change_location', choose_state: @state_abbreviation   %>
        </div>
        <div class="search-bar col-xs-6 col-sm-5 form-group">
          <span class="dn js-mobile-placeholder js-translate-placeholder"></span>
          <input  type="text"
                  name="locationSearchString"
                  value="<%= @search_term %>"
                  data-prev-search="<%= @search_term || '' %>"
                  <% if @state_abbreviation %>
                    data-state="<%= @state_abbreviation %>"
                  <% end %>
                    id="js-schoolResultsSearch"
                    class='typeahead form-control'
                    placeholder="" />

        </div>

        <div class="col-xs-3 col-sm-2 submit-button">
          <button type='submit' class="btn btn-block btn-primary">
            <span class="hidden-xs"><%= t('.search_button') %></span>
            <span class="visible-xs iconx24-icons i-24-search-white"></span>
          </button>
        </div>
      </form>
    </div>
    <% if @nearby_cities && @nearby_cities.size > 0 %>
      <div class="hidden-xs pbl tac">
        <span class="mrl"><%= t('.nearby_cities_label') %></span>
        <% @nearby_cities.each_index do |x|
          city = @nearby_cities[x] %>
          <span class="<%= x > 3 ? 'hidden-sm' : ''%> <%= x > 5 ? 'hidden-md' : ''%> mrl notranslate js-nearbyCity">
            <%= link_to city.name, search_city_browse_path(city.state_name_url, city.name_url.downcase) %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
