<div class="header-bg-color">
  <div class="full-width limit-width-1200 js-searchResultsContainer">
    <div class="ptm hidden-xs"></div>
    <div class="row ptm pbm">
      <div class="full-width ">
          <% if @by_location %>
            <%= render 'assigned_school_not_valid' %>
            <%= render 'assigned_school_no_result' %>
            <%= render 'assigned_school_result', level: 'Elementary' %>
            <%= render 'assigned_school_result', level: 'Middle' %>
            <%= render 'assigned_school_result', level: 'High' %>
          <% elsif !@by_name %>
            <%= render 'assigned_school_not_valid' %>
          <% end %>
        <%= render 'compare_schools_error_message' %>
        <% if @show_ads %>
            <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Content_Top'.to_sym, view: :desktop %>
            <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Content_Top'.to_sym,  view: :mobile %>
        <% end %>
        <% ad_counter = 0 %>
        <% @schools.each_with_index do |school, search_result_counter| %>
            <% if @show_ads %>
                <% if [4, 16, 20].include?(search_result_counter) %>
                    <% slot_name = "After"+ search_result_counter.to_s %>
                    <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: slot_name.to_sym, view: :desktop %>
                    <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: slot_name.to_sym, view: :mobile %>
                <% elsif search_result_counter == 8 %>
                    <% slot_name = "After"+ search_result_counter.to_s + "_Text" %>
                    <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: slot_name.to_sym, view: :desktop %>
                    <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: slot_name.to_sym, view: :mobile %>
                <% elsif search_result_counter == 12 %>
                    <div class="clearfix limit-width-900"">
                        <div class="fl">
                            <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: "After12_Left".to_sym, view: :desktop %>
                        </div>
                        <div class="fr">
                            <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: "After12_Right".to_sym, view: :desktop %>
                        </div>
                    </div>
                    <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: "After12".to_sym, view: :mobile %>
                <% end %>
            <% end %>
            <% decorated_school = SchoolSearchResultDecorator.decorate(school) %>
            <% @school = decorated_school %>
            <%= render 'search_result', school: school, decorated_school: decorated_school %>
        <% end %>
        <% if @show_ads %>
            <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Footer'.to_sym, view: :desktop %>
            <%= render 'layouts/ad_layer', page: ('Search').to_sym, slot: 'Footer'.to_sym,  view: :mobile %>
        <% end %>
      </div>
    </div>
  </div>
</div>
