<div class="header-bg-color">
  <div class="full-width limit-width-1200 js-searchResultsContainer">
    <div class="ptm hidden-xs"></div>
    <div class="row ptm pbm">
      <div class="full-width ">
          <% if @by_location %>
            <%= render 'assigned_school_not_valid' %>
            <%= render 'assigned_school_no_result' %>
            <%= render 'assigned_school_result', level: 'Elementary' %>
            <%= render 'assigned_school_result', level: 'Middle' %>
            <%= render 'assigned_school_result', level: 'High' %>
          <% elsif !@by_name %>
            <%= render 'assigned_school_not_valid' %>
          <% end %>
        <%= render 'compare_schools_error_message' %>
        <% ad_counter = 0 %>
        <% @schools.each_with_index do |school, search_result_counter| %>
            <% if @show_ads && [2, 7, 12].include?(search_result_counter) %>
              <%= render 'search_result_ad', ad_counter: ad_counter %>
              <% ad_counter += 1 %>
            <% end %>
            <% decorated_school = SchoolSearchResultDecorator.decorate(school) %>
            <% @school = decorated_school %>
            <%= render 'search_result', school: school, decorated_school: decorated_school %>
        <% end %>
      </div>
    </div>
  </div>
</div>
