<% school_page_path = (school.try(:profile_path) || school_path(school)) %>
<% school_page_url = school.preschool? ? "http://#{ENV_GLOBAL['app_pk_host'] + school_page_path}" : school_page_path %>
<% school_reviews_page_url = school_page_url + 'reviews/' %>
<% school_quality_page_url = school_page_url + 'quality/' %>
<% school_provided_photo = decorated_school.uploaded_photo(130) %>
<% if search_by_location? %>
  <% distance = decorated_school.distance #converting to 2 decimal places %>
<% end %>
<% unless defined? account_page %>
    <% account_page = false %>
<% end %>

<div class="pam js-schoolSearchResult" data-schoolId="<%=school.id%>" data-schoolState="<%=school.state%>">
  <div class="row search-result-border prm bg-white">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-7 col-sm-5 col-md-6 clearfix">
          <div class="hidden-xs hidden-sm fl js-schoolPhoto">
              <% if school_provided_photo %>
                <%= school_provided_photo %>
              <% else %>
                <img src="<%= image_path('search/no-school-photo.png')%>" alt="No school photo available" class="thumbnail-border"/>
              <% end %>
          </div>
          <div class="mll fl">
            <div class="ptm notranslate">
              <div class="mtm hidden-xs"></div>
              <div><%= link_to "#{school.name}", school_page_url, style:'line-height: 1.1em', class: 'open-sans_sb mbs font-size-medium' %></div>
              <div class="hidden-xs font-size-small"><%="#{school.street}, #{school.city}, #{school.state.upcase} #{school.zip}"%></div>
              <div class="clearfix visible-xs font-size-small">
                <div class="prs fl "><%= decorated_school.decorated_school_type %></div>
                <div class="fl"><%= decorated_school.process_level %></div>
              </div>
            </div>
            <div class="font-size-small mvm clearfix ptm hidden-xs">
              <div class="fl">
                <% if !school.community_rating.nil? && !school.review_count.nil? %>
                  <span class="prm vam"><%= draw_stars_16 school.community_rating %></span>
                  <%= link_to pluralize(school.review_count, 'review', 'reviews'), school_reviews_page_url, class: 'font-size-small' %>
                <% else %>
                  <em>No Community Reviews</em>
                <% end %>
              </div>
              <div class="phm fl">|</div>
              <div class="prs fl"><%= decorated_school.decorated_school_type %></div>
              <div class="fl"><%= decorated_school.process_level %></div>
              <% if search_by_location? %>
                <div class="visible-xs phm fl">|</div>
                <div class="visible-xs fl"><%= distance %> miles</div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-sm-4 ">
          <div class="ptl hidden-xs"></div>
          <div class="row">
            <% if search_by_location? %>
            <!-- Distance -->
            <div class="hidden-xs col-sm-4 mtl mbm font-size-xs">
              <div class="iconx24-icons i-24-new-grey_map_pin ma db vam"></div>
              <span class="tac db"><%= distance %> miles</span>
            </div>
            <% end%>
            <!-- GS Rating -->
            <div class="col-xs-6 col-sm-4 mvl">
              <%=link_to school_quality_page_url do%>
              <div class="ma db iconx24-icons i-24-new-ratings-<%=(school.overall_gs_rating || 'nr' )%>"></div>
              <div class="hidden-xs pts"></div>
              <span class="tac font-size-xs db link-darkgray" style="line-height: 1.3em">GreatSchools<br />Rating</span>
              <% end %>
            </div>
            <!-- Fit score -->
            <div class="col-xs-6 col-sm-4 mtl mbs js-schoolFitScore">
              <% if filtering_search? %>
                  <%= render 'fit_score_icon_and_popup', school: school, decorated_school: decorated_school %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- do not show on account page -->
        <% if account_page == false %>
          <!-- Compare and Homes for Sale -->
          <div class="hidden-xs col-sm-3 col-md-2 tar pvl">
            <div class="dib" style="width:150px;">
              <button class="btn btn-default clearfix mbm db pull-left js-compareSchoolButton"
                id='js-compareSchool<%= "#{school.id}" %>'
                style="width:150px"
                data-schoolname="<%= school.name %>"
                data-schoolstate="<%= school.state.downcase %>"
                data-schoolid="<%= school.id %>"
                data-schoolrating="<%= school.overall_gs_rating || 'nr' %>"
              >
                <div class="iconx16 i-16-gray-check-bigger fl mrs "></div>
                <div class="fl js-compareSchoolsButtonText">Compare</div>
              </button>
              <div class="js-compareSchoolsText pull-left db dn pts pls">
                <span class='pointer js-compareSchoolsSubmit brand-primary dn'>Compare now</span>
                <span class='js-compareSchoolsSelectMoreSchoolsText dn'>Select more</span>
                (<span class="js-compareSchoolsCount">0</span>/4)
              </div>
            </div>
            <%= link_to zillow_url(school), class: 'btn btn-default clearfix mts db fr', style: 'width: 150px;', target: '_blank' do %>
              <!--<div class="iconx24 i-24-home fl mrs"></div>-->
              <div class="iconx16 i-16-home fl mrs"></div>
              <div class="fl">Homes for sale</div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 visible-xs clearfix phl pbm font-size-small">
      <div class="fl">
      <% if !school.community_rating.nil? && !school.review_count.nil? %>
        <span class="prm vam"><%= draw_stars_16 school.community_rating %></span>
        <%= link_to pluralize(school.review_count, 'review', 'reviews'), school_reviews_page_url, class: 'font-size-small' %>
      <% else %>
        <em>No Community Reviews</em>
      <% end %>
      </div>
      <% if search_by_location? %>
        <div class="fr"><%= distance %> miles</div>
      <% end %>
    </div>
  </div>
</div>
