<div class="full-width pam header-bg-color">
  <div class="row partner-carousel-image prm bg-white">
    <!-- Street view image -->
    <div class="hidden-xs hidden-sm fl mrl">
      <% decorated_school = SchoolSearchResultDecorator.decorate(school) %>
      <% @school = decorated_school %>
      <%= decorated_school.photo(130, 130) %>
    </div>

    <!-- Homes for Sale -->
    <div class="hidden-xs fr pvl mvl vam" style="width:170px;">
      <%= link_to zillow_url(school), class: 'btn btn-default vam full-width', target: '_blank' do %>
        <span class="iconx16 i-16-home vam mrs"></span>
        Homes for sale
      <% end %>
    </div>

    <!-- Fit score -->
    <div class="col-xs-2 col-sm-1 fr mtl mbs">
      <% if school.fit_score > 0 %>
        <div class="dropdown">
          <div data-toggle="dropdown" class="dropdown-toggle">
            <div>
              <span class="vam iconx24-icons js-icon <%=(decorated_school.strong_fit?) ? 'i-24-happy-face' : (decorated_school.ok_fit?) ? 'i-24-smiling-face' : 'i-24-neutral-face'%>"></span>
              <span class="caret"></span>
            </div>
            <span class="font-size-xs"><%=(decorated_school.strong_fit?) ? 'Strong fit' : (decorated_school.ok_fit?) ? 'Ok fit' : 'Low fit' %></span>
          </div>
          <ul class="dropdown-menu">
            <li class="pal">
              <% school.fit_score_map.each do |category_name, category_map| %>
                <div class="font-size-xs">
                  <% category_map.each do |key, value| %>
                    <div class="<%= (value)?'':'gray-dark'%>">
                      <% if value %>
                        <span class="vam iconx16 mrs js-icon i-16-green-check"></span>
                      <% else %>
                        <span class="prm">X</span>
                      <%end%>
                      <%=@filter_display_map[category_name.to_sym][key.to_sym]%>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>

    <!-- GS Rating -->
    <div class="col-xs-2 col-sm-1 fr mvl">
      <%=link_to school_quality_path(school) do%>
        <div class="ma db iconx24-ratings i-24-ratings-<%=(school.overall_gs_rating || 'nr' )%>"></div>
      <% end %>
    </div>

    <% if search_by_location? %>
      <!-- Distance -->
      <div class="hidden-xs col-sm-1 fr mtl mbm font-size-small">
        <div class="iconx16 i-16-map-pin ma db vam"></div>
        <span class="tac db"><%= number_with_precision(school.distance, precision:2)%> miles</span>
      </div>
    <% end%>

    <!-- Photo, name, address, reviews, type, level -->
    <div class="mll row">
      <div class="ptm col-xs-6 <%=search_by_location? ? 'col-sm-5' : 'col-sm-6'%>">
        <div class="open-sans_b mbs"><%= link_to "#{school.name}", school_path(school) %></div>
        <div class="hidden-xs font-size-small"><%="#{school.street}, #{school.city} #{school.state.upcase} #{school.zip}"%></div>
      </div>

      <div class="font-size-small mvm fl">
        <div style="clear:left" class="visible-xs visible-small fl"></div>
        <div class="fl">
        <% if school.respond_to?(:community_rating) && school.respond_to?(:review_count) %>
            <span class="prm"><%= draw_stars_16 school.community_rating %></span>
            <%= link_to "#{school.review_count} reviews", school_reviews_path(school), class: 'font-size-small' %>
        <% else %>
          <em>No Community Reviews</em>
        <% end %>
        </div>
        <div class="phm fl">|</div>
        <div class="prs fl"><%= school.type.capitalize %></div>
        <div class="fl"><%= decorated_school.process_level %></div>
        <% if search_by_location? %>
          <div class="visible-xs phm fl">|</div>
          <div class="visible-xs fl"><%= number_with_precision(school.distance, precision:2)%> miles</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
