<div class="limit-width-1200 row phm ptm pbl">
  <div class="col-xs-12 clearfix">
    <%= render 'number_schools_found' %>
    <div class="hidden-xs pts fr">
      <span>Sort by:</span>
      <span>
        <% ['rating','distance','fit'].each do |sort_name| %>
            <% next if sort_name == 'distance' && !search_by_location? %>
            <% if @sort_name == sort_name %>
                <span class="plm open-sans_sb active-search-sort"><%=sort_name.titleize%></span>
            <% else %>
                <a href="javascript:void(0)" class="plm" onclick="GS.search.results.sortBy('<%=sort_name%>', '<%=@query_string%>')"><%=sort_name.titleize%></a>
            <% end %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="visible-xs col-xs-4 pbl ptl">
    <select class="form-control js-searchSortingSelectTag" data-query-string='<%=@query_string%>'>
      <% sort_types = ['rating','distance','fit'] - [@sort_name] %>
      <option value="<%= @sort_name %>" selected>Sort by: <%= @sort_name.titleize %></option>
      <% sort_types.each do |sort_name| %>
          <option value="<%=sort_name%>"><%=sort_name.titleize%></option>
      <% end %>
    </select>
  </div>

</div>
