<div class="limit-width-1200 row phm ptm pbl">
  <div class="col-xs-12 clearfix">
    <%= render 'number_schools_found' %>
    <div class="hidden-xs pts fr">
      <span>Sort by:</span>
      <span>
        <% ['rating','distance','fit'].each do |sort_name| %>
            <% next if sort_name == 'distance' && !search_by_location? %>
            <% if @sort_name == sort_name %>
                <span class="plm open-sans_sb active-search-sort"><%=sort_name.titleize%></span>
            <% else %>
                <a href="javascript:void(0)" class="plm" onclick="GS.search.results.sortBy('<%=sort_name%>', '<%=@query_string%>')"><%=sort_name.titleize%></a>
            <% end %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="visible-xs col-xs-4 pbl ptl">
    <select class="form-control js-searchSortingSelectTag" data-query-string='<%=@query_string%>'>
      <option value="">Sort By:</option>
      <% ['rating','distance','fit'].each do |sort_name| %>
          <% next if sort_name == 'distance' && !search_by_location? %>
          <% asc_or_desc = sort_name == 'distance' ? 'asc' : 'desc' %>
          <option value="<%=sort_name%>" <%if @params_hash.include?('sort') && @params_hash['sort'] == "#{sort_name}_#{asc_or_desc}"%>selected<%end%>><%=sort_name.titleize%></option>
      <% end %>
    </select>
  </div>

</div>
