<div class="limit-width-1200 row phm">
  <div class="col-xs-12 pvl clearfix">
    <span class="open-sans_sb fl font-size-block"><%= @total_results %> schools meet your criteria</span>
    <div class="hidden-xs pts fr">
      <span>Sort by:</span>
      <span>
        <% if @query_string.present? %>
          <a href="javascript:void(0)" class="plm" onclick="GS.search.results.sortBy('rating', '<%=@query_string%>')">Quality</a>
          <% if search_by_location? %><a href="javascript:void(0)" class="plm" onclick="GS.search.results.sortBy('distance', '<%=@query_string%>')">Distance</a><%end%>
          <a href="javascript:void(0)" class="plm" onclick="GS.search.results.sortBy('fit', '<%=@query_string%>')">Fit</a>
        <% else %>
          <a>Quality</a><a>Distance</a><a>Fit</a>
        <% end %>
      </span>
    </div>
  </div>

  <div class="visible-xs col-xs-4 pbl">
    <% if @query_string.present? %>
      <select class="form-control js-searchSortingSelectTag" data-query-string='<%=@query_string%>'>
        <option value="">Sort By:</option>
        <option value="rating" <%if @params_hash.include?('sort') && @params_hash['sort'] == 'rating_desc'%>selected<%end%>>Quality</option>
        <% if search_by_location? %><option value="distance" <%if @params_hash.include?('sort') && @params_hash['sort'] == 'distance_asc'%>selected<%end%>>Distance</option><%end%>
        <option value="fit" <%if @params_hash.include?('sort') && @params_hash['sort'] == 'fit_desc'%>selected<%end%>>Fit</option>
      </select>
    <% end %>
  </div>

</div>
