<% content_for :javascript_includes do %>
    <script>
        $(function() {
            // TBD
        })
    </script>
<% end %>

<h1><%=@city.name%> Schools</h1>

<% if defined?(@total_results) && defined?(@results_offset) && defined?(@page_size)%>
    <h2>Search results
        (<%=@results_offset+1%> to
        <%= [@results_offset+@page_size,@total_results].min %> of
        <%= @total_results %>):</h2>
<% end %>

<% if defined?(@results) && !@results.blank? %>
    <ol>
        <% @results.each do |result| %>
            <li><%= result["school_name"] %></li>
        <% end %>
    </ol>
<% end %>


<%= render 'nav/topnav', hub_params: @hub_params %>

<%= render 'shared/state_footer', state: @state %>