<div type="button" class="btn btn-default fifth-width js-guidedSearchSportsIconsButton tac phn"
     style="padding-bottom: 12px;"
     data-toggle="tooltip"
     data-container="body"
     data-gs-checkbox-value="<%= sport %>"
     data-gs-checkbox-icon-label="i-24-<%= sport %>"
     data-original-title="<%= sport %>">
  <span class="iconx24-icons i-24-<%= sport %>-off js-icon mts"></span>
  <input type="hidden" name="<%= filter %>[]" value="" class="js-value">
</div>
