<ul class="nav nav-tabs" >

  <li class="tac active tab_<%= @guided_search_tab[0]%>" >
    <p class="pvm">
      <span class="js-tab-number subtitle-lg open-sans_sb" >1</span>
      <span class='dn js-tab-check iconx24-icons i-24-checkmark-on mv6'></span>
      <span class="hidden-xs gray-dark">Get Started</span></p>
  </li>
  <li class="tac tab_<%= @guided_search_tab[1]%>">
    <p class="pvm">
      <span class="js-tab-number subtitle-lg open-sans_sb">2</span>
      <span class='dn js-tab-check iconx24-icons i-24-checkmark-on mv6'></span>
      <span class="hidden-xs gray-dark">Before/After care</span></p>

  </li>
  <li class="tac tab_<%= @guided_search_tab[2]%>">
    <p class="pvm">
      <span class="js-tab-number subtitle-lg open-sans_sb">3</span>
      <span class='dn js-tab-check iconx24-icons i-24-checkmark-on mv6'></span>
      <span class="hidden-xs gray-dark">Dress code</span></p></li>
  <li class="tac tab_<%= @guided_search_tab[3]%>">
    <p class="pvm">
      <span class="js-tab-number subtitle-lg open-sans_sb">4</span>
      <span class='dn js-tab-check iconx24-icons i-24-checkmark-on mv6'></span>
      <span class="hidden-xs gray-dark">School focus</span></p></li>
  <li class="tac tab_<%= @guided_search_tab[4]%>">
    <p class="pvm tab_last">
      <span class="js-tab-number subtitle-lg open-sans_sb">5</span>
      <span class='dn js-tab-check iconx24-icons i-24-checkmark-on mv6'></span>
      <span class="hidden-xs gray-dark">Classes and activities</span>
    </p>
  </li>
</ul>