<div class="gs-bootstrap mbl">
  <div class="tac container-fluid">
    <h1><%= t('.header') %></h1>
    <div><%= @current_user.email if logged_in? %></div>
    <div>
      <%= t('.manage_preferences_intro_text') %>
      <a href="<%= user_preferences_path %>"><%= t('.manage_preferences') %></a>
    </div>
    <div class="mtl"><%= t('.unsubscribe_intro_text') %></div>
    <%= form_tag(user_email_unsubscribes_path) do %>
      <button class="btn btn-lg btn-primary mvm"><%= t('.unsubscribe') %></button>
    <% end  %>
  </div>
</div>

