<%
  # Welcome!
  # This is a sample page to help you get started with the Style Guide.
  # To start, please copy and paste this file to something with a new name.
  # Please never edit this file (sample_page.html.erb).
  #
  # Great, so now you should be editing a file called something other than sample_page.html.erb.
  # Comments like this one will help you edit this file correctly.
  #
  # This file describes a Page.
  # A Page is comprised of Sections.
  # Sections are comprised of a Title, a Description, and Content.
  #
  # Sections, Descriptions, and Content are set up with Ruby code.
  # Ruby code is surrounded by tags like <%.
  # The only Ruby code necessary to edit is the Title of each Section.
  # There are comments below to help with that.
  # Other than that, there are HTML comments to guide where to edit.
  # HTML comments look like <!-- Put your description here -->.
  #
  # Enjoy! And ask questions if you have them.
%>


<%
  # ::BEGIN:: code for one section.
  # Please only edit where there is HTML or HTML comments.
  # HTML comments look like this: <!-- Put your description here -->.
%>
<%= begin_section_with_title('Colors used for GreatSchools') do %>
  <%= begin_section_description do %>
    <!--
      Put this Section's Description here.
      You can use any HTML to write it, but it looks nice with <p> tags.
    -->
<style>
.color_box {
display:inline-block; width:100px; height:100px; margin:0px 10px 10px 0px;
}
</style>

  <% end # of description %>
  <%= begin_section_content do %>
    <!--
      Put this Section's Content here.
      You can use any HTML to write it.
    -->
    <h2>Interactive Elements</h2>
    <p>Buttons, links, and other clickable elements use these colors.</p>
    <div class="color_box" style="background-color:#23a8e0;"><p>#23a8e0</p>
    </div>
    <div class="color_box" style="background-color:#2880b9;"><p>#2880b9</p>
    </div>
    <div class="color_box" style="background-color:#009edc;"><p>#009edc</p>
    </div>
    <div class="color_box" style="background-color:#93b1d5;"><p>#93b1d5</p>
    </div>
    <div class="color_box" style="background-color:#4788be;"><p>#4788be</p>
    </div>
    <div class="color_box" style="background-color:#195074;"><p style="color:white;">#195074</p>
    </div>
    <div class="color_box" style="background-color:#1d1d1d;"><p style="color:white;">#1d1d1d</p>
    </div>

<h2>Grays</h2>
<p>The spectrum of grays available.</p>
    <div class="color_box" style="background-color:#f4f4f4;"><p>#f4f4f4</p>
    </div>
    <div class="color_box" style="background-color:#dedede;"><p>#dedede</p>
    </div>
    <div class="color_box" style="background-color:#b4b4b4;"><p>#b4b4b4</p>
    </div>
    <div class="color_box" style="background-color:#999999;"><p>#999999</p>
    </div>
    <div class="color_box" style="background-color:#777777;"><p>#777777</p>
    </div>
    <div class="color_box" style="background-color:#555555;"><p style="color:white;">#555555</p>
    </div>
    <div class="color_box" style="background-color:#333333;"><p style="color:white;">#333333</p>
    </div>

<h2>Performance Colors</h2>
<p>For data visualizations that use the good, ok, bad performance scheme.</p>
    <div class="color_box" style="background-color:#bf3c29;"><p>#bf3c29</p>
    </div>
    <div class="color_box" style="background-color:#ec843e;"><p>#ec843e</p>
    </div>
    <div class="color_box" style="background-color:#40a753;"><p>#40a753</p>
    </div>
<h4>no quality attribution available</h4>
    <div class="color_box" style="background-color:#777777;"><p>#777777</p>
    </div>

<h2>Primary decorative colors: Colors for hubs, landing pages, and feature UI elements</h2>
<p>A color scheme for the product's more decorative elements and features.</p>
    <h4>UI elements on profiles</h4>
    <div class="color_box" style="background-color:#07251e;"><p style="color:white;">#07251e</p>
    </div>
    <div class="color_box" style="background-color:#fad700;"><p>#fad700</p>
    </div>
    <div class="color_box" style="background-color:#f7ffe3;"><p>#f7ffe3</p>
    </div>
    <div class="color_box" style="background-color:#e2f0cc;"><p>#e2f0cc</p>
    </div>
    <h4>UI elements and illustration colors on marketing level pages</h4>
    <div class="color_box" style="background-color:#25b798;"><p>#25b798</p>
    </div>
    <div class="color_box" style="background-color:#93c83e;"><p>#93c83e</p>
    </div>
    <div class="color_box" style="background-color:#135c4c;"><p style="color:white;">#135c4c</p>
    </div>
    <div class="color_box" style="background-color:#add36e;"><p>#add36e</p>
    </div>
    <div class="color_box" style="background-color:#f0ffc8;"><p>#f0ffc8</p>
    </div>
    <div class="color_box" style="background-color:#8cbe3b;"><p>#8cbe3b</p>
    </div>

<h2>For data visualizations with a diversity index and illustrations</h2>
<p>Diversity pie chart palette as well as for illustrations.</p>
    <div class="color_box" style="background-color:#93c83e;"><p>#93c83e</p>
    </div>
    <div class="color_box" style="background-color:#135c4c;"><p style="color:white;">#135c4c</p>
    </div>
    <div class="color_box" style="background-color:#f0ffc8;"><p>#f0ffc8</p>
    </div>
    <div class="color_box" style="background-color:#bde5f4;"><p>#bde5f4</p>
    </div>
    <div class="color_box" style="background-color:#6e499c;"><p>#6e499c</p>
    </div>
    <div class="color_box" style="background-color:#35485d;"><p style="color:white;">#35485d</p>
    </div>
    <div class="color_box" style="background-color:#06213e;"><p style="color:white;">#06213e</p>
    </div>
    <div class="color_box" style="background-color:#945aa3;"><p>#945aa3</p>
    </div>
    <div class="color_box" style="background-color:#0fa085;"><p>#0fa085</p>
    </div>
    <div class="color_box" style="background-color:#e57d25;"><p>#e57d25</p>
    </div>
    <div class="color_box" style="background-color:#eec21a;"><p>#eec21a</p>
    </div>
    <div class="color_box" style="background-color:#f4b15a;"><p>#f4b15a</p>
    </div>
    <div class="color_box" style="background-color:#ffafc8;"><p>#ffafc8</p>
    </div>
    <div class="color_box" style="background-color:#5abab7;"><p>#5abab7</p>
    </div>
    <div class="color_box" style="background-color:#e17850;"><p>#e17850</p>
    </div>
    <div class="color_box" style="background-color:#ffeb6e;"><p>#ffeb6e</p>
    </div>

<h2>GreatKids red</h2>
    <div class="color_box" style="display:inline-block; width:100px; height:100px; background-color:#ee4723; margin-right:10px;"><p>#ee4723</p>
    </div>


  <% end # of content. %>
<% end # of section. %>


<%
  # To create another section, just copy and paste one and edit its Title, Description and Content.
  # Example below:
%>


<%
  # ::BEGIN:: code for one section.
  # Please only edit where there is HTML or HTML comments.
  # HTML comments look like this: <!-- Put your description here -->.
%>
<%= begin_section_with_title('Great Kids color patterns') do %>
  <%= begin_section_description do %>
    <!--
      Put this Section's Description here.
      You can use any HTML to write it, but it looks nice with <p> tags.
    -->
    <p>To be filled out later.</p>


  <% end # of description %>
  <%= begin_section_content do %>
    <!--
      Put this Section's Content here.
      You can use any HTML to write it.
    -->


  <% end # of content. %>
<% end # of section. %>
