<%#- require 'pry'; binding.pry -%>
<% decorator = DetailsOverviewDecorator.new(data, @school, self) %>

<% basic_information = decorator.basic_information %>
<% diversity = decorator.diversity %>

<% programs_and_culture = {
    header: 'Programs & culture',
    data: {
        'Academic focus' => 'Business, Special Ed, Technology',
        'Arts' => 'Computer animation, Graphics, Video, and Film',
        'World languages' => 'French, German, Spanish, Hungarian, Polish'
    },
    link: 'tbd'
} %>


<!-- <div class="container gs-bootstrap js-overview-details dn mtl" style="border:2px solid lightgray"> -->
<div id="details-section" class="gs-bootstrap mtl" style="border:2px solid lightgray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 pvl tac">
        <div class="open-sans_sb mvm uc gray-darker">Principal Motto</div>
        <h3 class="open-sans_i mtn gray-darker">&quot;Leadership Through Education&quot;</h3>
      </div>
    </div>
    <div class="row" style="background-color:#f5f3f5">
      <div class="col-xs-12 col-sm-6 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h3 class="uc"><%= basic_information['header'] %></h3>
          <ul>
            <% basic_information['data'].each_pair do |label, values| %>
              <li>
                <strong><%= label %></strong>
                <br/>
                <%= values %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h3 class="uc"><%= programs_and_culture[:header] %></h3>
          <ul>
            <% programs_and_culture[:data].each_pair do |label, values| %>
              <li>
                <strong><%= label %></strong>
                <br/>
                <%= values %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="clearfix visible-lg"></div>
        <div class="col-lg-12 hidden-xs hidden-sm hidden-md visible-lg">
          <h3 class="uc"><%= diversity[:header] %></h3>
          <div class="row">
            <div class="col-lg-6">
              <h3 style="margin: 5px 0;">Pie Chart</h3>
              <ul>
                <li>Before/AfterCare</li>
                <li>Dress Code</li>
                <li>Before/AfterCare</li>
                <li>Dress Code</li>
                <li>Transporation</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <h3 style="margin: 5px 0;">Additional Diversity stff</h3>
              <ul>
                <li>Before/AfterCare</li>
                <li>Dress Code</li>
                <li>Before/AfterCare</li>
                <li>Dress Code</li>
                <li>Transporation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% if @show_ads %>
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="mtl">
          <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Details_Adaptive, defer_render: true, visible_for: ' ' %>
        </div>
      </div>
      <% end %>
      <div class="clearfix hidden-lg"></div>
      <div class="col-xs-12 col-sm-12 col-md-8 hidden-lg">
      <h3 class="uc"><%= diversity[:header] %></h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6 hidden-lg">
          <h3 style="margin: 5px 0;">Pie Chart</h3>
          <ul>
            <li>Before/AfterCare</li>
            <li>Before/AfterCare</li>
            <li>Dress Code</li>
            <li>Dress Code</li>
            <li>Transporation</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 hidden-lg">
          <h3 style="margin: 5px 0;">Additional Diversity stuff</h3>
          <ul>
            <li>Before/AfterCare</li>
            <li>Dress Code</li>
            <li>Dress Code</li>
            <li>Transporation</li>
            <li>Transporation</li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

