<% decorator = DetailsOverviewDecorator.new(data, @school, self) %>

<% basic_information = decorator.basic_information %>
<% programs_and_culture = decorator.programs_and_culture %>
<% diversity = decorator.diversity %>


<div id="details-section" class="mtl gs-bootstrap js-overview-details mtl">

  <hr class="thick">
  <% motto = data["Best known for"] %>
  <% if motto %>
    <%= render 'school_profile/overview/details_overview/principal_motto', motto: motto %>
  <% else %>
    <%= render 'school_profile/overview/details_overview/osp_callout' %>
  <% end %>

  <hr class="thick">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-8">
        <div class="row">

          <% def display_details_info(info) %>
            <div class="col-xs-12 col-lg-6">
              <h3 class="uc"><%= info['header'] %></h3>
              <ul>
                <% info['data'].each_pair do |label, values| %>
                  <li>
                    <strong><%= label %></strong>
                    <br/>
                    <%= values.titleize %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <% if decorator.has_basic_information_data? %>
            <% display_details_info(decorator.basic_information) %>
          <% end %>

          <% if decorator.has_programs_and_culture_data? %>
            <% display_details_info(decorator.programs_and_culture) %>
          <% end %>

          <% if decorator.has_diversity_data? %>
            <div class="clearfix visible-lg"></div>
            <div class="col-lg-12 hidden-xs hidden-sm hidden-md visible-lg">
              <h3 class="uc"><%= diversity['header'] %></h3>
              <div class="row">
                <div class="col-lg-6">
                  <strong><%= t('.student_demographics') %></strong>
                  <% if diversity['data']['Student ethnicity'].present? %>
                    <div class="row">
                      <div class="col-xs-6">
                        <%= render 'school_profile/overview/details_overview/pie_chart',
                                   piedata: diversity['data']["Student ethnicity"],
                                   display: 'desktop'
                        %>
                      </div>
                      <div class="col-xs-6">
                        <%= render 'school_profile/overview/details_overview/ethnicity_table',
                                   data: diversity['data']["Student ethnicity"]
                        %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <% diversity['data'].except('Student ethnicity').each_pair do |label, values| %>
                      <div>
                        <strong><%= label %>:</strong>
                        <%= values.to_f.round %>%
                      </div>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
        <% if @show_ads %>
          <div class="col-xs-12 col-sm-4 col-lg-4">
            <div class="mtl">
              <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Details_Adaptive, defer_render: true, visible_for: ' ' %>
            </div>
          </div>
        <% end %>
        <% if decorator.has_diversity_data? %>
          <div class="clearfix hidden-lg"></div>
          <div class="col-xs-12 col-sm-12 col-md-8 hidden-lg">
            <h3 class="uc"><%= diversity['header'] %></h3>
            <div class="row">
              <% if diversity['data']['Student ethnicity'].present? %>
                <div class="col-xs-12 col-sm-6 hidden-lg">
                  <strong><%= t('.student_demographics') %></strong>
                  <div class="row">
                    <div class="col-xs-6">
                      <%= render 'school_profile/overview/details_overview/pie_chart',
                                 piedata: diversity['data']["Student ethnicity"],
                                 display: 'mobile'
                      %>
                    </div>
                    <div class="col-xs-6">
                      <%= render 'school_profile/overview/details_overview/ethnicity_table',
                                 data: diversity['data']["Student ethnicity"]
                      %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="col-xs-12 col-sm-6 hidden-lg">
                <ul>
                  <% diversity['data'].except('Student ethnicity').each_pair do |label, values| %>
                    <div>
                      <strong><%= label %>:</strong>
                      <%= values.to_f.round %>%
                    </div>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

