<% decorated_school = SchoolProfileDecorator.new(@school) %>
<% facebook_url = decorated_school.facebook_url %>
<% if facebook_url %>
  <% layout_grid = (@show_ads ?  "col-xs-12 col-sm-6 col-md-6 col-lg-6" : "col-xs-12 col-sm-12 col-md-12 col-lg-12") %>
  <div class="row">

      <div class="<%= layout_grid %> tac">
          <div class="js-fb-page-plugin-fallback dn">
              <h3 class="mtn"><%=t '.parents_talking_about', school_name: @school.name %></h3>
              <a target="_blank" href="<%= facebook_url %>"><%= facebook_url %></a>
          </div>
          <div class="fb-like-box js-fb-page-plugin"
          data-href="<%= facebook_url %>"
          data-width="300"
          data-colorscheme="light"
          data-show-faces="true"
          data-header="false"
          data-stream="false"
          data-show-border="false">
        </div>
    </div>
    <div id="fb-root"></div>
    <% if @show_ads %>
        <div class="js-nohide mtl <%= layout_grid %>">
            <%= render 'layouts/ad_layer', defer_render: true, page: @ad_page_name, slot: :Facebook, view: :desktop  %>
        </div>
    <% end %>
  </div>
  <% if @show_ads %>
    <div class="js-nohide ptl mtl">
     <%= render 'layouts/ad_layer', defer_render: true, page: @ad_page_name, slot: :Facebook, view: :mobile  %>
    </div>
  <% end %>
<% end %>
