<div class="interstitial container">
  <div class="header">
    <div class="logo-container">
      <%= render 'nav/header/logo_image' %>
    </div>
    <div "add-intro-container">
      <p><%= t('.ad_intro_1') %></p>
      <p><%= t('.ad_intro_2') %></p>
      <a class="js-continueToDestination"> <%= t('.skip_ad_html') %></a>
    </div>
  </div>
  <div class="ad-container">
    <div class="ad-inner-container">
      <p><%= t('.ad_header_text') %></p>
      <%= render 'shared/ad', slot: 'Interstitial',
        size_mapping: "interstitial", width: 640, height: 480 %>
    </div>
  </div>
</div>
<% content_for :page_javascripts do %>
  <%= javascript_include_tag "interstitial-bundle", async: true %>
<% end %>
