<h3>Various host info</h3>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                Remote host IP via request.remote_ip
            </td>
            <td>
                <%= request.remote_ip %>
            </td>
        </tr>
        <tr>
            <td>
                Remote host IP via HTTP_X_FORWARDED_FOR header
            </td>
            <td>
                <%= request.env['HTTP_X_FORWARDED_FOR'] %>
            </td>
        </tr>
        <tr>
            <td>
                Current configured host <br/>(Used for absolute URLs and html base href)
            </td>
            <td>
                <%= controller.default_url_options[:host] %>
            </td>
        </tr>
        <tr>
            <td>
                Current configured port
            </td>
            <td>
                <%= controller.default_url_options[:port] %>
            </td>
        </tr>
        <tr>
            <td>
                Current request host
            </td>
            <td>
                <%= request.host %>
            </td>
        </tr>
        <tr>
            <td>
                Current request domain
            </td>
            <td>
                <%= request.domain %>
            </td>
        </tr>
        <tr>
            <td>
                Current request subdomain
            </td>
            <td>
                <%= request.subdomain %>
            </td>
        </tr>
        <tr>
            <td>
                Non-pk version of request subdomain:
            </td>
            <td>
                <%= PreschoolSubdomain.default_subdomain request %>
            </td>
        </tr>
        <tr>
            <td>
                Pk version of request subdomain:
            </td>
            <td>
                <%= PreschoolSubdomain.pk_subdomain request %>
            </td>
        </tr>
    </tbody>
</table>

<h3>ENV_GLOBAL values:</h3>
<table class="table table-striped">
    <tbody>
    <% ENV_GLOBAL.each do |key, value| %>
        <tr>
            <td><%= key %></td>
            <td><%= value %></td>
        </tr>
    <% end %>

    </tbody>
</table>

<h3>Cookies:</h3>
<table class="table table-striped">
    <tbody>
    <% cookies.each do |key, value| %>
        <tr>
            <td><%= key %></td>
            <% if value[0] == '{' && value[-1] == '}' %>
                <td><%= debug JSON.parse(value) rescue '[Error parsing hash]' %></td>
            <% else %>
                <td><%= value %></td>
            <% end %>
        </tr>
    <% end %>

    </tbody>
</table>

<h3>Session:</h3>
<table class="table table-striped">
    <tbody>
    <% session.each do |key, value| %>
        <tr>
            <td><%= key %></td>
            <% if value[0] == '{' && value[-1] == '}' %>
                <td><%= debug JSON.parse(value) rescue '[Error parsing hash]' %></td>
            <% else %>
                <td><% if value.is_a?(String) || value.is_a?(Fixnum) || value.is_a?(TrueClass) || value.is_a?(FalseClass) %>
                        <%= value %>
                    <% else %>
                        <%= debug value %>
                    <% end %></td>
            <% end %>
        </tr>
    <% end %>

    </tbody>
</table>

<h3>Misc configuration:</h3>
<table class="table table-striped">
    <tbody>
        <% config = LocalizedProfiles::Application.config.as_json %>
        <% config.select { |key, value| value.present? }.each do |key, value| %>
        <tr>
            <td>
                <%= key %>
            </td>
            <td>
                <% if value.is_a?(String) || value.is_a?(Fixnum) || value.is_a?(TrueClass) || value.is_a?(FalseClass) %>
                    <%= value %>
                <% else %>
                    <%= debug value %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

