  <div style="width:100%;" class="pam">
    <div class="center-block partner-carousel-image" style="">
      <%= school.link_to_overview do %>
        <div class="ma oh hidden-xs center-block">
            <%= school.street_view_photo(450,170) %>
        </div>
        <div class="pam link-darkgray">
          <div class="clearfix">
            <div class="fl prm">
              <% rating = school.great_schools_rating %>
              <% if rating.present? && rating.to_i > 0 %>
                <span class="vam iconx24-ratings i-24-ratings-<%= school.great_schools_rating %>"></span>
              <% end %>
            </div>
            <div class="fl" style="width: 80%;">
              <span class="open-sans_sb notranslate">
                <%= school.name %>
              </span>
              <br/>
              <span class="notranslate"><%= school.city_state %></span>
              <br/>
              <%= school.type %> | <%= school.process_level %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
