<%= link_to(school_hash_to_url_for_profile(school)) do %>
    <div class="row gray-border mvm mhs link-darkgray">
      <div class="fl bg-medium-gray hidden-xs visible-sm visible-mg visible-lg">
        <img src="<%= image_path('lib/media_missing_70x70.png') %>" alt="No school photo available"/>
      </div>
      <div class="pvs pvm phm clearfix col-xs-12 col-sm-8 col-lg-9">
        <div class="mhm fl db iconx24-icons i-24-ratings-<%= (school['gs_rating'] || 'nr') %>"></div>
        <div class="fl col-xs-9 col-lg-11">

          <div class="open-sans_cb mbs"><%= school['name'] %></div>
          <div class="mbn">
            <div class="fl"><%= school['city'] %>, <%= school['state'] %></div>
            <div class="fl phs">|</div>
            <div class="fl"><%= school['type'].capitalize %></div>
            <div class="fl phs">|</div>
            <div class="fl"><%= school['level'] %></div>
          </div>
        </div>
      </div>
    </div>
<% end %>
