<%= render 'shared/qualaroo' %>

<%= render 'school_profile/header', school: @school %>
<%= render 'school_profile/profile_nav', school: @school, page_name: :reviews %>
<%= render 'school_profile/profile_nav_w_dropdowns', school: @school, page_name: :reviews %>

<div class="row limit-width-1200">
    <% # require 'pry'; binding.pry %>
    <% if @school_reviews.blank? %>
      <div class="col-xs-12 mtl"  style="z-index: 1;">
        <% if @show_ads %>
          <div class="pvl">
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Content_Top'.to_sym, view: :desktop  %>
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Content_Top'.to_sym, view: :mobile  %>
          </div>
        <% end %>
        <%= render 'principal_review', review: @school_reviews.principal_review if @school_reviews.has_principal_review? %>
        <%= render 'shared/review_no_ratings' %>
        <%= render 'shared/reviews/topical_review_section' %>
      </div>
    <% else %>
        <div class="col-xs-12 ptl"  style="z-index: 1;">
            <% require 'pry'; binding.pry %>
            <% if @show_ads %>
              <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Content_Top'.to_sym, view: :desktop  %>
              <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Content_Top'.to_sym, view: :mobile  %>
            <% end %>
            <%= render 'principal_review', review: @school_reviews.principal_review if @school_reviews.has_principal_review? %>
            <div class="row">
              <div class="col-xs-12">
                <% if @show_ads %>
                  <%= render 'shared/reviews/topical_review_section' %>
                <% else %>
                  <%= render 'shared/review_top_sections',
                             driver: 'Reviews',
                             average_score: @school_reviews.average_score,
                             ratings_count: @school_reviews.count %>
                <% end %>
              </div>
            </div>
            <% if @show_ads %>
              <div class="row">
                <div class="col-xs-12">
                  <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Text'.to_sym, view: :desktop  %>
                  <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Text'.to_sym, view: :mobile  %>
                </div>
              </div>
            <% end %>
          <% require 'pry'; binding.pry %>

            <%= render 'review_list_header', reviews: @school_reviews %>

            <div class="js_reviewsList">
                <%= render partial: '/shared/review_module',
                           collection: @school_reviews.having_comments, as: :review, locals: { include_rich_snippets: true } %>
            </div>

          <%= button_tag(
                'Read more',
                class: "mtm col-xs-12 btn btn-default js_reviewsGetNextTen #{'dn' unless @school_reviews.count > 10}",
                style: 'z-index: 1;',
                data: {
                   'total-count' => @school_reviews.having_comments.count,
                   'all-count' => @school_reviews.having_comments.count,
                   'parent-count' => @school_reviews.parent_reviews.having_comments.count,
                   'student-count' => @school_reviews.student_reviews.having_comments.count,
                   'offset' => @review_limit,
                   'limit' => @review_limit
                }) %>


        </div>
    <% end %>
</div>

<% if @facebook_comments_show %>
  <%= render 'shared/facebook_comments', permalink: @facebook_comments_permalink %>
<% end %>
<%= render 'data_layouts/nearby_schools' %>
<%= render 'nav/school_profile_footer', state: @state, cities: @cities %>

<%= render 'shared/rich_snippets/rich_snippets_school_info', school: @school %>
<%= render 'shared/rich_snippets/rich_snippets_profile_page', last_modified_date: @last_modified_date %>
<%= render 'shared/rich_snippets/rich_snippets_average_review_rating', school: @school %>
