<%= render 'nav/topnav' %>
<%= render 'school_profile/header', school: @school %>
<%= render 'school_profile/profile_nav', school: @school, page_name: :reviews %>

<div class="row limit-width-1200">
    <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>

    <% if @school_reviews_global.review_filter_totals.all == 0 || @school_reviews_global.review_filter_totals.all.nil? %>
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 mtl"  style="z-index: 1;">
            <% if @show_ads %>
                <div class="pvl">
                    <%= render 'layouts/ad_layer', page: ('School_'+@page_config.name).to_sym, slot: 'Content_Top'.to_sym, view: :desktop  %>
                    <%= render 'layouts/ad_layer', page: ('School_'+@page_config.name).to_sym, slot: 'Content_Top'.to_sym, view: :mobile  %>
                </div>
            <% end %>
            <% if @school_principal_review %>
                <div class="well mvl row" style="padding:40px">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 tac pvm prm"><%= image_tag(image_path("lib/school_principal_icon_130x130_072214.png"))%></div>
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12  clearfix">
                        <h2 class="ptn mtn">School Official Point of View</h2>
                        <span class="open-sans_i"><%= @school_principal_review.comments %></span>
                        <br />
                        <div class="fr ptm"><%= @school_principal_review.posted.to_formatted_s(:long)  %></div>
                    </div>
                </div>
            <% end %>
            <%= render "shared/review_no_ratings" %>
            <% if @show_ads %>
                <%= render "shared/reviews/top_section_with_ad",driver: 'Reviews' %>
            <% end %>
        </div>
    <% else %>
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 ptl"  style="z-index: 1;">
            <% if @show_ads %>
                <%= render 'layouts/ad_layer', page: ('School_'+@page_config.name).to_sym, slot: 'Content_Top'.to_sym, view: :desktop  %>
                <%= render 'layouts/ad_layer', page: ('School_'+@page_config.name).to_sym, slot: 'Content_Top'.to_sym, view: :mobile  %>
            <% end %>
            <% if @school_principal_review %>
                <div class="well mvl row" style="padding:40px">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 tac pvm prm"><%= image_tag(image_path("lib/school_principal_icon_130x130_072214.png"))%></div>
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12  clearfix">
                        <h2 class="ptn mtn">School Official Point of View</h2>
                        <span class="open-sans_i"><%= @school_principal_review.comments %></span>
                        <br />
                        <div class="fr ptm"><%= @school_principal_review.posted.to_formatted_s(:long)  %></div>
                    </div>
                </div>
            <% end %>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <% if @show_ads %>
                        <%= render "shared/reviews/top_two_sections" %>
                        <%= render "shared/reviews/top_section_with_ad",driver: 'Reviews' %>
                    <% else %>
                        <%= render "shared/review_top_sections",driver: 'Reviews' %>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <hr />
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pam">
                    <h3 class="mvn"><%= write_review_count 'review' %> of this school</h3>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 clearfix pam">
                    <div class="dropdown fr pll margin-bottom-mobile">
                        <button type="button" class="btn btn-default js_reviewFilterDropDownText js_bootstrapExtDropdownText" data-toggle="dropdown" href="#">Date newest to oldest <b class="caret"></b></button>
                        <ul class="dropdown-menu mll js_reviewFilterDropDown" data-order-selected="newToOld">
                            <li><a data-order-review="newToOld">Date newest to oldest</a></li>
                            <li><a data-order-review="oldToNew">Date oldest to newest</a></li>
                            <li><a data-order-review="ratingsHighToLow">Ratings high to low</a></li>
                            <li><a data-order-review="ratingsLowToHigh">Ratings low to high</a></li>

                        </ul>
                    </div>
                    <% if @school_reviews_global.review_filter_totals.parent != @school_reviews_global.review_filter_totals.all %>
                        <div class="fr">
                            <div class="btn-group js_reviewFilterButton js_bootstrapExtButtonSelect" data-group-selected="all">
                                <button type="button" class="btn btn-default active" data-group-name="all">All</button>
                                <% if @school_reviews_global.review_filter_totals.parent > 0 %>
                                    <button type="button" class="btn btn-default" data-group-name="parent">Parents</button>
                                <% end %>
                                <% if @school_reviews_global.review_filter_totals.student > 0 %>
                                    <button type="button" class="btn btn-default" data-group-name="student">Students</button>
                                <% end %>

                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="js_reviewsList">
                <%= render partial: '/shared/review_module',
                           collection: @school_reviews, as: :review, locals: { include_rich_snippets: true } %>
            </div>
            <% if @school_reviews_global.review_filter_totals.all <= 10 %>
                <% @review_button_hide ="dn" %>
            <% end %>
            <button data-total-count="<%= @school_reviews_global.review_filter_totals.all %>"
                    data-all-count="<%= @school_reviews_global.review_filter_totals.all %>"
                    data-parent-count="<%= @school_reviews_global.review_filter_totals.parent %>"
                    data-student-count="<%= @school_reviews_global.review_filter_totals.student %>"
                    data-offset="<%= @review_limit %>"
                    data-limit="<%= @review_limit %>"
                    class="mtm col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default js_reviewsGetNextTen <%= @review_button_hide %>" style="z-index: 1;">Read more</button>
        </div>
    <% end %>
</div>
<%= render 'data_layouts/nearby_schools' %>
<%= render 'nav/school_profile_footer', state: @state, cities: @cities %>

<%= render 'shared/rich_snippets/rich_snippets_school_info', school: @school %>
<%= render 'shared/rich_snippets/rich_snippets_profile_page', last_modified_date: @last_modified_date %>
<%= render 'shared/rich_snippets/rich_snippets_average_review_rating', school: @school %>
