<%= render 'shared/qualaroo' %>

<%= render 'school_profile/header', school: @school %>
<%= render 'school_profile/profile_nav', school: @school, page_name: :reviews %>
<%= render 'school_profile/profile_nav_w_dropdowns', school: @school, page_name: :reviews %>
<div class="row limit-width-1200">
    <% if @school_reviews.blank? %>
      <div class="col-xs-12 mtl"  style="z-index: 1;">
        <% if @show_ads %>
          <div class="pvl">
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Content_Top'.to_sym, view: :desktop  %>
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Content_Top'.to_sym, view: :mobile  %>
          </div>
        <% end %>
        <%= render 'principal_review', review: @school_reviews.principal_review if @school_reviews.has_principal_review? %>
        <%= render 'shared/review_no_ratings' %>
        <%= render 'school_profile/reviews/topical_review_section' %>
      </div>
    <% else %>
        <div class="col-xs-12 ptl"  style="z-index: 1;">
            <% if @show_ads %>
              <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Content_Top'.to_sym, view: :desktop  %>
              <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Content_Top'.to_sym, view: :mobile  %>
            <% end %>
          <%= render 'principal_review', review: @school_reviews.principal_review if @school_reviews.has_principal_review? %>
          <%= render 'school_profile/reviews/topical_review_section' %>
          <% if @show_ads %>
              <div class="row">
                <div class="col-xs-12">
                  <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Text'.to_sym, view: :desktop  %>
                  <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Text'.to_sym, view: :mobile  %>
                </div>
              </div>
            <% end %>

            <%= render 'review_list_header', reviews: @school_reviews %>

            <div class="js_reviewsList">
                <%= render partial: '/shared/review_module',
                           collection: @school_reviews.having_comments.take(10), as: :review, locals: { include_rich_snippets: true } %>
            </div>

          <%= button_tag(
                t('.read_more'),
                class: "mtm col-xs-12 btn btn-default js_reviewsGetNextTen #{'dn' unless @school_reviews.number_of_reviews_with_comments > 10}",
                style: 'z-index: 1;',
                data: {
                   'total-count' => @school_reviews.number_of_reviews_with_comments,
                   'all-count' => @school_reviews.number_of_reviews_with_comments,
                   'parent-count' => @school_reviews.parent_reviews.having_comments.count,
                   'student-count' => @school_reviews.student_reviews.having_comments.count,
                   'offset' => @reviews_page_size,
                   'limit' => @reviews_page_size
                }) %>


        </div>
    <% end %>
</div>

<%= render 'data_layouts/nearby_schools' %>
<%= render 'nav/school_profile_footer', state: @state, cities: @cities %>

<%= render 'shared/rich_snippets/rich_snippets_school_info', school: @school %>
<%= render 'shared/rich_snippets/rich_snippets_profile_page', last_modified_date: @last_modified_date %>
<%= render 'shared/rich_snippets/rich_snippets_average_review_rating', school: @school, school_reviews: @school_reviews %>
