<div class="rectangle-inset gs-bootstrap">
  <header>
    <h2 class="dib mtl"><%= t('.heading') %></h2>
  </header>
  <div class="password-reset-inset">
    <div class="tab-content well">
      <%= render 'reset_password_form'  %>
    </div>
  </div>
  <footer>
    <ul>
      <li><span>250,000+</span> <%= t('.school_profiles_count') %></li>
      <li><span>1.3M+</span> <%= t('.community_reviews_count') %></li>
      <li><span>14,000+</span> <%= t('.articles_count') %></li>
    </ul>
  </footer>
</div>

<%= render 'nav/short_footer' %>

