<div class="bg-white brs pal tac">
  <form class="rs-reset-password-form"
    method="post" action="<%= change_password_path %>"
    data-parsley-validate >
    <fieldset>
        <%= token_tag form_authenticity_token %>
          <div class="form-group tal mvl">
            <label class="control-label" for="new_password"><%= t('.new_password') %></label>
            <%= password_field_tag(
                  :new_password,
                  nil,
                  {
                    class: 'form-control input-xlarge',
                    'data-parsley-required' => "true",
                    'data-parsley-length' => "[6,14]",
                    'data-parsley-error-container' => ".js-new-password-errors"
                  }
                ) %>
              <p class="js-new-password-errors help-block"></p>
          </div>
          <div class="form-group tal mvl">
            <label class="control-label" for="confirm_password"><%= t('.confirm_password') %></label>
            <%= password_field_tag(
                  :confirm_password,
                  nil,
                  {
                    class: 'form-control input-xlarge',
                    'data-parsley-required' => "true",
                    'data-parsley-equal-to' => '#new_password',
                    'data-parsley-length' => "[6,14]",
                    'data-parsley-error-container' => ".js-confirm-password-email-errors"
                  }
                ) %>

            <p class="js-confirm-password-errors help-block"></p>
          </div>

          <%= button_tag('Submit',{class:"btn mvl btn-primary"}) %>
    </fieldset>
  </form>
</div>
