<h1>Choose a Password</h1>

<form class="rs-reset-password-form" method="post" action="<%= change_password_path %>">
  <%= token_tag form_authenticity_token %>
  Password <%= text_field_tag(:new_password) %>
  Confirm password <%= text_field_tag(:confirm_password) %>
  <%= button_tag('Submit') %>
</form>