


<%= javascript_tag do %>
    $(function() {
    $('input:checkbox').on('click', function() {
    var $this = $(this);
    var value = $this.prop('checked');
    var name = $this.attr('name');

    new_location = location.href.replace(new RegExp("&?" + name + "=([^&]$|[^&]*)", "i"), "");

    if (_.indexOf(new_location, '?') == -1) {
    new_location += '?';
    } else {
    new_location += '&';
    }
    location.href = new_location + name + "=" + value;
    });
    });
<% end %>

<%= render 'reviews_moderation_search_nav' %>

<div class="row limit-width-1200">
    <div class="row pbl">
        <%= div_tag sizes: { md: 6, lg: 6 } do %>
            <h3>Moderation list</h3>
            <!--<div>
          Filter reviews (filters are restrictive)  <br/>
          <%= check_box_tag :open_cases, true, params[:open_cases] == 'true' %> Only open cases &nbsp;&nbsp;
        </div>-->

            <div>
                <% if @school %>
                    <br/>
                    Showing reviews for <%= @school.name %>. <%= link_to 'View all', moderation_admin_reviews_path %>
                <% end %>

            </div>
        <% end %>

    </div>

    <h3>Flagged reviews</h3>

    <table class="table table-striped" id="flagged_reviews_table">
        <thead>
        <tr>
            <td>Status</td>
            <td>School</td>
            <td>Reason</td>
            <td>Case opened on</td>
        </tr>
        </thead>
        <tbody>
        <% @reported_reviews.each do |review| %>
            <tr>
                <td>
                    <%= review.status %>
                </td>
                <td>
                    <% if review.school %>
                        <% school = review.school %>
                        <%= link_to school.name, admin_school_moderate_path(state: school_params(school)[:state], school_id: school.id, review_id: review.id) %>
                    <% else %>
                        School not found
                    <% end %>
                </td>
                <td>
                    <%= review.reported_entities.first.reason if review.reported_entities.any? %>
                </td>
                <td>
                    <%= review.reported_entities.first.created.strftime '%B %d, %Y' if review.reported_entities.any? %>
                </td>
            </tr>
        <% end %>
        </tbody>

    </table>

    <br/><br/>


    <h3>Unprocessed reviews</h3>
    <table class="table table-striped" style="margin-bottom: 0px">
        <thead>
        <tr>
            <td>Status</td>
            <td>School</td>
            <td>Reason</td>
            <td>Case opened on</td>
        </tr>
        </thead>
        <tbody>
        <% @reviews_to_process.each do |review| %>
            <tr>
                <td>
                    <%= review.status %>
                </td>
                <td>
                    <% if review.school %>
                        <% school = review.school %>
                        <%= link_to school.name, admin_school_moderate_path(state: school_params(school)[:state], school_id: school.id) %>
                    <% else %>
                        School not found
                    <% end %>
                </td>
                <td>
                </td>
                <td>
                    <%= review.posted.strftime '%B %d, %Y' %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    Unprocessed reviews: <%= paginate @reviews_to_process, param_name: :unprocessed_reviews_page %>
</div>
