<%= render 'reviews_navigation', page_name: :moderation_list %>

<div class="row limit-width-1200">
    <div class="row pbl">
        <%= div_tag sizes: { md: 6, lg: 6 } do %>
            <h3>Reviews moderation list</h3>
            <!--<div>
          Filter reviews (filters are restrictive)  <br/>
          <%= check_box_tag :open_cases, true, params[:open_cases] == 'true' %> Only open cases &nbsp;&nbsp;
        </div>-->

            <div>
                <% if @school %>
                    <br/>
                    Showing reviews for <%= @school.name %>. <%= link_to 'View all', moderation_admin_reviews_path %>
                <% end %>
            </div>
        <% end %>
    </div>

    <h3>Flagged reviews (<%= @reported_reviews.size %>) </h3>

    <table class="table table-striped" id="flagged_reviews_table">
        <thead>
        <tr>
            <td>Review</td>
            <td>Status</td>
            <td>School</td>
            <td>State</td>
            <td>Reviewer</td>
            <td>Reports</td>
            <td>A&nbsp;Flagged</td>
            <td>U&nbsp;Flagged</td>
            <td>Opened&nbsp;on</td>
        </tr>
        </thead>
        <tbody>

        <% @reported_reviews.each do |review| %>

            <% is_auto_flagged = false %>
            <% is_user_flagged = false %>
            <%  review.reports.each do |reported_entity| %>
                <% if reported_entity.member_id == -1 || reported_entity.member_id == nil || reported_entity.member_id == 0 %>
                    <% is_auto_flagged = true %>
                <% else %>
                    <% is_user_flagged = true %>
                <% end %>
            <% end %>

            <tr>
                <td>
                  <% if review.school %>
                    <% school = review.school %>
                      <%= link_to truncate(review.comment, length: 20), admin_school_moderate_path(state:
                                                                                                          school_params(school)[:state], school_id: school.id, review_id: review.id) %>
                    <% else %>
                      <%= truncate(review.comment, length: 20) %>
                    <% end %>
                  </td>
                <td class="tac">
                    <%= review.status.to_s.capitalize %>
                </td>
                <td>
                    <% if review.school %>
                        <% school = review.school %>
                        <%= link_to school.name, admin_school_moderate_path(state: school_params(school)[:state], school_id: school.id) %>
                    <% else %>
                        School not found
                    <% end %>
                </td>
                <td class="tac">
                  <%= review.school.state if review.school%>
                </td>
                <td><%= link_to( review.user.email, users_admin_reviews_path( :review_moderation_search_string =>
                                                                                  review.user.email)) if review
                    .school%>
                  </td>
                <td class="tac">
                    <%= review.reports.size if review.reports.any? %>
                </td>
                <td class="tac"><%= is_auto_flagged == false ? '' : 'Y' %></td>
                <td class="tac"><%= is_user_flagged == false ? '' : 'Y' %></td>
                <td class="tar">
                    <%= review.reports.last.created.strftime '%-m/%d/%Y' if review.reports.any? %>
                </td>
            </tr>
        <% end %>
        </tbody>

    </table>

    <br/><br/>

</div>
