<%= render 'reviews_navigation', page_name: :moderation_list %>

<div class="row limit-width-1200">
    <div class="row pbl">
        <%= div_tag sizes: { md: 6, lg: 6 } do %>
            <h3>Reviews moderation list</h3>
            <!--<div>
          Filter reviews (filters are restrictive)  <br/>
          <%= check_box_tag :open_cases, true, params[:open_cases] == 'true' %> Only open cases &nbsp;&nbsp;
        </div>-->

            <div>
                <% if @school %>
                    <br/>
                    Showing reviews for <%= @school.name %>. <%= link_to 'View all', moderation_admin_reviews_path %>
                <% end %>

            </div>
        <% end %>

    </div>

    <h3>Flagged reviews</h3>

    <table class="table table-striped" id="flagged_reviews_table">
        <thead>
        <tr>
            <td>Review</td>
            <td>Status</td>
            <td>School</td>
            <td>State</td>
            <td>Reviewer</td>
            <td>Total reports</td>
            <td>Auto Flagged</td>
            <td>User Flagged</td>
            <td>Case opened on</td>
        </tr>
        </thead>
        <tbody>
        <% @reported_reviews.each do |review| %>
            <% is_auto_flagged = false %>
            <% is_user_flagged = false %>
            <%  review.reported_entities.each do |reported_entity| %>
                <% if reported_entity.reporter_id == -1 %>
                    <% is_auto_flagged = true %>
                <% else %>
                    <% is_user_flagged = true %>
                <% end %>
            <% end %>

            <tr>
                <td>
                  <% if review.school %>
                    <% school = review.school %>
                      <%= link_to truncate(review.review_text, length: 20), admin_school_moderate_path(state:
                                                                                                          school_params(school)[:state], school_id: school.id, review_id: review.id) %>
                    <% else %>
                      <%= truncate(review.review_text, length: 20) %>
                    <% end %>
                  </td>
                <td>
                    <%= review.status %>
                </td>
                <td>
                    <% if review.school %>
                        <% school = review.school %>
                        <%= link_to school.name, admin_school_moderate_path(state: school_params(school)[:state], school_id: school.id) %>
                    <% else %>
                        School not found
                    <% end %>
                </td>
                <td>
                  <%= review.school.state if review.school%>
                </td>
                <td><%= link_to( review.user.email, users_admin_reviews_path( :review_moderation_search_string =>
                                                                                  review.user.email)) if review
                    .school%>
                  </td>
                <td>
                    <%= review.reported_entities.size if review.reported_entities.any? %>
                </td>
                <td><%= is_auto_flagged == false ? '' : 'Y' %></td>
                <td><%= is_user_flagged == false ? '' : 'Y' %></td>
                <td>
                    <%= review.reported_entities.last.created.strftime '%B %d, %Y' if review.reported_entities.any? %>
                </td>
            </tr>
        <% end %>
        </tbody>

    </table>

    <br/><br/>


    <h3>Unprocessed reviews</h3>
    <table class="table table-striped" style="margin-bottom: 0px">
        <thead>
        <tr>
            <td>Status</td>
            <td>School</td>
            <td>Reason</td>
            <td>Case opened on</td>
        </tr>
        </thead>
        <tbody>
        <% @reviews_to_process.each do |review| %>
            <tr>
                <td>
                    <%= review.status %>
                </td>
                <td>
                    <% if review.school %>
                        <% school = review.school %>
                        <%= link_to school.name, admin_school_moderate_path(state: school_params(school)[:state], school_id: school.id) %>
                    <% else %>
                        School not found
                    <% end %>
                </td>
                <td>
                </td>
                <td>
                    <%= review.posted.strftime '%B %d, %Y' %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    Unprocessed reviews: <%= paginate @reviews_to_process, param_name: :unprocessed_reviews_page %>
</div>
