<%= render 'reviews_navigation', page_name: :moderation_list %>

<div class="row limit-width-1200">
  <div class="col-xs-12">
    <div class="row pbl">
      <%= div_tag sizes: { sm: 12 } do %>
        <h3>Reviews moderation list</h3>

        <div class="rs-reason-filters">
          <h5>Reason filters</h5>
          <% ReviewFlag::VALID_REASONS.each do |reason| %>
            <span class="prm">
              <%= check_box_tag(reason, true, params[reason] == 'true') %>
              <%= label_tag(reason, reason) %>
            </span>
          <% end %>
        </div>

        <div>
          <% if @school %>
            <br/>
            Showing reviews for <%= @school.name %>. <%= link_to 'View all', moderation_admin_reviews_path %>
          <% end %>
        </div>
      <% end %>
    </div>

    <h3>Showing <%= @flagged_reviews.size %> flagged reviews out of <%= @flagged_reviews.total_count %> </h3>


    <%= render 'list_of_reviews', reviews: @flagged_reviews, css_class: 'flagged_reviews_table' %>

    Flagged reviews: <%= paginate @flagged_reviews, param_name: :page %>

    <br/><br/>
  </div>

</div>
