<%= render 'reviews_navigation', page_name: :moderation_list %>

<div class="row limit-width-1200">
    <div class="row pbl">
      <%= div_tag sizes: { md: 6, lg: 6 } do %>
        <h3>Reviews moderation list</h3>
        <!--
        <%= check_box_tag :open_cases, true, params[:open_cases] == 'true' %> Only open cases &nbsp;&nbsp;
        -->
        <div>
          <% if @school %>
            <br/>
            Showing reviews for <%= @school.name %>. <%= link_to 'View all', moderation_admin_reviews_path %>
          <% end %>
        </div>
      <% end %>
    </div>

    <h3>Showing <%= @reported_reviews.size %> flagged reviews out of <%= @reported_reviews.total_count %> </h3>


    <%= render 'list_of_reviews', reviews: @reported_reviews %>

    Flagged reviews: <%= paginate @reported_reviews, param_name: :page %>

    <br/><br/>

</div>
