


<%= javascript_tag do %>
  $(function() {
  $('input:checkbox').on('click', function() {
  var $this = $(this);
  var value = $this.prop('checked');
  var name = $this.attr('name');

  new_location = location.href.replace(new RegExp("&?" + name + "=([^&]$|[^&]*)", "i"), "");

  if (_.indexOf(new_location, '?') == -1) {
  new_location += '?';
  } else {
  new_location += '&';
  }
  location.href = new_location + name + "=" + value;
  });
  });
<% end %>
<!--admin/gsr/california/schools/1/moderate/-->
<!--admin/gsr/reviews/moderation/?utf8=✓&review_moderation_search_string=tlclinard%40brtc.net-->
<%= render 'reviews_navigation', page_name: :schools %>

<div class="row ptl limit-width-1200">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= form_tag schools_admin_reviews_path, method: 'get', role: 'form', class: 'form-inline' do %>
      <legend>Find a school by state & ID</legend>
      <div class="form-group">
        <%= select_tag 'state', options_from_collection_for_select(States.abbreviations, :to_s, :upcase), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= number_field_tag 'school_id', nil, class: 'form-control', placeholder: 'School ID' %>
      </div>
      <button type="submit" class="btn btn-primary" id="submit" style="margin-left: 40px">Search</button>
    <% end %>
  </div>
</div>


<div class="row limit-width-1200">
  <div class="row pbl">
    <%= div_tag sizes: { md: 6, lg: 6 } do %>
      <!--<h3>School</h3>-->
      <!--<div>
          Filter reviews (filters are restrictive)  <br/>
          <%= check_box_tag :open_cases, true, params[:open_cases] == 'true' %> Only open cases &nbsp;&nbsp;
        </div>-->

      <div>
        <% if @school %>
          <br/>
          Showing reviews for <%= @school.name %>. <%= link_to 'View all', moderation_admin_reviews_path %>
        <% end %>

      </div>
    <% end %>

  </div>

 </div>
