<%= render 'reviews_navigation', page_name: :schools %>

<%= render 'reviews_school_search' %>

<div class="row limit-width-1200">
  <div class="row pbl">
    <%= div_tag sizes: { md: 6, lg: 6 } do %>
      <!--<h3>School</h3>-->
      <!--<div>
          Filter reviews (filters are restrictive)  <br/>
          <%= check_box_tag :open_cases, true, params[:open_cases] == 'true' %> Only open cases &nbsp;&nbsp;
        </div>-->

      <div>
        <% if @school %>
          <br/>
          Showing reviews for <%= @school.name %>. <%= link_to 'View all', moderation_admin_reviews_path %>
        <% end %>

      </div>
    <% end %>

  </div>

 </div>
