  <div type="button" class="btn btn-default fifth-width js-sportsIconButton"
         data-toggle="tooltip" title="<%=filter.label%>"
         style="padding-left: 9px; padding-bottom: 8px;"
         data-container="body"
         data-gs-checkbox-value="<%=filter.value%>"
         data-gs-checkbox-category="<%=filter.name%>[]"
         data-gs-checkbox-icon-label="i-24-<%=filter.label.downcase%>"
  >

    <span class='iconx24-icons i-24-<%=filter.label.downcase%>-off js-icon'></span>
    <input type="hidden" class="js-value">
  </div>