<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag 'react-redux', defer: true %>
  <%= webpack_javascript_include_tag 'community', defer: true %>
<% end %>
<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag "community_post_load", async: true %>
  <%= stylesheet_link_tag "state", async: true %>
<% end %>

<div class="community-page">
  <div class="state-body">
    <%= react_component('SearchBoxWrapper') %>

    <div class="breadcrumbs-container">
      <%= render 'school_profiles/breadcrumbs', breadcrumbs: @breadcrumbs %>
    </div>
    <%= render 'community/hero', school_count: @school_count %>

    <div class="below-hero">
      <%= render 'community/toc' %>

      <div class="community-modules">
        <div class="display-mobile">
          <%= react_component("Ad", props: {
              slot: "statepage_first",
              sizeName: "thin_banner_mobile"
          }) %>
        </div>

        <div id="schools" class="module-section">
          <div class="modules-title"><%= I18n.t('explore_in_state', scope: 'community.state', name_long: @state[:long].titleize) %></div>

          <%# TODO: Add viewportSize check to React component itself %>
          <%= react_component("TopSchoolsStateful", props: {
              community: 'state',
              schoolsData: @top_schools[:schools],
              locality: @locality,
              schoolLevels: @top_schools[:counts]
          }) %>

          <%# TODO: Add viewportSize check to React component itself %>
          <% if @school_levels %>
            <div class="modules-title"><%= I18n.t('explore_by_type', scope: 'community.state') %></div>
            <%= react_component("SchoolBrowseLinks", props: {
                community: 'state',
                locality: @locality,
                schoolLevels: @school_levels
            }) %>
          <% end %>
        </div>

        <%# TODO: Add viewportSize check to React component itself %>
        <% if @csa_module %>
          <div id="award-winning-schools" class="module-section">
            <%= react_component("CsaTopSchools", props: {
                community: 'state',
                schools: @top_schools[:schools][:csa],
                locality: @locality
            }) %>
          </div>
        <% end %>

        <div id="academics" class="module-section">
          <%= react_component("AcademicsDataModule", props: {
              title: @academics[:title],
              anchor: @academics[:anchor],
              subtitle: @academics[:subtitle],
              info_text: @academics[:info_text],
              icon_classes: @academics[:icon_classes],
              sources: @academics[:sources],
              share_content: @academics[:share_content],
              rating: @academics[:rating],
              data: @academics[:data],
              analytics_id: @academics[:analytics_id],
              showTabs: @academics[:showTabs],
              faq: @academics[:faq],
              feedback: @academics[:feedback],
              suppressIfEmpty: true,
              pageType: 'state'
          }) %>
        </div>

        <div id="second-ad">
          <%= react_component("Ad", props: {
              slot: "statepage_second",
              sizeName: "box"
          }) %>
        </div>

        <% if @students.ethnicity_student_demo_data || @students.gender_student_demo_data || @students.subgroups_student_demo_data %>
          <div id="students" class="module-section">
            <%= react_component("Students", props: {
                ethnicityData: @students.students_demographics['ethnicityData'],
                subgroupsData: @students.students_demographics['subgroupsData'],
                genderData: @students.students_demographics['genderData'],
                translations: @students.students_demographics['translations'],
                sources: @students.students_demographics['sources'],
                pageType: 'state'
            }) %>
          </div>
        <% end %>

        <%# TODO: Add viewportSize check to React component itself %>
        <div id="cities" class="module-section">
          <%= react_component("CityBrowseLinks", props: {
                community: 'state',
                locality: @locality,
                cities: @cities
            }) %>
        </div>

        <% if @districts.length > 0 %>
          <div id="districts" class="module-section">
            <div class="modules-title"><%= I18n.t('districts_header', scope: 'community.state', name_long: @state[:long].titleize) %></div>
            <%= react_component("DistrictsInState", props: {
                districts: @districts,
                locality: @locality
            }) %>
          </div>
        <% end %>

        <% if @reviews.length > 0 %>
          <div id="reviews" class="module-section">
            <div class="rating-container reviews-module">
              <h3><%= I18n.t('recent_reviews.title', scope: 'community.state', name_long: @state[:long].titleize) %></h3>

              <%= react_component("RecentReviews", props: {
                  community: 'state',
                  reviews: @reviews,
                  locality: @locality
              }) %>
            </div>
          </div>
        <% end %>
      </div>

      <%= render 'community/sticky_right_rail' %>

    </div>
  </div>
</div>