<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag 'react-redux', defer: true %>
  <%= webpack_javascript_include_tag 'community', defer: true %>
<% end %>
<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag "community_post_load", async: true %>
  <%= stylesheet_link_tag "state", async: true %>
<% end %>

<div class="community-page">
  <div class="state-body">
    <%= react_component('SearchBoxWrapper') %>

    <div class="breadcrumbs-container">
      <%= render 'community/breadcrumbs', breadcrumbs: @breadcrumbs %>
    </div>
    <%= render 'hero', school_count: @school_count %>


    <div class="below-hero">
      <%= render 'community/toc' %><div class="community-modules">
      
        <%# First Ad %>
        <div class="display-mobile">
          <%= react_component("AdWrapper", props: {
              slot: "statepagemobile_first",
              sizeName: "thin_banner_mobile"
          }) %>
        </div>

        <%# Schools %>
        <div id="schools" class="module-section">
          <h2 class="modules-title"><%= I18n.t('explore_in_state', scope: 'community.state', name_long: @state[:long].titleize) %></h2>

          <%# Top Schools %>
          <%= react_component("TopSchoolsStatefulWrapper", props: {
              community: 'state',
              schoolsData: @top_schools[:schools],
              locality: @locality,
              schoolLevels: @top_schools[:counts],
              summaryType: @summary_type
          }) %>

          <%# School Browse Links (Explore schools by type) %>
          <% if @school_levels %>
            <h2 class="modules-title"><%= I18n.t('explore_by_type', scope: 'community.state') %></h2>
            <%= react_component("SchoolBrowseLinksWrapper", props: {
                community: 'state',
                locality: @locality,
                schoolLevels: @school_levels
            }) %>
          <% end %>
        </div>

        <%# CSA Top Schools (Award-winning schools) %>
        <% if @csa_module %>
          <div id="award-winning-schools" class="module-section">
            <%= react_component("CsaTopSchoolsWrapper", props: {
                community: 'state',
                schools: @top_schools[:schools][:csa],
                locality: @locality
            }) %>
          </div>
        <% end %>

        <%# Academics %>
        <div id="academics" class="module-section">
          <%= react_component("AcademicsDataModuleWrapper", props: {
              title: @academics[:title],
              anchor: @academics[:anchor],
              subtitle: @academics[:subtitle],
              info_text: @academics[:info_text],
              icon_classes: @academics[:icon_classes],
              sources: @academics[:sources],
              share_content: @academics[:share_content],
              rating: @academics[:rating],
              data: @academics[:data],
              analytics_id: @academics[:analytics_id],
              showTabs: @academics[:showTabs],
              faq: @academics[:faq],
              feedback: @academics[:feedback],
              suppressIfEmpty: true,
              pageType: 'state'
          }) %>
        </div>

        <%# Second Ad %>
        <div id="second-ad">
          <%= react_component("AdWrapper", props: {
              slot: "statepage_second",
              sizeName: "box"
          }) %>
        </div>

        <%# Student Demographics %>
        <% if @students.ethnicity_student_demo_data || @students.gender_student_demo_data || @students.subgroups_student_demo_data %>
          <div id="students" class="module-section">
            <%= react_component("StudentsWrapper", props: {
                ethnicityData: @students.students_demographics['ethnicityData'],
                subgroupsData: @students.students_demographics['subgroupsData'],
                genderData: @students.students_demographics['genderData'],
                translations: @students.students_demographics['translations'],
                sources: @students.students_demographics['sources'],
                pageType: 'state'
            }) %>
          </div>
        <% end %>

        <%# City Browse Links (Cities) %>
        <div id="cities" class="module-section">
          <%= render 'community/city_browse_links', cities: @cities, locality: @locality %>
        </div>

        <%# Districts %>
        <% if @districts.length > 0 %>
          <div id="districts" class="module-section">
            <h2 class="modules-title"><%= I18n.t('districts_header', scope: 'community.state', name_long: @state[:long].titleize) %></h2>
            <%= react_component("DistrictsInStateWrapper", props: {
                districts: @districts,
                locality: @locality
            }) %>
          </div>
        <% end %>

        <%# Reviews %>
        <% if @reviews.length > 0 %>
          <div id="reviews" class="module-section">
            <div class="rating-container reviews-module">
              <h3><%= I18n.t('title', scope: 'community.recent_reviews') %> <%= @state[:long].titleize %></h3>

              <%= react_component("RecentReviewsWrapper", props: {
                  community: 'state',
                  reviews: @reviews,
                  locality: @locality
              }) %>
            </div>
          </div>
        <% end %>
      </div><%= render 'community/sticky_right_rail', ad_slot_name: "statepage_first" %>
    </div>
  </div>
</div>