<% content_for :javascript_includes do %>
  <script>
    $(document).ready(function() {
      GS.viewMoreCollapseInit();
    });
  </script>
<% end %>

<%= render 'nav/topnav', hub_params: @hub_params %>

<%= render 'shared/search_hero', collection_nickname: @collection_nickname,
                          state: @state,
                          hero_image: @hero_image,
                          hero_image_mobile: @hero_image_mobile,
                          sponsor: @sponsor,
                          state_page: true %>

<div class="limit_width_1200">
  <%= render 'shared/choose_a_school', choose_school: @choose_school %>
</div>

<%= render 'content_module', content_modules: @content_modules %>

<div class="limit_width_1200">
  <%= render 'featured_articles', articles: @articles, state: @state %>
  <% if @partners.nil? %>
    <div class="clearfix" style='margin-bottom: 60px;'></div>
  <% end %>
  <%= render 'partners', partners: @partners %>
</div>

<%= render 'shared/state_footer', state: @state, cities: @cities %>
