<% content_for :javascript_includes do %>
  <script>
    $(document).ready(function() {
      GS.viewMoreCollapseInit();
      GS.track.setOmnitureData();
      GS.util.setupImages({ selector: '.js-choose-a-school-img', desktopImage: '<%= image_path('hubs/choose_a_school.png')%>',loadMobile: false});

    });
  </script>
<% end %>

<%= render 'nav/topnav', hub_params: @hub_params %>

<%= render 'shared/search_hero', collection_nickname: @collection_nickname,
                          state: @state,
                          browse_links: @browse_links,
                          hero_image: @hero_image,
                          hero_image_mobile: @hero_image_mobile,
                          sponsor: @sponsor,
                          state_page: true %>

<div class="limit-width-1200 mvl">
  <%= render 'shared/choose_a_school', choose_school: @choose_school %>
  <%= render 'shared/upcoming_events', important_events: @important_events, announcement: @announcement %>

  <% ad_hash_review_module={page:'State_Home'.to_sym,slot:'Content_Top'.to_sym}%>
    <%= render 'shared/review_global', ad_data:ad_hash_review_module %>
  <%= render 'content_module', content_modules: @content_modules %>
  <%= render 'featured_articles', articles: @articles, state: @state %>
</div>

<%= render 'partners', partners: @partners %>
<% if @show_ads %>
    <div class="mvl">
        <%= render 'layouts/ad_layer', page: ('State_Home').to_sym, slot: :Footer, view: :desktop  %>
        <%= render 'layouts/ad_layer', page: ('State_Home').to_sym, slot: :Footer, view: :mobile  %>
    </div>

<% end %>
<%= render 'shared/state_footer', state: @state, cities: @cities %>
