<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag 'react-redux', defer: true %>
  <%= webpack_javascript_include_tag 'community', defer: true %>
<% end %>
<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag "community_post_load", async: true %>
  <%= stylesheet_link_tag "state", async: true %>
<% end %>

<div class="community-page">
  <div class="state-body">
    <%= react_component('SearchBoxWrapper') %>

    <div class="breadcrumbs-container">
      <%= render 'school_profiles/breadcrumbs', breadcrumbs: @breadcrumbs %>
    </div>
    <%= render 'community/hero', school_count: @school_count %>

    <div class="below-hero">
      <%= render 'community/toc' %>

      <div class="community-modules">
        <%= react_component("State", props: {
            cities: @cities,
            schoolCount: @school_count,
            school_levels: @school_levels,
            schools_data: @top_schools,
            breadcrumbs: @breadcrumbs,
            locality: @locality,
            districts: @districts,
            csa_module: @csa_module,
            reviews: @reviews,
            students: @students.students_demographics,
            academics: @academics
        }) %>
      </div>

      <%= render 'community/sticky_right_rail' %>
    </div>
  </div>
</div>