<%= render 'nav/topnav' %>

<%= render partial: 'nav/search_bar_guided_search', locals: { show_grades_filter: false } %>

<!--
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;libraries=places&amp;sensor=false&amp;signature=qeUgzsyTsk0gcv93MnxnJ_0SGTw="></script>
-->
<script type="text/javascript">


var map;
var infowindow;

function initialize() {
  var pyrmont = new google.maps.LatLng(45.5201, -122.626);

  map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: pyrmont,
    zoom: 15
  });

  var request = {
    location: pyrmont,
    radius: 5000,
    types: ['locality'],
    query: 'Portland',
    placeId: "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw"
  };
  infowindow = new google.maps.InfoWindow();
  var service = new google.maps.places.PlacesService(map);
  service.getDetails(request, callback);
}

function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    console.log(results);
    console.log('foo:', results.photos);
    for (var i = 0; i < results.length; i++) {
      console.log('sdlfjsldfsj');
  console.log('oo', results[i].photos);
      createPhotoMarker(results[i]);
    }
  }
}

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}

function createPhotoMarker(place) {
  var photos = place.photos;
  console.log('oo', place.photos);
  if (!photos) {
    return;
  }

  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location,
    title: place.name,
    icon: photos[0].getUrl({'maxWidth': 35, 'maxHeight': 35})
  });
}

//google.maps.event.addDomListener(window, 'load', initialize);

</script>
<% state = StateHomeDecorator.decorate(@state) %>

<div class="row limit-width-1200">
  <h1><%= state.name %> Schools</h1>
</div>
<div id="map-canvas"></div>

<div class="row limit-width-1200">
  <h2>About <%= state.name %> data</h2>
  <p>
    GreatSchools has profiles for more than 
    <%= state.approximate_schools_in_state %> public, public charter, 
    and private schools in <%= state.name %>. As you search for schools that 
    fit your family, you’ll find information on academic performance, 
    extracurricular programs, school culture, and more.
  </p>
</div>

<% images = [
  'http://t3.gstatic.com/images?q=tbn:ANd9GcT3pGIwavWeouUioEjOh_XoAqZ9sakilCjzLzA-UayfyX6HejUt',
  'http://upload.wikimedia.org/wikipedia/commons/3/35/Salem_Oregon_downtown.JPG',
  'http://t2.gstatic.com/images?q=tbn:ANd9GcQQAdPZk3mTA95dq7JMFr_2819oMX8PfZA8e-wiMlOaOSW6fuotzg',
  'http://static.panoramio.com/photos/large/11441780.jpg'
] %>
<div class="row limit-width-1200">
  <% state.short_cities_list.first[0..3].each_with_index do |city, index| %>
    <%= div_tag sizes: { xs: 6, sm: 3, md: 3, lg: 3 } do %>
      <h3><%= city.name %></h3>
      <div><img src="<%= images[index] %>" width="180px" height="120px"/></div>
    <% end %>
  <% end %>
</div>

<% column_sizes = { xs: 6, sm: 3, md: 3, lg: 3 } %>
<div class="row limit-width-1200">
  <h2><%= state.name %> cities <a onclick="$('.toggle-cities').slideToggle(); $(this).text(function(i, text){return text === 'See all <%= state.number_of_cities %> cities' ? 'See fewer' : 'See all <%= state.number_of_cities %> cities'; });">See all <%= state.number_of_cities %> cities</a></h2>
  <div class="toggle-cities">
    <% state.short_cities_list.each do |column_of_cities| %>
      <%= div_tag sizes: column_sizes do %>
        <% column_of_cities.each do |city| %>
          <%= link_to(city.name, city_path(city_params(@state[:long], city.name))) %></br>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="toggle-cities dn">
    <% state.expanded_cities_list.each do |column_of_cities| %>
      <%= div_tag sizes: column_sizes do %>
        <% column_of_cities.each do |city| %>
          <%= link_to(city.name, city_path(city_params(@state[:long], city.name))) %></br>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% column_sizes = { xs: 6, sm: 3, md: 3, lg: 3 } %>
<div class="row limit-width-1200">
  <h2><%= state.name %> school districts <a onclick="$('.toggle-districts').slideToggle(); $(this).text(function(i, text){return text === 'See all <%= state.number_of_districts %> districts' ? 'See fewer' : 'See all <%= state.number_of_districts %> districts'; });">See all <%= state.number_of_districts %> districts</a></h2>
  <div class="toggle-districts">
    <% state.short_districts_list.each do |column_of_districts| %>
      <%= div_tag sizes: column_sizes do %>
        <% column_of_districts.each do |city| %>
          <%= link_to(city.name, city_path(city_params(@state[:long], city.name))) %></br>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="toggle-districts dn">
    <% state.expanded_districts_list.each do |column_of_districts| %>
      <%= div_tag sizes: column_sizes do %>
        <% column_of_districts.each do |city| %>
          <%= link_to(city.name, city_path(city_params(@state[:long], city.name))) %></br>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

</br>

<%= render 'shared/state_footer', state: @state %>