<div class="row tal invert-colors mtl" style='background-color: transparent;'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pvl">
    <%= render 'shared/google_translate_selector' %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4>About GreatSchools</h4>

    <p class="prl">
      Our mission is to help millions of parents get a great education for their kids. GreatSchools.org is an independent
      nonprofit and the leading national source of school information for families.
    </p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <h4>Company</h4>
          <ul>
            <li><%= link_to 'Our mission', our_mission_url %></li>
            <li><%= link_to 'Our people', our_people_url %></li>
            <li><%= link_to 'Jobs', jobs_url %></li>
            <li><%= link_to 'Contact us', contact_us_url %></li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <h4>Media</h4>
          <ul>
            <li><%= link_to 'Advertise with us', advertise_url %></li>
            <li><%= link_to 'Partners', partners_url %></li>
            <li><%= link_to 'Media room', media_room_url, rel: 'nofollow' %></li>
            <li><%= link_to 'Licensing', licensing_url%></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h4>Policies</h4>
          <ul>
            <li><%= link_to 'How we rate schools', how_we_rate_schools_url %></li>
            <li><%= link_to 'School review guidelines', school_review_guidelines_url %></li>
            <li><%= link_to 'Terms of use', terms_of_use_url, rel: 'nofollow' %></li>
            <li><%= link_to 'Privacy policy', privacy_url %></li>
          </ul>
        </div>
      </div>
  </div>
</div>
