<div class="gs_ad_slot ma <%= ad_data[:visible_for] %>" id="<%= ad_data[:ad_slot_id] %>" data-ad-size="<%= ad_data[:ad_size] %>" style="width: <%= ad_data[:ad_width] %>px"  data-dfp="<%= ad_data[:ad_target] %>"></div>
<%= render 'shared/advertising_word', visible_for: ad_data[:visible_for] %>