<ul class="dropdown-menu <%= extra_ul_classes %>">
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="al">Alabama</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ak">Alaska</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="az">Arizona</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ar">Arkansas</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ca">California</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="co">Colorado</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ct">Connecticut</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="de">Delaware</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="fl">Florida</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ga">Georgia</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="hi">Hawaii</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="id">Idaho</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="il">Illinois</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="in">Indiana</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ia">Iowa</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ks">Kansas</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ky">Kentucky</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="la">Louisiana</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="me">Maine</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="md">Maryland</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ma">Massachusetts</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="mi">Michigan</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="mn">Minnesota</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ms">Mississippi</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="mo">Missouri</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="mt">Montana</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ne">Nebraska</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="nv">Nevada</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="nh">New Hampshire</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="nj">New Jersey</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="nm">New Mexico</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ny">New York</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="nc">North Carolina</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="nd">North Dakota</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="oh">Ohio</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ok">Oklahoma</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="or">Oregon</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="pa">Pennsylvania</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ri">Rhode Island</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="sc">South Carolina</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="sd">South Dakota</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="tn">Tennessee</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="tx">Texas</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="ut">Utah</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="vt">Vermont</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="va">Virginia</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="wa">Washington</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="dc">Washington DC</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="wv">West Virginia</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="wi">Wisconsin</a></li>
  <li><a class="pointer <%= extra_li_classes %>" data-abbreviation="wy">Wyoming</a></li>
</ul>