<% unless partners.nil? %>
  <% partners = show_tabs ? partners[tab] : partners.values.flatten %>
  <% partners.each do |partner| %>
    <div class="row">
     <a name=<%= partner[:anchor] %>></a>
    <div class="phm col-xs-12 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <hr>
        <%= image_tag(partner[:logo], alt: 'Partner logo', class: 'mrl mbl col-md-2') %>

        <div class='oa'>
          <h3 class='mtn'><%= partner[:heading] %></h3>
         <p><%= partner[:description] %></p>
          <% partner[:links].each do |link| %>
            <% if link[:newwindow] == 'true' %>
              <%= link_to(link[:heading], link[:url], target: 'blank') %><br/>
            <% else %>
              <%= link_to(link[:heading], link[:url]) %><br/>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

  <% end %>
<% else %>
  <h3>No Data Found - Key eduCommPage_partnerData</h3>
<% end %>
