<% title # require title  %>
<% schools # require list of schools to display info for  %>
<% school_profile_decorator = SchoolProfileDecorator.decorate(@school) %>
<% unless defined?(ad_no_show) %>
    <% ad_no_show = false %>
<% end %>

<% version_with_ad = @show_ads %>
<% version_with_ad = false if ad_no_show %>

<div class="limit-width-1200 clearfix js-nearbySchools">
  <div class="clearfix mbm plm">
    <hr/>
    <div class="fl">
      <h2 class="mvn"><%= title.html_safe %></h2>
    </div>
  </div>
  <div class="row mtl">
    <% if version_with_ad %>
        <div class="pbm col-xs-12 col-md-4">
          <div class="pam full-width">
            <% # What do we do about Nearby_Schools slot being hardcoded in this reusable template?  %>
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Nearby_Schools, view: :desktop, show_ad_text: false %>
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Nearby_Schools, view: :mobile, show_ad_text: false %>
          </div>
        </div>
        <div class="pbm col-xs-12 col-md-8">
          <% schools.each do |school| %>
              <%= render partial: 'school_profile/nearby_school',
                         locals: {school: school} %>
          <% end %>
          <%= link_to('See more schools', school_profile_decorator.school_zip_location_search_url, class:'pls') %>
        </div>
    <% else %>
        <div class="pbm col-lg-12">
          <% schools.each do |school| %>
              <%= render partial: 'school_profile/nearby_school',
                         locals: {school: school} %>
          <% end %>
          <%= link_to('See more schools', school_profile_decorator.school_zip_location_search_url) %>
        </div>
    <% end %>
  </div>
</div>

