<% review;  %>
<div class="clearfix pts">
  <% if review.comment.present? %>
      <div class="pull-left ptm">
        <%= render 'shared/reviews/review_voting', review: review unless @school_member && @school_member.active_reviews.include?(review) %>
      </div>
      <% if logged_in? && current_user.flagged_review?(review) %>
          <div class="pull-right small ptm">You've reported this review</div>
      <% else %>
          <div class="pull-right small ptm rs-report-review-link js-report-review-link-<%= review.id %>">
            <a href="javascript:GS.reviews.reportReviewLinkClicked(<%= review.id %>, '.js-report-review-container-<%= review.id %>');">Report
              this review</a>
          </div>
          <div class="dn pull-right small ptm js-report-review-close-link-<%= review.id %>">
            <a href="javascript:GS.reviews.reportReviewCloseLinkClicked(<%= review.id %>, '.js-report-review-container-<%= review.id %>');">Close
              form</a>
          </div>
      <% end %>
  <% end %>
</div>