<%= form_for(ReviewFlag.new, html: {'data-parsley-namespace' => 'data-parsley-', :class => 'parsley-form', role: 'form'}, url: flag_review_path(id: '0')) do |f| %>
    <fieldset>
      <div class="form-group mtm">
        <p class="open-sans_sb">Report this review as inappropriate</p>
        <label class="control-label pull-left pbl" for="textarea">
          Please explain how this review may have violated our <%= link_to('terms of use', terms_of_use_url, target: '_blank') %>
          or <%= link_to 'school review guidelines', school_review_guidelines_url, target: '_blank' %>:
        </label>
        <div class="controls">
          <%= f.text_area :comment, value: '', rows: 5, class: 'input-xlarge', 'data-parsley-required' => 'true', 'data-parsley-trigger' => 'change', 'style' => 'width: 100%' %>
        </div>
      </div>

      <div class="form-actions pull-right">
        <%= button_tag 'Submit', type:'submit', class: 'btn btn-primary', data: { disable_with: 'Reporting...' } %>
        <a href="javascript:void(0);" class="phm js-report-review-form-cancel">Cancel</a>
      </div>
    </fieldset>
<% end %>
