<div class="limit_width_1200">
    <div class="row">
        <div class="plm">
            <h2>Resources for choosing schools</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
                <div class="tac-480 ">
                    <img class="mobile_img" src="<%= kitten_1 %>">
                </div>
                <div class="font-size-small" style="color:#888888"> INSIGHTS / 2 DAYS AGO </div>
                <div>Choosing a school from a distance</div>
                <div class="mtl"><%= byline %></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
                <div class="tac-480">
                    <img class="mobile_img" src="<%= kitten_1 %>">
                </div>
                <div class="font-size-small" style="color:#888888"> INSIGHTS / 2 DAYS AGO </div>
                <div>Choosing a school: An overview</div>
                <div class="mtl"><%= byline %></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
                <div class="tac-480">
                    <img class="mobile_img" src="<%= kitten_1 %>">
                </div>
                <div class="font-size-small" style="color:#888888"> INSIGHTS / 2 DAYS AGO </div>
                <div>Choosing a school: have a backup plan</div>
                <div class="mtl"><%= byline %></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mbm tac">
                <div class="">
                    <div class="btn-group mtl">
                    <button type="button" class="btn btn-default">
                        <span>Load more articles</span>
                    </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row pbl">
        <div class="plm pbl">
            <h2>Discover</h2>
        </div>

        <div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
                <div class="tac-480">
                    <img class="mobile_img" src="<%= kitten_1 %>">
                </div>
                <div class="font-size-small" style="color:#888888"> INSIGHTS / 2 DAYS AGO </div>
                <div>title 1 title 1 title 1 title 1</div>
                <div class="mtl"><%= byline %></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
                <div class="tac-480">
                    <img class="mobile_img" src="<%= kitten_1 %>">
                </div>
                <div class="font-size-small" style="color:#888888"> INSIGHTS / 2 DAYS AGO </div>
                <div>title 2 title 2 title 2</div>
                <div class="mtl"><%= byline %></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
                <div class="tac-480">
                    <img class="mobile_img" src="<%= kitten_1 %>">
                </div>
                <div class="font-size-small" style="color:#888888"> INSIGHTS / 2 DAYS AGO </div>
                <div>title 3 title 3 title 3</div>
                <div class="mtl"><%= byline %></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mbm">
                <div class="tac">
                    <div class="btn-group mtl">
                        <button type="button" class="btn btn-default">
                            <span>Load more articles</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>






</div>
