<% average_score = @school_reviews_global.rating_averages.overall.avg_score %>
<% ratings_count = @school_reviews_global.rating_averages.overall.counter %>

<% if average_score > 0 %>
  <div class="row ptl">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pbl">
        <div class="tac">
            <%= draw_stars_24 average_score %><br />

            <span class="mbn mtm stat_block_number"><%= "#{ pluralize average_score, 'star' }" %></span><br />
            <span>Based on <%= pluralize ratings_count, 'rating' %></span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pbl">
        <div class="ma" style="width:250px;">
            <% reviews_chart_array = to_bar_chart_review_array ( @school_reviews_global.star_counts )%>
            <% reviews_bar_chart_div_id = "js_reviews_bar_chart_div" %>

            <div id="<%= reviews_bar_chart_div_id %>"><!--Div for bar chart--></div>
            <% content_for :head do %>
                <script type="text/javascript">
                    var options = {
                        colors: ['#0083B2'],
                        legend:{
                            position: 'none'
                        },
                        hAxis:{
                            title: 'Ratings Distribution',
                            titleTextStyle:{
                                fontName: 'Arial',
                                fontSize: 10,
                                italic: false
                            },
                            textStyle:{
                                fontName: 'Arial',
                                fontSize: 10,
                                italic: false
                            }
                        },
                        vAxis:{
                            textStyle:{
                                fontName: 'Arial',
                                fontSize: 10,
                                italic: false
                            }
                        },
                        width:250,
                        height:130,
                        chartArea:{
                            top:0
                        }
                    };
                    GS.visualchart.drawBarChartReviews(<%= raw (reviews_chart_array).to_s %>,<%= raw '"'+reviews_bar_chart_div_id+'"' %>, options);
                </script>
            <% end %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  pbl">
            <div class=" tac">
                <p class="open-sans_b">
                    <% if @sweepstakes_enabled %>
                        Help this school win $5,000<br />by posting a review
                    <% else %>
                        Let others know what you<br />think about this school
                    <% end %>
                </p>
                <button type="button" data-link-value="<%= school_review_form_path(@school,btn_source: btn_source) %>" class="btn btn-primary mtm js-button-link">
                Write a review
                </button>
            </div>
        </div>
    </div>
</div>
<% else %>
    <%= render "shared/review_no_ratings" %>
<% end %>