<% if !@school.reviews.nil? %>
    <% hide_reviews_overview = "" %>
    <% showAds = @school.show_ads %>

    <% if showAds %>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                <div class="gs_ad_slot visible-lg visible-md visible-sm ma" id="overviewReviewAd" data-ad-size="[300,250]" style="width: 300px"  data-dfp="School_Overview_Reviews_300x250"></div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
    <% end %>

    <%  @school.reviews.each_with_index do |review, i| %>
        <% if i > 1 %>
            <% hide_reviews_overview = " dn" %>
        <% end %>
        <% if i % 2 == 0 %>
            <div class=" row<%= hide_reviews_overview %>">
        <% end %>

        <% overall_review_rating = review.overall %>

        <% layout_grid = (showAds ?  "col-xs-12 col-sm-12 col-md-12 col-lg-12" : "col-xs-12 col-sm-12 col-md-6 col-lg-6")%>
        <div class="<%= layout_grid %>  ptl phl">
        <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ptl phl">-->
            <div class="well">
                <div class="mbl">
                    <% if overall_review_rating == 'decline' %>
                        <span class="open-sans_i">no rating</span>
                    <% else %>
                        <%= draw_stars_16 overall_review_rating.to_i %>
                    <% end %>
                    <span class="mlm vat"><%= review.posted.strftime "%B %d, %Y" %></span>
                </div>
                <% if review.comments.present? && review.comments.strip.present? && review.status != 'a' %>
                    <%= review.comments %>
                <% else %>
                    <div class="well mbn">This review submitted without content.</div>
                <% end %>
                <br /><br />
                - submitted by a <span class="cuc_posted-by">
                <%= review.who == "other" ? "community member" : review.who %></span>
            </div>
        </div>

        <% if i % 2 == 1 %>
            </div>
        <% end %>
    <% end %>
    <% if showAds %>
        </div>
    </div>
    <% end %>
<% end %>
<!-- need final close on div for odd totals -->
<% if @school_reviews_global.review_filter_totals.all % 2 == 1 %>
    </div>
<% end %>
<% if showAds %>
    <div class="plm pbm">
        <div class="gs_ad_slot visible-xs ma" id="overviewReviewAdMobile" data-ad-size="[300,250]" style="width: 300px"  data-dfp="School_Overview_Mobile_Reviews_300x250"></div>
    </div>
<% end %>
