<% if !@school.reviews.nil? %>
    <% hide_reviews_overview = "" %>
    <%  @school.reviews.to_enum.with_index(0).each do |review, i| %>
        <% if i > 1 %>
            <% hide_reviews_overview = " dn" %>
        <% end %>
        <% if i % 2 == 0 %>
            <div class=" row<%= hide_reviews_overview %>">
        <% end %>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pal mbl">
            <div class="well bg-white">
                <div class="mbl">
                    <%= draw_stars_16 review[:quality].to_i %>
                    <span class="mlm vat"><%= review[:posted].strftime "%B %d, %Y" %></span>
                </div>
                <%= raw (review[:comments].strip == '') ? '<div class="well mbn">This review submitted without content.</div>': review[:comments] %>
                <br /><br />
                - submitted by a <span class="cuc_posted-by"><%= review[:who] == "other" ? "community member":review[:who] %></span>
            </div>
        </div>

        <% if i % 2 == 1 %>
            </div>
        <% end %>
    <% end %>
<% end %>
<!-- need final close on div for odd totals -->
<% if @school_reviews_global.review_filter_totals.all % 2 == 1 %>
    </div>
<% end %>

