<% include_rich_snippets ||= false %>
<% if @school.show_ads %>
    <% ad_placement_array = [2, 5, 8] %>
    <% if ad_placement_array.include? review_counter %>
        <hr />
        <div width="100%">
            <div class="js_insertAdvertisingReview ma"></div>
        </div>
        <%= render partial: '/shared/advertising_word' %>
    <% end %>
<% end %>
<hr />
<div class="row mam cuc_review" itemscope="" itemtype="http://data-vocabulary.org/Review">
    <% overall_review_rating = review.overall %>
    
    <% if include_rich_snippets %>
        <span itemprop="itemreviewed" class="dn"><%= @school.name %></span>
        <time itemprop="dtreviewed" class="dn" datetime="<%= review.posted.strftime "%Y-%m-%d" %>"></time>
        <span itemprop="rating" class="dn"><%= overall_review_rating.to_i %></span>
    <% end %>

    <%= div_tag sizes: { xs: 12, sm: 4, md: 3, lg: 3 }, class: 'pbm' do %>
        <div>
            <% if overall_review_rating == 'decline' %>
                <span class="open-sans_i">no rating</span>
            <% else %>
                <%= draw_stars_16 overall_review_rating.to_i %>
            <% end %>
        </div>
        <br />Posted <%= review.posted.strftime "%B %d, %Y" %><br />
        - a <span class="cuc_posted-by"><%= review.who == "other" ? "community member" : review.who %></span>
    <% end %>

    <%= div_tag sizes: { xs: 12, sm: 8, md: 9, lg: 9 } do %>
        <% if review.comments.present? && review.comments.strip.present? && review.status != 'a' %>
            <% if include_rich_snippets %>
                <span itemprop="description">
                    <%= review.comments %>
                </span>
            <% else %>
                <%= review.comments %>
            <% end %>
        <% else %>
            <div class="well mbn">This review submitted without content.</div>
        <% end %>
        <div class="clearfix pts">
            <% if review.comments.present? && review.comments.strip.present? && review.status != 'a' %>
                <div class="pull-left ptm">
                  <button type="button" class="btn btn-default js_reviewHelpfulButton mrm phm pvs" data-review_id="<%=
                      review.id %>">
                    <span class="iconx16 i-16-blue-thumbs-up mt3"></span>
                  </button>
                  <span>
                    <% if @school_reviews_helpful_counts && @school_reviews_helpful_counts[review.id].present? %>
                        <%= pluralize(@school_reviews_helpful_counts[review.id], 'person') %>
                        found this helpful
                    <% end %>
                  </span>
                </div>
                <% if logged_in? && current_user.reported_review?(review) %>
                    <div class="pull-right small ptm">You've reported this review</div>
                <% else %>
                    <div class="pull-right small ptm js-report-review-link-<%= review.id %>">
                        <a href="javascript:GS.reviews.reportReviewLinkClicked(<%= review.id %>, '.js-report-review-container-<%= review.id %>');">Report this review</a>
                    </div>
                    <div class="dn pull-right small ptm js-report-review-close-link-<%= review.id %>">
                        <a href="javascript:GS.reviews.reportReviewCloseLinkClicked(<%= review.id %>, '.js-report-review-container-<%= review.id %>');">Close form</a>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>


</div>

<div class="row pam" style="display:none;">
  <%= div_tag sizes: { xs: 12, sm: 4, md: 3, lg: 3 } %>
  <%= div_tag sizes: { xs: 12, sm: 8, md: 9, lg: 9 }, class: "js-report-review-container-#{review.id}" %>
</div>

<% unique_content_for :global_hidden_content do %>
    <div class="js-report-review-form-template">
      <%= render 'shared/report_review_form' %>
    </div>
<% end %>
