<% unless reviews.blank? %>
  <% hide_reviews_overview = '' %>

  <% if @show_ads %>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
        <div class="pvl">
          <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Reviews, view: :desktop  %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
  <% end %>
        <% reviews.each_with_index do |review, i| %>
          <% review = SchoolProfileReviewDecorator.decorate(review) unless review.is_a?(SchoolProfileReviewDecorator) %>
          <% if i > 1 %>
            <% hide_reviews_overview = " dn" %>
          <% end %>
          <% if i % 2 == 0 %>
            <div class=" row<%= hide_reviews_overview %>">
          <% end %>

          <% layout_grid = (@show_ads ?  "col-xs-12" : "col-xs-12 col-md-6")%>
          <div class="<%= layout_grid %>  ptl phl">
            <div class="well">
              <div class="mbl">
                <span class="open-sans_i rs-review-value prl">
                  <%= review.topic_markup %>
                  <span class="open-sans_cb ptm">
                    <%= review.answer_markup %>
                  </span>
                </span>
                <br class="visible-xs" />
                <span class="vat"><%= review.posted %></span>
              </div>

              <%= review.comment %>
              <br /><br />
              - submitted by a <span class="cuc_posted-by"><%= review.user_type %></span>
            </div>
          </div>

          <% if i % 2 == 1 %>
            </div>
          <% end %>
        <% end %>
    <% if @show_ads %>
      </div>
    </div>

  <% end %>
<% end %>
<!-- need final close on div for odd totals -->
<% if reviews.count % 2 == 1 %>
  </div>
<% end %>

<% if @show_ads %>
  <div class="visible-xs plm pvl mbl">
    <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Reviews, view: :mobile  %>
  </div>
<% end %>
