<div class="row ptl">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pbl">
        <div class="tac">
            <% average_score = @school_reviews_global.rating_averages.overall.avg_score %>
            <% ratings_count = @school_reviews_global.rating_averages.overall.counter %>
            <%= draw_stars_24 average_score %>
            <h3 class="mbn mtm"><%= "#{ pluralize average_score, 'star' }" %></h3>
            <span>Based on <%= pluralize ratings_count, 'rating' %></span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pbl">
        <div class="ma" style="width:250px;">
            <% reviews_chart_array = to_bar_chart_review_array ( @school_reviews_global.star_counts )%>
            <% reviews_bar_chart_div_id = "js_reviews_bar_chart_div" %>

            <div id="<%= reviews_bar_chart_div_id %>"><!--Div for bar chart--></div>
            <% content_for :head do %>
                <script type="text/javascript">
                    var options = {
                        colors: ['#0083B2'],
                        legend:{
                            position: 'none'
                        },
                        hAxis:{
                            title: 'Ratings Distribution',
                            titleTextStyle:{
                                fontName: 'Arial',
                                fontSize: 10,
                                italic: false
                            },
                            textStyle:{
                                fontName: 'Arial',
                                fontSize: 10,
                                italic: false
                            }
                        },
                        vAxis:{
                            textStyle:{
                                fontName: 'Arial',
                                fontSize: 10,
                                italic: false
                            }
                        },
                        width:250,
                        height:130,
                        chartArea:{
                            top:0
                        }
                    };
                    GS.visualchart.drawBarChartReviews(<%= raw (reviews_chart_array).to_s %>,<%= raw '"'+reviews_bar_chart_div_id+'"' %>, options);
                </script>
            <% end %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  pbl">
            <div class=" tac">
                <p class="bold">Let others know what you<br />think about this school</p>
                <%= link_to new_school_rating_path(school_params(@school)) do %>
                    <button type="button" class="btn btn-primary mtm">
                        Write a review
                    </button>
                <% end %>
            </div>

        </div>
    </div>
</div>