<% if !@school.reviews.nil? %>
    <% hide_reviews_overview = "" %>
    <%  @school.reviews.to_enum.with_index(0).each do |review, i| %>
        <% if i > 1 %>
            <% hide_reviews_overview = " dn" %>
        <% end %>
        <% if i % 2 == 0 %>
            <div class=" row<%= hide_reviews_overview %>">
        <% end %>

        <!--use quality or p_overall(for prek) for star counts and overall score.OM-209-->
        <% overall_review_rating = 'decline' %>
        <% if review[:quality] != 'decline' %>
            <% overall_review_rating = review[:quality] %>
        <% elsif review[:p_overall] != 'decline' %>
            <% overall_review_rating = review[:p_overall] %>
        <% end %>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pal mbl">
            <div class="well">
                <div class="mbl">
                    <%= draw_stars_16 overall_review_rating.to_i %>
                    <span class="mlm vat"><%= review[:posted].strftime "%B %d, %Y" %></span>
                </div>
                <%= raw review[:comments].present? && review[:comments].strip.present? && review[:status] != 'a' ? review[:comments] : '<div class="well mbn">This review submitted without content.</div>' %>
                <br />
                - submitted by a <span class="cuc_posted-by"><%= review[:who] == "other" ? "community member":review[:who] %></span>
            </div>
        </div>

        <% if i % 2 == 1 %>
            </div>
        <% end %>
    <% end %>
<% end %>
<!-- need final close on div for odd totals -->
<% if @school_reviews_global.review_filter_totals.all % 2 == 1 %>
    </div>
<% end %>

