<% content_for :javascript_includes do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;sensor=false&amp;signature=OXbNRPWooYBwVYP50cQjzvgBk1k="></script>
  <%= javascript_include_tag "localized_profiles/search.js" %>
<% end %>

<div class="image-bg-scale">
  <div class="img-container-mobile">
    <div style="background-image: url('<%= hero_image_mobile %>'); height: 500px; background-position: center; background-repeat: no-repeat; width: 100%; background-size: 50% 100%;"></div>
  </div>

  <div class="img-container">
    <div style="background-image: url('<%= hero_image %>'); height: 500px; background-position: center; background-repeat: no-repeat; width: 100%; background-size: 50% 100%;"></div>
  </div>
  <div class="limit_width_1200">
    <div class="content-centered">
      <div class="hub-hero-bg tal">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div style='overflow: auto;'>
              <div class="search-hero-heading">
                <h4 class='mvn pbs'>Find a School in</h4>
                <h1 class='mbn mbl' style='margin-top: -11px;'><%= collection_nickname %></h1>

              </div>
            </div>

            <script>
              $(document).ready(function() {
                var locationSelector = '.search-type-toggle div:first-child'
                var nameSelector = '.search-type-toggle div:last-child'
                $(locationSelector).click(function() {
                  $(this).addClass('selected')
                  $('.location-search').show()
                  $(nameSelector).removeClass('selected')
                  $('.name-search').hide()
                })
                $(nameSelector).click(function() {
                  $(this).addClass('selected')
                  $('.name-search').show()
                  $(locationSelector).removeClass('selected')
                  $('.location-search').hide()
                })
              });
            </script>

            <div class="search-type-toggle mtm clearfix" style='margin-bottom: 23px;'>
              <div class='pull-left selected' style='margin-right: 30px;'>
                <div class='search-hero-sprite location-icon'></div>
                <span>By location</span>
              </div>
              <div class='pull-left'>
                <div class='search-hero-sprite home-icon'></div>
                <span>By name</span>
              </div>
            </div>

            <div class="location-search">
              <form name="findByLocationForm" class="js-findByLocationForm"
                    action="/search/search.page" method="get">
                <input type="text" name="locationSearchString"
                       id="js-findByLocationBox" class='search-text lg-search-bar pull-left mrm'
                       onfocus="GS.textSwitch(this, '', 'Zip code or address');"
                       onblur="GS.textSwitch(this, 'Zip code or address', '');"
                       placeholder="Zip code or address"
                       value="Zip code or address"/>
                <button class="state-hub-search-button">Search</button>
              </form>
              <a  href="/" class="pull-left mbl clear-cookies-link" style='margin-top: 36px;' onclick="GS.hubs.clearLocalUserCookies();">
                  Not in <%= collection_nickname %>?
              </a>
            </div>

            <div class="name-search" style='display: none;'>
              <form name='searchBySchoolNameForm' class='js-findByNameForm' action="/search/search.page" method='get'>
                <input type="hidden" name='search_type' value='1'>
                <input  type="text" id='js-findByNameBox' class='search-text lg-search-bar pull-left mrm'
                        name='q' placeholder="School name (e.g. Niles Elementary School)"
                        onfocus="GS.textSwitch(this, '', 'School name (e.g. Niles Elementary School)');"
                        onblur="GS.textSwitch(this, 'School name (e.g. Niles Elementary School)', '');"
                        placeholder='School name (e.g. Niles Elementary School)'
                        value="School name (e.g. Niles Elementary School)"/>

                <% unless defined?(state_page) %>
                  <input type="hidden" name="collectionId" id="js-collectionId" value="<%= collection_id %>"/>
                <% end %>
                <input type="hidden" name="state" id="js-state" value="<%= state[:short] %>"/>
                <button class="state-hub-search-button">Search</button>
              </form>
              <a  href="/" class="pull-left mbl clear-cookies-link" style='margin-top: 36px;' onclick="GS.hubs.clearLocalUserCookies();">
                  Not in <%= collection_nickname %>?
              </a>
            </div>
          </div>

          <div class="school-breakdown">
            <% unless defined?(state_page) %>
              <h4 class='pbs mvn' style='color: #ffb725;'>Browse Schools</h4>
              <% breakdown_results.each do |text, data| %>
                <% unless data.nil? %>
                  <button class="browse-school-link pvm js-button-link" data-link-value="<%= data[:path] %>" type="button">
                    <div class='mrs'><%= text %></div>
                    <span class='breakdown-result-count tac pvs phm'><%= data[:count] %></span>
                  </button>
                <% else %>
                    <p class='pbs mbn' style='color: #fff;'>No data found for school breakdown</p>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
