<%
  has_sponsor = !sponsor.nil? && !sponsor[:text].nil? && !sponsor[:path].nil?
  #  Samson change.  gs_legacy_url_encode is causing north-carolina state page to fail
  #sponsor_path = defined?(state_page) ? state_education_community_partner_path({ state: gs_legacy_url_encode(params[:state]) }) : city_education_community_partner_path({ state: gs_legacy_url_encode(params[:state]), city: params[:city] })
  sponsor_path = defined?(state_page) ? state_education_community_partner_path({ state: params[:state] }) : city_education_community_partner_path({ state: params[:state], city: params[:city] })
  bg_height =  '550px'
%>

<% content_for :stylesheet_includes do %>
  <style>
    .image-bg-scale { height: <%= bg_height  %>; }
  </style>
<% end %>

<div class="image-bg-scale">
  <div class="oh">
    <div class="hidden-lg hidden-md hidden-sm">
      <div class='hub-hero-image image-position' style="background-image: url('<%= image_path(hero_image_mobile) %>'); height: <%= bg_height %>;"></div>
    </div>
    <div class="hidden-xs">
      <div class='hub-hero-image image-position' style="background-image: url('<%= image_path(hero_image) %>'); height: <%= bg_height %>;"></div>
    </div>
  </div>
  <div class="limit-width-1200">
    <div class="absolute-center-hub">
      <div class="hub-hero-bg tal clearfix">
        <% if has_sponsor %>
            <div class='tac sponsor-bar  mbl'>
              <div class="small mbn pbn prm di inverted-text"><%= sponsor[:text] %></div>
              <% if @hub.has_partner_page? %>
                  <%= link_to image_tag(sponsor[:path], alt: 'sponsor logo'), sponsor_path %>
              <% else %>
                  <%= image_tag sponsor[:path], alt: 'sponsor logo' %>
              <% end %>
            </div>
        <% end %>

        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 ptm pts">
          <div class='oa'>
            <div class="pull-left">
              <h4 class='mvn pbs brand-secondary'>Find a school in</h4>
              <h1 class='jumbo-header mbn mbl mtn inverted-text'><%= collection_nickname %></h1>
            </div>
          </div>
          <div class="search-type-toggle mtm mbl clearfix">
            <!--Toggle bar for optimizely guide by info option for Delaware-->
          </div>
          <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
            <%= render partial: 'nav/search_form' %>
          </div>
          <a  href="/" class="pull-left mbl clear-cookies-link mtl">
            Not in <%= collection_nickname %>?
          </a>
        </div>

        <% unless  browse_links.nil? %>
            <div class="school-breakdown pln col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h4 class='pbs mvn brand-secondary'>Browse schools</h4>
              <ul class='pln'>
                <% browse_links.each do |link| %>
                    <li class='mvm'>
                      <%= link_to link[:label], link[:link], class: 'sm-black-lg-white-text pvm js-browseSchools' %>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
