<% if category_placement.title.present? %>
    <% if category_placement.depth == 0 %>
        <div class="pam clearfix mbm">
            <% if category_placement != @page_config.root_placements_with_data.first %>
                <hr />
            <% end %>
            <a name="<%= category_placement_anchor category_placement %>">
                <p class="link-down-compensate"></p>
            </a>
            <div class="fl">
                <h2 class="mvn"><%= category_placement.title %></h2>
            </div>
            <% link_text = link_text.present? ? link_text : nil %>
            <%= raw display_section_head_link category_placement, link_text %>
        </div>
        <% if category_placement.category.present?  && category_placement.category.description.present? %>
            <div class="clearfix tal phm pbm"><p class="mvn"><%= category_placement.category.description %></p></div>
        <% end %>
     <% elsif category_placement.depth == 1 %>
        <div class="clearfix mbl mtm mlm">
            <div class="fl">
                <h3 class="mvn"><%= category_placement.title %></h3>
            </div>

        </div>
        <% if category_placement.category.present?  && category_placement.category.description.present? %>
            <div class="clearfix tal pam"><p class="mvn"><%= category_placement.category.description %></p></div>
        <% end %>
     <% end %>
<% end %>
