<% if category_placement.title.present? %>
    <% if category_placement.depth == 0 %>
        <div class="pam clearfix mbm">
            <!--<div class="gold-bar" /></div>-->
            <% if category_placement != @page_config.root_placements_with_data.first %>
                <hr />
            <% end %>
            <div class="fl">
                <h2 class="mvn"><%= category_placement.title %></h2>
            </div>
            <% link_text = link_text.present? ? link_text : nil %>
            <%= raw display_section_head_link category_placement, link_text %>
        </div>
        <% if category_placement.category.present?  && category_placement.category.description.present? %>
            <div class="clearfix tal ptm"><p class="mvn"><%= category_placement.category.description %></p></div>
        <% end %>
     <% elsif category_placement.depth == 1 %>
        <div class="plm clearfix mbl mtm">
            <div class="fl">
                <h3 class="mvn"><%= category_placement.title %></h3>
            </div>

        </div>
        <% if category_placement.category.present?  && category_placement.category.description.present? %>
            <div class="clearfix tal ptm"><p class="mvn"><%= category_placement.category.description %></p></div>
        <% end %>
     <% end %>
<% end %>