<div class="row">
  <div id="sign-up-for-updates" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac" style="padding:10px;">
    <div class="limit_width_1200 row text-left ptl pbm">
      <div class="col-sm-7 col-md-8 col-lg-8">

        <%= render 'shared/send_me_updates_form', school: @school %>
        <form class="form-inline" role="form" onsubmit="javascript:return false;">
          <fieldset>
            <div class="form-group">
              <h5>Get updates on <%= @school.name %></h5>
            </div>
            <div class="form-group">
              <button class="btn-sm btn-primary js-send-me-updates-button"></span>Sign me updates</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="col-sm-5 col-md-4 col-lg-4">
        <h5>Connect with us</h5>

        <p class="js-connect-with-us-buttons">
          <%= link_to 'https://www.facebook.com/greatschools' do %><span class="i-32-connect-fb"></span><% end %>
          <%= link_to 'http://twitter.com/greatschools' do %><span class="i-32-connect-twitter"/></span><% end %>
          <%= link_to 'http://pinterest.com/greatschools/' do %><span class="i-32-connect-pinterest"/></span><% end %>
          <%= link_to 'http://blogs.greatschools.org/greatschoolsblog/' do %><span class="i-32-connect-gs-blog"/></span><% end %>
          <%= link_to 'http://www.youtube.com/greatschools' do %><span class="i-32-connect-youtube"/></span><% end %>
        </p>
      </div>
    </div>
  </div>


  <!-- TODO: move this -->
  <script type="text/javascript">
    $(function () {
      $('.js-connect-with-us-buttons').on('mouseover', 'span', function () {
        var cssClass = $(this).attr('class');
        $(this).attr('class', cssClass + '-c');
      });
      $('.js-connect-with-us-buttons').on('mouseout', 'span', function () {
        var cssClass = $(this).attr('class');
        cssClass = cssClass.replace(new RegExp('-c$'), '');
        $(this).attr('class', cssClass);
      });
    });
  </script>
</div>