<%= render 'shared/sign_up_for_updates' %>

<div class="row" id="footer">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac pam">
    <div class="limit_width_1200 open-sans">

      <%= render 'shared/about_gs_footer' %>

      <% unless cities.nil? %>
        <%= render 'shared/popular_cities_in_state', state: state, cities: cities %>
      <% else %>
        <%= render 'shared/popular_cities_in_country' %>
      <% end %>

<<<<<<< HEAD

      <span style='color: #999999;'>All cities in <%= state[:long].titleize %>:</span>

      <ul style='list-style: none; display: inline;'>
        <% ('A'..'Z').to_a.each do |letter| %>
          <li style='display: inline;'><%= link_to(letter, city_alphabet_path(state[:long].capitalize, state[:short].upcase, letter)) %></li>
        <% end %>
      </ul>



=======
>>>>>>> master
      <hr/>

      <%= render 'shared/gs_address_and_copyright' %>

    </div>
  </div>
</div>
