<% content_for :javascript_includes do %>
  <%= javascript_include_tag "cycle/jquery.cycle2.js" %>
  <%= javascript_include_tag "cycle/jquery.cycle2.carousel.js" %>
  <script>
    $(function() {
      GS.viewMoreCollapseInit({'foldHeight': 292 });
      GS.customCarouselControl.cycle2Carousel.enableMultipleCarouselsNav();
      GS.util.setupImages({ selector: '.js-enrollment-image', desktopImage: '<%= image_path('hubs/enrollment.png')%>', mobileImage: '<%= image_path('hubs/small/enrollment_small.png')%>',breakpoint: 768});
    });
  </script>
<% end %>


<%= render 'nav/search_bar', state: @state, collection_id: @collection_id, collection_nickname: @collection_nickname %>


<div class="limit-width-1200 mbl">
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
  <div class="tac ptl mtl  js-enrollment-image"></div>
  <h1 class='tac'>Enrollment Information</h1>
  <% if @subheading[:error] %>
    <h3 class='tac'>Error: <%= @subheading[:error] %></h3>
  <% else %>
    <p class='col-xs-12 col-sm-6 col-md-6 col-lg-7 ma fn phm tac'><%= @subheading[:content] %></p>
  <% end %>

  <div class='tac mtl'>
    <ul class='nav nav-pills xs-nav-stacked mbl'>
      <% if params[:city] %>
        <li style='float: none; display: inline-block;' class="<%= 'active' if params[:tab] == nil %>">
          <%= link_to('Preschools', city_enrollment_path(params[:state], params[:city]), class: 'link-darkgray') %>
        </li>
        <li style='float: none; display: inline-block;' class="<%= 'active' if params[:tab] == 'elementary' %>">
          <%= link_to('Elementary schools', city_enrollment_path(params[:state], params[:city]) + 'elementary', class: 'link-darkgray') %>
        </li>
        <li style='float: none; display: inline-block;' class="<%= 'active' if params[:tab] == 'middle' %>">
          <%= link_to('Middle schools', city_enrollment_path(params[:state], params[:city]) + 'middle', class: 'link-darkgray') %>
        </li>
        <li style='float: none; display: inline-block;' class="<%= 'active' if params[:tab] == 'high' %>">
          <%= link_to('High schools', city_enrollment_path(params[:state], params[:city]) + 'high', class: 'link-darkgray') %>
        </li>
      <% else %>
        <li style='float: none; display: inline-block;' class="<%= 'active' if params[:tab] == nil %>">
          <%= link_to('Preschools', state_enrollment_path(params[:state]), class: 'link-darkgray') %>
        </li>
        <li style='float: none; display: inline-block;' class="<%= 'active' if params[:tab] == 'elementary' %>">
          <%= link_to('Elementary schools', state_enrollment_path(params[:state]) + 'elementary', class: 'link-darkgray') %>
        </li>
        <li style='float: none; display: inline-block;' class="<%= 'active' if params[:tab] == 'middle' %>">
          <%= link_to('Middle schools', state_enrollment_path(params[:state]) + 'middle', class: 'link-darkgray') %>
        </li>
        <li style='float: none; display: inline-block;' class="<%= 'active' if params[:tab] == 'high' %>">
          <%= link_to('High schools', state_enrollment_path(params[:state]) + 'high', class: 'link-darkgray') %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render 'shared/enrollment_module', collection_nickname: @collection_nickname, city: @city, state: @state, tab: @tab, enrollment_module: @enrollment_module, tips: @tips, type: :public, key_dates: @key_dates %>
  <hr class="mtl mbl">
  <%= render 'shared/enrollment_module', collection_nickname: @collection_nickname, city: @city, state: @state, tab: @tab, enrollment_module: @enrollment_module, tips: @tips, type: :private, key_dates: @key_dates %>

  </div>
</div>

<div class="mtl">
  <%= render 'shared/state_footer', state: @state, cities: @cities %>
</div>
