<%= render 'nav/topnav', hub_params: @hub_params %>
<div class="limit-width-940 tac pal primary-bg-color mtl" >
  <h2 class="text_fff">Help me find a School</h2>
</div>
<div class="limit-width-940 border-all-light-grey">
  <ul class="nav nav-tabs" >

    <li class="tac active tab_<%= @guided_search_tab[0]%>" >
      <p class="pvm">
        <span class="subtitle-lg open-sans_sb" >1</span>
        <span class="hidden-xs text_dark_grey">Get Started</span></p>
    </li>
    <li class="tac tab_<%= @guided_search_tab[1]%>">
      <p class="pvm">
        <span class="subtitle-lg open-sans_sb">2</span>
        <span class="hidden-xs text_dark_grey">Child Care</span></p>

    </li>
    <li class="tac tab_<%= @guided_search_tab[2]%>">
      <p class="pvm">
        <span class="subtitle-lg open-sans_sb">3</span>
        <span class="hidden-xs text_dark_grey">Dress Code</span></p></li>
    <li class="tac tab_<%= @guided_search_tab[3]%>">
      <p class="pvm">
        <span class="subtitle-lg open-sans_sb">4</span>
        <span class="hidden-xs text_dark_grey">School Focus</span></p></li>
    <li class="tac tab_<%= @guided_search_tab[4]%>">
       <p class="pvm tab_last">
        <span class="subtitle-lg open-sans_sb">5</span>
        <span class="hidden-xs text_dark_grey">Class Offerings</span>
       </p>
    </li>
  </ul>
  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="<%= @guided_search_tab[0]%>">
      <h1>Red</h1>
      <p>red red red red red red</p>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[1]%>
    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[1]%>">
      <h1>Orange</h1>
      <p>orange orange orange orange orange</p>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[2], previous_tab_name: @guided_search_tab[0]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[2]%>">
      <h1>Yellow</h1>
      <p>yellow yellow yellow yellow yellow</p>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[3], previous_tab_name: @guided_search_tab[1]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[3]%>">
      <h1>Green</h1>
      <p>green green green green green</p>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[4], previous_tab_name: @guided_search_tab[2]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[4]%>">
      <h1>class_offerings</h1>
      <p>blue blue blue blue blue</p>
      <%=render 'shared/guided_search/button_navigation', previous_tab_name: @guided_search_tab[3]%>

    </div>
  </div>
</div>