   <%= render 'nav/topnav', hub_params: @hub_params %>
   <%= render 'shared/guided_search/helpme_module' %>
<div class="limit-width-940 border-all-light-grey">
   <%= render 'shared/guided_search/steps_navigation' %>
  <form role="form" name="guidedSearch" action="/search/search.page"
        method="get" >



  <input type="hidden" name="state" value=<%=@state[:short] %>>
  <div   class="tab-content">
    <div class="tab-pane active" id="<%= @guided_search_tab[0]%>">

      <h4 class="tac brand-primary mbl">Get started as easy as 1-2-3!</h4>
      <div class="mtl pll font-size-large"><span class="brand-primary">1.</span> Tell us what you're looking for</div>
      <div class="mtl pll font-size-large"><span class="brand-primary">2.</span> See which schools are a good match</div>
      <div class="mtl pll font-size-large"><span class="brand-primary">3.</span> Save your favorites so you can visit, apply and get updates</div>
      <div class="row mtl">
         <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12 phl">
           <label>Grade</label>
           <!--<div class="dropdown">-->
           <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">-->
           <!--<span class="caret"></span>-->
           <!--</button>-->
           <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
           <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>-->
           <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>-->
           <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>-->
           <!--<li role="presentation" class="divider"></li>-->
           <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>-->
           <!--</ul>-->
           <!--</div>-->
           <select  class="form-control"   data-parsley-required="true"
                    data-parsley-error-container=".js-grade-selection-errors"
                    data-parsley-error-message="Please select a grade"	name="grade">
             <option value="" >--Grade--</option>
             <option value="p">Pre-School</option>
             <option value="k">Kindergarten</option>
             <option value="1">1st Grade</option>
             <option value="2">2nd Grade</option>
             <option value="3">3rd Grade</option>
             <option value="4">4th Grade</option>
             <option value="5">5th Grade</option>
             <option value="6">6th Grade</option>
             <option value="7">7th Grade</option>
             <option value="8">8th Grade</option>
             <option value="9">9th Grade</option>
             <option value="10">10th Grade</option>
             <option value="11">11th Grade</option>
             <option value="12">12th Grade</option>

           </select>
           <p class="phl js-grade-selection-errors help-block"></p>

         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 phl">
           <label>Location</label>
           <input type="text" class="form-control">
         </div>
         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 phl">
           <label>Distance</label>
           <select class="form-control">
             <option value="1">1 Mile</option>
             <option value="2">2 Miles</option>
             <option value="3">3 Miles</option>
             <option value="4">4 Miles</option>
             <option value="5" selected="">5 Miles</option>
             <option value="10">10 Miles</option>
             <option value="15">15 Miles</option>
             <option value="20">20 Miles</option>
             <option value="25">25 Miles</option>
             <option value="30">30 Miles</option>
             <option value="60">60 Miles</option>
           </select>
         </div>
      </div>
      <div class="row mtl">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 phl">
          <label>Transportation</label>

          <button class="btn btn-default tal plm js-gs-checkbox"
                  data-gs-checkbox="public_transit"
                  style="width:100%;"
                  type="button"
          >
            <span class="vam iconx24-icons i-24-checkmark-off mrl js-icon"></span>Public Transit
          </button>
          <input type="hidden" name="transportation[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 phl">
          <label>&nbsp;</label>
          <button class="btn btn-default tal plm  js-gs-checkbox"
                  data-gs-checkbox="district_provided"
                  style="width:100%;"
                  type="button"
          >
            <span class="vam iconx24-icons i-24-checkmark-on mrl js-icon"></span>District Provided
          </button>
          <input type="hidden" name="transportation[]" value="" class="js-gs-checkbox-value">
        </div>
      </div>

      <!--<form name="prototypeSearchForm" class="js-prototypeSearchForm mbl" action="/search/search.page" method="get">-->
        <!--<!-- Todo: make a class -->
        <!--<div class="col-xs-12 col-sm-8 pam">-->
          <!--<span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">-->
            <!--<input type="text" value="Enter 5-digits for byLocation Search, Else byName Search" class="typeahead search-text full-width pam tt-hint" onfocus="GS.textSwitch(this, '', 'Enter 5-digits for byLocation Search, Else byName Search');" onblur="GS.textSwitch(this, 'Enter 5-digits for byLocation Search, Else byName Search', '');" disabled="" autocomplete="off" spellcheck="false" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);"><input type="text" name="locationSearchString" value="Enter 5-digits for byLocation Search, Else byName Search" id="js-prototypeSearch" class="typeahead search-text full-width pam tt-input" onfocus="GS.textSwitch(this, '', 'Enter 5-digits for byLocation Search, Else byName Search');" onblur="GS.textSwitch(this, 'Enter 5-digits for byLocation Search, Else byName Search', '');" placeholder="ex. 19703 or Dover High School" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: opensans-regular, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div class="tt-dataset-cities"></div><div class="tt-dataset-districts"></div><div class="tt-dataset-schools"></div></span></span>-->
        <!--</div>-->

        <!--<!--Todo Refactor Distance and Grade together-->
        <!--<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pam">-->
          <!--<select class="form-control input-lg" id="js-prototypeSearchDistanceFilter" name="distance">-->
            <!--<option value="" selected="">--Distance--</option>-->
            <!--<option value="1">1 Mile</option>-->
            <!--<option value="2">2 Miles</option>-->
            <!--<option value="3">3 Miles</option>-->
            <!--<option value="4">4 Miles</option>-->
            <!--<option value="5" selected="">5 Miles</option>-->
            <!--<option value="10">10 Miles</option>-->
            <!--<option value="15">15 Miles</option>-->
            <!--<option value="20">20 Miles</option>-->
            <!--<option value="25">25 Miles</option>-->
            <!--<option value="30">30 Miles</option>-->
            <!--<option value="60">60 Miles</option>-->
          <!--</select>-->
        <!--</div>-->

        <!--<div class="col-xs-12 col-sm-2 pam">-->
          <!--<button type="submit" class="btn btn-lg btn-primary pull-right">Search</button>-->
        <!--</div>-->
      <!--</form>-->
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[1]%>
    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[1]%>">
      <h4 class="tac mbl">Do you need a school that offers child care...</h4>
      <div class="row mtl ma">
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="before"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Before school
          </button>
          <input type="hidden" name="beforeAfterCare[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="after"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>After school
          </button>
          <input type="hidden" name="beforeAfterCare[]" value="" class="js-gs-checkbox-value">
        </div>
      </div>

      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[2], previous_tab_name: @guided_search_tab[0]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[2]%>">
      <h4 class="tac mbl">Let's talk style.Is it important for the school to have...</h4>
      <div class="row mtl">
        <div class="tac col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-default js-gs-radio"
                    data-gs-radio="val1">
              No Dress Code</button>
            <button type="button"
                    class="btn btn-default js-gs-radio"
                    data-gs-radio="val2">Dress Code/Uniform</button>
            <button type="button"
                    class="btn btn-default js-gs-radio"
                    data-gs-radio="val3">No preference</button>
            <input type="hidden" name="dresscode" value="" class="js-gs-radio-value">
          </div>

        </div>

      </div>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[3], previous_tab_name: @guided_search_tab[1]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[3]%>">
      <h4 class="tac mbl">Are any of the following programs important for you?</h4>
      <div class="row mtl ma mbl">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px; font-size: 14px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm"></span>Montessori/Waldorf
          </button>
          <input type="hidden" name="before_school" value="0">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm "></span><span class="border-right-light-grey">Science/Technology STEM</span>
          </button>
          <input type="hidden" name="after_school" value="0">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm "></span><span class="border-right-light-grey">College focus</span>
          </button>
          <input type="hidden" name="after_school" value="0">
        </div>
      </div>
      <div class="row mtl ma mbl">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px; font-size: 14px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm"></span>Independent study
          </button>
          <input type="hidden" name="before_school" value="0">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm "></span><span class="border-right-light-grey">Online learning</span>
          </button>
          <input type="hidden" name="after_school" value="0">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm "></span><span class="border-right-light-grey">Carrer and tech</span>
          </button>
          <input type="hidden" name="after_school" value="0">
        </div>
      </div>
      <div class="row mtl ma mbl">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px; font-size: 14px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm"></span>World language immersion
          </button>
          <input type="hidden" name="before_school" value="0">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm "></span><span class="border-right-light-grey">Project-based learning</span>
          </button>
          <input type="hidden" name="after_school" value="0">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 phl pbl">
          <button data-link-value="/michigan/detroit/1273-Bates-Academy/reviews/write/" class="btn btn-default tal js-button-link"
                  style="width:100%; padding-left: 8px;">
            <span class="vam iconx24-icons i-24-checkmark-on mrm "></span><span class="border-right-light-grey">Arts</span>
          </button>
          <input type="hidden" name="after_school" value="0">
        </div>
      </div>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[4], previous_tab_name: @guided_search_tab[2]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[4]%>">
      <h4 class="tac brand-primary mbl">Step 5</h4>
      <%=render 'shared/guided_search/button_navigation', previous_tab_name: @guided_search_tab[3],current_tab_name:@guided_search_tab[4]%>

    </div>
  </div>
  </form>
</div>