<% content_for :javascript_includes do %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;sensor=false&amp;signature=OXbNRPWooYBwVYP50cQjzvgBk1k="></script>
    <script>
      $(function() {
        GS.forms.updateFormVisualElements();
      });
    </script>
<% end %>

<%= render 'nav/topnav', hub_params: @hub_params %>

<%= render 'shared/guided_search/helpme_module' %>

<div class="limit-width-940 border-all-light-grey mbl">

  <%= render 'shared/guided_search/steps_navigation' %>

  <form role="form" name="guidedSearch" action="/search/search.page" class="js-guidedSearch"
        method="get" >

  <div   class="tab-content">
  <%=render 'shared/guided_search/get_started'%>
  <%=render 'shared/guided_search/child_care'%>
  <%=render 'shared/guided_search/dress_code'%>
  <%=render 'shared/guided_search/school_focus'%>
  <%=render 'shared/guided_search/class_offerings'%>

    <!--<div class="tab-pane" id="<%= @guided_search_tab[4]%>">-->
      <!--<h4 class="tac mbl">Which classes are important to you?</h4>-->
      <!--<%=render 'shared/guided_search/button_navigation', previous_tab_name: @guided_search_tab[3],current_tab_name:@guided_search_tab[4]%>-->

    <!--</div>-->
  </div>
  </form>
</div>



<%= render 'nav/short_footer' %>


