<% content_for :javascript_includes do %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;sensor=false&amp;signature=OXbNRPWooYBwVYP50cQjzvgBk1k="></script>
<% end %>





<%= render 'nav/topnav', hub_params: @hub_params %>


<%= render 'shared/guided_search/helpme_module' %>
<div class="limit-width-940 border-all-light-grey">
   <%= render 'shared/guided_search/steps_navigation' %>
  <form role="form" name="guidedSearch" action="/search/search.page" class="js-prototypeSearchForm"
        method="get" >



  <input type="hidden" name="state" value=<%=@state[:short] %>>

  <input type="hidden" name="lat" value="39.7961255">
  <input type="hidden" name="lon" value="-75.53931549999999">
  <input type="hidden" name="zipCode" value="19803">
  <input type="hidden" name="locationType" value="postal_code">
  <input type="hidden" name="normalizedAddress" value="Wilmington,%20DE%2019803">
  <input type="hidden" name="locationSearchString" value="19803">
  <input type="hidden" name="distance" value="60">
  <input type="hidden" name="city" value="Wilmington">
  <input type="hidden" name="sortBy" value="distance">


  <div   class="tab-content">
    <div class="tab-pane active" id="<%= @guided_search_tab[0]%>">

      <h4 class="tac brand-primary mbl">Get started as easy as 1-2-3!</h4>
      <div class="mtl pll font-size-large"><span class="brand-primary">1.</span> Tell us what you're looking for</div>
      <div class="mtl pll font-size-large"><span class="brand-primary">2.</span> See which schools are a good match</div>
      <div class="mtl pll font-size-large"><span class="brand-primary">3.</span> Save your favorites so you can visit, apply and get updates</div>
      <div class="row mtl">
         <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12 phl">
           <label class="control-label">Grade</label>
           <select  class="form-control js-error-validation" name="grade">
             <option value="" >--Grade--</option>
             <option value="p">Pre-School</option>
             <option value="k">Kindergarten</option>
             <option value="1">1st Grade</option>
             <option value="2">2nd Grade</option>
             <option value="3">3rd Grade</option>
             <option value="4">4th Grade</option>
             <option value="5">5th Grade</option>
             <option value="6">6th Grade</option>
             <option value="7">7th Grade</option>
             <option value="8">8th Grade</option>
             <option value="9">9th Grade</option>
             <option value="10">10th Grade</option>
             <option value="11">11th Grade</option>
             <option value="12">12th Grade</option>

           </select>
           <p class="js-error-message help-block dn">Please select a grade</p>

         </div>
         <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 phl">
           <label class="control-label">Location</label>
           <input type="text" class="form-control js-error-validation js-noAuto" name="location">
           <p class="js-error-message help-block dn">Please enter a location</p>

         </div>
         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 phl">
           <label>Distance</label>
           <select class="form-control">
             <option value="1">1 Mile</option>
             <option value="2">2 Miles</option>
             <option value="3">3 Miles</option>
             <option value="4">4 Miles</option>
             <option value="5" selected="">5 Miles</option>
             <option value="10">10 Miles</option>
             <option value="15">15 Miles</option>
             <option value="20">20 Miles</option>
             <option value="25">25 Miles</option>
             <option value="30">30 Miles</option>
             <option value="60">60 Miles</option>
           </select>
         </div>
      </div>
      <div class="row mtl">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 phl">
          <label>Transportation</label>

          <button class="btn btn-default tal plm js-gs-checkbox"
                  data-gs-checkbox="public_transit"
                  style="width:100%;"
                  type="button"
          >
            <span class="vam iconx24-icons i-24-checkmark-off mrl js-icon"></span>Public Transit
          </button>
          <input type="hidden" name="transportation[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 phl">
          <label>&nbsp;</label>
          <button class="btn btn-default tal plm  js-gs-checkbox"
                  data-gs-checkbox="district_provided"
                  style="width:100%;"
                  type="button"
          >
            <span class="vam iconx24-icons i-24-checkmark-off mrl js-icon"></span>District Provided
          </button>
          <input type="hidden" name="transportation[]" value="" class="js-gs-checkbox-value">
        </div>
      </div>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[1]%>
    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[1]%>">
      <h4 class="tac mbl">Do you need a school that offers child care...</h4>
      <div class="row mtl ma">
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="before"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Before school
          </button>
          <input type="hidden" name="beforeAfterCare[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="after"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>After school
          </button>
          <input type="hidden" name="beforeAfterCare[]" value="" class="js-gs-checkbox-value">
        </div>
      </div>

      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[2], previous_tab_name: @guided_search_tab[0]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[2]%>">
      <h4 class="tac mbl">Let's talk style.Is it important for the school to have...</h4>
      <div class="row mtl">
        <div class="tac col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-default js-gs-radio"

                    data-gs-radio="no_dress_code">
              No Dress Code
            </button>

            <button type="button"
                    class="btn btn-default js-gs-radio"
                    data-gs-radio="uniform&dress_code[]=dress_code">
              Dress Code/Uniform
            </button>
            <button type="button"
                    class="btn btn-default js-gs-radio active">
                  No preference</button>
          </div>
          <input type="hidden" name="dress_code[]" value="" class="js-gs-radio-value">

        </div>
        <div class="tac col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-xs">

          <div class="btn-group-vertical">
            <button type="button"
                    class="btn btn-default js-gs-radio"

                    data-gs-radio="no_dress_code">
              No Dress Code
            </button>

            <button type="button"
                    class="btn btn-default js-gs-radio"
                    data-gs-radio="uniform&dress_code[]=dress_code">
              Dress Code/Uniform
            </button>
            <button type="button"
                    class="btn btn-default js-gs-radio active">
              No preference</button>
          </div>

          <input type="hidden" name="dress_code[]" value="" class="js-gs-radio-value">

        </div>


      </div>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[3], previous_tab_name: @guided_search_tab[1]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[3]%>">
      <h4 class="tac mbl">Are any of the following programs important for you?</h4>
      <div class="row mtl ma mbl">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">

          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="montessori&school_focus[]=waldorf"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Montessori/Waldorf
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="science_tech"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Science/Technology STEM
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="college_focus"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>College focus
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="is"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Independent study
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="online"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Online learning
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="career_tech"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Carreer and tech
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">

              <div class="js-gs-checkbox js-pull-down"
                   data-pull-down-content=".js-world-language"
                  >
                <button class="btn btn-default tal js-gs-popover-button"
                type="button"
                style="width:100%;">
                <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span> World language immersion
                </button>
              </div>
          <div class="dn js-world-language pal" style="border: thin solid #cccccc">
            <div class="">
              <button class="btn btn-default tal js-gs-popover-checkbox mbm"
                      data-gs-checkbox="mandarin"
                      type="button"
                      style="width:100%;">
                <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
                Mandarin
              </button>
              <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">
            </div>
            <div class="">
              <button class="btn btn-default tal js-gs-popover-checkbox mbm"
                      data-gs-popover="spanish"
                      type="button"
                      style="width:100%;">
                <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
                Spanish
              </button>
              <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">
            </div>
            <div class="">
              <button class="btn btn-default tal js-gs-popover-checkbox mbm"
                      data-gs-popover="german"
                      type="button"
                      style="width:100%;">
                <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
                German
              </button>
              <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">
            </div>
            <div class="">
              <button class="btn btn-default tal js-gs-popover-checkbox mbm"
                      data-gs-popover="french"
                      type="button"
                      style="width:100%;">
                <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
                French
              </button>
              <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">
            </div>
            <div class="clearfix">
              <div class="fl prm">
                <button class="btn btn-default btn-sm" type="button">Cancel</button>
              </div>
              <div class="fr">
                <button class="btn btn-primary btn-sm " type="button">Done</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="project"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Project-based learning
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
          <button class="btn btn-default tal js-gs-checkbox"
                  data-gs-checkbox="arts"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Arts
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

        </div>
      </div>
      <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[4], previous_tab_name: @guided_search_tab[2]%>

    </div>
    <div class="tab-pane" id="<%= @guided_search_tab[4]%>">
      <h4 class="tac brand-primary mbl">Step 5</h4>
      <%=render 'shared/guided_search/button_navigation', previous_tab_name: @guided_search_tab[3],current_tab_name:@guided_search_tab[4]%>

    </div>
  </div>
  </form>
</div>



<%= render 'nav/short_footer' %>


