<div class="row hidden-print">
  <div class="dark-gray-bg dvp col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="limit-width-1200 tac">
      <h3 class="inverted-text mtn pbl"><%= t('.header') %></h3>

      <div class="invert-colors-home hidden-xs mlm rs-browse-by-cities">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div class="city">
            <%= link_to 'Atlanta, GA', city_url(city_params('GA', 'Atlanta')) %>
          </div>
          <div class="city">
            <%= link_to 'Austin, TX', city_url(city_params('TX', 'Austin')) %>
          </div>
          <div class="city">
            <%= link_to 'Boston, MA', city_url(city_params('MA', 'Boston')) %>
          </div>
          <div class="city">
            <%= link_to 'Brooklyn, NY', city_url(city_params('NY', 'Brooklyn')) %>
          </div>
          <div class="city">
            <%= link_to 'Charlotte, NC', city_url(city_params('NC', 'Charlotte')) %>
          </div>
          <div class="city">
            <%= link_to 'Chicago, IL', city_url(city_params('IL', 'Chicago')) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div class="city">
            <%= link_to 'Dallas, TX', city_url(city_params('TX', 'Dallas')) %>
          </div>
          <div class="city">
            <%= link_to 'Denver, CO', city_url(city_params('CO', 'Denver')) %>
          </div>
          <div class="city">
            <%= link_to 'Houston, TX', city_url(city_params('TX', 'Houston')) %>
          </div>
          <div class="city">
            <%= link_to 'Indianapolis, IN', city_url(city_params('IN', 'Indianapolis')) %>
          </div>
          <div class="city">
            <%= link_to 'Las Vegas, NV', city_url(city_params('NV', 'Las Vegas')) %>
          </div>
          <div class="city">
            <%= link_to 'Los Angeles, CA', city_url(city_params('CA', 'Los Angeles')) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div class="city">
            <%= link_to 'Miami, FL', city_url(city_params('FL', 'Miami')) %>
          </div>
          <div class="city">
            <%= link_to 'Nashville, TN', city_url(city_params('TN', 'Nashville')) %>
          </div>
          <div class="city">
            <%= link_to 'New York City, NY', city_url(city_params('NY', 'New York City')) %>
          </div>
          <div class="city">
            <%= link_to 'Orlando, FL', city_url(city_params('FL', 'Orlando')) %>
          </div>
          <div class="city">
            <%= link_to 'Philadelphia, PA', city_url(city_params('PA', 'Philadelphia')) %>
          </div>
          <div class="city">
            <%= link_to 'Phoenix, AZ', city_url(city_params('AZ', 'Phoenix')) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div class="city">
            <%= link_to 'San Antonio, TX', city_url(city_params('TX', 'San Antonio')) %>
          </div>
          <div class="city">
            <%= link_to 'San Diego, CA', city_url(city_params('CA', 'San Diego')) %>
          </div>
          <div class="city">
            <%= link_to 'San Francisco, CA', city_url(city_params('CA', 'San Francisco')) %>
          </div>
          <div class="city">
            <%= link_to 'Seattle, WA', city_url(city_params('WA', 'Seattle')) %>
          </div>
          <div class="city">
            <%= link_to 'Tampa, FL', city_url(city_params('FL', 'Tampa')) %>
          </div>
          <div class="city">
            <%= link_to 'Washington, DC', city_url(city_params('DC', 'Washington')) %>
          </div>
        </div>
      </div>
      <div class="invert-colors-home visible-xs mll">
        <div class="col-xs-12 col-sm-12 tal">
          <div class="city">
            <%= link_to 'Atlanta, GA', city_url(city_params('GA', 'Atlanta')) %>
          </div>
          <div class="city">
            <%= link_to 'Chicago, IL', city_url(city_params('IL', 'Chicago')) %>
          </div>
          <div class="city">
            <%= link_to 'Houston, TX', city_url(city_params('TX', 'Houston')) %>
          </div>
          <div class="city">
            <%= link_to 'Los Angeles, CA', city_url(city_params('CA', 'Los Angeles')) %>
          </div>
          <div class="city">
            <%= link_to 'New York City, NY', city_url(city_params('NY', 'New York City')) %>
          </div>
          <div class="city">
            <%= link_to 'Miami, FL', city_url(city_params('FL', 'Miami')) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>