<div class="input-group">
  <div style="height: 46px; background-color:#FFF;"></div>
  <div class="input-group-btn">
    <button type="button" class="btn btn-primary dropdown-toggle" style="height: 46px; width: 64px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class=" ">
        <%= link_to 'Parenting', greatkids_home_url %>
      </li>
      <li class=" ">
        <%= link_to 'Emotional Smarts', emotional_smarts_url %>
      </li>
      <li class=" ">
        <%= link_to 'School Life', greatkids_home_url %>
      </li>
      <li class=" ">
        <%= link_to 'Reading', greatkids_home_url %>
      </li>
      <li class=" ">
        <%= link_to 'Math', greatkids_home_url %>
      </li>
    </ul>
  </div><!-- /btn-group -->
</div><!-- /input-group -->
