<div class="limit-width-1200">

  <% @greatkids_content.features.each_with_index do |feature, index| %>
    <% if index > 0 %>
      </hr>
    <% end %>
    <div class="<%= 'pbl' if index > 0 %> plm-mobile">
      <h2><%= feature.heading %></h2>
    </div>
    <div>
      <div class="col-xs-12">
        <% feature.posts_with_thumbnails.each do |post| %>
          <% article_hash = {
            title: post.title,
            content: post.excerpt,
            image: post.large_tile_image.try(:url),
            link: post.url
          } %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
            <%= render 'shared/article_module', data: article_hash  %>
          </div>
        <% end %>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
          <div class="pam tac">
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Choosing_Content, view: :desktop  %>
            <%= render 'layouts/ad_layer', page: ('Homepage').to_sym, slot: :Choosing_Content, view: :mobile  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
