<div class="blue-section-container">
  <section class="highlights-section">
    <%# Overview displays above photo on desktop %>
    <div class="overview display-desktop">
      <h2 class="heading"><%= t('.heading') %></h2>
      <h3 class="subheading"><%= t('.subheading') %></h3>
    </div>
    <div class="highlights-content">
      <div class="section-photo"></div>
      <div class="highlighted-articles">
        <%# Overview displays below photo on mobile and tablet %>
        <div class="overview display-mobile">
          <h2 class="heading"><%= t('.heading') %></h2>
          <h3 class="subheading"><%= t('.subheading') %></h3>
        </div>
        <div class="article-group">
          <div class="icon"><%= image_tag image_path('home/icon_10_out_of_10.svg') %></div>
          <div class="article-description">
            <h5><%= t('.school_quality') %></h5>
            <p class="article-name"><%= t('.new_greatschools_equity_and_summary_rating') %></p>
            <a href="<%= ratings_path %>" class="tertiary-button"><%= t('.learn_more') %></a>
          </div>
        </div>
        <div class="article-group">
          <div class="icon"><%= image_tag image_path('home/icon_grad_cap.svg') %></div>
          <div class="article-description">
            <h5><%= t('.school_quality') %></h5>
            <p class="article-name"><%= t('.college_success_awards') %></p>
            <a href="<%= csa_winners_path %>" class="tertiary-button"><%= t('.learn_more') %></a>
          </div>
        </div>
        <div class="article-group">
          <div class="icon"><%= image_tag image_path('home/icon_newsletter.svg') %></div>
          <div class="article-description">
            <h5><%= t('.parenting_information') %></h5>
            <p class="article-name"><%= t('.k12_grade_based_newsletters') %></p>
            <a href="<%= grade_by_grade_newsletter_path %>" class="tertiary-button"><%= t('.learn_more') %></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>