<% content_for :head do %>
    <!-- This is because the meta-tags gem truncates description at 200 chars. See https://github.com/kpumuk/meta-tags -->
    <meta name="description" content="View parent ratings, reviews and test scores and choose the right preschool, elementary, middle or high school for public or private education." />
    <meta name="google-site-verification" content="zOi8EZHiVs8q_pVV2RM11ic3q0hnJXTIphoISsEyUUw" />
<% end %>

<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag "commons", defer: true %>
  <%= webpack_javascript_include_tag "react-redux", defer: true %>
  <%= webpack_javascript_include_tag "home", defer: true %>
<% end %>

<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag "post_load", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "home_page", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript_includes do %>
    <script>
    </script>
<% end %>

<div id="home-page" class="gs-bootstrap container-fluid">

  <%= render layout: 'hero' do %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-2">
        <div class="mtxl hidden-xs"></div>
        <div class="oa text_fff pal darken brs">
          <h1 class="text_fff mtn lg-roboto"><%= t('home.hero.heading') %></h1>
          <div class="subtitle uc mtl"><%= t('home.hero.subheading') %></div>
          <%= render partial: 'home/search_form' %>
          <%= render partial: 'home/state_select' %>
          <div class="parent-content uc">
            <div class="subtitle mbm"><%= t('home.hero.subheading_content') %></div>
            <%= link_to t('home.hero.coronavirus_html'), coronavirus_url %>
            <br/>
            <%= link_to t('home.hero.raising_kids_html'), greatkids_home_url %>
            <span class="phs">|</span>
            <%= link_to t('home.hero.school_life_html'), school_life_url %>
            <span class="phs">|</span>
            <%= link_to t('home.hero.worksheets_html'), worksheets_and_activities_url %>
            <span class="phs">|</span>
            <%= link_to t('home.hero.reading_html'), reading_url %>
            <span class="phs">|</span>
            <%= link_to t('home.hero.math_html'), math_url %>
            <span class="phs">|</span>
            <%= link_to t('home.hero.emotional_smarts_html'), emotional_smarts_url(lang: nil) %>
            <span class="phs">|</span>
            <%= link_to t('home.hero.podcast_for_parents_html'), podcasts_url(lang: nil) %>
            <span class="phs">|</span>
            <%# Remove CSA winners for now to display coronavirus label %>
            <%#= link_to t('home.hero.csa_html'), csa_winners_url(lang: nil) %>
            <%= link_to t('home.hero.parent_power_html'), parent_power_url(lang: nil) %>
            <span class="phs">|</span>
            <%= link_to t('home.hero.school_ratings_html'), school_ratings_url(lang: nil) %>
            <span class="phs">|</span>
            <%= link_to t('home.hero.school_reviews_html'), review_choose_school_url(lang: nil) %>
          </div>
        </div>
      </div>
  <% end %>
  <%= render partial: 'below_hero' %>
</div>

<%= content_for(:additional_footer_content) do %>
  <div id="home-city-footer">
      <div class="container">
        <div class="heading"><%= t('nav.footer.find-great-schools') %></div>
        <div class="row columns">
          <% @city_list_for_footer.each_with_index do |city_with_state, i| %>
            <% city, state = city_with_state.match(/^([\w\s]+),\s([A-Z]{2})/).captures %>
            <div class='<%= "col-sm-12 #{i > 18 ? 'extra' : ''}" %>'><%= link_to city_with_state, city_url(city_params(state, city)) %></div>
          <% end %>
          <div class="col-sm-12" id="show-more-for-footer">
            <a href="#"><%= t('javascript.show_more') %></a>
          </div>
        </div>
      </div>
  </div>

<% end %>

<%= react_component('SearchBoxWrapper', props: {
  pageType: 'Home'
}) %>
