<%
   f
   principal = @school_member ? @school_member.principal? : false
%>
<div class="topical-review-question-container left">
  <%= render 'shared/reviews/lib/question_title', question: question.question.html_safe %>
  <% unless principal %>
      <%= render 'shared/reviews/lib/radio_buttons_input', f: f, question: question %>
  <% end %>
</div>
<% options = {
        placeholder: principal ? '' : 'Please share why you feel this way. (optional)',
        display_none: principal ? false : true,
        comment_required: principal ?  true : false,
        submit_text: principal ? 'Submit Statement' : 'Submit'
} %>
<div class="topical-review-question-container right">
  <% unless options[:comment_required] %>
    <div class="ptl phl <%= principal ? 'dn' : '' %> js-topicalReviewHaveAVoice">
      <%= render 'shared/reviews/modules/output/have_a_voice' %>
    </div>
  <% end %>
  <%= render 'shared/reviews/modules/input/review_comment', f: f, options: options, question: question %>
</div>