<% topic_name = question.topic.name %>
<% reviews_for_topic = SchoolProfileReviewsDecorator.decorate(@school_reviews.by_topic[topic_name], self) %>
<% answer_summary_text = reviews_for_topic.answer_summary_text %>
<% review_comments_text = reviews_for_topic.see_comments_text%>

<%
   f
   principal = @school_member ? @school_member.principal? : false
%>
<div class="topical-review-question-container left">
  <%= render 'shared/reviews/lib/question_title', question: question.question.html_safe %>
  <% if principal %>
    <% if answer_summary_text %>
      <div class="font-size-large mtxl ptxl">
        <%= answer_summary_text %>
      </div>
    <% end %>
  <% else %>
    <%= render 'shared/reviews/lib/radio_buttons_input', f: f, question: question %>
  <% end %>
</div>
<% options = {
        placeholder: principal ? '' : 'Please share why you feel this way. (optional)',
        display_none: principal ? false : true,
        comment_required: principal ?  true : false,
        submit_text: principal ? 'Submit Statement' : 'Submit'
} %>
<div class="topical-review-question-container right">
  <% unless options[:comment_required] %>
      <div class="ptl phl <%= principal ? 'dn' : '' %> js-topicalReviewHaveAVoice">
        <% if answer_summary_text.present? %>
            <div class="font-size-large mtxl ptxl">
              <%= answer_summary_text %>
            </div>
            <div class="js_reviewTopicFilterLink">
              <a class="pointer"  data-topic-filter="<%= topic_name %>">
               <%= review_comments_text %>
              </a>
            </div>
        <% else %>
            <%= render 'shared/reviews/modules/output/have_a_voice' %>
        <% end %>
      </div>
<% end %>
  <%= render 'shared/reviews/modules/input/review_comment', f: f, options: options, question: question %>
</div>