<div>
  <h4>Getting Started</h4>
    <div class="api_resource_links">
      <%= link_to 'Request API Key', request_api_key_path %>
      <%= link_to 'Terms of Use', 'https://www.greatschools.org/api/docs/terms.page', target: "_blank"%>
    </div>
  <h4>Documentation</h4>
  <div class="api_resource_links">
    <%= link_to 'Technical Overview', 'https://www.greatschools.org/api/docs/main.page' %>
    <%= link_to 'Browse Schools', 'https://www.greatschools.org/api/docs/browseSchools.page' %>
    <%= link_to 'Nearby Schools', 'https://www.greatschools.org/api/docs/nearbySchools.page' %>
    <%= link_to 'School Profile', 'https://www.greatschools.org/api/docs/schoolProfile.page' %>
    <%= link_to 'School Search', 'https://www.greatschools.org/api/docs/schoolSearch.page' %>
    <%= link_to 'School Reviews', 'https://www.greatschools.org/api/docs/schoolReviews.page' %>
    <%= link_to 'Review Topics', 'https://www.greatschools.org/api/docs/reviewTopics.page' %>
    <%= link_to 'School Test Scores', 'https://www.greatschools.org/api/docs/schoolTestScores.page' %>
    <%= link_to 'School Census Data', 'https://www.greatschools.org/api/docs/schoolCensusData.page' %>
    <%= link_to 'City Overview', 'https://www.greatschools.org/api/docs/cityBrowse.page' %>
    <%= link_to 'Nearby Cities', 'https://www.greatschools.org/api/docs/citiesNearby.page' %>
    <%= link_to 'Browse Districts', 'https://www.greatschools.org/api/docs/districtBrowse.page' %>
  </div>
</div>