      <h4>Getting Started</h4>
      <ul class="vertical-nav" role="navigation">
        <li>
          <%= link_to('Register', '/api/request-api-key/') %>
        </li>
        <li>
          <%= link_to('Terms of Use', api_terms_of_use_url, target: '_blank') %>
        </li>
      </ul>
      <h4>Documentation</h4>
      <ul class="vertical-nav" role="navigation">
        <li>
          <%= link_to('Technical Overview', api_docs_url(page: :'technical-overview')) %>
        </li>
        <li>
          <%= link_to('Browse Schools', api_docs_url(page: :'browse-schools')) %>
        </li>
        <li>
          <%= link_to('Nearby Schools', api_docs_url(page: :'nearby-schools')) %>
        </li>
        <li>
          <%= link_to('School Profile', api_docs_url(page: :'school-profile')) %>
        </li>
        <li>
          <%= link_to('School Search', api_docs_url(page: :'school-search')) %>
        </li>
        <li>
          <%= link_to('School Reviews', api_docs_url(page: :'school-reviews')) %>
        </li>
        <li>
          <%= link_to('Review Topics', api_docs_url(page: :'review-topics')) %>
        </li>
        <li>
          <%= link_to('School Census Data', api_docs_url(page: :'school-census-data')) %>
        </li>
        <li>
          <%= link_to('City Overview', api_docs_url(page: :'city-overview')) %>
        </li>
        <li>
          <%= link_to('Nearby Cities', api_docs_url(page: :'nearby-cities')) %>
        </li>
        <li>
          <%= link_to('Browse Districts', api_docs_url(page: :'browse-districts')) %>
        </li>
      </ul>
