
<%= render 'nav/search_bar', state: @state, collection_id: @collection_id, collection_nickname: @collection_nickname %>


<div class="limit-width-1200 mbl">
  <%= render 'nav/breadcrumbs', breadcrumbs: @breadcrumbs %>
  <div class="row tac mvl">
    <h1 class='mvn brand-secondary'>5 simple steps to</h1>
    <h1 class='mvs text-primary'>choosing a school in <%= @collection_nickname %></h1>
  </div>


  <div class="row mvl">
    <%= image_tag('hubs/choosing_step1.png', class: 'pull-right col-xs-12 col-sm-4 col-md-4 col-lg-6') %>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 phm mbl mtl">
      <h5 class='mtn'>Step 1</h5>
      <h2 class='mtn'>Think about your needs</h2>
      <p>
        As you think about choosing a school, consider what matters most to your family. What do you value the highest when it comes to your child’s education? How does your choice of school impact your family or your finances? We’re here to help you take the first step.
      </p>
      <h4>Featured resources</h4>
      <ul>
        <li><a href="/gk/articles/imagining-your-ideal-school-set-your-priorities/">Imagining your ideal school</a></li>
        <li><a href="/catalog/pdf/choosing_imagine.pdf">Download our worksheet</a></li>
      </ul>

      <a class='js-expand-collapse notranslate' href="javascript:void(0)">Additional resources »</a>
      <ul class="dn js-expandable">
        <li><a href="/gk/articles/redshirting-kindergarten/">When should kids start kindergarten?</a></li>
        <li><a href="/gk/articles/switch-or-stay-schools-early-in-year/">Switch schools or stay?</a></li>
        <li><a href="/gk/articles/skipping-a-grade-pros-and-cons/">The pros and cons of skipping a grade</a></li>
        <li><a href="/gk/articles/preschool-philosophies/">Preschool philosophies: what are they?</a></li>
        <li><a href="/gk/videos/second-language-education-video/">A guide to second-language education </a></li>
        <li><a href="/gk/videos/quick-guide-special-education-video-2/">Quick guide to special education </a></li>
        <li><a href="/gk/articles/special-education-special-needs-learning-disabilities/">Special needs programs and schools: a primer</a></li>
        <li><a href="/gk/articles/help-your-child-with-the-transition/">Moving? Tips to help your child with the transition</a></li>
        <li><a href="/gk/articles/gifted-and-talented-education-and-program/">Your child is gifted...now what?</a></li>
        <li><a href="/gk/articles/sizing-up-school-safety/">Searching for security</a></li>
      </ul>
    </div>
  </div>

  <div class="row mvl">
    <%= image_tag('hubs/choosing_step2.png', class: 'col-xs-12 col-sm-4 col-md-4 col-lg-6') %>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 phm pull-right  mbl mtl">
      <h5 class='mtn'>Step 2</h5>
      <h2 class='mtn'>Understand your options</h2>
      <p>
        In <%= @collection_nickname %>, there are a variety of schools to choose from - public, public charter, and private. When deciding between schools, learn what makes each type of school different, and how that fits with your overall needs and goals.
      </p>
      <h4>Featured resources</h4>
      <ul>
        <li><a href="/gk/articles/public-private-charter-schools/">Public vs. private vs. charter schools</a></li>
        <% if params[:city] %>
          <li><%= link_to "#{@collection_nickname} enrollment information", city_enrollment_path(params[:state], params[:city]) %></li>
        <% else %>
          <li><%= link_to "#{@collection_nickname} enrollment information", state_enrollment_path(params[:state]) %></li>
        <% end %>
      </ul>

      <a class='js-expand-collapse notranslate' href="javascript:void(0)">Additional resources »</a>
      <div class="js-expandable dn">
        <h4>Overview of options</h4>
        <ul>
          <li><a href="/gk/articles/school-choice-your-options/">School choice: what are your options?</a></li>
          <li><a href="/gk/articles/private-vs-public-schools/">Private vs. public</a></li>
          <li><a href="/gk/articles/school-terminology/">School choice terminology</a></li>
        </ul>

        <h4>Public & public charter schools</h4>
        <ul>
          <li><a href="/gk/articles/public-school/">Public schools: fact and fiction</a></li>
          <li><a href="/gk/videos/what-is-charter-school-video/">What's a charter school anyway?</a></li>
          <li><a href="/gk/articles/charter-schools-2/">The truth about charter schools</a></li>
          <li><a href="/gk/articles/seven-facts-about-charter-schools/">7 essentials about charter schools</a></li>
          <li><a href="/gk/articles/charter-schools-better-than-traditional/">Are charter schools better?</a></li>
        </ul>

        <h4>Private schools</h4>
        <ul>
          <li><a href="/gk/videos/private-schools-video/">A guide to private schools</a></li>
          <li><a href="/gk/articles/private-schools-parochial-schools/">Should I send my child to a private school?</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mvl">
    <%= image_tag('hubs/choosing_step3.png', class: 'pull-right col-xs-12 col-sm-4 col-md-4 col-lg-6') %>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 phm  mbl mtl">
      <h5 class='mtn'>Step 3</h5>
      <h2 class='mtn'>Find schools that fit</h2>
      <p>
        As you search for schools that fit your family, look for information in three key areas - academic performance, extracurricular programs, and school culture and community.
      </p>
      <h4>Featured resources</h4>
      <% unless @step3_search_links.nil? %>
          <% @step3_search_links.each do |link| %>
              <% if link[:newWindow] == 'true' %>
                  <%= link_to(link[:name], link[:path], target: '_blank') %>
              <% else %>
                  <%= link_to(link[:name], link[:path]) %>
              <% end %>
              <br>
          <% end %>
      <% end %>

      <p>
        GreatSchools provides independent ratings based on a mixture of factors. You should consider GreatSchools ratings along with local and state ratings.
      </p>
      <ul>
        <% unless @step3_links.nil? %>
          <% @step3_links.each do |link| %>
            <% if link[:newWindow] == 'true' %>
              <li><%= link_to(link[:name], link[:path], target: '_blank') %></li>
            <% else %>
              <li><%= link_to(link[:name], link[:path]) %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <a class='js-expand-collapse notranslate' href="javascript:void(0)">Additional resources »</a>
      <ul class="dn js-expandable">
        <li><a href="/gk/videos/school-test-scores-video/">Facts (and fiction) about school test scores</a></li>
        <li><a href="/gk/articles/cultural-diversity-at-school/">How important is cultural diversity at your school?</a></li>
        <li><a href="/gk/articles/class-size/">How important is class size?</a></li>
        <li><a href="/gk/articles/school-size/">How important is school size?</a></li>
        <li><a href="/preschool/slideshows/7268-why-preschool.gs">The ABCs of picking a preschool</a></li>
        <li><a href="/gk/articles/mistakes-choosing-preschool/">Pitfalls of picking a preschool</a></li>
        <li><a href="/gk/articles/mistakes-choosing-elementary/">Pitfalls of picking an elementary school</a></li>
        <li><a href="/gk/articles/mistakes-choosing-middle-school/">Pitfalls of picking a middle school</a></li>
        <li><a href="/gk/articles/mistake-choosing-highschool/">Pitfalls of picking a high school</a></li>
      </ul>
    </div>
  </div>

  <div class="row mvl">
    <%= image_tag('hubs/choosing_step4.png', class: 'col-xs-12 col-sm-4 col-md-4 col-lg-6') %>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 phm pull-right  mbl mtl">
      <h5 class='mtn'>Step 4</h5>
      <h2 class='mtn'>Visit schools you like</h2>
      <p>
        Take time to visit the schools at the top of your list. Visiting is the best way to tell whether you and your child feel welcomed and comfortable at each school. You also have a chance to observe teachers in action, and see whether students are actively engaged in learning.
      </p>

      <h4>Featured resources</h4>
      <ul>
        <li><a href="/gk/articles/the-school-visit-what-to-look-for-what-to-ask/">The school visit: what to look for, what to ask</a></li>
        <li><a href="/gk/articles/choosing-a-school-from-a-distance/">Choosing a school from a distance</a></li>
      </ul>
      <a class='js-expand-collapse notranslate' href="javascript:void(0)">Additional resources »</a>
      <div class='dn js-expandable'>
        <h4>Preschool Resources</h4>
        <ul>
          <li><a href="/find-a-school/slideshows/3457-choosing-a-preschool.gs">10 key questions for preschools</a></li>
          <li><a href="/gk/articles/insider-tricks-for-assessing-preschools/">Insider tricks for assessing preschools</a></li>
        </ul>

        <h4>Elementary School Resources</h4>
        <ul>
          <li><a href="/gk/videos/choose-elementary-school-video/">Finding the right elementary school</a></li>
          <li><a href="/find-a-school/slideshows/3469-choosing-an-elementary-school.gs">10 key questions for elementary schools</a></li>
          <li><a href="/gk/articles/insider-tricks-for-assessing-elementary-schools/">Insider tricks for assessing elementary schools</a></li>
          <li><a href="/catalog/pdf/schq_visit_elem.pdf">Elementary school visit checklist</a></li>
        </ul>

        <h4>Middle School Resources</h4>
        <ul>
          <li><a href="/gk/videos/choose-middle-school-video/">How to find the right middle school</a></li>
          <li><a href="/find-a-school/slideshows/3436-choosing-a-middle-school.gs">10 key questions for middle schools</a></li>
          <li><a href="/gk/articles/insider-tricks-for-assessing-middle-schools/">Insider tricks for assessing middle schools</a></li>
          <li><a href="/catalog/pdf/schq_visit_middle.pdf">Middle school visit checklist</a></li>
        </ul>

        <h4>High School Resources</h4>
        <ul>
          <li><a href="<%= choose_high_video_path %>">How to choose the right high school</a></li>
          <li><a href="/find-a-school/slideshows/3446-choosing-a-high-school.gs">10 key questions for high schools</a></li>
          <li><a href="/gk/articles/insider-tricks-for-assessing-high-schools/">Insider tricks for assessing high schools</a></li>
          <li><a href="/catalog/pdf/schq_visit_high.pdf">High school visit checklist</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mvl">
    <%= image_tag('hubs/choosing_step5.png', class: 'pull-right col-xs-12 col-sm-4 col-md-4 col-lg-6') %>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 phm  mbl mtl">
      <h5 class='mtn'>Step 5</h5>
      <h2 class='mtn'>Apply and enroll</h2>
      <p>
        Once you've made your choices, find out the details of the enrollment process for each school and give yourself enough time to complete and submit your applications. You may need to gather important documents like a birth certificate or proof of residency. Also, your first choice school may not be available, so you will want to apply to at least two other schools that meet all or most of your needs.
      </p>
      <h4>Featured resources</h4>
      <ul>
        <% if params[:city] %>
          <li><%= link_to "#{@collection_nickname} enrollment information", city_enrollment_path(params[:state], params[:city]) %></li>
        <% else %>
          <li><%= link_to "#{@collection_nickname} enrollment information", state_enrollment_path(params[:state]) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
