<section class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 js-user-preferences-form-container phl">
    <%= form_tag(user_preferences_update_path, method: :post, class:"rs-preferences-form") do |f| %>
      <input class="js-gradeSubmitValue" name="grades" type="hidden" value="">
      <h2 class="tac open-sans font-size-large"><strong><%= t('.subheading_pt_1') %> </strong> <%= t('.subheading_pt_2') %></h2>

      <p class="tac"><strong> <%= t('.email_heading') %>: </strong><%= @current_user.email if logged_in? %></p>

      <div class="newsletter-module">
        <div class="tab-buttons ep-tabs">
          <div class="tab-container">
            <a id="tab-news-en" class="tab-title tab-selected" href="javascript:void(0)"><%= t('.en_tab') %></a>
            <span class="divider"></span>
            <a id="tab-news-es" class="tab-title" href="javascript:void(0)"><%= t('.es_tab') %></a>
          </div>
        </div>

        <div class="panel">
          <%= render 'english_email_preferences' %>
          <%= render 'spanish_email_preferences' %>
        </div>

        <%# Common Submit Button (submits both English & Spanish forms) %>
        <div class="tac">
          <%= content_tag('button', type: 'submit', class: 'mtm mbm btn btn-lg btn-primary rs-submit') do %>
            <span class="font-size-xl"><%= t('.submit_label') %></span>
          <% end %>
        </div>
        <div class="tac"><%= link_to('Unsubscribe', unsubscribe_path) %></div>

        <%# <div> %>
        <%# link_to t('.privacy_policy'), privacy_url %>&nbsp;
        <%# t('.terms_of_use_html',
                terms_of_use_link: link_to(
                        t('.greatschools_terms_of_use'),
                        terms_of_use_url)
              )
        %>
        <%# </div> %>

    <% end %>
    </div>
  </div>
</section>

<script>
</script>
