<% greatnews_en = @current_preferences_en.include?("greatnews") %>
<% greatkidsnews_en = @current_preferences_en.include?("greatkidsnews") %>
<% sponsor_en = @current_preferences_en.include?("sponsor") %>
<% teacher_list_en = @current_preferences_en.include?("teacher_list") %>

<% greatnews_es = @current_preferences_en.include?("greatnews") %>
<% greatkidsnews_es = @current_preferences_en.include?("greatkidsnews") %>

<section class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 js-user-preferences-form-container phl">
    <%= form_tag(user_preferences_update_path, method: :post, class:"rs-preferences-form") do |f| %>
      <h2 class="tac open-sans font-size-large"><strong><%= t('.subheading_pt_1') %> </strong> <%= t('.subheading_pt_2') %></h2>

      <p class="tac"><strong> <%= t('.email_heading') %>: </strong><%= @current_user.email if logged_in? %></p>

      <div class="newsletter-module">
        <div class="tab-buttons ep-tabs">
          <div class="tab-container">
            <a id="tab-news-en" class="tab-title tab-selected" href="javascript:void(0)"><%= t('.en_tab') %></a>
            <span class="divider"></span>
            <a id="tab-news-es" class="tab-title" href="javascript:void(0)"><%= t('.es_tab') %></a>
          </div>
        </div>

        <div class="panel">
          <%# English Newsletters %>
          <div id="news-en" class="tabcontent active">
            <h3><%= t('.en_news.newsletters_heading') %></h3>
            <div>
              <div class="fl prm mtm">
                <div class="js-checkbox iconx16 js-icon <%= greatnews_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
                    data-toggle="button" readonly="">
                  <input name="subscriptions_en[]"
                    disabled="true"
                    type="hidden"
                    value="greatnews">
                </div>
              </div>
              <div style="overflow:hidden">
                <div class="strong subtitle-md"><%= t('.en_news.greatnews_title') %></div>
                <p><%= t('.en_news.greatnews_subtitle') %></p>
              </div>
            </div>

            <% if @current_grades.any? { |el| el[:district_id].present? } %>
              <% districts = @current_grades_en.group_by { |h| h[:district_state_and_id] }.except("-") %>
              <% districts.each do |district, record| %>
                <% checked_grades = record.map { |el| el[:grade] } %>
                <div class="mtm">
                  <div class="fl prm mtm">
                    <%# TODO: Fix JS for this checkbox classlogic below: "%= greatkidsnews ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box'" %>
                    <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon i-16-blue-check-box active"
                        data-toggle="button" readonly="">
                      <input name="subscriptions_en[]"
                        disabled="true"
                        type="hidden"
                        value="greatkidsnews">
                    </div>
                  </div>
                  <div style="overflow:hidden">
                    <div class="strong subtitle-md"><%= t('.en_news.greatkidsnews_title') %>: <%= record.first[:district_name] %></div>
                    <p><%= t('.en_news.greatkidsnews_subtitle') %></p>
                    <div class="ma">
                      <p><%= t('.en_news.grades_label') %></p>
                      <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
                        <div>
                        <% grade_group.compact.each do |grade, label| %>
                          <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton js-gradeCheckbox <%= 'active' if checked_grades.include?(grade) %>"
                              style="min-width:30px"
                              data-checkbox-button-key="grade[]"
                              data-checkbox-button-value="<%= grade %>"
                              data-toggle="button"
                              data-district-state="<%= record.first[:district_state] %>"
                              data-district-id="<%= record.first[:district_id] %>"
                              data-language="en"
                              >
                              <input name="grades" type="hidden" value="">
                          </div>
                        <% end %>
                        </div>
                        <div class="clearfix"></div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="mtm">
                <div class="fl prm mtm">
                  <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon <%= greatkidsnews_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
                      data-toggle="button" readonly="">
                    <input name="subscriptions_en[]"
                      disabled="true"
                      type="hidden"
                      value="greatkidsnews">
                  </div>
                </div>
                <div style="overflow:hidden">
                  <div class="strong subtitle-md"><%= t('.en_news.greatkidsnews_title') %></div>
                  <p><%= t('.en_news.greatkidsnews_subtitle') %></p>
                  <div class="ma">
                    <p><%= t('.en_news.grades_label') %></p>
                    <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
                      <div>
                      <% grade_group.compact.each do |grade, label| %>
                        <% current_grades_default_en = @current_grades_en.select { |el| el[:district_state] == "" && el[:district_id] == "" }.map { |r| r[:grade] } %>
                        <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton <%= 'active' if current_grades_default_en.include?(grade) %>"
                            style="min-width:30px"
                            data-checkbox-button-key="grade[]"
                            data-checkbox-button-value="<%= grade %>"
                            data-toggle="button">
                            <input name="grades[][grade]" disabled="true" type="hidden" value="<%= grade %>"><%= label %>
                            <input name="grades[][district_state]" disabled="true" type="hidden" value="">
                            <input name="grades[][district_id]" disabled="true" type="hidden" value="">
                            <input name="grades[][language]" disabled="true" type="hidden" value="en">
                        </div>
                      <% end %>
                      </div>
                      <div class="clearfix"></div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>



            <div class="mtm">
              <div class="fl prm mtm">
                <div class="js-checkbox iconx16 js-icon <%= teacher_list_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
                    data-toggle="button" readonly="">
                  <input name="subscriptions_en[]"
                        disabled="true"
                        type="hidden"
                        value="teacher_list">
                </div>
              </div>
              <div style="overflow:hidden">
                <div class="strong subtitle-md"><%= t('.en_news.teacher_list_title') %></div>
                <p><%= t('.en_news.teacher_list_subtitle') %></p>
              </div>
              <div class="clearfix"></div>
            </div>


            <div class="mtm">
              <% @mss_subscriptions_en.each do |subscription| %>
                <div class="fl prm mts">
                  <div class="js-checkbox js-inverted-checkbox iconx16 js-icon i-16-blue-check-box active" data-toggle="button" readonly="">
                    <input name="subscription_ids_to_remove_en[]" disabled="true" type="hidden" value="<%= subscription.id %>">
                  </div>
                </div>
                <div style="overflow:hidden">
                  <%= t('.en_news.school_updates') %>: <%= subscription.school.name %>, <%= subscription.school.city %>, <%= subscription.school.state %>
                </div>
                <div class="clearfix"></div>
              <% end %>
            </div>


            <div class="mtm">
              <div class="fl prm mtm">
                <div class="js-checkbox iconx16 js-icon <%= sponsor_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
                    data-toggle="button" readonly="">
                  <input name="subscriptions_en[]"
                    disabled="true"
                    type="hidden"
                    value="sponsor">
                </div>
              </div>
              <div style="overflow:hidden">
                <div class="strong subtitle-md"><%= t('.en_news.sponsor_title') %></div>
                <p><%= t('.en_news.sponsor_subtitle') %></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <%# Spanish Newsletters %>
          <div id="news-es" class="tabcontent">
            <h3><%= t('.es_news.newsletters_heading') %></h3>
            <div>
              <div class="fl prm mtm">
                <div class="js-checkbox iconx16 js-icon <%= greatnews_es ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
                    data-toggle="button" readonly="">
                  <input name="subscriptions_es[]"
                    disabled="true"
                    type="hidden"
                    value="greatnews">
                </div>
              </div>
              <div style="overflow:hidden">
                <div class="strong subtitle-md"><%= t('.es_news.greatnews_title') %></div>
                <p><%= t('.es_news.greatnews_subtitle') %></p>
              </div>
            </div>



            <% if @current_grades.any? { |el| el[:district_id].present? } %>
              <% districts = @current_grades_es.group_by { |h| h[:district_state_and_id] }.except("-") %>
              <% districts.each do |district, record| %>
                <% checked_grades = record.map { |el| el[:grade] } %>
                <div class="mtm">
                  <div class="fl prm mtm">
                    <%# TODO: Fix JS for this checkbox classlogic below: "%= greatkidsnews ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box'" %>
                    <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon i-16-blue-check-box active"
                        data-toggle="button" readonly="">
                      <input name="subscriptions_en[]"
                        disabled="true"
                        type="hidden"
                        value="greatkidsnews">
                    </div>
                  </div>
                  <div style="overflow:hidden">
                    <div class="strong subtitle-md"><%= t('.es_news.greatkidsnews_title') %>: <%= record.first[:district_name] %></div>
                    <p><%= t('.es_news.greatkidsnews_subtitle') %></p>
                    <div class="ma">
                      <p><%= t('.es_news.grades_label') %></p>
                      <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
                        <div>
                        <% grade_group.compact.each do |grade, label| %>
                          <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton <%= 'active' if checked_grades.include?(grade) %>"
                              style="min-width:30px"
                              data-checkbox-button-key="grade[]"
                              data-checkbox-button-value="<%= grade %>"
                              data-toggle="button">
                              <input name="grades[][grade]" disabled="true" type="hidden" value="<%= grade %>"><%= label %>
                              <input name="grades[][district_state]" disabled="true" type="hidden" value="<%= record.first[:district_state] %>">
                              <input name="grades[][district_id]" disabled="true" type="hidden" value="<%= record.first[:district_id] %>">
                              <input name="grades[][language]" disabled="true" type="hidden" value="es">
                          </div>
                        <% end %>
                        </div>
                        <div class="clearfix"></div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="mtm">
                <div class="fl prm mtm">
                  <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon <%= greatkidsnews_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
                      data-toggle="button" readonly="">
                    <input name="subscriptions_es[]"
                      disabled="true"
                      type="hidden"
                      value="greatkidsnews">
                  </div>
                </div>
                <div style="overflow:hidden">
                  <div class="strong subtitle-md"><%= t('.en_news.greatkidsnews_title') %></div>
                  <p><%= t('.en_news.greatkidsnews_subtitle') %></p>
                  <div class="ma">
                    <p><%= t('.en_news.grades_label') %></p>
                    <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
                      <div>
                      <% grade_group.compact.each do |grade, label| %>
                        <% current_grades_default_es = @current_grades_es.select { |el| el[:district_state] == nil }.map { |r| r[:grade] } %>
                        <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton <%= 'active' if current_grades_default_es.include?(grade) %>"
                            style="min-width:30px"
                            data-checkbox-button-key="grade[]"
                            data-checkbox-button-value="<%= grade %>"
                            data-toggle="button">
                            <input name="grades[][grade]" disabled="true" type="hidden" value="<%= grade %>"><%= label %>
                            <input name="grades[][district_state]" disabled="true" type="hidden" value="">
                            <input name="grades[][district_id]" disabled="true" type="hidden" value="">
                            <input name="grades[][language]" disabled="true" type="hidden" value="en">
                        </div>
                      <% end %>
                      </div>
                      <div class="clearfix"></div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>


            <div class="mtm">
              <% @mss_subscriptions_es.each do |subscription| %>
                <div class="fl prm mts">
                  <div class="js-checkbox js-inverted-checkbox iconx16 js-icon i-16-blue-check-box active" data-toggle="button" readonly="">
                    <input name="subscription_ids_to_remove_es[]" disabled="true" type="hidden" value="<%= subscription.id %>">
                  </div>
                </div>
                <div style="overflow:hidden">
                  <%= t('.es_news.school_updates') %>: <%= subscription.school.name %>, <%= subscription.school.city %>, <%= subscription.school.state %>
                </div>
                <div class="clearfix"></div>
              <% end %>
            </div>

        </div>
      </div>



      <%# Common Submit Button (submits both English & Spanish forms) %>
      <div class="tac">
        <%= content_tag('button', type: 'submit', class: 'mtm mbm btn btn-lg btn-primary rs-submit') do %>
          <span class="font-size-xl"><%= t('.submit_label') %></span>
        <% end %>
      </div>
      <div class="tac"><%= link_to('Unsubscribe', unsubscribe_path) %></div>

      <%# <div> %>
        <%# link_to t('.privacy_policy'), privacy_url %>&nbsp;
        <%# t('.terms_of_use_html',
              terms_of_use_link: link_to(
                      t('.greatschools_terms_of_use'),
                      terms_of_use_url)
            )
        %>
      <%# </div> %>

    <% end %>
  </div>
</section>

<script>
</script>
