<% path_to_yml = "user_email_preferences.email_preferences.en_news." %>

<%# English Newsletters %>
<div id="news-en" class="tabcontent <%=I18n.locale == :en ? 'active' : '' %>">
  <h3><%= t(path_to_yml + 'newsletters_heading') %></h3>

  <%= render partial: 'subscription', :locals => {
      list: 'greatnews',
      language: 'en',
      active: @current_preferences_en.include?("greatnews"),
      title: path_to_yml + 'greatnews_title',
      subtitle: path_to_yml + 'greatnews_subtitle'} %>

  <%= render :partial => 'grades_display', :locals => { grades: @grades_hashes[:en][:overall] } %>

  <% @grades_hashes[:en][:districts].each do |k| %>
    <%= render :partial => 'grades_display', :locals => { grades: k } %>
  <% end %>

  <div class="mtm">
    <%= render partial: 'subscription', :locals => {
        list: 'teacher_list',
        language: 'en',
        active: @current_preferences_en.include?("teacher_list"),
        title: path_to_yml + 'teacher_list_title',
        subtitle: path_to_yml + 'teacher_list_subtitle'} %>
  </div>

  <div class="mtm">
    <% @mss_subscriptions_en&.each do |subscription| %>
      <div class="fl prm mts">
        <div class="js-checkbox js-inverted-checkbox iconx16 js-icon js-subscriptionCheckbox i-16-blue-check-box active" data-toggle="button" readonly="">
          <input name="subscription_ids_to_remove_en[]" disabled="true" type="hidden" value="<%= subscription.id %>">
        </div>
      </div>
      <div style="overflow:hidden">
        <%= t(path_to_yml + 'school_updates') %>: <%= subscription.school.name %>, <%= subscription.school.city %>
        , <%= subscription.school.state %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>

  <div class="mtm">
    <%= render partial: 'subscription', :locals => {
        list: 'sponsor',
        language: 'en',
        active: @current_preferences_en.include?("sponsor"),
        title: path_to_yml + 'sponsor_title',
        subtitle: path_to_yml + 'sponsor_subtitle'} %>
  </div>
</div>
