<%# English Newsletters %>
<div id="news-en" class="tabcontent active">
  <h3><%= t('.en_news.newsletters_heading') %></h3>
  <div>
    <div class="fl prm mtm">
      <div class="js-checkbox iconx16 js-icon <%= greatnews_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
           data-toggle="button" readonly="">
        <input name="subscriptions_en[]"
               disabled="true"
               type="hidden"
               value="greatnews">
      </div>
    </div>
    <div style="overflow:hidden">
      <div class="strong subtitle-md"><%= t('.en_news.greatnews_title') %></div>
      <p><%= t('.en_news.greatnews_subtitle') %></p>
    </div>
  </div>

  <% if @current_grades.any? { |el| el[:district_id].present? } %>
    <% districts = @current_grades_en.group_by { |h| h[:district_state_and_id] }.except("-") %>
    <% districts.each do |district, record| %>
      <% checked_grades = record.map { |el| el[:grade] } %>
      <div class="mtm">
        <div class="fl prm mtm">
          <%# TODO: Fix JS for this checkbox classlogic below: "%= greatkidsnews ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box'" %>
          <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon i-16-blue-check-box active"
               data-toggle="button" readonly="">
            <input name="subscriptions_en[]"
                   disabled="true"
                   type="hidden"
                   value="greatkidsnews">
          </div>
        </div>
        <div style="overflow:hidden">
          <div class="strong subtitle-md"><%= t('.en_news.greatkidsnews_title') %>
            : <%= record.first[:district_name] %></div>
          <p><%= t('.en_news.greatkidsnews_subtitle') %></p>
          <div class="ma">
            <p><%= t('.en_news.grades_label') %></p>
            <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
              <div>
                <% grade_group.compact.each do |grade, label| %>
                  <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton js-gradeCheckbox <%= 'active' if checked_grades.include?(grade) %>"
                       style="min-width:30px"
                       data-checkbox-button-key="grade[]"
                       data-checkbox-button-value="<%= grade %>"
                       data-toggle="button"
                       data-district-state="<%= record.first[:district_state] %>"
                       data-district-id="<%= record.first[:district_id] %>"
                       data-language="en"
                  >

                  </div>
                <% end %>
              </div>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="mtm">
      <div class="fl prm mtm">
        <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon <%= greatkidsnews_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
             data-toggle="button" readonly="">
          <input name="subscriptions_en[]"
                 disabled="true"
                 type="hidden"
                 value="greatkidsnews">
        </div>
      </div>
      <div style="overflow:hidden">
        <div class="strong subtitle-md"><%= t('.en_news.greatkidsnews_title') %></div>
        <p><%= t('.en_news.greatkidsnews_subtitle') %></p>
        <div class="ma">
          <p><%= t('.en_news.grades_label') %></p>
          <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
            <div>
              <% grade_group.compact.each do |grade, label| %>
                <% current_grades_default_en = @current_grades_en.select { |el| el[:district_state] == "" && el[:district_id] == "" }.map { |r| r[:grade] } %>
                <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton js-gradeCheckbox <%= 'active' if current_grades_default_en.include?(grade) %>"
                     style="min-width:30px"
                     data-grade="<%= grade %>"
                     data-toggle="button"
                     data-language="en"
                     data-district-id=''
                     data-district-state=''
                ><%= label %>
                </div>
              <% end %>
            </div>
            <div class="clearfix"></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>



  <div class="mtm">
    <div class="fl prm mtm">
      <div class="js-checkbox iconx16 js-icon <%= teacher_list_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
           data-toggle="button" readonly="">
        <input name="subscriptions_en[]"
               disabled="true"
               type="hidden"
               value="teacher_list">
      </div>
    </div>
    <div style="overflow:hidden">
      <div class="strong subtitle-md"><%= t('.en_news.teacher_list_title') %></div>
      <p><%= t('.en_news.teacher_list_subtitle') %></p>
    </div>
    <div class="clearfix"></div>
  </div>


  <div class="mtm">
    <% @mss_subscriptions_en.each do |subscription| %>
      <div class="fl prm mts">
        <div class="js-checkbox js-inverted-checkbox iconx16 js-icon i-16-blue-check-box active" data-toggle="button" readonly="">
          <input name="subscription_ids_to_remove_en[]" disabled="true" type="hidden" value="<%= subscription.id %>">
        </div>
      </div>
      <div style="overflow:hidden">
        <%= t('.en_news.school_updates') %>: <%= subscription.school.name %>, <%= subscription.school.city %>
        , <%= subscription.school.state %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>


  <div class="mtm">
    <div class="fl prm mtm">
      <div class="js-checkbox iconx16 js-icon <%= sponsor_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
           data-toggle="button" readonly="">
        <input name="subscriptions_en[]"
               disabled="true"
               type="hidden"
               value="sponsor">
      </div>
    </div>
    <div style="overflow:hidden">
      <div class="strong subtitle-md"><%= t('.en_news.sponsor_title') %></div>
      <p><%= t('.en_news.sponsor_subtitle') %></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
