<% greatnews_en = @current_preferences_en.include?("greatnews") %>
<% greatkidsnews_en = @current_preferences_en.include?("greatkidsnews") %>
<% sponsor_en = @current_preferences_en.include?("sponsor") %>
<% teacher_list_en = @current_preferences_en.include?("teacher_list") %>
<% path_to_yml = "user_email_preferences.email_preferences.en_news." %>

<%# English Newsletters %>
<div id="news-en" class="tabcontent active">
  <h3><%= t(path_to_yml + 'newsletters_heading') %></h3>
  <div>
    <div class="fl prm mtm">
      <div class="js-checkbox iconx16 js-icon <%= greatnews_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
           data-toggle="button" readonly="">
        <input name="subscriptions_en[]"
               disabled="true"
               type="hidden"
               value="greatnews">
      </div>
    </div>
    <div style="overflow:hidden">
      <div class="strong subtitle-md"><%= t(path_to_yml + 'greatnews_title') %></div>
      <p><%= t(path_to_yml + 'greatnews_subtitle') %></p>
    </div>
  </div>



  <%= render :partial => 'grades_display', :locals => { grades: @grades_hashes[:en][:overall] } %>

  <% @grades_hashes[:en][:districts].each do |k| %>
    <%= render :partial => 'grades_display', :locals => { grades: k } %>
  <% end %>


  <div class="mtm">
    <div class="fl prm mtm">
      <div class="js-checkbox iconx16 js-icon <%= teacher_list_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
           data-toggle="button" readonly="">
        <input name="subscriptions_en[]"
               disabled="true"
               type="hidden"
               value="teacher_list">
      </div>
    </div>
    <div style="overflow:hidden">
      <div class="strong subtitle-md"><%= t(path_to_yml + 'teacher_list_title') %></div>
      <p><%= t(path_to_yml + 'teacher_list_subtitle') %></p>
    </div>
    <div class="clearfix"></div>
  </div>


  <div class="mtm">
    <% @mss_subscriptions_en.each do |subscription| %>
      <div class="fl prm mts">
        <div class="js-checkbox js-inverted-checkbox iconx16 js-icon i-16-blue-check-box active" data-toggle="button" readonly="">
          <input name="subscription_ids_to_remove_en[]" disabled="true" type="hidden" value="<%= subscription.id %>">
        </div>
      </div>
      <div style="overflow:hidden">
        <%= t(path_to_yml + 'school_updates') %>: <%= subscription.school.name %>, <%= subscription.school.city %>
        , <%= subscription.school.state %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>


  <div class="mtm">
    <div class="fl prm mtm">
      <div class="js-checkbox iconx16 js-icon <%= sponsor_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
           data-toggle="button" readonly="">
        <input name="subscriptions_en[]"
               disabled="true"
               type="hidden"
               value="sponsor">
      </div>
    </div>
    <div style="overflow:hidden">
      <div class="strong subtitle-md"><%= t(path_to_yml + 'sponsor_title') %></div>
      <p><%= t(path_to_yml + 'sponsor_subtitle') %></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
