<% title %>
<% subtitle %>
<% label %>
<% available_grades %>
<% active_grades %>
<% language %>
<% district_id %>
<% district_state %>
<% district_name %>

<div class="mtm">
    <div class="fl prm mtm">
      <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon <%= greatkidsnews_en ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
            data-toggle="button" readonly="">
        <input name="subscriptions_en[]"
                disabled="true"
                type="hidden"
                value="greatkidsnews">
      </div>
    </div>

  <% if district_id.present? && district_state.present? %>
    <% title = t(path_to_yml + 'greatkidsnews_district_title', name: district_name) %>
  <% else %>
    <% title = t(path_to_yml + 'greatkidsnews_title') %>
  <% end %>

  <div style="overflow:hidden">
    <div class="strong subtitle-md"><%= title %></div>
    <p><%= t(path_to_yml + 'greatkidsnews_subtitle') %></p>
    <div class="ma">
      <p><%= t(path_to_yml + 'grades_label') %></p>
      <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
        <div>
          <% grade_group.compact.each do |grade, label| %>
            <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton js-gradeCheckbox <%= 'active' if grades.include?(grade) %>"
                style="min-width:30px"
                data-grade="<%= grade %>"
                data-toggle="button"
                data-language="<%= language %>"
                data-district-id="<%= district_id %>"
                data-district-state="<%= district_state %>"
            ><%= label %>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>

</div>