<% greatnews_es = @current_preferences_es.include?("greatnews") %>
<% greatkidsnews_es = @current_preferences_es.include?("greatkidsnews") %>

<% path_to_yml = "user_email_preferences.email_preferences.es_news." %>


<%# Spanish Newsletters %>
<div id="news-es" class="tabcontent <%=I18n.locale == :es ? 'active' : '' %>">
  <h3><%= t(path_to_yml + 'newsletters_heading') %></h3>

  <%= render partial: 'subscription', :locals => {
      list: 'greatnews',
      language: 'es',
      active: @current_preferences_es.include?("greatnews"),
      title: path_to_yml + 'greatnews_title',
      subtitle: path_to_yml + 'greatnews_subtitle'} %>

  <%= render :partial => 'grades_display', :locals => { grades: @grades_hashes[:es][:overall] } %>

  <% @grades_hashes[:es][:districts].each do |k| %>
    <%= render :partial => 'grades_display', :locals => { grades: k } %>
  <% end %>

  <div class="mtm">
    <% @mss_subscriptions_es&.each do |subscription| %>
      <div class="fl prm mts">
        <div class="js-checkbox js-inverted-checkbox iconx16 js-icon i-16-blue-check-box active" data-toggle="button" readonly="">
          <input name="subscription_ids_to_remove_es[]" disabled="true" type="hidden" value="<%= subscription.id %>">
        </div>
      </div>
      <div style="overflow:hidden">
        <%= t(path_to_yml + 'school_updates') %>: <%= subscription.school.name %>, <%= subscription.school.city %>
        , <%= subscription.school.state %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>

</div>
