<% greatnews_es = @current_preferences_en.include?("greatnews") %>
<% greatkidsnews_es = @current_preferences_en.include?("greatkidsnews") %>

<% path_to_yml = "user_email_preferences.email_preferences.es_news." %>


<%# Spanish Newsletters %>
<div id="news-es" class="tabcontent">
  <h3><%= t(path_to_yml + 'newsletters_heading') %></h3>
  <div>
    <div class="fl prm mtm">
      <div class="js-checkbox iconx16 js-icon <%= greatnews_es ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
           data-toggle="button" readonly="">
        <input name="subscriptions_es[]"
               disabled="true"
               type="hidden"
               value="greatnews">
      </div>
    </div>
    <div style="overflow:hidden">
      <div class="strong subtitle-md"><%= t(path_to_yml + 'greatnews_title') %></div>
      <p><%= t(path_to_yml + 'greatnews_subtitle') %></p>
    </div>
  </div>



  <% if @current_grades.any? { |el| el[:district_id].present? } %>
    <% districts = @current_grades_es.group_by { |h| h[:district_state_and_id] }.except("-") %>
    <% districts.each do |district, record| %>
      <% checked_grades = record.map { |el| el[:grade] } %>
      <div class="mtm">
        <div class="fl prm mtm">
          <%# TODO: Fix JS for this checkbox classlogic below: "%= greatkidsnews ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box'" %>
          <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon i-16-blue-check-box active"
               data-toggle="button" readonly="">
            <input name="subscriptions_en[]"
                   disabled="true"
                   type="hidden"
                   value="greatkidsnews">
          </div>
        </div>
        <div style="overflow:hidden">
          <div class="strong subtitle-md"><%= t(path_to_yml + 'greatkidsnews_title') %>
            : <%= record.first[:district_name] %></div>
          <p><%= t(path_to_yml + 'greatkidsnews_subtitle') %></p>
          <div class="ma">
            <p><%= t(path_to_yml + 'grades_label') %></p>
            <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
              <div>
                <% grade_group.compact.each do |grade, label| %>
                  <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton <%= 'active' if checked_grades.include?(grade) %>"
                       style="min-width:30px"
                       data-checkbox-button-key="grade[]"
                       data-checkbox-button-value="<%= grade %>"
                       data-toggle="button">
                    <input name="grades[][grade]" disabled="true" type="hidden" value="<%= grade %>"><%= label %>
                    <input name="grades[][district_state]" disabled="true" type="hidden" value="<%= record.first[:district_state] %>">
                    <input name="grades[][district_id]" disabled="true" type="hidden" value="<%= record.first[:district_id] %>">
                    <input name="grades[][language]" disabled="true" type="hidden" value="es">
                  </div>
                <% end %>
              </div>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="mtm">
      <div class="fl prm mtm">
        <div class="js-checkbox js-greatkidsnews-checkbox iconx16 js-icon <%= greatkidsnews_es ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
             data-toggle="button" readonly="">
          <input name="subscriptions_es[]"
                 disabled="true"
                 type="hidden"
                 value="greatkidsnews">
        </div>
      </div>
      <div style="overflow:hidden">
        <div class="strong subtitle-md"><%= t(path_to_yml + 'greatkidsnews_title') %></div>
        <p><%= t(path_to_yml + 'greatkidsnews_subtitle') %></p>
        <div class="ma">
          <p><%= t(path_to_yml + 'grades_label') %></p>
          <% @available_grades.to_a.in_groups_of(7).each do |grade_group| %>
            <div>
              <% grade_group.compact.each do |grade, label| %>
                <% current_grades_default_es = @current_grades_es.select { |el| el[:district_state] == nil }.map { |r| r[:grade] } %>
                <div class="pas js-greatkidsnews-grades-checkbox btn-checkbox fl js-disableTarget btn js-checkboxButton <%= 'active' if current_grades_default_es.include?(grade) %>"
                     style="min-width:30px"
                     data-checkbox-button-key="grade[]"
                     data-checkbox-button-value="<%= grade %>"
                     data-toggle="button">
                  <input name="grades[][grade]" disabled="true" type="hidden" value="<%= grade %>"><%= label %>
                  <input name="grades[][district_state]" disabled="true" type="hidden" value="">
                  <input name="grades[][district_id]" disabled="true" type="hidden" value="">
                  <input name="grades[][language]" disabled="true" type="hidden" value="en">
                </div>
              <% end %>
            </div>
            <div class="clearfix"></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>


  <div class="mtm">
    <% @mss_subscriptions_es.each do |subscription| %>
      <div class="fl prm mts">
        <div class="js-checkbox js-inverted-checkbox iconx16 js-icon i-16-blue-check-box active" data-toggle="button" readonly="">
          <input name="subscription_ids_to_remove_es[]" disabled="true" type="hidden" value="<%= subscription.id %>">
        </div>
      </div>
      <div style="overflow:hidden">
        <%= t(path_to_yml + 'school_updates') %>: <%= subscription.school.name %>, <%= subscription.school.city %>
        , <%= subscription.school.state %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>

</div>
