<% path_to_yml = "user_email_preferences.email_preferences.es_news." %>


<%# Spanish Newsletters %>
<div id="news-es" class="tabcontent <%=I18n.locale == :es ? 'active' : '' %>">
  <h3><%= t(path_to_yml + 'newsletters_heading') %></h3>

  <%= render partial: 'subscription', :locals => {
      list: 'greatnews',
      language: 'es',
      active: @subscriptions.select { |sub| sub[:list] == "greatnews" and sub[:language] == "es" }.present?,
      title: path_to_yml + 'greatnews_title',
      subtitle: path_to_yml + 'greatnews_subtitle'} %>

  <%= render :partial => 'grades_display', :locals => { grades: @grades_hashes[:es][:overall] } %>

  <% @grades_hashes[:es][:districts].each do |k| %>
    <%= render :partial => 'grades_display', :locals => { grades: k } %>
  <% end %>

  <div class="mtm">
    <div class="strong subtitle-md" style="padding-left: 26px"><%= t(path_to_yml + 'school_updates') %></div>
    <% @mss_subscriptions[:es][:schools]&.each do |subscription| %>
      <div class="fl prm mts">
        <div class="js-checkbox js-inverted-checkbox iconx16 js-icon js-schoolCheckbox<%= subscription[:active] ? ' i-16-blue-check-box active' : ' i-grey-unchecked-box' %>" data-toggle="button"
             data-list="<%= subscription[:list] %>"
             data-language="<%= subscription[:language] %>"
             data-state="<%= subscription[:state] %>"
             data-school-id="<%= subscription[:school_id] %>">
        </div>
      </div>
      <div style="overflow:hidden">
        <%= subscription[:school_name] %>, <%= subscription[:school_city] %>, <%= subscription[:school_state] %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>
</div>
