<div>
  <div class="fl prm mtm">
    <div class="js-checkbox iconx16 js-icon js-subscriptionCheckbox <%= active ? 'i-16-blue-check-box active' : 'i-grey-unchecked-box' %>"
         data-toggle="button"
         data-list="<%= list %>"
         data-language="<%= language %>">
    </div>
  </div>
  <div style="overflow:hidden">
    <div class="strong subtitle-md"><%= t(title) %></div>
    <p><%= t(subtitle) %></p>
  </div>
</div>