<%
   average_score = @school_reviews.average_5_star_rating
   ratings_count = @school_reviews.number_of_5_star_ratings
   reviews_for_topic = SchoolProfileReviewsDecorator.decorate(@school_reviews.five_star_rating_reviews, self)
   review_comments_text = reviews_for_topic.see_comments_text
%>

<div class="js-overallRatingSummary mtxl">
  <% if average_score > 0 %>
      <div class="tac">
        <div class="open-sans_sb mvm"><%= pluralize ratings_count, 'OVERALL RATING', 'OVERALL RATINGS' %></div>
        <%= draw_stars_48 average_score %><br />
      </div>
      <div class="js_reviewTopicFilterLink mtm">
        <a class="pointer" data-topic-filter="<%= reviews_for_topic.first_topic.name %>">
          <%= review_comments_text %>
        </a>
      </div>
  <% else %>
      <%= render 'school_profile/reviews/modules/output/have_a_voice' %>
  <% end %>
</div>
