<% reported_entities = review.reported_entities || [] %>

<hr/>
<div class="row">
    <div class="leftcolumn col-lg-4 prm">
        <h5>Review details</h5>
        <%= pluralize(review.overall, 'star') %>
        <br/>
        Affiliation: <%= review.affiliation || 'n/a' %>
        <br/>
        IP Address: <%= review.ip.present? ? link_to( review.ip, users_admin_reviews_path( :review_moderation_search_string =>
                                                                                      review.ip)) : 'n/a' %>
        <br/>
        <% if review.user %>
          <% email = link_to( review.user.email, users_admin_reviews_path( :review_moderation_search_string =>
                                                                            review.user.email)) if review.school %>
          <% username = review.user.user_profile.screen_name if review.user.user_profile.present? %>
        <% else %>
          <% email = 'n/a' %>
          <% username = 'n/a' %>
        <% end %>
        Email: <%= email %>
        <br/>
        Username: <%= username %>
        <br/>

        Submitted on: <%= review.posted.strftime('%B %d, %Y') %>
        <br/>
        Status: <%= review.status %>
        <br/>
        <%= form_for review, url: publish_admin_review_path(review), method: :put do |f| %>
        <%= f.submit 'Publish', class: 'btn btn-sm mtm ' +
            ((review.provisional_published? || review.published?) ? 'btn-disabled' : 'btn-primary'),
        data: { disable_with: 'Publishing...' } %>
        <% end %>
        <%= form_for review, url: disable_admin_review_path(review), method: :put do |f| %>
            <%= f.submit 'Disable',
                class: 'btn btn-sm mtm ' + (review.disabled? ? 'btn-disabled' : 'btn-primary'),
                data: { disable_with: 'Disabling...' } %>
        <% end %>
        <%= form_for review, url: resolve_admin_review_path(review), method: :put do |f| %>
            <%= f.submit 'Resolve flags',
                id: "js-resolve-review-#{review.id}",
                class: "btn btn-sm mtm btn-primary",
                data: { disable_with: 'Resolving...' } %>
        <% end %>
        <%= button_tag('Report review', class: 'btn btn-sm mtm btn-primary',
          data: {
            toggle: 'collapse',
            target: "#flag-review-form-#{review.id}"
          }
        ) %>
    </div>
    <div class="rightcolumn col-lg-8">
        <h5>Review</h5>
        <div class="rs-review-comment">
          <%= review.comments %>
        </div>
        <br/>
        <br/>
        <% reported_entities.each do |reported_entity| %>
            <hr/>
            <h5>Reported</h5>
            <%= reported_entity.reason %>
            <br/>
            Reported on: <%= reported_entity.created %>
            <% if reported_entity.updated != reported_entity.created %>
                &nbsp; Updated: <%= reported_entity.updated %>
            <% end %>
            <br/>
            <% if reported_entity.reporter_id == -1 %>
                User: Automated pre-moderation filter
            <% else %>
                User <%= reported_entity.reporter_id %>
            <% end %>
            <br/>
            <% if reported_entity.user %>
                Email: <%= reported_entity.user.email %>
            <% end %>
        <% end %>
        <hr/>
        <h5>Notes</h5>
        <%= form_for(review, url: admin_review_path(review), method: :put) do |f| %>
          <%= f.text_area(:note, rows: 4, class: 'input-xlarge', 'style' => 'width: 100%') %>
          <%= content_tag :div, f.button('Save notes', class: 'btn btn-primary pull-right mtm'), class: 'form-actions' %>
        <% end %>
          <br/>

        <div id="flag-review-form-<%= review.id %>" class="collapse">
          <h5>Report review</h5>
          <%= form_for(review, url: report_admin_review_path(review), method: :put) do |f| %>
            <%= text_area_tag(:reason, '', rows: 4, class: 'input-xlarge', 'style' => 'width: 100%') %>
            <%= content_tag :div, f.submit('Report review', class: 'btn btn-primary pull-right mtm'), class: 'form-actions' %>
          <% end %>
        </div>
    </div>
</div>
