<% active_flags = review.flags.select(&:active?) %>
<% inactive_flags = review.flags.select(&:inactive?) %>

<hr/>
<div class="row">
    <div class="leftcolumn col-lg-4 prm">
        <h5>Review details</h5>
        <br/>
        Affiliation: <%= review.user_type || 'n/a' %>
        <br/>
        <% if review.user %>
          <% email = link_to( review.user.email, users_admin_reviews_path( :review_moderation_search_string =>
                                                                            review.user.email)) if review.school %>
          <% username = review.user.user_profile.screen_name if review.user.user_profile.present? %>
        <% else %>
          <% email = 'n/a' %>
          <% username = 'n/a' %>
        <% end %>
        Email: <%= email %>
        <br/>
        Username: <%= username %>
        <br/>

        Submitted on: <%= review.created.strftime('%B %d, %Y') %>
        <br/>
        Status: <%= review.status %>
        <br/>

        <% if review.active? %>
          <%= form_for review, url: deactivate_admin_review_path(review), method: :put do |f| %>
            <%= f.submit 'Deactivate',
                         class: 'btn btn-sm mtm ' + (review.inactive? ? 'btn-disabled' : 'btn-primary'),
                         data: { disable_with: 'Deactivating...' } %>
          <% end %>
        <% else %>
          <%= form_for review, url: activate_admin_review_path(review), method: :put do |f| %>
            <%= f.submit 'Activate',
                         class: 'btn btn-sm mtm ' + (review.active? ? 'btn-disabled' : 'btn-primary'),
                         data: { disable_with: 'Activating...' } %>
          <% end %>
        <% end %>

        <%= form_for review, url: resolve_admin_review_path(review), method: :put do |f| %>
          <%= f.submit 'Resolve all flags',
                       id: "js-resolve-review-#{review.id}",
                       class: "btn btn-sm mtm btn-primary",
                       data: { disable_with: 'Resolving...' } %>
        <% end %>

        <%= button_tag('Flag this review', class: 'btn btn-sm mtm btn-primary',
          data: {
            toggle: 'collapse',
            target: "#flag-review-form-#{review.id}"
          }
        ) %>
    </div>
    <div class="rightcolumn col-lg-8">
        <h5>Review</h5>
        <div class="rs-review-comment">
          <%= review.comment %>
        </div>
        <br/>

        <% if active_flags.present? %>
          <h5>Open flags</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>Reason</td>
                <td>Reported on</td>
                <td>Reported by</td>
              </tr>
            </thead>
            <tbody>
              <% active_flags.each do |flag| %>
                <tr>
                  <td><%= flag.reason %></td>
                  <td><%= flag.created.strftime('%B %d, %Y') %></td>
                  <td>
                    <% if flag.user %>
                      <%= link_to(flag.user.email, users_admin_reviews_path(review_moderation_search_string: review.user.email)) %>
                    <% else %>
                      Unknown
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <h5>No open flags</h5>
        <% end %>
        <br/>

        <% if inactive_flags.present? %>
          <h5>Resolved flags</h5>
          <table class="table table-striped">
            <thead>
            <tr>
              <td>Reason</td>
              <td>Reported on</td>
              <td>Reported by</td>
            </tr>
            </thead>
            <tbody>
            <% inactive_flags.each do |flag| %>
              <tr>
                <td><%= flag.reason %></td>
                <td><%= flag.created.strftime('%B %d, %Y') %></td>
                <td>
                  <% if flag.user %>
                    <%= link_to(flag.user.email, users_admin_reviews_path(review_moderation_search_string: review.user.email)) %>
                  <% else %>
                    Unknown
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>

        <hr/>

        <div class="rs-review-notes">
          <h5>Notes</h5>
          <% review.notes.includes(:user).each do |review_note| %>
            <%= "#{review_note.created.strftime('%B %d, %Y')} " %>
            <%= "#{review_note.user.email} :" if review_note.user %>
            <%= review_note.notes %>
            <br/>
            <hr/>
            <br/>
          <% end %>
          <%= form_for(ReviewNote.new, url: admin_review_notes_path, method: :post) do |f| %>
            <% # notes_form.hidden_field(:user, @current_user) %>
            <%= f.hidden_field(:review_id, value: review.id) %>
            <%= f.text_area(:notes, rows: 4, class: 'input-xlarge', 'style' => 'width: 100%') %>
            <%= content_tag :div, f.button('Save notes', class: 'btn btn-primary pull-right mtm'), class: 'form-actions' %>
          <% end %>
          <br/>
        </div>

        <div id="flag-review-form-<%= review.id %>" class="collapse">
          <h5>Report review</h5>
          <%= form_for(review, url: report_admin_review_path(review), method: :put) do |f| %>
            <%= text_area_tag(:reason, '', rows: 4, class: 'input-xlarge', 'style' => 'width: 100%') %>
            <%= content_tag :div, f.submit('Report review', class: 'btn btn-primary pull-right mtm'), class: 'form-actions' %>
          <% end %>
        </div>
    </div>
</div>
