
<hr/>
<div class="row">
    <div class="leftcolumn col-lg-4 prm">
        <h5>Review details</h5>
        <br/>
        Affiliation: <%= review.user_type || 'n/a' %>
        <br/>
        <% if review.user %>
          <% email = link_to( review.user.email, users_admin_reviews_path( :review_moderation_search_string =>
                                                                            review.user.email)) if review.school %>
          <% username = review.user.user_profile.screen_name if review.user.user_profile.present? %>
        <% else %>
          <% email = 'n/a' %>
          <% username = 'n/a' %>
        <% end %>
        Email: <%= email %>
        <br/>
        Username: <%= username %>
        <br/>

        Submitted on: <%= review.created.strftime('%B %d, %Y') %>
        <br/>
        Status: <%= review.status %>
        <br/>

        <%= render 'review_controls', review: review %>
    </div>
    <div class="rightcolumn col-lg-8">
        <h5>Review</h5>
        <div class="rs-review-topic">
          Topic: <%= review.question.topic.name %>
        </div>
        <div class="rs-review-answer">
          Response: <%= review.answer %>
        </div>
        <br/>
        <div class="rs-review-comment">
          <%= review.comment %>
        </div>
        <br/>


        <%= render 'review_flags', review: review %>
        <hr/>
        <%= render 'review_notes', review: review %>
        <%= render 'flag_review_form', review: review %>
    </div>
</div>
