<% @held_school %>
<% @reviews %>


<%= render 'admin/reviews/reviews_navigation', page_name: :schools %>

<%= render 'admin/reviews/reviews_school_search' %>

<div class="row limit-width-1200 pam">
  <br/>
  <h3><%= link_to @school.name, school_url(@school) %></h3>

  <div>
    <%= render 'held_school_form',
      school: @school,
      held_school: @held_school %>
    <br/>
  </div>
  <br/>

  <div>
    <h5>Filters</h5>
    <%= check_box_tag :active, true, params[:active] == 'true' %> Active &nbsp;&nbsp;
    <%= check_box_tag :inactive, true, params[:inactive] == 'true' %> Inactive &nbsp;&nbsp;
  </div>
  <div>
    <strong><%= pluralize @reviews.size, 'review' %></strong> displayed
      <%= link_to('Show all',
                  admin_school_moderate_path(
                    state: school_params(@school)[:state],
                    school_id: @school.id
                  )
                ) if params[:review_id] %>
    <% if current_scopes.any? %>
        <br/>
        Showing reviews that are <%= current_scopes.stringify_keys.keys.join ' and ' %>
    <% end %>
  </div>

  <div class="rs-list-of-reviews">
    <%= render partial: 'review', collection: @reviews, as: :review %>
  </div>
</div>
