<% @held_school %>
<% @reviews %>



<%= javascript_tag do %>
    $(function() {
        $('input:checkbox').on('click', function() {
            var $this = $(this);
            var value = $this.prop('checked');
            var name = $this.attr('name');

            new_location = location.href.replace(new RegExp("&?" + name + "=([^&]$|[^&]*)", "i"), "");

            if (_.indexOf(new_location, '?') == -1) {
                new_location += '?';
            } else {
                new_location += '&';
            }
            location.href = new_location + name + "=" + value;
        });
    });
<% end %>

<%= render 'admin/reviews/reviews_navigation', page_name: :schools %>

<div class="row ptl limit-width-1200">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= form_tag moderation_admin_reviews_path, method: 'get', role: 'form', class: 'form-inline' do %>
      <legend>Find a school by state & ID</legend>
      <div class="form-group">
        <%= select_tag 'state', options_from_collection_for_select(States.abbreviations, :to_s, :upcase), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= number_field_tag 'school_id', nil, class: 'form-control', placeholder: 'School ID' %>
      </div>
      <button type="submit" class="btn btn-primary" id="submit" style="margin-left: 40px">Search</button>
    <% end %>
  </div>
</div>


<div class="row limit-width-1200 pam">
  <br/>
  <% #link_to 'Back to moderation', moderation_admin_reviews_path %>

  <h3><%= link_to @school.name, school_url(@school) %></h3>

  <div>
    <%= render 'held_school_form',
      school: @school,
      held_school: @held_school %>
    <br/>
  </div>
  <br/>

  <div>
    <h5>Filters</h5>
    <%= check_box_tag :provisional, true, params[:provisional] == 'true' %> Provisional (p_) &nbsp;&nbsp;
    <%= check_box_tag :unpublished, true, params[:unpublished] == 'true' %> Unpublished (u) &nbsp;&nbsp;
    <%= check_box_tag :disabled, true, params[:disabled] == 'true' %> Disabled (d) &nbsp;&nbsp;
    <%= check_box_tag :held, true, params[:held] == 'true' %> Held (h) &nbsp;&nbsp;
    <%= check_box_tag :flagged, true, params[:flagged] == 'true' %> Flagged &nbsp;&nbsp;
  </div>
  <div>
    <strong><%= pluralize @reviews.size, 'review' %></strong> displayed
      <%= link_to('Show all',
                  admin_school_moderate_path(
                    state: school_params(@school)[:state],
                    school_id: @school.id
                  )
                ) if params[:review_id] %>
    <% if current_scopes.any? %>
        <br/>
        Showing reviews that are <%= current_scopes.stringify_keys.keys.join ' and ' %>
    <% end %>
  </div>

  <%= render partial: 'review', collection: @reviews, as: :review %>
</div>
