<% @held_school %>
<% @reviews %>



<%= javascript_tag do %>
    $(function() {
        $('input:checkbox').on('click', function() {
            var $this = $(this);
            var value = $this.prop('checked');
            var name = $this.attr('name');

            new_location = location.href.replace(new RegExp("&?" + name + "=([^&]$|[^&]*)", "i"), "");

            if (_.indexOf(new_location, '?') == -1) {
                new_location += '?';
            } else {
                new_location += '&';
            }
            location.href = new_location + name + "=" + value;
        });
    });
<% end %>

<div class="row limit-width-1200 pam">
  <br/>
  <%= link_to 'Back to moderation', moderation_admin_reviews_path %>

  <h3><%= link_to @school.name, school_url(@school) %></h3>

  <div>
    <%= render 'held_school_form',
      school: @school,
      held_school: @held_school %>
    <br/>
  </div>
  <br/>

  <div>
    <h5>Filters</h5>
    <%= check_box_tag :provisional, true, params[:provisional] == 'true' %> Provisional (p_) &nbsp;&nbsp;
    <%= check_box_tag :unpublished, true, params[:unpublished] == 'true' %> Unpublished (u) &nbsp;&nbsp;
    <%= check_box_tag :disabled, true, params[:disabled] == 'true' %> Disabled (d) &nbsp;&nbsp;
    <%= check_box_tag :held, true, params[:held] == 'true' %> Held (h) &nbsp;&nbsp;
    <%= check_box_tag :flagged, true, params[:flagged] == 'true' %> Flagged &nbsp;&nbsp;
  </div>
  <div>
    <strong><%= pluralize @reviews.count, 'review' %></strong> displayed
      <%= link_to('Show all',
                  admin_school_moderate_path(
                    state: school_params(@school)[:state],
                    school_id: @school.id
                  )
                ) if params[:review_id] %>
    <% if current_scopes.any? %>
        <br/>
        Showing reviews that are <%= current_scopes.stringify_keys.keys.join ' and ' %>
    <% end %>
  </div>

  <%= render partial: 'review', collection: @reviews, as: :review %>
</div>
