<% #Header section %>
<div class='section-header'>
  <h1 class="lg-roboto"><%= t(".#{@t_scope}.title") %></h1>
  <div class='header-subtext open-sans_sb'><%= t(".#{@t_scope}.sub_header") %></div>
  <div class='ptl'>
    <%=
        target_lang, link_text, label_text = *translation_view_array
        content_tag(:a, link_text, class: "js-changeLanguage pointer",
                    data: { label: label_text, language: target_lang })
    %>
  </div>
</div>

<% #inovate logo section %>
<div class='pvl'>
  <div class='partner-logo-fixed-size'>
    <div class='partner-text'><%= t(".#{@t_scope}.in_partnership_with") %></div>
    <img src="<%= catalog_path('/catalog/partner_logos/innovate_public_schools.png') %>"/>
  </div>
  <span><%= t(".#{@t_scope}.paragraph") %></span>
</div>
