<h2 class="lg-roboto tac"><%= t(".#{@t_scope}.title") %></h2>
<p><%= t(".#{@t_scope}.paragraph") %></p>
<div class='pvm'>
  <%= link_to 'Bay Area', 'http://innovateschools.org/parent-action-network/', class: 'innovate-links open-sans_sb' %>
  <span class='link-dividers hidden-xs-inline'>|</span>
  <%= link_to 'Redwood City', 'http://innovateschools.org/parent-action-network/redwood-city/', class: 'innovate-links open-sans_sb' %>
  <span class='link-dividers hidden-xs-inline'>|</span>
  <%= link_to 'East Palo Alto', 'http://innovateschools.org/parent-action-network/east-palo-alto/', class: 'innovate-links open-sans_sb' %>
  <span class='link-dividers hidden-xs-inline'>|</span>
  <%= link_to 'San Jose', 'http://innovateschools.org/parent-action-network/san-jose/', class: 'innovate-links open-sans_sb' %>
</div>


<% #logo %>
<div class='shim-20'></div>
<%= render partial: 'partners/send_to_partner', locals: {
  options: { is_vertical_promo: false },
  promo:   { name: :innovate_public_schools}
}%>
