<h2 class="lg-roboto tac"><%= t(".#{@t_scope}.title") %></h2>
<p><%= t(".#{@t_scope}.paragraph") %></p>
<div class="row pvm">
  <div class='col-xs-12 col-sm-4'>
    <%= link_to 'Redwood City', community_spotlight_path(collection_id: 16), class: 'db pbm' %>
    <%= link_to 'East Palo Alto', community_spotlight_path(collection_id: 17), class: 'db pbm' %>
    <%= link_to 'San Jose', community_spotlight_path(collection_id: 18), class: 'db pbm' %>
  </div>
  <div class='hidden-xs col-sm-4'>
    <%= link_to 'Example', '', class: 'db pbm' %>
    <%= link_to 'Example', '', class: 'db pbm' %>
    <%= link_to 'Example', '', class: 'db pbm' %>
  </div>
  <div class='hidden-xs col-sm-4'>
    <%= link_to 'Example', '', class: 'db pbm' %>
    <%= link_to 'Example', '', class: 'db pbm' %>
    <%= link_to 'Example', '', class: 'db pbm' %>
  </div>
</div>
