<div class="community-home <%= @gs_bootstrap %>">
  <div class="container-fluid">
    <div class='shim-20 hidden-xs'></div>
    <%= render partial: 'deserve_a_school' %>
    <div class='green-hbs max-width-1200 mvl'></div>
    <%= render partial: 'start_your_school_search' %>
  </div>
  <%= render partial: 'search_for_schools' %>
  <div class="container-fluid">
    <div class='shim-20 hidden-xs'></div>
    <%= render partial: 'spotlights' %>
    <div class='shim-20 hidden-xs'></div>
    <%= render partial: 'join_network' %>
    <div class='shim-20 hidden-xs'></div>
    <%= render partial: 'support_child' %>
  </div>
  <div class='shim-20'></div>
</div>

<%= render 'nav/school_profile_footer' %>
