<div class="sponsored-by-text">
  <%= t('.in_partnership_with') %>
</div>
<div class="send-to-partner">
  <div class="row">
    <div class="col-xs-12 col-sm-3 logo">
      <img src="<%= catalog_path(t(".#{partner}.logo_path")) %>"
           class="img-responsive center-block"
           />
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="cta">
        <div class="cta-text">
          <%= t(".#{partner}.call_to_action") %>
        </div>
        <a class="btn btn-primary"
           href="<%= t(".#{partner}.link_url") %>"
           target="_blank"
          >
          <%= t(".#{partner}.link_text") %>
        </a>
      </div>
    </div>
  </div>
</div>
