<div class="row limit_width_1200">
  <div class="row pbl">
    <div class="container" style="padding:10px;">
      <%= form_for @load, method: :put do |f| %>
        State: <%= f.select :state, @states, class:'form-control' %><br>
      Description: <%= f.text_field :description, class:'form-control' %><br>
      <div class="row">
        <div class="form-group">
          <% form_load_types = @load_types; form_load_types.delete('All') %>
          Load type: <%= f.select :load_type, form_load_types, include_blank: true, class:'form-control' %>
        Or create a new load type:&nbsp;<%= text_field_tag :load_type2, nil, placeholder: 'Enter new load type', class: 'form-control'%><br>
        </div>
      </div>
      Year on site: <%= f.select :year_on_site, (Time.now.year-2...Time.now.year+2).to_a, include_blank: true %><br>
      Year to load: <%= f.select :year_to_load, (Time.now.year-2...Time.now.year+2).to_a, include_blank: true %><br>
      Released: <%= f.date_select :released, default: '', include_blank: true %><br>
      Acquired: <%= f.date_select :acquired, default: '', include_blank: true %><br>
      Live by: <%= f.date_select :live_by, default: '', include_blank: true %><br>
      Updated by: <%= f.text_field :updated_by, class:'form-control' %><br>
      Complete: <%= f.check_box :complete %><br>
      <%= f.submit 'Save', class:'btn btn-primary' %>
    <% end %>
      <%= link_to 'back to list', admin_data_load_schedules_path(params) %>
    </div>
  </div>
</div>
