<%= render 'nav/topnav' %>
<div class="row limit_width_1200">
  <div class="row pbl">
    <div class="container" style="padding:10px;">
      <h2>Data loads</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <td>State</td>
            <td>Description</td>
            <td>Type</td>
            <td>Year to load</td>
            <td>Live by</td>
            <td>Live by month</td>
          </tr>
        </thead>
        <tbody>
        <% @loads.each do |load|%>
          <tr>
          <td><%= load.state %></td>
          <td><%= load.description %></td>
          <td><%= load.load_type.titleize %></td>
          <td><%= load.year_to_load %></td>
          <td><%= load.live_by %></td>
          <td><%= load.live_by_month %></td>
        </tr>
      <% end %>
        </tbody>
      </table>
      <%= link_to 'Add one', new_admin_data_load_schedule_path %>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>State</td>
            <% Date::MONTHNAMES.each do |month| %>
              <% next if month.nil? %>
            <td><%= month %></td>
          <% end %>
          </tr>
        </thead>
        <% ['CA','MN'].each do |state| %>
          <% @loads.each do |load| %>
            <% next unless load.state.downcase == state.downcase %>
          <tr>
          <td><%=state%></td>
          <% Date::MONTHNAMES.each do |month| %>
            <% next if month.nil? %>
              <% if load.live_by_month.include? month %>
                <td><%= load.live_by_month  %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
