<% content_for :page_javascripts do %>
    <%= webpack_javascript_include_tag 'react-redux', defer: true %>
    <%= webpack_javascript_include_tag 'community', defer: true %>
<% end %>
<% content_for :page_stylesheets do %>
    <%= stylesheet_link_tag "post_load", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "district", async: true %>
<% end %>

<div class="community-page">
    <%= @_decorated_district[:locality] %>
  <%= react_component("District", props: {
      schools: @_decorated_district[:schools],
      school_levels: @_decorated_district[:school_levels],
      breadcrumbs: @_decorated_district[:breadcrumbs],
      locality: @_decorated_district[:locality],
      }) %>
</div>
