<% button_classes ||= "btn-toggle" #optional %>
<% button_classes << ' btn btn-checkbox' #add default classes%>
<% icon_classes ||= ' vam iconx16 i-16-white-check ' #optionl. %>
<% text ||= '' #optional %>
<% text_classes ||= 'font-size-medium' #optional %>

<% data_attr ||= '' #optional %>
<% active ||= false #optional %>
<% button_classes << icon_classes #add default classes%>

<label class="pointer">
  <input class="<%= button_classes %>  <%= 'active' if active %>"
    type="button"
    data-toggle="button"
    <%= data_attr if data_attr.present? %>
  >
  <% if text.present? %>
    <span class=<%=text_classes%>><%=text%></span>
  <% end %>
</label>
