<% key #required. Key name needs [] if multiple values share key. ex. boys_sports[] (values are soccer, baseball, etc..) %>
<% value #required %>
<% text ||= '' #optional %>
<% active ||= false #optional %>
<% button_classes ||= '' #optional %>
<% button_classes << ' btn btn-checkbox-square js-checkboxButton' #add default classes%>


<!--<label class="pointer">-->
  <div class="<%= button_classes %>  <%= 'active' if active %>"
    data-toggle="button"
    data-checkbox-button-key="<%= key %>"
    data-checkbox-button-value="<%= value %>"
    readonly
  >

  <input type="hidden" <%= "name=#{key} value=#{value}" if active %> />
</div>

  <% if text.present? %>
    <span class='font-size-medium'><%=text%></span>
  <% end %>
<!--</label>-->