<div class="js-reviewsTotalCount" data-total-count="<%= @filtered_school_reviews.count %>"></div>
<% if @topic_scoped %>
    <div class="mtl row">
      <div class="col-xs-12 col-sm-7 plxl mbs">
        <div class="open-sans_i font-size-medium"><%=  @filtered_school_reviews.question_text %></div>
        <div class="open-sans_sb mvs">
          <%= @filtered_school_reviews.reviews_count_text %> | <%= @filtered_school_reviews.comments_count_text %>
        </div>
        <div class="mam fl notranslate js-reviewsListChart" style="width:250px;" data-topic-chart="<%= @filtered_school_reviews.to_bar_chart_array.to_json %>">
          <% reviews_list_bar_chart_div_id = "js_reviews_list_bar_chart_div" %>
          <div id="<%= reviews_list_bar_chart_div_id %>"><!--Div for bar chart--></div>
        </div>
      </div>
    </div>
<% end %>
<%= render partial: '/shared/review_module',
           collection: @paginated_reviews, as: :review, locals: {} %>
