<div class="col-xs-12 col-md-6 bar-chart-rows">
  <div class='header'>
    <div class='row-text'><%= chart.label %></div>
    <div class='row-text <%= chart.performance_level %>'><%= chart.value %></div>
  </div>

  <div class="bar-row">
    <div class="pr clearfix">
      <div class="color-row <%= chart.performance_level %> gs-tooltip js-open-tooltip"
           <% if chart.comparison_value %>
            data-toggle="tooltip"
            data-html="true"
            data-title='<%= render partial: 'school_profile/data_viz/bar_chart_tooltip',
                                   locals: { chart: chart }%>'
           <% end %>
           style="width:<%= chart.value %>%;"></div>
      <div class="grey-row" style="width:<%= chart.grey_value %>%;"></div>
      <% if chart.comparison_value %>
        <div class="i-data-viz-state-avg state-avg-marker" style="left:<%= chart.comparison_value %>%"></div>
      <% end %>
    </div>
  </div>

  <% if chart.subtext.present? %>
    <div class='subtext'>
      <div><%= chart.subtext %></div>
    </div>
  <% end %>
</div>
