<% # If you're looking for an on-click tooltip, I suggest using trigger: 'focus' %>
<% ga_category ||= '' %>
<% ga_action   ||= '' %>
<% ga_label    ||= '' %>
<% if text %>
  <div class="tooltip-activator gs-tooltip <%= 'js-gaClick' if ga_category.present? %>"
        data-toggle="tooltip"
        data-html="true"
        <% # See http://getbootstrap.com/javascript/#tooltips for all triggers %>
        data-trigger="<%= trigger || 'hover focus' %>"
        data-placement="bottom"
        data-title='<%= text %>'
        <% # Makes this element focus-able on desktop %>
        tabindex="0"

        <% # Google Analytics %>
        <% if ga_category.present? %>
          data-ga-click-category='<%= ga_category %>'
        <% end %>
        <% if ga_action.present? %>
          data-ga-click-action='<%= ga_action %>'
        <% end %>
        <% if ga_label.present? %>
          data-ga-click-label='<%= ga_label %>'
        <% end %>
    >
    ?
  </div>
<% end %>
