<% review = SchoolProfileReviewDecorator.decorate(review) %>
<div id="review<%= review.id %>"></div>
<% include_rich_snippets ||= false %>
<% if @school.show_ads %>
  <% ad_placement_array = [2, 5, 8] %>
  <% if ad_placement_array.include? review_counter %>
    <hr />
    <div width="100%">
      <div class="js_insertAdvertisingReview ma"></div>
    </div>
    <%= render partial: '/shared/advertising_word' %>
  <% end %>
<% end %>
<hr />
<% if (review.school_user && review.school_user.principal?) %>
    <div class="row mam cuc_review">
      <div class="rs-review-value mbs">
        <span class="open-sans_i"><%= review.topic_markup || t('.school_leader_message') %></span>
      </div>
      <div class="open-sans_cb mbs"><%= t('.school_leader') %></div>
      <div class="open-sans"> <%= review.comment %></div>
      <div class="clearfix">
        <div content="<%= review.created %>" class="rs-review-posted mts fr"><%= t('.posted') %> <%= review.posted %></div>
      </div>
      <%= render 'school_profile/reviews/report_and_helpful_review_buttons', review: review %>
      <div style="display:none;">
        <%= div_tag sizes: {xs: 12, sm: 12, md: 12, lg: 12}, class: "js-report-review-container-#{review.id}" %>
      </div>
    </div>
<% else %>
    <% if include_rich_snippets %>
      <div class="row mam cuc_review" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
    <% else %>
      <div class="row mam cuc_review">
    <% end %>
      <%= div_tag sizes: {xs: 12, sm: 4, md: 3, lg: 3}, class: 'pbm' do %>
          <div class="open-sans_i rs-review-value">
            <%= review.topic_markup %>
            <% if include_rich_snippets && review.numeric_answer_value %>
              <span class="open-sans_cb" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                <meta itemprop="ratingValue" content="<%= review.numeric_answer_value %>" />
                <%= review.answer_markup %>
              </span>
            <% else %>
              <span class="open-sans_cb"><%= review.answer_markup %></span>
            <% end %>
          </div>
          <% if include_rich_snippets %>
            <br/><span itemprop="datePublished" content="<%= review.created %>" class="rs-review-posted"><%= t('.posted') %> <%= review.posted %></span><br/>
          <% else %>
            <br/><span class="rs-review-posted"><%= t('.posted') %> <%= review.posted %></span><br/>
          <% end %>
          <%= t('.user_type_html', user_type: review.user_type)  %>
      <% end %>

      <%= div_tag sizes: {xs: 12, sm: 8, md: 9, lg: 9} do %>
        <% if review.comment.present? %>
          <% if include_rich_snippets %>
            <span itemprop="reviewBody"><%= review.comment %></span>
          <% else %>
            <%= review.comment %>
          <% end %>
        <% else %>
          <div class="well mbn"><%= t('.no_content_message') %></div>
        <% end %>
        <%= render 'school_profile/reviews/report_and_helpful_review_buttons', review: review %>
      <% end %>

      <div style="display:none;">
        <%= div_tag sizes: {xs: 12, sm: 4, md: 3, lg: 3} %>
        <%= div_tag sizes: {xs: 12, sm: 8, md: 9, lg: 9}, class: "js-report-review-container-#{review.id}" %>
      </div>
    </div>
<% end %>


<% unique_content_for :global_hidden_content do %>
  <div class="js-report-review-form-template rs-report-review-form">
    <%= render 'school_profile/reviews/report_review_form' %>
  </div>
<% end %>
