<% review %>

<% review_url = school_reviews_url(review.school, review_id: review.id, anchor: "review#{review.id}") %>
<% mailto_subject = 'Check out this review I found on GreatSchools' %>
<% mailto_body = "Hey, I found this review about #{review.school.name} and thought it was helpful. Hope you like it: #{review_url}" %>
<% mailto_href = "mailto:?subject=#{mailto_subject}&body=#{mailto_body}" %>
<div>
  <a class="js-review-share-via-email" href="<%= mailto_href %>">Email</a>
</div>


<% twitter_href_params =
     {
       url: review_url,
       via: 'GreatSchools',
       text: "Check out this review about #{review.school.name}"
     }
%>
<% twitter_href = "https://twitter.com/intent/tweet?#{twitter_href_params.to_param}" %>

<a href="<%= twitter_href %>">Twitter</a>
<div>
  <a class="js_shareFacebook pointer" 
    data-review-id="<%= review.id %>" 
    data-review-school-name="<%= review.school.name %>"
    data-review-comment="<%= review.comment %>"
    >
    Facebook
  </a>
</div>
