<% review %>

<% review_url_twitter = school_reviews_url(review.school, review_id: review.id, utm_source: 'Twitter', utm_medium: 'social', utm_campaign: 'Review_Share', anchor: "review#{review.id}") %>
<% review_url_email = school_reviews_url(review.school, zreview_id: review.id, utm_source: 'Email_Share', utm_medium: 'email', utm_campaign: 'Review_Share', anchor: "review#{review.id}") %>
<% review_url_facebook= school_reviews_url(review.school, review_id: review.id, utm_source: 'Facebook', utm_medium: 'social', utm_campaign: 'Review_Share', anchor: "review#{review.id}") %>

<% mailto_subject = "Check out this school review of #{review.school.name} on GreatSchools" %>
<% mailto_body = "I found this school review on GreatSchools and thought you might find it useful. Here's the review:%0A%0A#{url_encode(review.comment)}%0A%0AYou can see all the reviews for #{review.school.name} at #{url_encode(review_url_email)}" %>
<% mailto_params =
 {
   subject: mailto_subject,
   body: mailto_body
 }
%>
<% mailto_query_string = mailto_params.each_with_object([]){ |(k,v), array| array << "#{k}=#{v}" }.join('&') %>
<% mailto_href = "mailto:?#{mailto_query_string}" %>

<% twitter_href_params =
     {
       url: review_url_twitter,
       text: "Check out this review from #GreatSchools of #{review.school.name}: "
     }
%>
<% twitter_href = "https://twitter.com/intent/tweet?#{twitter_href_params.to_param}" %>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle mrm phm pvs js-gaClick" 
    data-ga-click-category='profile interactions - reviews'
    data-ga-click-action='share review'
    data-ga-click-label='Share button'
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="iconx16 i-16-share mt3"></span>
  </button>
  <ul class="dropdown-menu share-menu">
    <p class="tac uc open-sans_sb"><%= t('.share') %></p>
    <li>
      <a class="js_shareFacebook js-gaClick pointer font-size-medium"
         data-ga-click-category='profile interactions - reviews'
         data-ga-click-action='share review'
         data-ga-click-label='Facebook'
         data-review-url="<%= review_url_facebook %>"
         data-review-school-name="<%= review.school.name %>"
         data-review-comment="<%= review.comment %>"
         data-review-share-image="<%= image_url("share_review.png") %>">
        <span class="iconx16 i-16-facebook mt3 mrs"></span><%= t('.facebook') %>
      </a>
    </li>
    <li>
    <a class="js-gaClick font-size-medium" href="<%= twitter_href %>"
         data-ga-click-category='profile interactions - reviews'
         data-ga-click-action='share review'
         data-ga-click-label='Twitter' >
         <span class="iconx16 i-16-twitter mt3 mrs"></span><%= t('.twitter') %>
     </a>
    </li>
    <li>
    <a class="js-gaClick font-size-medium" href="<%= mailto_href %>"
         data-ga-click-category='profile interactions - reviews'
         data-ga-click-action='share review'
         data-ga-click-label='Email' >
      <span class="iconx16 i-16-envelop mt3 mrs"></span>
        <%= t('.email') %></a>
    </li>
  </ul>
</div>
