<% review %>

<% review_url = school_reviews_url(review.school, review_id: review.id, anchor: "review#{review.id}") %>
<% mailto_subject = 'Check out this review I found on GreatSchools' %>
<% mailto_body = "Hey, I found this review about #{review.school.name} and thought it was helpful. Hope you like it:%0A#{review_url}%0A%0A\"#{review.comment}\"" %>
<% mailto_params =
 {
   subject: mailto_subject,
   body: mailto_body
 }
%>
<% mailto_query_string = mailto_params.each_with_object([]){ |(k,v), array| array << "#{k}=#{v}" }.join('&') %>
<% mailto_href = "mailto:?#{mailto_query_string}" %>

<% twitter_href_params =
     {
       url: review_url,
       text: "Check out this review about #{review.school.name}"
     }
%>
<% twitter_href = "https://twitter.com/intent/tweet?#{twitter_href_params.to_param}" %>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle mrm phm pvs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="iconx16 i-16-fax mt3"></span>
  </button>
  <ul class="dropdown-menu">
    <p class="tac">Share</p>
    <li>
      <a class="js_shareFacebook pointer"
         data-review-id="<%= review.id %>"
         data-review-school-name="<%= review.school.name %>"
         data-review-comment="<%= review.comment %>">
        On Facebook
      </a>
    </li>
    <li>
      <a href="<%= twitter_href %>">On Twitter</a>
    </li>
    <li>
      <a href="<%= mailto_href %>">Via Email</a>
    </li>
  </ul>
</div>