
<div class="js-mapContainer map-container" style="width:<%= @width - 2 %>px;height:<%= @height - 65 %>px;">
  <%= render 'widget/tabs' %>
  <%= render 'widget/map_tab' %>
  <%= render 'widget/search_tab' %>
  <%= render 'widget/help_tab' %>
</div>
