<% school_string = @by_location ? 'Schools near ' : 'Schools in ' %>

<div id="mapTabBody">
  <div class="filter-nav">
    <div class="filters">
      <div class="location" style="width: <%= @params_hash['width'].to_i - 80 %>px;"><%= school_string %><span><%=  @params_hash[:normalizedAddress] %></span>:</div>
      <ul>
        <li><input type="checkbox" name="elementary" id="filter_e"
                   value="" <%=  (!@params_hash.key?(:elementaryFilterChecked) || @params_hash[:elementaryFilterChecked] == 'true') ?  "checked='checked'": '' %>
                   onclick="GS.widget.toggleFilter('e', this.checked);"><label for="filter_e">Elementary</label></li>
        <li><input type="checkbox" name="middle" id="filter_m"
                   value="" <%=  (!@params_hash.key?(:middleFilterChecked) || @params_hash[:middleFilterChecked] == 'true') ? "checked='checked'": ''%>
                   onclick="GS.widget.toggleFilter('m', this.checked);"><label for="filter_m">Middle</label></li>
        <li><input type="checkbox" name="high" id="filter_h"
                   value="" <%=  (!@params_hash.key?(:highFilterChecked) || @params_hash[:highFilterChecked] == 'true') ? "checked='checked'": '' %>
                   onclick="GS.widget.toggleFilter('h', this.checked);"><label for="filter_h">High</label></li>
      </ul>
    </div>
    <div class="info-mark"><span class="icon-hint circle-rating--smaller"></span></div>
    <div style="clear: both"></div>
  </div>
  <div id="js-map-canvas" style="width: <%= @params_hash['width'].to_i - 10 %>px; height:<%= @params_hash['height'].to_i - 105 %>px; border: 1px solid #999999; margin:0 5px;"></div>
  <div style="margin:0 5px;"><%= image_tag (asset_path('widget/widget_legend.gif')) %></div>
</div>