
<div class="js-mapContainer map-container" style="width:<%= @params_width - 2 %>px;height:<%= @params_height - 65 %>px;">
  <%= render 'widget/hidden_text_vars' %>
  <%= render 'widget/tabs' %>
  <%= render 'widget/map_tab' %>
  <%= render 'widget/search_tab' %>
  <%= render 'widget/help_tab' %>
</div>
