<div id="schoolsTabBody" class="dn" style="padding: 20px;width:<%= @width - 2 %>px;height:<%= @height - 110 %>px; overflow-x: auto">
  <div id="search-page">
    <section class="school-list">
      <ol class="">
        <% @serialized_schools.each do |s| %>
          <% rating = s[:rating].to_i %>
          <% address = s[:address] %>
          <li class=" unsaved">
            <span>
              <div class="">
                <span class="tipso_style">
                  <% if rating > 0 %>
                    <div class="circle-rating--small circle-rating--<%= rating %>"><%= rating %><span class="rating-circle-small">/10</span></div>
                  <% else %>
                    <div class="widget-icon">
                      <%= image_tag('school_profiles/brown-owl.svg', alt: '', style: "height:100%;" ) %>
                    </div>
                  <% end %>
                  <div class="scale" style="font-size: smaller; color:#666"><%= @rating_level[rating] ? @rating_level[rating] : '' %></div>
                </span>
              </div>
            </span>
            <span>
              <a href="<%= s[:links][:profile] %>" target="_blank" class="name"><%= s[:name] %></a>
              <br />
              <div class="address"><%= address[:street1] %>, <%= address[:city] %> <%= s[:state] %> <%= address[:zip] %></div>
              <div>
                <span class="open-sans_sb"><%= @school_types_map[s[:schoolType]] %>, <%= s[:gradeLevels] %></span>
                <span class="divider">|</span>
                <span><span class="open-sans_sb"><%= s[:enrollment] %></span> students</span>
              </div>
            </span>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
</div>
