<div class="tabBody dn" id="searchTabBody">
  <h2 class="">Find Schools</h2>
  <p>Find the top schools by city and state, zip code, or address</p>
  <p id="noQuery" class="warning dn">Please enter a city and state, address, or zip code</p>
  <p id="noResults" class="warning dn">No school results found for "<span id="noResultsSearchQuery"></span>"</p>
  <form id="command" name="searchFormVisible" action="/widget/map" method="post" onsubmit="GS.widget.submitSearchButton();return false;">
    <input id="searchInput"
           name="searchQuery"
           class="searchInput"
           onfocus="textSwitch(this, '', 'Enter city &amp; state or zip code');"
           onblur="textSwitch(this, 'Enter city &amp; state or zip code', '');"
           type="text"
           value="<%=  @params_hash[:searchQuery] %>">
    <button type="submit" class="button-1 searchSubmit">GO</button>
  </form>

  <form id="command" name="searchForm" class="dn" action="/widget/map/" method="post" onsubmit="return GS.widget.submitSearch();">
    <input id="filter_p_value" name="preschoolFilterChecked" type="hidden" value="false">
    <input id="filter_e_value" name="elementaryFilterChecked" type="hidden" value="<%=  (!@params_hash.key?(:elementaryFilterChecked) || @params_hash[:elementaryFilterChecked] == 'true') ? true : false %>">
    <input id="filter_m_value" name="middleFilterChecked" type="hidden" value="<%=  (!@params_hash.key?(:middleFilterChecked) || @params_hash[:middleFilterChecked] == 'true') ? true : false %>">
    <input id="filter_h_value" name="highFilterChecked" type="hidden" value="<%=  (!@params_hash.key?(:highFilterChecked) || @params_hash[:highFilterChecked] == 'true') ? true : false %>">
    <input id="width" name="width" type="hidden" value="<%= @params_hash[:width] %>">
    <input id="height" name="height" type="hidden" value="<%= @params_hash[:height] %>">
    <input id="textColor" name="textColor" type="hidden" value="<%= @params_hash[:textColor] %>">
    <input id="zoom" name="zoom" type="hidden" value="<%= @params_hash[:zoom] %>">
    <input id="lat" name="lat" type="hidden" value="<%=  @params_hash[:lat] %>">
    <input id="lon" name="lon" type="hidden" value="<%=  @params_hash[:lon] %>">
    <input id="cityName" name="cityName" type="hidden" value="<%=  @params_hash[:cityName] %>">
    <input id="state" name="state" type="hidden" value="<%=  @params_hash[:state] %>">
    <input id="normalizedAddress" name="normalizedAddress" type="hidden" value="<%=  @params_hash[:normalizedAddress] %>">
    <input id="cobrandHostname" name="cobrandHostname" type="hidden" value="">
    <input id="showLocationMarker" name="showLocationMarker" type="hidden" value="false">
    <input id="searchOutput" name="searchQuery" type="text" value="<%=  @params_hash[:searchQuery] %>">
  </form>
</div>
