<div class="js-mapContainer mapContainer" style="width:<%= @params_hash['width'] %>px;height:<%= @params_hash['height'] %>px;">
  <div style="display:none">
    <div class="js-mapPinRatingText"><%= t('.rating') %></div>
    <div class="js-mapPinReviewText"><%= t('.review') %></div>
    <div class="js-mapPinReviewsText"><%= t('.reviews') %></div>
    <div class="js-mapPinRateThisSchoolText"><%= t('.rate_this_school') %></div>
    <div class="js-mapPinHomesForSaleText"><%= t('.homes_for_sale') %></div>
    <div class="js-mapPinSchoolTypePrivateText"><%= db_t(school_type_display('private')) %></div> <!--May required to be
    dynamic based on school object-->
    <div class="js-mapPinSchoolTypePublicText"><%= db_t(school_type_display('public')) %></div>
    <div class="js-mapPinSchoolTypeCharterText"><%= db_t(school_type_display('charter')) %></div>
    <div class="js-mapPinAssignedSchoolText"><%= t('.assigned_school') %></div>
    <% (1..5).each do |rating| %>
      <div class="js-mapPinCommunityStars-<%=rating%>"><%= draw_stars_16 rating %></div>
    <% end %>
  </div>
  <div class="gs_tab_container">
    <div class='gs_tab left_tab active' data-name="tabMap">Map</div>
    <div class='gs_tab' data-name="tabSearch">Search</div>
  </div>
  <div id="mapTabBody">
    <div class="filter_nav">
      <style>
        body { font-family: 'Arial, sans-serif'}
        .mapContainer .gs_tab_container {display: table; border-bottom: solid 1px #FFCC66; width:100%}
        .mapContainer .gs_tab{width:50%; display: table-cell; text-align:center; padding: 10px 0px; cursor: pointer}
        .mapContainer .gs_tab.left_tab {border-right:1px solid #FFCC66;}
        .mapContainer .gs_tab.active {background-color: #EDEDED;}
        .filters { float:left; }
        .filters .location {padding: 10px 10px 0px 10px; font-size: 12px;}
        .filters .location span {font-size: 13px; font-weight: bold;}
        .filters ul { list-style: none; margin: 0; padding: 10px;}
        .filters ul li { display: inline; font-size: 11px;}
        .filter_nav .question_mark{ float: right; padding: 10px;}
        .dn { display:none; }
      </style>
      <div class="filters">
        <div class="location" style="width: <%= @params_hash['width'].to_i - 80 %>px;">Schools near <span><%=  @params_hash[:normalizedAddress] %></span>:</div>
        <ul>
          <li><input type="checkbox" name="elementary" id="filter_e"
                     value="" <%=  (!@params_hash.key?(:elementaryFilterChecked) || @params_hash[:elementaryFilterChecked] == 'true') ?  "checked='checked'": '' %>
                     onclick="GS.widget.toggleFilter('e', this.checked);"><label for="filter_e">Elementary</label></li>
          <li><input type="checkbox" name="middle" id="filter_m"
                     value="" <%=  (!@params_hash.key?(:middleFilterChecked) || @params_hash[:middleFilterChecked] == 'true') ? "checked='checked'": ''%>
                     onclick="GS.widget.toggleFilter('m', this.checked);"><label for="filter_m">Middle</label></li>
          <li><input type="checkbox" name="high" id="filter_h"
                     value="" <%=  (!@params_hash.key?(:highFilterChecked) || @params_hash[:highFilterChecked] == 'true') ? "checked='checked'": '' %>
                     onclick="GS.widget.toggleFilter('h', this.checked);"><label for="filter_h">High</label></li>
        </ul>
        </div>
      <div class="question_mark">???</div>
      <div style="clear: both"></div>
    </div>
    <div id="js-map-canvas" style="width: <%= @params_hash['width'].to_i - 10 %>px; height:<%= @params_hash['height'].to_i - 105 %>px; border: 1px solid #999999; margin:0 5px;"></div>
    <div style="margin:0 5px;"><%= image_tag (asset_path('widget/widget_legend.gif')) %></div>
  </div>

<div class="tabBody dn" id="searchTabBody">
  <h2 class="">Find Schools</h2>
  <p>Find the top schools in a city or near an address or zip code</p>
  <p id="noQuery" class="warning dn">Please enter an address or zip code</p>
  <p id="noResults" class="warning dn">No school results found for "<span id="noResultsSearchQuery"></span>"</p>
  <form id="command" name="searchForm" action="/widget/map" method="post" onsubmit="return GS.widget.submitSearch();">
    <input id="filter_p_value" name="preschoolFilterChecked" type="hidden" value="false">
    <input id="filter_e_value" name="elementaryFilterChecked" type="hidden" value="<%=  (!@params_hash.key?(:elementaryFilterChecked) || @params_hash[:elementaryFilterChecked] == 'true') ? true : false %>">
    <input id="filter_m_value" name="middleFilterChecked" type="hidden" value="<%=  (!@params_hash.key?(:middleFilterChecked) || @params_hash[:middleFilterChecked] == 'true') ? true : false %>">
    <input id="filter_h_value" name="highFilterChecked" type="hidden" value="<%=  (!@params_hash.key?(:highFilterChecked) || @params_hash[:highFilterChecked] == 'true') ? true : false %>">
    <input id="width" name="width" type="hidden" value="<%= @params_hash[:width] %>">
    <input id="height" name="height" type="hidden" value="<%= @params_hash[:height] %>">
    <input id="textColor" name="textColor" type="hidden" value="<%= @params_hash[:textColor] %>">
    <input id="zoom" name="zoom" type="hidden" value="<%= @params_hash[:zoom] %>">
    <input id="lat" name="lat" type="hidden" value="<%=  @params_hash[:lat] %>">
    <input id="lon" name="lon" type="hidden" value="<%=  @params_hash[:lon] %>">
    <input id="cityName" name="cityName" type="hidden" value="<%=  @params_hash[:cityName] %>">
    <input id="state" name="state" type="hidden" value="<%=  @params_hash[:state] %>">
    <input id="normalizedAddress" name="normalizedAddress" type="hidden" value="<%=  @params_hash[:normalizedAddress] %>">
    <input id="cobrandHostname" name="cobrandHostname" type="hidden" value="">
    <input id="showLocationMarker" name="showLocationMarker" type="hidden" value="false">
    <input id="searchInput"
           name="searchQuery"
           class="searchInput"
           onfocus="textSwitch(this, '', 'Enter city &amp; state or zip code');"
           onblur="textSwitch(this, 'Enter city &amp; state or zip code', '');"
           type="text"
           value="<%=  @params_hash[:searchQuery] %>">
    <button type="submit" class="button-1 searchSubmit">GO</button>
  </form></div>
<div class="tabBody dn" id="helpTabBody">
  <h3>More information
  <a title="Close help" class="close" onclick="GS.widget.closeHelpTab(); return false;" href="#">CLOSE</a></h3>
  <p>GreatSchools is an independent, nonprofit organization that improves education by inspiring parents to get involved.</p>
  <p>GreatSchools empowers parents nationwide to find the right public or private schools,
  PreK through 12<span class="super">th</span> grade, for their children.
  Parents gain quick insight into
  schools through the GreatSchools Ratings and Parent
  Ratings and Reviews.<br><a target="_blank" href="/find-a-school/defining-your-ideal/2423-ratings.gs?s_cid=wsbayf93">Learn about GreatSchools Ratings.</a></p><p>
  GreatSchools includes a vast array of information,
  including academic performance, the school culture and
  environment, extracurricular programs and more.
  GreatSchools members can also track their children's
  school performance grade-by-grade.</p>
  <p>For more information, visit us at
    <a target="_blank" href="http://www.greatschools.org/">www.greatschools.org</a>.
  </p>
</div>
</div>