<div class="js-mapContainer" style="width:<%= @params_hash['width'] %>px;height:<%= @params_hash['height'] %>px;">
  <div style="display:none">
    <div class="js-mapPinRatingText"><%= t('.rating') %></div>
    <div class="js-mapPinReviewText"><%= t('.review') %></div>
    <div class="js-mapPinReviewsText"><%= t('.reviews') %></div>
    <div class="js-mapPinRateThisSchoolText"><%= t('.rate_this_school') %></div>
    <div class="js-mapPinHomesForSaleText"><%= t('.homes_for_sale') %></div>
    <div class="js-mapPinSchoolTypePrivateText"><%= db_t(school_type_display('private')) %></div> <!--May required to be
    dynamic based on school object-->
    <div class="js-mapPinSchoolTypePublicText"><%= db_t(school_type_display('public')) %></div>
    <div class="js-mapPinSchoolTypeCharterText"><%= db_t(school_type_display('charter')) %></div>
    <div class="js-mapPinAssignedSchoolText"><%= t('.assigned_school') %></div>
    <% (1..5).each do |rating| %>
      <div class="js-mapPinCommunityStars-<%=rating%>"><%= draw_stars_16 rating %></div>
    <% end %>
  </div>
  <div style="border-bottom: solid 1px #FFCC66">
    <div style="width:49%; display: inline-block; text-align:center; padding: 10px 0px; border-right:1px solid #FFCC66;">Map</div>
    <div style="width:49%; display: inline-block;  text-align:center; padding: 10px 0px; ">Search</div>
  </div>
  <div class="filter_nav">
    <style>
      .filters {float:left}
      .filters .location {padding: 10px 10px 0px 10px}
      .filters ul { list-style: none; margin: 0; padding: 10px;}
      .filters ul li { display: inline; font-size: 11px;}
      .filter_nav .question_mark{ float: right; padding: 10px;}
    </style>
    <div class="filters">
      <div class="location">Schools near Fremont, CA 94536:</div>
    <ul>

      <li><input type="checkbox" name="elementary" id="filter_e" value="" <%=  @params_hash[:elementaryFilterChecked] == 'true' ? "checked='checked'": '' %> onclick="toggleFilter('e', this.checked, '20002');"><label for="filter_e">Elementary</label></li>
      <li><input type="checkbox" name="middle" id="filter_m" value="" <%=  @params_hash[:middleFilterChecked] == 'true' ? "checked='checked'": ''%> onclick="toggleFilter('m', this.checked, '20002');"><label for="filter_m">Middle</label></li>
      <li><input type="checkbox" name="high" id="filter_h" value="" <%=  @params_hash[:highFilterChecked] == 'true' ? "checked='checked'": '' %> onclick="toggleFilter('h', this.checked, '20002');"><label for="filter_h">High</label></li>
    </ul>
      </div>
    <div class="question_mark">???</div>
    <div style="clear: both"></div>
  </div>
  <div id="js-map-canvas" style="width: <%= @params_hash['width'] %>px; height:<%= @params_hash['height'].to_i - 50 %>px"></div>
</div>
<div style="display: none">
  <form id="command" name="searchForm" action="/widget/map" method="post" onsubmit="return submitSearch();">
    <input id="filter_p_value" name="preschoolFilterChecked" type="hidden" value="false">
    <input id="filter_e_value" name="elementaryFilterChecked" type="hidden" value="<%=  @params_hash[:elementaryFilterChecked] %>">
    <input id="filter_m_value" name="middleFilterChecked" type="hidden" value="<%=  @params_hash[:middleFilterChecked] %>">
    <input id="filter_h_value" name="highFilterChecked" type="hidden" value="<%=  @params_hash[:highFilterChecked] %>">
    <input id="width" name="width" type="hidden" value="<%= @params_hash['width'] %>">
    <input id="height" name="height" type="hidden" value="<%= @params_hash['height'] %>">
    <input id="textColor" name="textColor" type="hidden" value="<%= @params_hash['textColor'] %>">
    <input id="zoom" name="zoom" type="hidden" value="<%= @params_hash['zoom'] %>">
    <input id="lat" name="lat" type="hidden" value="38.912067">
    <input id="lon" name="lon" type="hidden" value="-77.01902">
    <input id="cityName" name="cityName" type="hidden" value="Washington">
    <input id="state" name="state" type="hidden" value="DC">
    <input id="normalizedAddress" name="normalizedAddress" type="hidden" value="Washington, DC 20001">
    <input id="cobrandHostname" name="cobrandHostname" type="hidden" value="">
    <input id="showLocationMarker" name="showLocationMarker" type="hidden" value="false">
    <input id="searchInput"
           name="searchQuery"
           class="searchInput"
           onfocus="textSwitch(this, '', 'Enter city &amp; state or zip code');"
           onblur="textSwitch(this, 'Enter city &amp; state or zip code', '');"
           type="text"
           value="20002">
    <button type="submit" class="button-1 searchSubmit">GO</button>
  </form>
</div>

<!--<iframe scrolling="no" frameborder="0" marginwidth="0" marginheight="0" height="534" width="990" src="/widget/schoolSearch.page?-->
<!--searchQuery=20002-->
<!--&amp;textColor=0066B8-->
<!--&amp;bordersColor=FFCC66-->
<!--&amp;lat=38.912067-->
<!--&amp;lon=-77.01902-->
<!--&amp;cityName=Washington-->
<!--&amp;state=DC-->
<!--&amp;normalizedAddress=Washington%2C+DC+20001-->
<!--&amp;width=990-->
<!--&amp;height=534-->
<!--&amp;zoom=13" id="widgetIFrame" class="greatschools"> Keep from collapsing-->
<!--</iframe>-->