<div class="js-mapContainer mapContainer" style="width:<%= @params_hash['width'] %>px;height:<%= @params_hash['height'] %>px;">
  <%= render 'widget/hidden_text_vars' %>
  <%= render 'widget/tabs' %>
  <%= render 'widget/map_tab' %>
  <%= render 'widget/search_tab' %>
  <%= render 'widget/help_tab' %>
</div>