<% ajax %>

<div>
  <%= form_tag(
    authenticate_user_path,
    method: :post,
    remote: ajax,
    id: '',
    class: 'js-join-form',
    'data-parsley-namespace' => "data-parsley-"
  ) do %>

    <%= token_tag form_authenticity_token %>

    <p class="<%= 'active' if @active_tab == 'login' %>"><%= t('already have an account', scope: 'forms') %>
      <a href="#login" data-toggle="tab" class="js_login_tab"><%= t('log in', scope: 'forms') %></a>
    </p>

    <%= render 'forms/facebook_button', text: t('sign up with Facebook', scope: 'forms') %>

    <div class="divider">
      <p class="line"><span><%= t('or', scope: 'forms') %></span></p>
      <p><%= t('sign up with your email', scope: 'forms') %></p>
    </div>

    <%= render 'forms/join_email_fieldset' %>
    <%= render 'forms/join_button_and_tou_fieldset' %>
  <% end %>
</div>
