<% ajax %>
<div>
  <%= form_tag authenticate_user_path, method: :post, remote: ajax, id: '', class: 'js-join-form', 'data-parsley-namespace' => "data-parsley-" do %>

    <p class="<%= 'active' if @active_tab == 'login' %>"><%= t('.have_an_account_label') %>

    <a href="#login" data-toggle="tab" id="js_login_tab"><%= t('.login_tab') %></a></p>

    <button type="button" data-link-value="<%= facebook_connect_url %>" class="btn-facebook js-facebook-signin js-button-link">
      <span class="icon-facebook"></span><%= t('.facebook_signup_button') %>
    </button>

    <p class="js-facebook-signin-errors help-block"></p>

    <div class="divider">
      <p class="line"><span><%= t('.or') %></span></p>
      <p><%= t('.signin_intro_text') %></p>
    </div>

    <div>
      <%= email_field_tag(
          :email,
          nil,
          {
            id: "join-email",
            placeholder: "#{t('.email_label')}",
            class: 'js-join-email',
            'data-parsley-required' => "true",
            'data-parsley-type' => "email",
            'data-parsley-trigger' => "change",
            'data-parsley-required-message' => t('.parsley_required_message'),
            'data-parsley-error-container' => ".js-join-email-errors",
            'data-parsley-remote' => '/gsr/validations/need_to_signin',
            'data-parsley-remote-options' => '{ "type": "GET"}',
            'data-parsley-remote-message' => t('.parsley_remote_message_html')                       }
        ) %>
      <p class="js-join-email-errors help-block"></p>
    </div>

    <div class="checkbox-and-label">
      <%= check_box 'terms', 'terms', class: 'checkbox', 'data-parsley-required' => 'true',
        'data-parsley-error-message' => t('.parsley_terms_message'),
        'data-parsley-error-container' => '.js-join-terms-errors'
      %>
      <label>
        <%= t('.terms_of_use_html', terms_of_use_link: link_to(t('.greatschools_terms_of_use'), terms_of_use_url)) %>
      </label>
      <span><%= link_to t('.privacy_policy'), privacy_url %></span>
      <p class="js-join-terms-errors help-block"></p>
    </div>

    <button class="submit js-join-login-submit-button"><%= t('.signup_button') %></button>
  <% end %>
</div>
