<% ajax %>

<div>
  <%= form_tag(
    authenticate_user_path,
    method: :post,
    remote: ajax,
    id: '',
    class: 'js-signin-form',
    'data-parsley-namespace' => 'data-parsley-'
  ) do %>

    <%= token_tag form_authenticity_token %>

    <p class="<%= 'active' if @active_tab == 'join' %>"><%= t('dont have an account', scope: 'forms') %>
      <a href="#join" data-toggle="tab" class="js_join_tab"> <%= t('sign up', scope: 'forms') %></a>
    </p>

    <%= render 'forms/facebook_button', text: t('log in with Facebook', scope: 'forms') %>

    <div class="divider">
      <p class="line"><span><%= t('or', scope: 'forms') %></span></p>
      <p><%= t('log in with your email', scope: 'forms') %></p>
    </div>

    <%= render 'forms/login_email_and_password_fieldset' %>
    <%= render 'forms/login_button_fieldset' %>
  <% end %>
</div>
