<% ajax %>
<%= form_tag authenticate_user_path, method: :post, remote: ajax,
             id: '',
             class: 'form-horizontal js-signin-form',
             'data-parsley-namespace' => "data-parsley-" do %>
  <%= token_tag form_authenticity_token %>
  <fieldset>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 bg-white pal brs">
        <p class="<%= 'active' if @active_tab == 'join' %>  tar gray-header pbm"><%= t('.no_account_label') %>
          <a href="#join" data-toggle="tab" id="js_join_tab"> <%= t('.signup_tab') %></a></p>

        <div class="form-group">
          <button type="button" data-link-value="<%= facebook_connect_url %>" class="btn btn-facebook js-facebook-signin js-button-link full-width">
            <%= t('.facebook_signin_button') %>
          </button>
        <p class="js-facebook-signin-errors help-block"></p>
        </div>
        <p>- <%= t('.or') %> -</p>

        <div class="form-group">
          <!-- Email -->
          <label class="control-label" for="email"><%= t('.email_label') %></label>

          <div class="controls">
              <%= email_field_tag(
                    :email,
                    nil,
                    {
                      id: "email",
                      placeholder: "",
                      class: 'form-control input-xlarge js-signin-email',
                      'data-parsley-required' => "true",
                      'data-parsley-type' => "email",
                      'data-parsley-required-message' => "Please enter an email address.",
                      'data-parsley-error-container' => ".js-signin-email-errors"
                    }
                  ) %>
            <p class="js-signin-email-errors help-block"></p>
          </div>
        </div>
        <div class="form-group">
          <!-- Password-->
          <label class="control-label" for="password"><%= t('.password_label') %></label>

          <div class="controls">
            <input type="password" id="password" name="password" placeholder="" class="form-control" 
                   data-parsley-required="true"
                   data-parsley-error-container=".js-signin-password-errors">

            <p class="js-signin-password-errors help-block"></p>
          </div>
        </div>
        <br/>

        <div class="form-group">
          <!-- Button -->
          <div class="controls pbm">
            <button class="btn btn-primary js-join-login-submit-button"><%= t('.login_button') %></button>
          </div>
          <%= link_to t('.forgot_password_link'), forgot_password_url, class: 'small' %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
