<% @active_tab ||= 'login' %>

<div class="rectangle-inset gs-bootstrap">
  <header>
    <h2><%= t('.header') %></h2>
  </header>
  <div class="join-and-sign-inset">
    <div class="tab-content well">
      <%= render 'join_and_login_forms' %>
    </div>
  </div>
  <footer>
    <ul>
      <li><span>250,000+</span> <%= t('.school_profiles_count') %></li>
      <li><span>1.3M+</span> <%= t('.community_reviews_count') %></li>
      <li><span>14,000+</span> <%= t('.articles_count') %></li>
    </ul>
  </footer>
</div>
