<%= render 'nav/topnav' %>


<% content_for :head do %>
    <% app_id = '178930405559082' # TODO: will not work in production: set correct id from var %>

    <div id="fb-root"><!--Do not collapse--></div>
    <script type="text/javascript">
        // Additional JS functions here
        window.fbAsyncInit = function() {
            FB.init({
                        appId      : <%= app_id %>,
                        channelUrl : 'http://omega.greatschools.org/res/channel.html', // Channel File
                        status     : true, // check login status
                        cookie     : true, // enable cookies to allow the server to access the session
                        xfbml      : true  // parse XFBML
                    });

            // Additional init code here
            GS.facebook.init();

        };

        // Load the SDK Asynchronously
        (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    <script type="text/javascript">
        $(function() {
            $('.js-facebook-login').on('click', function() {
                GS.facebook.login();
            });
        });
    </script>
<% end %>

<% @active_tab ||= 'login' %>

<div class="row limit_width_1200">
    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-2">

    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8">
        <div class="row">
            <div id="loginModal">
                <div class="modal-body">
                    <div class="well">
                        <ul class="nav nav-tabs">
                            <li class="<%= 'active' if @active_tab == 'login' %> js-login-tab"><a href="#login" data-toggle="tab" id="js_login_tab">Login</a></li>
                            <li class="<%= 'active' if @active_tab == 'join' %> js-join-tab"><a href="#join" data-toggle="tab" id="js_signin_tab">Create account</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane <%= @active_tab == 'login' ? 'active in' : 'fade' %> " id="login">
                                <form class="form-horizontal js-signin-form" action='<%= authenticate_user_path %>' method="post"
                                      data-parsley-namespace="data-parsley-"
                                >
                                    <fieldset>
                                        <br/>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <legend>Sign in using Facebook</legend>

                                                <div class="form-group">

                                                    <%= link_to facebook_connect_url do %>
                                                        <!-- threw this in here, feel free to remove. uses social-buttons.css from http://noizwaves.github.io/ -->
                                                        <button type="button" class="btn btn-facebook">
                                                            Connect with Facebook
                                                        </button>
                                                    <% end %>

                                                </div>
                                                <br/>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">

                                                <legend>Sign in with your email</legend>

                                                <div class="form-group">
                                                    <!-- Email -->
                                                    <label class="control-label" for="email">Email</label>

                                                    <div class="controls">
                                                        <input type="text" id="email" name="email" placeholder="" class="input-xlarge js-signin-email" style="width:100%"
                                                               data-parsley-required="true"
                                                               data-parsley-type="email"
                                                               data-parsley-required-message="Please enter an email address."
                                                               data-parsley-type-email-message="Please enter a valid email address."
                                                               data-parsley-error-container=".js-signin-email-errors">
                                                        <p class="js-signin-email-errors help-block"></p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <!-- Password-->
                                                    <label class="control-label" for="password">Password</label>

                                                    <div class="controls">
                                                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" style="width:100%"
                                                               data-parsley-required="true"
                                                               data-parsley-error-container=".js-signin-password-errors">
                                                        <p class="js-signin-password-errors help-block"></p>
                                                    </div>
                                                </div>

                                                <br/>

                                                <div class="form-group">
                                                    <!-- Button -->
                                                    <div class="controls">
                                                        <button class="btn btn-primary js-signin-form-button">Login</button>
                                                    </div>
                                                    <%= link_to 'Forgot your password?', forgot_password_url, class: 'small' %>
                                                </div>

                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="<%= @active_tab == 'join' ? 'active in' : 'fade' %> tab-pane" id="join">
                                <form class="js-join-form" class="form-horizontal" action='<%= authenticate_user_path %>' method="post"
                                      data-parsley-namespace="data-parsley-"
                                >
                                    <fieldset>
                                        <br/>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <legend>Sign in using Facebook</legend>

                                                <div class="form-group">
                                                    <%= link_to facebook_connect_url do %>
                                                        <!-- threw this in here, feel free to remove. uses social-buttons.css from http://noizwaves.github.io/ -->
                                                        <button type="button" class="btn btn-facebook">
                                                            Connect with Facebook
                                                        </button>
                                                    <% end %>
                                                </div>

                                                <br/>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <legend>Create account using your email</legend>
                                                <div class="form-group">
                                                    <!-- Email -->
                                                    <label class="control-label" for="email">Email</label>

                                                    <div class="controls">
                                                        <input type="text" id="email" name="email" placeholder=""
                                                               class="input-xlarge js-join-email" style="width:100%"
                                                               data-parsley-required="true"
                                                               data-parsley-type="email"
                                                               data-parsley-required-message="Please enter an email address."
                                                               data-parsley-type-email-message="Please enter a valid email address."
                                                               data-parsley-error-container=".js-join-email-errors"
                                                               data-parsley-remote="/gsr/validations/email_available"
                                                               data-parsley-remote-message="Sorry, that email address is already taken."
                                                        >
                                                        <p class="js-join-email-errors help-block"></p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label class="checkbox small">
                                                            <%= check_box 'terms', 'terms', 'data-parsley-required' => 'true',
                                                                          'data-parsley-error-message' => 'You must agree to the terms of use to create an account.',
                                                                          'data-parsley-error-container' => '.js-join-terms-errors' %>
                                                            I agree to the <%= link_to 'GreatSchools Terms of Use', terms_of_use_url %>.

                                                            <% if false # comment out for now %>
                                                            By joining GreatSchools, you agree to our <%= link_to 'GreatSchools Terms of Use', terms_of_use_url %>,
                                                            <%= link_to 'Community Guidelines',
                                                                terms_of_use_url(state: hub_params[:state], anchor:'#communityStandards') %>,
                                                            and <%= link_to 'GreatSchools Privacy Policy', privacy_url(state: hub_params[:state]) %>.
                                                            <% end %>
                                                        </label>
                                                        <p class="js-join-terms-errors help-block"></p>
                                                    </div>
                                                </div>

                                                <br/>

                                                <div class="form-group">
                                                    <!-- Button -->
                                                    <div class="controls">
                                                        <button class="btn btn-primary">Register email</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-3  col-lg-2">

    </div>
</div>

<script type="text/javascript">

    // TODO: move this method elsewhere and write tests
    var GS_bind_and_sync = function(selector1, selector2) {
        var $input1 = $(selector1);
        var $input2 = $(selector2);

        $input1.bind("keyup paste", function() {
            setTimeout(function() {
                $input2.val($input1.val());
            }, 20);
        });
        $input2.bind("keyup paste", function() {
            setTimeout(function() {
                $input1.val($input2.val());
            }, 20);
        });
    };


    $(function() {
        GS_bind_and_sync('.js-signin-email', '.js-join-email');

    })
</script>