<% @active_tab ||= 'login' %>

<div class="signin">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 signin-hdr">
      <%= render "shared/signin_notification_bar" %>
      <h2 class="ptl tac">Find great schools, share your stories and get parenting advice</h2>
    </div>
  </div>
  <div class="row limit-width-1200 signin-content">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="tab-content well">
        <div class="tab-pane <%= @active_tab == 'login' ? 'active in' : '' %> " id="login">
          <form class="form-horizontal js-signin-form" action='<%= authenticate_user_path %>' method="post" data-parsley-namespace="data-parsley-">
            <%= token_tag form_authenticity_token %>
            <fieldset>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 bg-white pal brs">
                  <p class="<%= 'active' if @active_tab == 'join' %>  tar gray-header">Don't have an account? <a href="#join" data-toggle="tab" id="js_join_tab">Sign Up</a></p>
                  <div class="form-group">
                      <button type="button" data-link-value="<%= facebook_connect_url %>" class="btn btn-facebook js-button-link full-width">
                        Sign in with Facebook
                      </button>
                  </div>
                  <p>- or -</p>
                  <div class="form-group">
                    <!-- Email -->
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                      <input type="text" id="email" name="email" placeholder="" class="input-xlarge js-signin-email" style="width:100%"
                               data-parsley-required="true"
                               data-parsley-type="email"
                               data-parsley-required-message="Please enter an email address."
                               data-parsley-error-container=".js-signin-email-errors">
                      <p class="js-signin-email-errors help-block"></p>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                      <input type="password" id="password" name="password" placeholder="" class="input-xlarge" style="width:100%"
                                 data-parsley-required="true"
                                 data-parsley-error-container=".js-signin-password-errors">
                      <p class="js-signin-password-errors help-block"></p>
                    </div>
                  </div>
                  <br/>
                  <div class="form-group">
                    <!-- Button -->
                    <div class="controls pbm">
                      <button class="btn btn-primary js-signin-form-button">Login</button>
                    </div>
                    <%= link_to 'Forgot your password?', forgot_password_url, class: 'small' %>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="tab-pane <%= @active_tab == 'join' ? 'active in' : '' %>" id="join">
          <form class="js-join-form" class="form-horizontal" action='<%= authenticate_user_path %>' method="post"
                data-parsley-namespace="data-parsley-"
          >
            <%= token_tag form_authenticity_token %>
            <fieldset>
              <div class="row">
                <div class="col-xs-4 hidden-xs col-sm-6 hidden-sm col-md-5 col-lg-5">
                  <ul class="promos">
                    <li>
                      <h3>Weekly newsletter</h3>
                      <p>Get our best articles, worksheets and more delivered weekly.</p>
                    </li>
                    <li>
                      <h3>Follow schools</h3>
                      <p>Save schools to lists, then get notified when new test scores or reviews are posted.</p>
                    </li>
                    <li>
                      <h3>Write reviews</h3>
                      <p>Help other parents find a great school by sharing your experiences.</p>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-2 hidden-sm col-md-1 col-lg-1"></div>
                <div class="col-sm-12 col-md-6 col-lg-6 bg-white brs pal">
                  <p class="<%= 'active' if @active_tab == 'login' %> tar gray-header">Have an account? <a href="#login" data-toggle="tab" id="js_login_tab">Login</a></p>
                    <legend>Create an account using Facebook</legend>

                    <div class="form-group">
                      <button type="button" data-link-value="<%= facebook_connect_url %>" class="btn btn-facebook js-button-link full-width">
                        Sign Up with Facebook
                      </button>
                    </div>

                    <p>- or -</p>

                    <legend>Create account using your email</legend>
                    <div class="form-group">
                        <!-- Email -->
                        <label class="control-label" for="email">Email address</label>

                        <div class="controls">
                            <input type="text" id="join-email" name="email" placeholder=""
                                   class="input-xlarge js-join-email" style="width:100%"
                                   data-parsley-required="true"
                                   data-parsley-type="email"
                                   data-parsley-required-message="Please enter an email address."
                                   data-parsley-error-container=".js-join-email-errors"
                                   data-parsley-remote="/gsr/validations/email_available"
                                   data-parsley-remote-message="Sorry, that email address is already taken."
                            >
                            <p class="js-join-email-errors help-block"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="controls">
                            <label class="checkbox small">
                                <%= check_box 'terms', 'terms', 'data-parsley-required' => 'true',
                                              'data-parsley-error-message' => 'You must agree to the terms of use to create an account.',
                                              'data-parsley-error-container' => '.js-join-terms-errors' %>
                                I agree to the <%= link_to 'GreatSchools Terms of Use', terms_of_use_url %>.

                                <% if false # comment out for now %>
                                By joining GreatSchools, you agree to our <%= link_to 'GreatSchools Terms of Use', terms_of_use_url %>,
                                <%= link_to 'Community Guidelines',
                                    terms_of_use_url(state: hub_params[:state], anchor:'#communityStandards') %>,
                                and <%= link_to 'GreatSchools Privacy Policy', privacy_url(state: hub_params[:state]) %>.
                                <% end %>
                            </label>
                            <p class="js-join-terms-errors help-block"></p>
                        </div>
                    </div>

                    <br/>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 signin-ftr">
      <ul class="pvl pln tac mtl">
        <li class="di prl plm"><span class="prs ptm italic">250,000+</span> school profiles</li>
        <li class="di prl plm"><span class="prs ptm italic">1.3M+</span> community reviews of schools</li>
        <li class="di plm last"><span class="prs ptm italic">14,000+</span> articles, worksheets and videos</li>
      </ul>
    </div>
  </div>
</div>

<%= render 'nav/short_footer' %>

<script type="text/javascript">

    // TODO: move this method elsewhere and write tests
    var GS_bind_and_sync = function(selector1, selector2) {
        var $input1 = $(selector1);
        var $input2 = $(selector2);

        $input1.bind("keyup paste", function() {
            setTimeout(function() {
                $input2.val($input1.val());
            }, 20);
        });
        $input2.bind("keyup paste", function() {
            setTimeout(function() {
                $input1.val($input2.val());
            }, 20);
        });
    };

    $(function() {
        GS_bind_and_sync('.js-signin-email', '.js-join-email');

    });

    if (location.hash.substr(1) == "join" || $('.js-join-tab').hasClass('active')) {
        GS.track.baseOmnitureObject.pageName = JOIN_PAGENAME;
        GS.track.baseOmnitureObject.hier1 = JOIN_HIER;
    } else {
        GS.track.baseOmnitureObject.pageName = SIGNIN_PAGENAME;
        GS.track.baseOmnitureObject.hier1 = SIGNIN_HIER;
    }
</script>
