<div class="header_bg_image ">
<div class="row pal limit_width_1200 open-sans">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 tal clearfix">
        <div class="fl prl">
            <% media_hash = @school.school_media_first_hash %>
            <% if media_hash %>
                <%= image_tag( generate_img_path( "130", media_hash), :class => "thumbnail_border") %>
            <% else %>
                <%= image_tag @google_signed_image.sign_url("http://maps.googleapis.com/maps/api/streetview?fov=70&size=130x130&location="+@google_signed_image.google_formatted_street_address+"&sensor=false"), :class => "thumbnail_border"%>
            <% end %>
        </div>

        <div class="fl header_title_width" >
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 tal pbm"><h1 class="open-sans_sb"><%= @school.name %></h1></div>
                <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                    <% if @school.school_metadata.overallRating %>
                        <div class="fl prm open-sans_sb"><strong class="mrm">GreatSchools rating</strong><span class="vam iconx24-ratings i-24-ratings-<%= @school.school_metadata.overallRating %>"></span></div>
                    <% end %>
                    <% if @school_reviews_global.review_filter_totals.all > 0 %>
                        <div class="fl phm pt2"><div class="fl mrm  open-sans_sb"><strong>Community rating</strong></div><div class="fl pt2"><%= draw_stars_16 @school_reviews_global.rating_averages.overall.avg_score %></div></div>
                    <% end %>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 clearfix ptm">
                    <% jo_momma = [
                                   @school.enrollment.nil? ? nil : @school.enrollment + ' students',
                                   @school.process_level,
                                   @school.type == "public" ? "District" : @school.type.gs_capitalize_first,
                                   @school.city.gs_capitalize_first + ' ' + @school.state.upcase ].compact  %>

                    <% jo_momma.each_with_index do | value, index | %>
                         <% if index == 0  %>
                            <div class="fl prm hvs"> <%= value %></div>
                         <% else %>
                            <div class="fl phm hvs"> <%= value %></div>
                         <% end %>
                    <% end %>
                    <div class="fl phm">Contact info</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 ptl">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 pas">
                        <%= link_to new_school_rating_path(school_params(school)) do %>
                            <button class="btn btn-default" style="width:100%">
                                Write a review!
                            </button>
                        <% end %>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 pas"><button class="btn btn-default" style="width:100%">Save school</button></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 pas"><button class="btn btn-default" style="width:100%">Send updates</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>