<% # this works because the the part of the statement because the conditional will initialize the var to nil %>
<% # the ||= wouldnt do what you might expect here, since the variable in question is a boolean and might be false %>
<% include_contact_info_link = true if include_contact_info_link.nil? %>
<% include_cta_button_group  = true if include_cta_button_group.nil? %>

<div class="header_bg_color ">
    <div class="row pal limit_width_1200 open-sans">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 tal clearfix">
            <div class="fl prl">
                <% media_hash = @school.school_media_first_hash %>
                <% if media_hash %>
                    <%= image_tag( generate_img_path( "130", media_hash), :class => "thumbnail_border") %>
                <% else %>
                    <%= image_tag @google_signed_image.sign_url(
                            "http://maps.googleapis.com/maps/api/streetview?fov=70&size=130x130&location=" +
                            @google_signed_image.google_formatted_street_address+"&sensor=false"
                        ), :class => "thumbnail_border" %>
                <% end %>
            </div>

            <div class="fl header_title_width" >
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 tal pbm"><h1 class="mtn pts"><%= @school.name %></h1></div>
                    <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                        <% if @school.gs_rating  %>
                            <div class="fl prl open-sans h24">
                                <span class="mrs">GreatSchools rating:</span>
                                <span class="vam iconx24-ratings i-24-ratings-<%= @school.gs_rating %>"></span>
                            </div>
                        <% end %>
                        <% if @school_reviews_global.review_filter_totals.all > 0 && @school_reviews_global.rating_averages.overall.avg_score > 0 %>
                            <div class="fl prl open-sans pt2 h24">
                                <span class="mrs">Community rating:</span>
                                <span class="mt2 vam">
                                    <%= draw_stars_16 @school_reviews_global.rating_averages.overall.avg_score %>
                                </span>
                            </div>
                        <% end %>
                        <% if @school.local_rating  %>
                            <div class="fl prl open-sans pt2 h24">
                                <span class="mrs">Excellent Schools Detroit rating:</span>
                                <span class="open-sans_sb">
                                    <%= (@school.local_rating == 'NG')? 'No Grade' : @school.local_rating %>
                                </span>
                            </div>
                        <% end %>
                        <% if @school.state_rating  %>
                            <div class="fl prl open-sans pt2 h24">
                                <span class="mrs">State rating:</span>
                                <span class="open-sans_sb"><%= @school.state_rating %></span>
                            </div>
                        <% end %>
                        <% prek_star_rating = @school.preK_star_rating %>
                        <% if prek_star_rating  %>
                            <% prek_star_rating_text = 'star' %>
                            <% if prek_star_rating == 0 %>
                                <% prek_star_rating_text = 'licensed' %>
                                <% prek_star_rating = '' %>
                            <% elsif prek_star_rating > 1 %>
                                <% prek_star_rating_text = 'stars' %>
                            <% end %>
                            <div class="fl prl open-sans pt2 h24">
                                <span class="mrs">Preschool rating:</span>
                                <span class="open-sans_sb"><%= prek_star_rating %> <%= prek_star_rating_text  %></span>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 clearfix ptm">
                        <% subheader_content = [
                           @school.process_level,
                           @school.type == "public" ? "District" : @school.type.gs_capitalize_first,
                           @school.city.gs_capitalize_first + ' ' + @school.state.upcase,
                        ].compact  %>

                        <% if include_contact_info_link %>
                            <% subheader_content << raw('<a href="#ContactInfo"><span class="vam iconx16 i-16-map-pin"></span><span class="mls">Contact info</span></a>') %>
                        <% end %>

                        <% subheader_content.each_with_index do | value, index | %>
                             <% if index == 0  %>
                                <div class="fl prm hvs"> <%= value %></div>
                             <% elsif index + 1 == subheader_content.length %>
                                <div class="fl phm"> <%= value %></div>
                             <% else %>
                                <div class="fl phm hvs"> <%= value %></div>
                             <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <% if include_cta_button_group %>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 ptn">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 margin-top-mobile">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 pas">
                                <button data-link-value="<%= school_review_form_path(school,btn_source: 'Header') %>" class="btn btn-default tal js-button-link" style="width:100%; padding-left: 8px; font-size: 14px;">
                                    <span class="vam iconx16 i-16-thought-bubble mrm"></span>Rate &amp; Review
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 pas">
                              <%= render 'shared/add_to_my_school_list_form', school: @school, btn_source: 'Header' %>
                              <button class="btn btn-default tal js-save-this-school-button" style="width:100%; padding-left: 8px; font-size: 14px;">
                                <span class="vam iconx16 i-16-heart mrm"></span>Add to My School List
                              </button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 pas">
                              <%= render 'shared/send_me_updates_form', school: @school, btn_source: 'Header' %>
                              <button class="btn btn-default tal js-send-me-updates-button" style="width:100%; padding-left: 8px; font-size: 14px;">
                                <span class="vam iconx16 i-16-envelop mrm"></span>Send me updates
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>