<% nav_on_hash = {overview:'', reviews:'', quality:'', details:''} %>

<% if page_name && !page_name.empty? %>
    <% nav_on_hash[page_name] = 'class=active' %>
<% end %>
<div id="navigation2">
    <nav class="nav">
        <ul>
            <li <%= nav_on_hash[:overview] %>>
                <%= link_to 'Overview', school_path(school_params(school)) %>
            </li>
            <li <%= nav_on_hash[:reviews] %>>
                <%= link_to 'Reviews', school_reviews_path(school_params(school)) %>
            </li>
            <li <%= nav_on_hash[:quality] %>>
                <%= link_to 'Quality', school_quality_path(school_params(school)) %>
            </li>
            <li <%= nav_on_hash[:details] %>>
                <%= link_to 'Details', school_details_path(school_params(school)) %>
            </li>
        </ul>
    </nav>
</div>