<%= render 'nav/topnav' %>
<%= render 'localized_profile/header', school: @school %>
<%= render 'localized_profile/profile-nav', school: @school %>

<div class="row limit_width_1200">

    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
        <%= render partial: 'position', collection: (1..50).to_a, as: :position_number %>
    </div>
</div>
<%= render 'nav/footer' %>