<%= render 'nav/topnav' %>
<%= render 'localized_profile/header', school: @school %>
<%= render 'localized_profile/profile-nav', school: @school %>
<div class="row">
    <div style="text-align: center; padding: 20px; width: 100%; overflow: hidden">
        <ul class="nav nav-pills" style="left: 50%; float: left; position: relative" >
            <% @page_config.placements.each do |placement| %>
                <li style="position: relative; float:left; right: 50%;">
                    <a href="#<%= category_placement_anchor placement %>">
                        <%= category_placement_title placement %></a>
                </li>
            <% end %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-10">
        <div class="row">
            <%= render_all_positions %>
        </div>
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 tac">
            <div id="galleria" style="height:320px; width:600px; margin: auto">
            <%= include_lightbox %>
            <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Athabasca_Rail_at_Brule_Lake.jpg/800px-Athabasca_Rail_at_Brule_Lake.jpg">
                <img
                src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Athabasca_Rail_at_Brule_Lake.jpg/100px-Athabasca_Rail_at_Brule_Lake.jpg"
                data-big="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Athabasca_Rail_at_Brule_Lake.jpg/1280px-Athabasca_Rail_at_Brule_Lake.jpg"
                data-title="Athabasca Rail"
                data-description="The Athabasca River railroad track at the mouth of Brulé Lake in Alberta, Canada."
                >
            </a>
            <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Back-scattering_crepuscular_rays_panorama_1.jpg/1280px-Back-scattering_crepuscular_rays_panorama_1.jpg">
                <img
                src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Back-scattering_crepuscular_rays_panorama_1.jpg/100px-Back-scattering_crepuscular_rays_panorama_1.jpg"
                data-big="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Back-scattering_crepuscular_rays_panorama_1.jpg/1400px-Back-scattering_crepuscular_rays_panorama_1.jpg"
                data-title="Back-scattering crepuscular rays"
                data-description="Picture of the day on Wikimedia Commons 26 September 2010."
                >
            </a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
        <div class="contents">
            <div class="main">
                <a name="Fascination"></a>
                <h2 style="padding-top: 50px; margin-top: -50px;">Fascination</h2>
                6 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>
</div>
<%= render 'nav/footer' %>