<%= render 'nav/topnav' %>
<%= render 'localized_profile/header', school: @school %>
<%= render 'localized_profile/profile-nav', school: @school, page_name: :quality %>

<div class="row limit_width_1200">
    <%= render 'shared/breadcrumbs', breadcrumbs: breadcrumb_hash %>
    <% root_placements = @page_config.root_placements_with_data %>
    <% if root_placements.empty? %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mvl well">
                <h3>Thank you for looking into the quality of this school.</h3>
                <p>However, we do not have detailed quality information for this school at this time. We strive to acquire additional school data whenever available.</p>
            </div>
        </div>
    <% else %>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 gs_set-z-1" >
        <%= render 'category_placement_nav' %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" role="main">
        <div class="row">
            <%= render partial: 'category_placement', collection: root_placements, as: :category_placement %>
        </div>
    </div>
    <% end %>
</div>

<%= render 'nav/school_profile_footer', state: @state, cities: @cities %>