<%= render 'nav/topnav' %>
<%= render 'localized_profile/header', school: @school %>
<%= render 'localized_profile/profile-nav', school: @school, page_name: :reviews %>

<div class="row limit_width_1200">
    <%= render 'shared/breadcrumbs', breadcrumbs: breadcrumb_hash %>
    <% if @school_reviews_global.review_filter_totals.all == 0 || @school_reviews_global.review_filter_totals.all.nil? %>
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 mtl"  style="z-index: 1;">
            <div class="well tac">
                <%= link_to school_review_form_path(@school) do %>
                    <button type="button" class="btn btn-primary">
                        Be the first to leave a review!
                    </button>

                    <p class="ptl">Help others find their great school - rate and review this school now</p>
                <% end %>
            </div>
        </div>
    <% else %>
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 ptl"  style="z-index: 1;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <%= render "shared/review_top_sections" %>
                </div>
            </div>

            <div class="row">
                <hr />
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pam">
                    <h3 class="mvn"><%= write_review_count 'review' %> of this school</h3>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 clearfix pam">
                    <div class="dropdown fr pll margin-mobile">
                        <button type="button" class="btn btn-default js_reviewFilterDropDownText js_bootstrapExtDropdownText" data-toggle="dropdown" href="#">Date newest to oldest <b class="caret"></b></button>
                        <ul class="dropdown-menu mll js_reviewFilterDropDown" data-order-selected="newToOld">
                            <li><a data-order-review="newToOld">Date newest to oldest</a></li>
                            <li><a data-order-review="oldToNew">Date oldest to newest</a></li>
                            <li><a data-order-review="ratingsHighToLow">Ratings high to low</a></li>
                            <li><a data-order-review="ratingsLowToHigh">Ratings low to high</a></li>

                        </ul>
                    </div>
                    <% if @school_reviews_global.review_filter_totals.parent != @school_reviews_global.review_filter_totals.all %>
                        <div class="fr">
                            <div class="btn-group js_reviewFilterButton js_bootstrapExtButtonSelect" data-group-selected="all">
                                <button type="button" class="btn btn-default active" data-group-name="all">All</button>
                                <% if @school_reviews_global.review_filter_totals.parent > 0 %>
                                    <button type="button" class="btn btn-default" data-group-name="parent">Parents</button>
                                <% end %>
                                <% if @school_reviews_global.review_filter_totals.student > 0 %>
                                    <button type="button" class="btn btn-default" data-group-name="student">Students</button>
                                <% end %>

                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="js_reviewsList">
                <%= render '/shared/review_module', school_reviews_pagination: @school_reviews, include_rich_snippets: true %>
            </div>
            <% if @school_reviews_global.review_filter_totals.all <= 10 %>
                <% @review_button_hide ="dn" %>
            <% end %>
            <button data-total-count="<%= @school_reviews_global.review_filter_totals.all %>"
                    data-all-count="<%= @school_reviews_global.review_filter_totals.all %>"
                    data-parent-count="<%= @school_reviews_global.review_filter_totals.parent %>"
                    data-student-count="<%= @school_reviews_global.review_filter_totals.student %>"
                    data-offset="<%= @review_limit %>"
                    data-limit="<%= @review_limit %>"
                    class="mtm col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default js_reviewsGetNextTen <%= @review_button_hide %>">Read more</button>
        </div>
    <% end %>

</div>
<%= render 'nav/school_profile_footer' %>

<%= render 'shared/rich_snippets/rich_snippets_school_info', school: @school %>
<%= render 'shared/rich_snippets/rich_snippets_profile_page', last_modified_date: @last_modified_date %>
<%= render 'shared/rich_snippets/rich_snippets_average_review_rating', school: @school, page_shows_reviews: true %>