<%= render 'nav/topnav' %>
<%= render 'localized_profile/header', school: @school %>
<%= render 'localized_profile/profile-nav', school: @school %>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-10">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="contents">
                        <div class="main clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="mrm pam bg-white">
                                    <h4>Community Ratings</h4>
                                    <div class="clearfix">
                                        <div class="fl prm">overall:</div>
                                        <%= draw_stars_16 @rating_averages.overall.avg_score %>
                                        <div class="fl pll">number of responses:<%= @rating_averages.overall.counter %></div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="fl prm">principal:</div>
                                        <%= draw_stars_16 @rating_averages.principal.avg_score %>
                                    </div>
                                    <div class="clearfix">
                                        <div class="fl prm">teacher:</div>
                                        <%= draw_stars_16 @rating_averages.teacher.avg_score %>
                                    </div>
                                    <div class="clearfix">
                                        <div class="fl prm">parent:</div>
                                        <%= draw_stars_16 @rating_averages.parent.avg_score %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="pam bg-white">
                                    <h4>Ratings Distribution</h4>
                                    five stars: <%= @star_counts[5] %>   <br />
                                    four stars: <%= @star_counts[4] %>   <br />
                                    three stars: <%= @star_counts[3] %>   <br />
                                    two stars: <%= @star_counts[2] %>   <br />
                                    one stars: <%= @star_counts[1] %>   <br />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="contents">
                    <div class="main tac">
                        <h4>Do you know this school?</h4>
                    </div>
                </div>
            </div>
        </div>

        <row>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix pam">
                <div class="fl">
                    <div class="btn-group js_reviewFilterButton" data-group-selected="all">
                        <button type="button" class="btn btn-default active" data-group-name="all">All</button>
                        <button type="button" class="btn btn-default" data-group-name="parent">Parents</button>
                        <button type="button" class="btn btn-default" data-group-name="student">Students</button>
                    </div>
                </div>
                <div class="dropdown fl pll">
                    <button type="button" class="btn btn-default js_reviewFilterDropDownText" data-toggle="dropdown" href="#">Date newest to oldest <b class="caret"></b></button>
                    <ul class="dropdown-menu mll js_reviewFilterDropDown" data-order-selected="newToOld">
                        <li><a data-order-review="newToOld">Date newest to oldest</a></li>
                        <li><a data-order-review="oldToNew">Date oldest to newest</a></li>
                        <li><a data-order-review="ratingsHighToLow">Ratings high to low</a></li>
                        <li><a data-order-review="ratingsLowToHigh">Ratings low to high</a></li>

                    </ul>
                </div>
            </div>
        </row>

        <div class="js_reviewsList">
            <%= render '/shared/review_module', school_reviews_pagination: @school_reviews %>
        </div>
        <% if @review_filter_totals.all > 10 %>
            <button data-total-count="<%= @review_filter_totals.all %>" data-all-count="<%= @review_filter_totals.all %>" data-parent-count="<%= @review_filter_totals.parent %>" data-student-count="<%= @review_filter_totals.student %>" data-offset="<%= @review_limit %>" data-limit="<%= @review_limit %>" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 js_reviewsGetNextTen">Get Next Ten</button>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
        <div class="contents">
            <div class="main">
                <a name="Fascination"></a>
                <h4 style="padding-top: 50px; margin-top: -50px;">Fascination</h4>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>
</div>
<%= render 'nav/footer' %>