<%= render 'nav/topnav' %>
<%= render 'localized_profile/header', school: @school %>
<%= render 'localized_profile/profile-nav', school: @school %>



<!--<%= @school.test_scores %>-->

<% @school.test_scores.each_with_index do |(test,value),index| %>
    <div class="contents">
        <div class="main">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <div>
                        <%= test %><br/>
                        <% value.grades.each do |grade,value| %>
                            <br/>GRADE <%= grade %><br/><br/>
                            <% value.each do |levelcode,value| %>
                                <% value.each do |subject,value| %>
                                    <%= subject %><br/>
                                    <% value.each do |year,value| %>
                                        <%= year %>
                                        score : <%= value["score"] %>
                                        number tested: <%= value["number_tested"] %><br/>
                                    <% end %>

                                    <!--TODO change this to test id-->
                                    <% bar_chart_div_id = "js_bar_chart_div_#{test.gsub(/\s/,'')}_#{grade}_#{subject.gsub(/\s/,'')}" %>
                                    <div id="<%= bar_chart_div_id %>" style="width: 350px; height: 150px;"></div>
                                    <% content_for :head do %>
                                        <script type="text/javascript">
                                            GS.visualchart.drawBarChart(<%= raw (to_bar_chart_array value).to_s %>,<%= raw '"'+bar_chart_div_id+'"' %>);
                                        </script>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>





<%= render 'nav/footer' %>