<fieldset>
  <legend><%= t('choose_grade', scope: 'forms') %></legend>
  <input type="hidden" name="grades" />
  <span class="multi-select-button-group">
    <button data-value="PK" type="button"><%= t('grade_fieldset.preK', scope: 'forms') %></button><!-- spaces are rendered between
    --><button data-value="KG" type="button"><%= t('grade_fieldset.K', scope: 'forms') %></button><!-- inline elements. Comments allow
    --><button data-value="1" type="button"><%= t('grade_fieldset.1st', scope: 'forms') %></button><!-- nice source code formatting
    --><button data-value="2" type="button"><%= t('grade_fieldset.2nd', scope: 'forms') %></button><!-- w/o spaces between these buttons
    --><button data-value="3" type="button"><%= t('grade_fieldset.3rd', scope: 'forms') %></button>
  </span><span class="multi-select-button-group">
    <button data-value="4" type="button"><%= t('grade_fieldset.4th', scope: 'forms') %></button><!--
    --><button data-value="5" type="button"><%= t('grade_fieldset.5th', scope: 'forms') %></button><!--
    --><button data-value="6" type="button"><%= t('grade_fieldset.6th', scope: 'forms') %></button><!--
    --><button data-value="7" type="button"><%= t('grade_fieldset.7th', scope: 'forms') %></button><!--
    --><button data-value="8" type="button"><%= t('grade_fieldset.8th', scope: 'forms') %></button>
  </span><span class="multi-select-button-group">
    <button data-value="9" type="button"><%= t('grade_fieldset.9th', scope: 'forms') %></button><!--
    --><button data-value="10" type="button"><%= t('grade_fieldset.10th', scope: 'forms') %></button><!--
    --><button data-value="11" type="button"><%= t('grade_fieldset.11th', scope: 'forms') %></button><!--
    --><button data-value="12" type="button"><%= t('grade_fieldset.12th', scope: 'forms') %></button>
  </span>
</fieldset>
