<div class="summary">
  <div class="row">
    <div class="col-xs-12 col-sm-4 pbl">
      <%= t(".#{@t_scope}.description_above_fold") %>
      <span class="hidden-xs-inline js-readMoreText">
        <%= t(".#{@t_scope}.description_below_fold") %>
      </span>
      <a class="visible-xs pointer js-readMoreLink">
        <%= t(".read_more") %>
      </a>
    </div>
    <% 2.times do |column_index| %>
      <% column_index += 1 %>
      <% column_scope = "#{@t_scope}.column_#{column_index}" %>
    <div class="col-xs-12 col-sm-4 pbl">
      <h4 class="mvn">
        <%= t(".#{column_scope}.title") %>
      </h4>
      <% 4.times do |datapoint_index| %>
        <% datapoint_index += 1 %>
        <% datapoint_scope = "#{column_scope}.datapoint_#{datapoint_index}" %>
      <div class="datapoint">
        <h4>
          <%= t(".#{datapoint_scope}.title") %>
        </h4>
        <div class="percent-value">
          <h3 class="<%= t(".#{datapoint_scope}.performance_level") %>">
            <%= t(".#{datapoint_scope}.value_html") %>
            <span class="state-average">
              (<%= t(".#{datapoint_scope}.state_average") %>)
            </span>
          </h3>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
