<%= include_handlebars_templates('community_scorecards/') %>
<% scope = 'innovate_public_schools' %>

<div class="<%= @gs_bootstrap %> community-scorecard js-communityScorecard">
  <div class="container-fluid">
    <h1 class="lg-roboto"><%= t(".#{scope}.title") %></h1>
    <%= render partial: "community_scorecards/summary" %>
    <div class="clearfix">
    <%= render partial: "shared/partners/promo_delegator",
                locals: {
                  collections: [@collection],
                  partial: current_partial,
                  force_show: true,
                  options: {
                    is_vertical_promo: true
                  }
                }
    %>
    </div>
    <h2>Community Scorecard</h2>
    <%= render partial: "community_scorecards/table_header" %>
    <% # these elements with ids are used for handle bar templeting %>
    <div id="community-scorecard-mobile" class='visible-xs row striped-divs'></div>
    <div id="community-scorecard-table" class='hidden-xs'></div>
  </div>
</div>

<div class='shim-20'></div>

<%= render 'nav/school_profile_footer' %>
