<%= include_handlebars_templates('community_scorecards/') %>

<div class="<%= @gs_bootstrap %> community-scorecard js-communityScorecard">
  <div class="container-fluid">
    <div class='shim-20 hidden-xs'></div>
    <h1 class="lg-roboto"><%= t(".#{@t_scope}.title") %></h1>
    <div class='shim-10 hidden-xs'></div>
    <%= render partial: "community_scorecards/summary" %>
    <%= render partial: "community_scorecards/article" %>
    <div class='shim-10 hidden-xs'></div>
    <h2 class='scorecard-title'>Community Scorecard</h2>
    <%= render partial: "community_scorecards/table_header" %>
    <% # these elements with ids are used for handlebars templating %>
    <div id="community-scorecard-mobile" class='visible-xs row striped-divs'></div>
    <div id="community-scorecard-table" class='hidden-xs'></div>
  </div>
</div>

<div class='shim-20'></div>

<%= render 'nav/school_profile_footer' %>
