<!--this is its own partial and gets exectuted once per questions from above-->
<div class="bg-light-gray gray-box-border-v row limit-width-1200 js-topicalReviewContainer dn" data-review-topic="<%= question.review_topic.id %>">
  <%= form_for Review.new, remote: true, url: school_reviews_path(@school), html:  {'data-parsley-validate' => '', 'data-parsley-excluded'=>'input[type=button], input[type=submit], input[type=reset]'} do |f| %>
      <%= f.hidden_field :state, value: @school.state %>
      <%= f.hidden_field :school_id, value: @school.id %>
      <%= f.hidden_field :review_question_id, value: question.id %>

      <%= render "shared/reviews/modules/input/#{question.layout}_module", question: question, f: f %>
  <% end %>
</div>
