<!--this is its own partial and gets exectuted once per questions from above-->
<div class="row bg-light-gray gray-box-border-v limit-width-1200 js-topicalReviewContainer dn" data-review-topic="<%= question.review_topic.name.downcase %>">
  <%= form_for Review.new, remote: true, url: school_reviews_path(@school) do |f| %>
      <%= f.hidden_field :state, value: @school.state %>
      <%= f.hidden_field :school_id, value: @school.id %>
      <%= f.hidden_field :review_question_id, value: question.id %>

      <%= render "shared/reviews/modules/input/#{question.layout}_module", question: question, f: f %>
  <% end %>
</div>
