<div class="limit-width-1200 clearfix js-topical-review-container dn">
  <div class="row bg-light-gray gray-box-border-v" >
    <form action="">
      <div class="col-lg-6 col-md-6 col-xs-12 bg-light-gray gray-box-border-tlr" style="min-height: 280px">
        <header class="bg-yellow full-width tac open-sans_cb pvl">
          <%= title.html_safe %>
        </header>
        <article>
          <%=  render "shared/reviews/modules/input/options_grid", question_responses: question_responses, option_type: 'checkbox'%>
        </article>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 bg-light-gray gray-box-border-tlr ptl phl " style="min-height: 280px">
        <%= render "shared/reviews/modules/output/review_results_snapshot",
                   review_summary_data: {
                           'summary' => '25 Parents were <span class="open-sans_cb">agitated </span>by the ping pong policy, while 2 Parents were <span class="open-sans_cb">happy.</span>',
                           'comments' => '25 comments'
                   }
        %>
      </div>
    </form>
  </div>
  <div class="full-width mtl">
    <div class="fl">
      <%= link_to("< Previous topic", "#", class:"js-previous-topic") %>
    </div>
    <div class="fr">
      <%= link_to("Next topic >", "#", class:"js-next-topic") %>
    </div>

  </div>
</div>