<div class="limit-width-1200 clearfix js-topical-review-container dn" style="min-height: 280px">
  <div class="row bg-light-gray gray-box-border-v js-review-questions" >
    <%= form_for (Review.new), remote: true do |f| %>
        <%= f.hidden_field :list_member_id, value: current_user.id %>
        <%= f.hidden_field :state, value: @school.state.downcase %>
        <%= f.hidden_field :school_id, value: @school.id %>
        <%= f.hidden_field :review_question_id, value: review_question_id %>
        <div class="col-lg-6 col-md-6 col-xs-12 bg-light-gray gray-box-border-tlr" style="min-height: 280px">
          <header class="bg-yellow full-width tac open-sans_sb pvl">
            <%= title.html_safe %>
          </header>
          <article>
            <%=  render "shared/reviews/modules/input/options_grid", question_responses: question_responses, option_type: 'checkbox', f: f%>
          </article>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 bg-light-gray gray-box-border-tlr ptl phl " style="min-height: 280px">
          <%= render 'shared/reviews/modules/input/review_comment', f: f %>
        </div>
    <% end  %>
  </div>
  <div class="full-width mtl js-topicalQuestionNavigation">
    <div class="fl">
      <%= link_to("< Previous topic", "#", class:"js-previous-topic") %>
    </div>
    <div class="fr">
      <%= link_to("Next topic >", "#", class:"js-next-topic") %>
    </div>
  </div>
</div>