<div class="limit-width-1200 collapse mtl js-email-settings">
  <h2>Email subscriptions</h2>
  <% if @current_user.subscriptions.present? %>
      <div class="limit-width-1200 mtl">
        <% show_header=true %>
        <% @current_user.subscriptions.each do |subscription| %>
            <% decorator=NewsletterDecorator.decorate(subscription) %>
            <div class="js-subscription-<%= subscription.id  %>" >
              <% if show_header %>
                  <%= decorator.name %><br/>
                  <%= decorator.description %><br/>
              <% end %>
              <% if decorator.name == 'My School Stats'%>
                  <% show_header=false %>
              <% end %>
              <% if decorator.school %>
                  <%= decorator.school.name %><%= decorator.school.city %>,<%= decorator.school.state %><br/><br/>
              <% end %>

              <span class="fr prm">
          <%= link_to('remove', subscription_path(subscription.id),
                      {
                              class: "js-delete-subscription-#{subscription.id}",
                              method: 'DELETE',
                              remote: true
                      }
              ) %>
        </span>
            </div>
        <% end %>
      </div>
  <% else %>
      You do not have any email subscriptions yet.
  <% end %>
</div>


