<div class="limit-width-1200  collapse js-email-settings phm" xmlns="http://www.w3.org/1999/html">
  <% if @current_user.subscriptions.present? %>
      <div class="limit-width-1200 mtl">
        <% @current_user.subscriptions.group_by(&:list).each do |list, subscriptions| %>
            <div class="pbl">
              <% if Subscription.is_grouped?(list) %>

                  <% first_decorated_subscription = NewsletterDecorator.decorate(subscriptions.first) %>
                  <h3><%= first_decorated_subscription.name %></h3>
                  <%= first_decorated_subscription.description %>
                  <% subscriptions.each do |subscription| %>
                      <% decorated_subscription = NewsletterDecorator.decorate(subscription) %>

                      <div class="js-subscription-<%= subscription.id %>">
                        <% if decorated_subscription.school && decorated_subscription.school.city && decorated_subscription.school.state %>
                            <div class="open-sans_sb mtm">
                              <label class="pointer notranslate">
                                <div class="fl mtn prm">
                                  <%= check_box_tag 'name1', "/gsr/user/subscriptions/#{subscription.id}/", is_checked = true, class: "js-delete-subscription-#{subscription.id}", :data => {:params_local => {"id" => subscription.id}} %>
                                </div>
                                <%= decorated_subscription.school.name %>, <%= decorated_subscription.school.city %>
                                , <%= decorated_subscription.school.state %>
                              </label>
                            </div>

                        <% end %>
                      </div>

                  <% end %>
              <% else %>
                  <% decorated_subscription = NewsletterDecorator.decorate(subscriptions.first) %>
                  <div class="js-subscription-<%= subscriptions.first.id %>">
                    <label class="db pointer">
                      <div class="fl mtn prm">
                        <%= check_box_tag 'name1', "/gsr/user/subscriptions/#{subscriptions.first.id}/", is_checked = true, class: "js-delete-subscription-#{subscriptions.first.id}", :data => {:params_local => {"id" => subscriptions.first.id}} %>
                      </div>
                      <h3><%= decorated_subscription.name %></h3>
                      </label>


                    <div>
                      <%= decorated_subscription.description %>
                    </div>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
  <% else %>
      You do not have any email subscriptions yet.
  <% end %>
</div>


