<% if @current_user.provisional_or_approved_osp_user? || @current_user.is_esp_superuser? %>
    <div class="limit-width-1200">
      <div class="bg-light-gray mvl js-header-slide-toggle">
        <div class="row">
          <div class="col-xs-12 clearfix phm">
            <div class="fl pointer font-size-large mam">
              Edit School Profile
            </div>
            <span class="fr iconx32-college_ready i-32-open-arrow-head pointer mtm"></span>
          </div>
        </div>
      </div>
      <%= render partial: 'shared/account_management/osp_module' %>
    </div>
<% end %>

<div class=limit-width-1200>
  <div class="bg-light-gray mvl js-header-slide-toggle">
    <div class="row">
      <div class="col-xs-12 clearfix phm">
        <div class="fl pointer font-size-large mam">
          My Profile
        </div>
        <span class="fr iconx32-college_ready i-32-open-arrow-head pointer mtm"></span>

      </div>
    </div>
  </div>
  <div class="row limit-width-1200 pam">
    <div class="mbl">
      Tell us a little more about yourself so we can send you updates about your community. This information will not
      be displayed publicly on the site.

    </div>
    <div class="open-sans_sb pbl">
      Hometown
    </div>
    <% if  @state_locale.present? && @city_locale.present? %>
        <div class="js-hometown-chosen">
          <div class="fl notranslate">
            <%= @city_locale.titleize %>, <%= @state_locale[:long].titleize %>
          </div>
          <div class="fl mll">
            <a class="font-size-small pointer js-change-hometown-link">change</a>
          </div>
        </div>
        <div class="fl js-hometown-chooser-display dn">
          <%= render 'shared/account_management/cityChooser' %>
        </div>
    <% else %>

        <div class="fl js-hometown-chooser-display">
          <%= render 'shared/account_management/cityChooser' %>
        </div>
    <% end %>
  </div>
  <%= render 'shared/account_management/grade_level_selector'%>

</div>

<% if @saved_searches.present? %>
    <div class="limit-width-1200">
      <div class="bg-light-gray mvl js-header-slide-toggle">
        <div class="row">
          <div class="col-xs-12 clearfix phm">
            <div class="fl pointer font-size-large mam">
              My Saved Searches
            </div>
            <span class="fr iconx32-college_ready i-32-close-arrow-head pointer mtm"></span>
          </div>
        </div>
      </div>
      <%= render partial: 'search/saved_search' %>
    </div>
<% end %>

<div class="limit-width-1200">
  <div class="bg-light-gray mvl js-header-slide-toggle">
    <div class="row">
      <div class="col-xs-12 clearfix phm">
        <div class="fl pointer font-size-large mam">
          My School List
        </div>
        <span class="fr iconx32-college_ready i-32-open-arrow-head pointer mtm"></span>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/account_management/school_list' %>
</div>

<div class="limit-width-1200">
  <div class="bg-light-gray mtl js-header-slide-toggle">
    <div class="row">
      <div class="col-xs-12 clearfix phm">
        <div class="fl pointer font-size-large mam">
          Email Subscriptions
        </div>
        <span class="fr iconx32-college_ready i-32-close-arrow-head pointer mtm"></span>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/account_management/email_settings' %>
</div>

<div class="limit-width-1200">
  <div class="bg-light-gray mvl js-header-slide-toggle">
    <div class="row">
      <div class="col-xs-12 clearfix phm">
        <div class="fl pointer font-size-large mam">
          Change Password
        </div>
        <span class="fr iconx32-college_ready i-32-close-arrow-head pointer mtm"></span>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/account_management/change_password_form' %>
</div>






