<% header %>
<% subheading %>
<% modal_css_class %>
<div class="modal join-and-login fade js-gsModal <%= modal_css_class %>" tabindex="-1" role="dialog" aria-labeledby="<%= modal_css_class %>Label" aria-hidden="true">
  <div class="gs-modal-dialog modal-dialog" >
    <div <div class="shim-100 hidden-xs"></div>
      <div class="bg-white brs">
        <div class="title row">
          <div class="col-xs-11"><%= header %></div>
          <div class="col-xs-1">
            <button type="button" class="close-inverse" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="subheading"><%= subheading %></div>
        <% @active_tab ||= 'join' %>
        <div class="signin_">
          <div class="row limit-width-1200 signin-content_">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="tab-content well">
                <div class="tab-pane <%= @active_tab == 'login' ? 'active in' : '' %> " id="login">
                  <%= render 'signin/login_form', ajax: true %>
                </div>
                <div class="tab-pane <%= @active_tab == 'join' ? 'active in' : '' %>" id="join">
                  <%= render 'signin/join_form', ajax: true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  // TODO: move this method elsewhere and write tests
  var GS_bind_and_sync = function(selector1, selector2) {
    var $input1 = $(selector1);
    var $input2 = $(selector2);

    $input1.bind("keyup paste", function() {
      setTimeout(function() {
        $input2.val($input1.val());
      }, 20);
    });
    $input2.bind("keyup paste", function() {
      setTimeout(function() {
        $input1.val($input2.val());
      }, 20);
    });
  };

  $(function() {
    GS_bind_and_sync('.js-signin-email', '.js-join-email');

  });

  if (location.hash.substr(1) == "join" || $('.js-join-tab').hasClass('active')) {
    GS.track.baseOmnitureObject.pageName = JOIN_PAGENAME;
    GS.track.baseOmnitureObject.hier1 = JOIN_HIER;
  } else {
    GS.track.baseOmnitureObject.pageName = SIGNIN_PAGENAME;
    GS.track.baseOmnitureObject.hier1 = SIGNIN_HIER;
  }
</script>

