<% modal_css_class %>
<% header %>
<div class="modal fade js-gsModal <%= modal_css_class %>" tabindex="-1" role="dialog" aria-labeledby="<%= modal_css_class %>Label" aria-hidden="true">
  <div class="gs-modal-dialog modal-dialog">
    <%= form_tag register_email_path, method: :post, remote: true,
      id: 'signup-school-form',
      'data-parsley-namespace'=>"data-parsley-" do %>
      <%= token_tag form_authenticity_token %>
      <button class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
      <div class="modal-body">
        <div class="title"><%= header %></div>
        <div class="body">
          <div class="js-signup-success alert alert-success dn"><%= t('.signup_success') %></div>
          <%= t('.body_html') %>
          <div class="form-group controls">
            <p> <%= check_box_tag('sponsors_list', 'true') %>
            <%= t('.sponsors_signup') %>
            </p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="form-group controls">
                <div class="input-group">
                  <%= email_field_tag(
                              :email, nil,
                              {
                                      id: "signup-email",
                                      placeholder: "",
                                      class: 'form-control js-signup-email parsley-error pam',
                                      data: { 'parsley-required' => "true",
                                              'parsley-type' => "email",
                                              'parsley-required-message' => "Please enter an email address.",
                                              'parsley-error-container' => ".js-signup-email-errors" }
                              }
                      ) %>
                  <span class="input-group-btn">
                    <button class="btn btn-primary js-modal-signup-button modal-signup-button" data-disable-with="Signing up">
                      <%= t('.signup_button') %>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <p class="js-signup-email-errors danger-color"></p>
          <p class="tac">
            <%= link_to t('.privacy_policy'), privacy_url %>&nbsp;
            <%= t('.terms_of_use_html',
                  terms_of_use_link: link_to(
                          t('.greatschools_terms_of_use'),
                          terms_of_use_url)
                )
            %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
