<% modal_css_class %>
<% header %>
<div class="modal remodal js-gsModal join-and-login <%= modal_css_class %>" tabindex="-1" role="dialog" aria-labeledby="<%= modal_css_class %>Label" aria-hidden="true">
  <div class="gs-modal-dialog modal-dialog">
    <%= form_tag register_email_path, method: :post, remote: true,
      id: 'signup-school-form',
      'data-parsley-namespace'=>"data-parsley-" do %>
      <%= token_tag form_authenticity_token %>
      <button class="remodal-cancel close" aria-label="Close" data-remodal-action="" style="background-color: #ffffff">
        <span>&times;</span>
      </button>
      <div class="modal-body">

        <div class="title"><%= header %></div>
        <div class="body">
          <div class="js-signup-success alert alert-success dn"><%= t('.signup_success') %></div>
          <div class="checkbox-and-label">
            <p>
            <%= check_box_tag('sponsors_list', 'true', true, class:'checkbox') %>
            <label style="font-size:14px;width: 90%;text-align:left;"><%= t('.sponsors_signup') %></label>
            </p>
          </div>

          <div>
            <%= email_field_tag(
                :email,
                nil,
                {
                    id: "signup-email",
                    placeholder: "#{t('.email_label')}",
                    class: 'js-signup-email pam',
                    'data-parsley-required' => "true",
                    'data-parsley-type' => "email",
                    'data-parsley-trigger' => "change",
                    'data-parsley-required-message' => t('.parsley_required_message'),
                    'data-parsley-error-container' => ".js-signup-email-errors",
                    # 'data-parsley-remote' => '/gsr/validations/need_to_signin',
                    # 'data-parsley-remote-options' => '{ "type": "GET"}',
                    # 'data-parsley-remote-message' => t(".parsley_remote_message_html")
                }
                # {
                #   id: "signup-email",
                #   placeholder: "#{t('.email_label')}",
                #   class: 'form-control js-signup-email parsley-error pam',
                #   data: { 'parsley-required' => "true",
                #           'parsley-type' => "email",
                #           'parsley-required-message' => "Please enter an email address.",
                #           'parsley-error-container' => ".js-signup-email-errors" }
                # }
              ) %>
            <p class="js-signup-email-errors danger-color"></p>
          </div>

          <div class="checkbox-and-label">
            <label>
              <%= t('.terms_of_use_html', terms_of_use_link: link_to(t('.greatschools_terms_of_use'), terms_of_use_url)) %>
            </label>
            <span><%= link_to t('.privacy_policy'), privacy_url %></span>
            <p class="js-join-terms-errors help-block"></p>
          </div>

          <button type="submit" class="submit js-modal-signup-button modal-signup-button" data-disable-with="Signing up">
            <%= t('.signup_button') %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
