<% modal_css_class = params[:modal_css_class] %>
<div class="modal fade js-gsModal <%= modal_css_class %>" tabindex="-1" role="dialog" aria-labeledby="<%= modal_css_class %>Label" aria-hidden="true">
  <div class="gs-modal-dialog modal-dialog" >
    <%= form_tag authenticate_user_path, method: :post, remote: true,
                 id: 'signup-school-form',
                 'data-parsley-namespace'=>"data-parsley-" do %>
      <%= token_tag form_authenticity_token %>
      <div class="shim-100 hidden-xs"></div>
      <div class="bg-white brs">
        <div class="modal-title row">
          <div class="col-xs-11"><%= t('.header') %></div>
          <div class="col-xs-1">
            <button type="button" class="close-inverse" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="pal">
          <%= t('.body_html') %>
          <div class="form-group controls">
            <p> <%= check_box_tag('sponsors_list', 'true', true) %>
              <%= t('.sponsors_signup') %>
            </p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="form-group controls row">
                <div class="col-xs-8 col-sm-9">
                  <%= email_field_tag(
                        :email,
                        nil,
                        {
                          id: "signup-email",
                          placeholder: "",
                          class: 'full-width js-signup-email parsley-error pam',
                          'data-parsley-required' => "true",
                          'data-parsley-type' => "email",
                          'data-parsley-required-message' => "Please enter an email address.",
                          'data-parsley-error-container' => ".js-signup-email-errors"
                        }
                      ) %>
                </div>
                <div class="col-xs-4 col-sm-3">
                  <button class="btn btn-primary js-modal-submit-button modal-signup-button" data-disable-with="Signing up">
                    <%= t('.signup_button') %>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <p class="tac">
            <%= t('.terms_of_use_html',
                  terms_of_use_link: link_to(
                    t('.greatschools_terms_of_use'),
                    terms_of_use_url
                  )
                ) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
