<% modal_css_class = params[:modal_css_class] %>
<div class="modal fade js-gsModal join-and-login <%= modal_css_class %>" tabindex="-1" role="dialog" aria-labeledby="<%= modal_css_class %>Label" aria-hidden="true">
  <div class="gs-modal-dialog modal-dialog" >
    <%= form_tag register_email_path, method: :post, remote: true,
                 id: 'signup-school-form',
                 'data-parsley-namespace'=>"data-parsley-" do %>
      <%= token_tag form_authenticity_token %>
      <button class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
        <div class="modal-body">
          <div class="title"><%= t('.header') %></div>
          <div class="subheading"><%= t('.body_html') %></div>
          <div class="body">
            <div class="terms-and-privacy">
              <p>
              <%= check_box_tag('sponsors_list', 'true', true, class:'checkbox') %>
              <label style="font-size:14px;width: 90%;text-align:left;"><%= t('.sponsors_signup') %></label>
              </p>
            </div>

            <div>
              <%= email_field_tag(
                  :email,
                  nil,
                  {
                    id: "join-email",
                    placeholder: "#{t('.email_label')}",
                    class: 'js-join-email',
                    'data-parsley-required' => "true",
                    'data-parsley-type' => "email",
                    'data-parsley-trigger' => "change",
                    'data-parsley-required-message' => t('.parsley_required_message'),
                    'data-parsley-error-container' => ".js-join-email-errors",
                    'data-parsley-remote' => '/gsr/validations/need_to_signin',
                    'data-parsley-remote-options' => '{ "type": "GET"}',
                    'data-parsley-remote-message' => t(".parsley_remote_message_html")
                  }
                ) %>
              <p class="js-join-email-errors help-block"></p>
            </div>

            <div class="terms-and-privacy">
              <label>
                <%= t('.terms_of_use_html', terms_of_use_link: link_to(t('.greatschools_terms_of_use'), terms_of_use_url)) %>
              </label>
              <span><%= link_to t('.privacy_policy'), privacy_url %></span>
              <p class="js-join-terms-errors help-block"></p>
            </div>

            <button class="submit js-join-login-submit-button"><%= t('.signup_button') %></button>

          </div>
        </div>
    <% end %>
  </div>
</div>
