<% modal_css_class = params[:modal_css_class] %>
<%
    member_roles = {
  'parent' => t('.parent'),
  'student' => t('.current_student'),
  'teacher' => t('.teacher'),
  'principal' => t('.school_official'),
  'community member' => t('.community_member')
}
%>

<div class="modal remodal school-user-modal js-gsModal <%= modal_css_class %>" tabindex="-1" role="dialog"
  aria-labeledby="<%= modal_css_class %>Label" aria-hidden="true">
  <div class="gs-modal-dialog modal-dialog" >
    <button aria-label="Close" class="remodal-cancel close"
     data-remodal-action="cancel" style="background-color: #ffffff;">
      <span>&times;</span>
    </button>
    <div class="modal-body">
      <div class="title">Tell me your relationship to schools</div>
      <%= form_for SchoolUser.new, remote: true, url: school_user_path(@school) do |f| %>
        <%= f.hidden_field(:user_type, class: 'js-schoolUserValue') %>
        <div class="select-button-container">
          <% member_roles.each do |value, display_value| %>
            <div data-school-user="<%= value %>" class="js-schoolUserSelect select-button">
              <div class="avatar icon-33-avatar-<%= value.gsub(' ','-') %>"></div>
              <div class="user-type"><%= display_value %></div>
              <div class="icon-checkmark"></div>
            </div>
          <% end %>
        </div>
        <button type="submit" class="submit-button"><%= t('.submit') %></button>
      <% end %>
    </div>
  </div>
</div>
