<% data = @school.ethnicity_data %>
<% table_data = TableData.new data %>
<% data_array = table_data.to_piechart 'breakdown', 'school_value' %>

<%= debug ['Pie chart data', table_data] if params[:debug] %>

<% piechart_options = {
        fontSize: '13',
        title: 'diversity',
        width: '250',
        height: '250',
        columns: [{key: 'breakdown'},{key:'school_value'}]
}.stringify_keys;
%>

<% piechart_id = "pie-chart#{@school.id}" %>
<div id="<%= piechart_id %>" class="notranslate">

</div>

<% content_for :head do %>
    <script type="text/javascript">
        $(function() {
            GS.visualchart.drawPieChart(
                    <%= raw data_array.sort.to_json %>,
                    "<%= piechart_id %>",
                    null,
                    <%= raw piechart_options.to_json %>,
                    // Probably want to add a new name & sizing to window.sizing.js
                    '<%= raw 'ethnicity' %>'
            );
        });
    </script>
<% end %>

<div class="phm">
  <table class="full-width js-comparePieChartTable">
    <% table_data.rows.sort_by{ |hash| hash['breakdown'] }.each do |data_row|%>
        <% school_value = data_row['school_value'].nil? ? 'n/a' : "#{data_row['school_value'].to_f.round}%" %>
        <tr>
          <td><div class="fl mts mrs square js-comparePieChartSquare"></div></td>
          <td><%= truncate(data_row['breakdown'], length: 26) %></td>
          <td class="tac open-sans_sb" style="width: 40px"><%= school_value %></td>
        </tr>
    <% end %>
  </table>
</div>
