<% submitted_review %>
<% topic_name = question.topic.name %>
<% reviews_for_topic = SchoolProfileReviewsDecorator.decorate(@school_reviews.by_topic[topic_name], self) %>
<% principal = @school_member.principal? %>

<div class="js-submittedReviewContainer">
  <div class="topical-review-question-container left">
    <%= render 'shared/reviews/lib/question_title', question: question %>
    <% unless @school_member.principal? %>
        <div class=" tac ptl font-size-large"><%= submitted_review.submitted_values_text %></span></div>
    <% end %>
    <div class="ptm pbl phxl tal <%= principal ? 'mtl' : '' %>">
      <% unless submitted_review.active? %>
          <span class="open-sans_i">(Pending activation) </span>
      <% end %>
      <%= submitted_review.truncated_comment(220) %>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mvm js-reviewManageButton" data-topic-id="<%= question.topic.id %>">Manage
        review
      </button>
    </div>
  </div>
  <div class="topical-review-question-container right">
    <div class="ptl phl ">
      <%= render 'shared/reviews/modules/output/answer_summary',
                 reviews_for_topic: reviews_for_topic
      %>
    </div>
  </div>
</div>