<div class="row mhm">
  <div class="col-sm-8 col-lg-8 mbm">
    <% unless enrollment_module[type].nil? %>
      <h3 class='mtn'><%= enrollment_module[type][:header] %></h3>
      <div class='js-module-expand' style='height: 292px;'>
        <%= enrollment_module[type][:content].html_safe %>
        <% unless enrollment_module[type][:link].nil? || enrollment_module[type][:subheading].nil? %>
          <h4><%= enrollment_module[type][:subheading] %></h4>
          <ul>
              <% enrollment_module[type][:link].each do |link| %>
                <li>
                  <% if link[:newWindow] == 'true' %>
                    <%= link_to(link[:name], link[:path], target: '_blank') %>
                  <% else %>
                    <%= link_to(link[:name], link[:path]) %>
                  <% end %>
                </li>
              <% end %>
          </ul>
        <% end %>
      </div>
      <p class="view-more">View More »</p>
    <% else %>
      <h3>Something went wrong while parsing enrollment module tab:<%= @tab[:key] %></h3>
    <% end %>
  </div>

  <div class="col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-1 mbm">
    <% unless tab[:results][type][:count] == 0 %>
      <a href="<%= city_path(state[:long], city) + tab[:results][type][:path] %>" style='text-decoration: none;'>
        <%= "Browse #{collection_nickname} #{type} #{tab[:display_name].downcase}" %>
        <span class='breakdown-result-count'><%= tab[:results][type][:count] %></span>
      </a>
    <% end %>

    <hr class='brand-bar'>

    <% unless @tips[type][:content].empty? %>
      <h4>Did You know?</h4>
      <% @tips[type][:content].each do |tip| %>
        <p><%= tip.html_safe %></p>
      <% end %>
    <% end %>

    <hr class='brand-bar'>

    <% unless key_dates[type].nil? %>
      <%= key_dates[type].html_safe %>
    <% end %>

  </div>

  <hr style='clear: both; margin-top: 50px; margin-bottom: 50px;'>
</div>
