<div class="row">
  <h1 class='tac'>All events</h1>
  <% if events.nil? %>
    <h3>Something went wrong while parsing important events, collection_id: <%= @collection_id %>, quay: <%= CollectionConfig::CITY_HUB_IMPORTANT_EVENTS_KEY %> </h3>
  <% elsif !events.empty? %>
    <% events.each do |event| %>
      <div class="mvm">
        <hr>
        <%= render 'event_icon', date: event[:date] %>
        <div>
          <h6 class='bottom'><%= event[:description] %></h6>
          <%= link_to 'Find out more', event[:url] %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
