<div class="row mvl">
  <% unless articles.nil? %>
    <div class="col-xs-12 col-md-7 mtl mbl pam">
      <h2 class="mtn">Featured articles</h2>
      <% articles.each do |article| %>
        <div class='row'>
          <%= image_tag(article[:articleImagePath], alt: "City of #{@city}", class: 'col-md-2 prl pbm') %>
          <div class="col-md-10 mbl">
            <h4 class="mvn pvn"><%= article[:heading] %></h4>
            <p class='mobile-clearfix'><%= article[:content] %></p>
               <% if article[:newwindow] %>
              <%= link_to "Learn More >>", article[:articlepath], target: '_blank' %>
            <% else %>
                <%= link_to "Learn More >>", article[:articlepath] %>
            <% end %>
          </div>
          <hr class="clearfix full-width">
        </div>
      <% end %>
    </div>
  <% else %>
    <h3 class="mbm mtm">No Data Found - cities/_featured_articles.html.erb</h3>
  <% end %>

  <div  id="js-zillow" class="col-xs-12 col-md-5 mtl pam">
    <h2 class="mtn tac">Nearby homes for sale</h2>
    <%= render 'data_layouts/zillow_content', data: @zillow_data %>
  </div>
</div>
