<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <style type="text/css">
      html {
          height: 100%
      }

      body {
          height: 450px;
          margin: 0;
          padding: 0
      }

      #js-map-canvas {
          height: 100%
      }
  </style>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;libraries=geometry&amp;sensor=false&amp;signature=qeUgzsyTsk0gcv93MnxnJ_0SGTw="></script>

  <script type="text/javascript">
      var points = [];

      <% schools.each do |school|%>

          points.push({name:'<%= link_to school.name, school_path(school) %>', lat: <%= school.latitude%>,
              lng: <%= school.longitude%>, gsRating: '<%=(school.respond_to?(:overall_gs_rating) ? school.overall_gs_rating : 11 )%>',
              schoolType: '<%= school.type%>', state: '<%= school.state%>', street: '<%=school.street%>',
              review: '<%=school.respond_to?(:review_count) ? (link_to school.review_count, school_reviews_path(school)) : '0'%>',
              community_rating:'<%=school.respond_to?(:community_rating) ? (draw_stars_16 school.community_rating) : 'None'%>', id: '<%= school.id%>', levelCode: '<%=school.level_code%>'
              });

      <% end %>

      var optionalLat = optionalLat || 37.807778;
      var optionalLon = optionalLon || -122.265149;
      var centerPoint = new google.maps.LatLng(optionalLat, optionalLon);
      var bounds = new google.maps.LatLngBounds();
      var infoWindow;

      var initialize = function(points) {
          var myOptions = {
              center: centerPoint,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              disableDefaultUI: true,
              mapTypeControl: true,
              mapTypeControlOptions: {
                  mapTypeIds: [google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.SATELLITE]
              },
              zoomControl: true,
              zoomControlOptions: {
                  style: google.maps.ZoomControlStyle.DEFAULT
              },
              streetViewControl: true,
              panControl: true,
//              infoWindow: infoWindow,

              zoom: 12
          };
          var map = new google.maps.Map(document.getElementById("js-map-canvas"),
                  myOptions);

          var position;
          var imageUrl;
          var imageUrlPublic = '/assets/icons/140106-24x24_ratings.png';
          var imageUrlPrivate = '/assets/icons/120905-ratingsx24-private-RYG.png';

          for(var i = 0; i < points.length; i++) {
              var point = points[i];
              position = new google.maps.LatLng(point.lat, point.lng);
              var markerOptions = new google.maps.Marker({
                  position: position,
//                  infoWindowMarkup: point.infoWindowMarkup,
                  map: map
                  //              title: 'hello'
              });

              // need to add school level code
              if (point.schoolType != 'private') {

                  var pixelOffset = 240;// default to public NR

                  if (point.gsRating != "" && parseInt(point.gsRating) > 0) {
                      pixelOffset = (point.gsRating - 1) * 24;
                  }
                  imageUrl = imageUrlPublic;

              } else {
                  pixelOffset = 240;// default to private NR
                  if (point.gsRating != "" && parseInt(point.gsRating) > 0) {
                      pixelOffset = (point.gsRating - 1) * 24;
                  }
                  imageUrl = imageUrlPrivate;
              }

              markerOptions.icon = new google.maps.MarkerImage(
                      imageUrl, // url
                      new google.maps.Size(24, 24), // size
                      new google.maps.Point(pixelOffset, 0), // origin
                      new google.maps.Point(12, 12) // anchor
              );

              var infoWindow = new google.maps.InfoWindow({
                  content: ''
              });

              bounds.extend(position);

              var marker = new google.maps.Marker(markerOptions);

              bounds.extend(position);

              google.maps.event.addListener(marker, 'click', (function (marker, point) {
                  return function () {

                      infoWindow.setContent(getInfoWindowMarkup(point));
                  }
              })(marker, point));

              if (!bounds.isEmpty()) {
                  map.setCenter(bounds.getCenter(), map.fitBounds(bounds));
              }
          }

      }
      var getInfoWindowMarkup = function(point){
          var infoWindowMarkup = document.createElement('div');
          infoWindowMarkup.innerHTML = '<div>' + point.name + '</div>'
                                     + '<div>'+point.street+'</div>'
                                     + '<div>'+point.gsRating + point.community_rating + point.review + ' reviews </div>';
          return infoWindowMarkup;
      }

      google.maps.event.addDomListener(window, 'load', function() {initialize(points)});

  </script>
</head>
<body>

<div id="js-map-canvas"/>
</body>
