<% if defined?(partners) && !partners.try(:[], :resources).nil? %>
  <div class="row mvl phm">
    <h2 class='mtn'><%= partners[:heading] %></h2>
    <h6 class='mvl'><%= partners[:subheading] %></h6>

      <div class="col-xs-12 mtl">
        <% partners[:resources].each do |resource| %>
          <div class="row clearfix mvm">
            <%= image_tag(resource[:imagePath], class: 'pull-left mrm mbm') %>
            <h4 class='mtn'><%= resource[:heading] %></h4>
            <div class="pull-left">
              <%= resource[:content].html_safe %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
<% end %>
