<% if reviews and !reviews.empty? %>
  <div class="row mvl">
    <div class="clearfix phm">
      <h2 class='pull-left mtn prl'>Recent Reviews</h2>
      <button class='btn btn-primary lg-fr js-button-link' data-link-value="/school/parentReview.page">Review Your School</button>
    </div>
    <% reviews.each_with_index do |review, i| %>
      <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 pam mbl'>
        <div class="well">
          <div class='mbm'>
            <%= render 'shared/stars', locals: { rating: review.quality } %>
            <span class="mlm vat gray-dark">Posted <%= time_ago_in_words(review.posted) %></span>
          </div>
          <p class="bottom"><%= abbreviate_at_whitespace(review.comments, 140) %></p>
        </div>
        <div class="bottom open-sans_b mtl"><%= review.school.name %></div>
        <% unless review.school.gs_rating.nil? %>
          <p class="bottom">GreatSchools rating: <span class="vam iconx24-ratings i-24-ratings-<%= review.school.gs_rating %>"></span></p>
        <% else %>
          <p class="bottom">GreatSchools rating: <span class="vam iconx24-ratings i-24-ratings-nr"></span></p>
        <% end %>
        <%= link_to "Read all #{review.count} reviews", school_reviews_url(review.school) %>
      </div>
    <% end %>
  </div>
<% end %>
