<div class="row-970 ptn pbn">
  <hr class='keyline1'>
  <div style='padding-top: 20px; overflow: hidden;'>
    <div class="pull-left" style='width: 30%'>
      <h3 class='SourceSansPro-Semibold-h3 bottom mtn'>Upcoming Events</h3>
      <%= link_to('See all', city_events_path(@state[:long], @city.downcase), class: 'small') %>
    </div>
    <% @important_events[:max_important_event_to_display].times do |i| %>
      <% event = @important_events[:events][i - 1] %>
      <div class="upcoming-event">
        <div class="pull-left" style='width: 60px;'>
          <span class="iconx48 i-48-calender-month-<%= event[:date].month %>">
            <div class="tac mtl">
              <h3 class="SourceSansPro-Semibold-h3"><%= event[:date].day %></h3>
            </div>
          </span>
        </div>
        <div class="pull-left" style='width: 260px;'>
          <span class="small-bold">
            <%= abbreviate_at_whitespace(event[:description], 140) %>
          </span>
          <br/>
          <%= link_to('Find out more', event[:url], class: 'small', target: '_blank') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if @announcement[:visible] == true %>
  <%= render 'event_announcements', announcement: @announcement  %>
<% end %>
