<%= render 'nav/topnav' %>
<%= render 'nav/search_bar', state: @state, collection_id: @collection_id %>

<div class="fixed-top pvm" style='background-color: #f5f5f5'>
  <div class="limit_width_1200">
    <%= render 'upcoming_events', important_events: @events, community_page: true %>
  </div>
</div>

<div class="limit_width_1200" style='margin-bottom: 40px;'>
  <div class="row">
    <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
  </div>

  <div class="row tac col-lg-6 ma fn">
    <h1 class='mha phm'><%= @collection_nickname %> Education Community</h1>
    <p class='phm mbl'><%= @sub_heading.html_safe %></p>
  </div>

  <%= render 'tabs', tab: @tab, city: @city, state: @state[:long], show_tabs: @show_tabs %>
  <%= render 'education_community_partners', partners: @partners, tab: @tab, show_tabs: @show_tabs %>
</div>
<%= render 'shared/state_footer' %>
