<%= render 'nav/topnav' %>
<%= render 'nav/search_bar', state: @state, collection_id: @collection_id, collection_nickname: @collection_nickname %>

<div class="fixed-top pvm" style='background-color: #f5f5f5'>
  <div class="limit_width_1200">
    <%= render 'upcoming_events', important_events: @events, community_page: true %>
  </div>
</div>

<div class="limit_width_1200" style='margin-bottom: 40px;'>
  <div class="row">
    <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>

    <div class="row" style='margin-bottom: 215px;'>
      <div class="img-container-mobile" style='width: 100%; left: 0;'>
        <div style="background-image: url('/assets/hubs/small/enrollment_small.png'); height: 130px; background-position: center; background-repeat: no-repeat; width: 100%; background-size: 60% 80%;"></div>
      </div>

      <div class="img-container" style='width: 100%; left: 0;'>
        <div style="background-image: url('/assets/hubs/enrollment.png'); height: 185px; background-position: center; background-repeat: no-repeat; width: 100%; background-size: 40% 80%;"></div>
      </div>
    </div>


    <h1 class='tac'>Enrollment Information</h1>
    <% if @subheading[:error] %>
      <h3 class='tac'>Error: <%= @subheading[:error] %></h3>
    <% else %>
      <p class='col-xs-12 col-sm-6 col-md-6 col-lg-7 ma fn phm tac'><%= @subheading[:content] %></p>
    <% end %>

    <ul class='js-enrollment-tabs' style='margin-bottom: 80px'>
      <li class="mhm <%= 'active' if params[:tab] == nil %>"><%= link_to('Preschools', city_enrollment_path(@state[:long], @city)) %></li>
      <li class="mhm <%= 'active' if params[:tab] == 'elementary' %>"><%= link_to('Elementary schools', city_enrollment_path(@state[:long], @city) + 'elementary') %></li>
      <li class="mhm <%= 'active' if params[:tab] == 'middle' %>"><%= link_to('Middle schools', city_enrollment_path(@state[:long], @city) + 'middle') %></li>
      <li class="mhm <%= 'active' if params[:tab] == 'high' %>"><%= link_to('High schools', city_enrollment_path(@state[:long], @city) + 'high') %></li>
    </ul>
  </div>

  <%= render 'enrollment_module', collection_nickname: @collection_nickname, city: @city, state: @state, tab: @tab, data: @data, type: :public, key_dates: @key_dates %>
  <%= render 'enrollment_module', collection_nickname: @collection_nickname, city: @city, state: @state, tab: @tab, data: @data, type: :private, key_dates: @key_dates %>

  </div>
</div>

<%= render 'shared/state_footer', state: @state, cities: @cities %>
