<%= render 'nav/topnav' %>
<%= render 'nav/search_bar', state: @state, collection_nickname: @collection_nickname, collection_id: @collection_id %>

<div class="limit_width_1200" style='margin-bottom: 40px;'>
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
  <%= render 'events_list', events: @events %>
</div>

<%= render 'shared/state_footer' %>
