<% content_for :javascript_includes do %>
  <%= javascript_include_tag "cycle/jquery.cycle2.min.js" %>
  <%= javascript_include_tag "cycle/jquery.cycle2.carousel.min.js" %>
  <%= javascript_include_tag "cycle/carousel_init.js" %>
  <%= javascript_include_tag "localized_profiles/search.js" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;sensor=false&amp;signature=OXbNRPWooYBwVYP50cQjzvgBk1k="></script>
<% end %>

<%= render 'nav/topnav', hub_params: @hub_params %>
<%= render 'shared/no_school_alert' %>
<%= render 'sponsor_bar', sponsor: @sponsor %>

  <%= render 'search_hero', collection_nickname: @collection_nickname,
                            collection_id: @collection_id,
                            state: @state,
                            breakdown_results: @breakdown_results %>

<div class="limit_width_1200">
  <%= render 'choose_a_school', choose_school: @choose_school %>

  <%= render 'upcoming_events', important_events: @important_events, announcement: @announcement %>

  <%= render 'recent_reviews', reviews: @reviews %>

  <%= render 'join_our_community' %>

  <%= render 'featured_articles', articles: @articles %>

  <%= render 'partner_carousel', partner_carousel: @partner_carousel %>
</div>

<%= render 'footer' %>
