<%= render 'nav/topnav' %>

<%= render 'shared/no_school_alert' %>

<div class="imageBgScale moduleHeight-500">
  <div class="img-container">
    <!-- Put image here -->
  </div>
  <div class="content-centered moduleTop-50">
    <div class="city-hubs-bg tal">
      <form action="/search/search.page" method='get' id='jq-findByNameForm' name='searchBySchoolNameForm'>
        <input type="hidden" name='search_type' value='1'>
        <div class="clearfix">
          <div class="pull-left">
            <h3 class='SourceSansPro-Semibold-h3' style='color: #ffb725; padding-bottom: 5px; margin-bottom: 0; margin-top: 0;'>Find a School in</h3>
            <h1 class='SourceSansPro-Semibold-h1-large' style='color: #fff; margin-bottom: 20px; margin-top: 0;'>Collection Nickname</h1>
          </div>
          <div class="pull-right">
            <div class="small" style='margin-bottom: 0; padding-bottom: 0; color: #fff; text-align: center;'>In partnership with</div>
            <a href="education-community/partner">
              <img src="http://www.greatschools.org/res/img/cityHubs/1_sponsor.png" alt="sponsor logo">
            </a>
          </div>
        </div>

        <div id='city-hub-search-bar-container'>
          <input  type="text" id='js-findByNameBox' class='text1'
                  name='q' placeholder="School name (e.g. Niles Elementary School)"
                  onfocus="GS.textSwitch(this, '', 'School name (e.g. Niles Elementary School)');"
                  onblur="GS.textSwitch(this, 'School name (e.g. Niles Elementary School)', '');"
                  value="School name (e.g. Niles Elementary School)"
                  style='padding: 6px 5px; width: 602px;'/>
          <input type="hidden" name="collectionId" id="jq-collectionId" value="#{@collection.id}"/>
          <input type="hidden" name="state" id="jq-state" value="#{@state.abbreviation}"/>
          <div id='search-icon'>
              <span class="iconx48 i-48-search-city-hubs addMousePointer" id="js-submit"><!-- do not collapse --></span>
          </div>
          <a  href="/" class="pull-right" onclick="GS.hubs.clearLocalUserCookies();">
              Not in <%= @collection[:nickname] %>?
          </a>
        </div>

        <div class="school-breakdown">
          <h4 class='SourceSansPro-Semibold-h4'>What kind of school are you looking for?</h4>
          <% @breakdown_results.each do |result| %>
            <button class="but-4 clearfix" type="button" onclick="location.href='<%= result[:hrefXml] %>'">
              <div class="pull-left"><%= result[:contents] %></div>
              <div class="pull-right" style='position: relative;'>
                <%= image_tag('icons/oval.png', alt: 'Grey oval', style: 'vertical-align: middle') %>
                <div style="top:1px; right: 0px; color: #FFFFFF;width: 36px; text-align: center; position: absolute;">
                    <span style='text-align: center;'><%= result[:count] %></span>
                </div>
              </div>
            </button>
          <% end %>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-xs-12 clearfix" style="padding-top: 20px; padding-bottom: 20px; margin: 20px 25%;">
  <div class="col-xs-3" style="padding-right: 80px;">
    <% if @choose_school and @choose_school[:links].length > 0 and not @choose_school[:heading].empty? %>
      <h2><%= @choose_school[:heading] %></h2>
      <p style='margin-bottom: 20px;'><%= @choose_school[:content] %></p>
      <% @choose_school[:links].each_with_index do |link, i| %>
        <% if link[:new_window] == true %>
          <%= link_to(link[:name], link[:path], target: '_blank') %>
        <% else %>
          <%= link_to(link[:name], link[:path]) %>
        <% end %>
        <% unless @choose_school[:links].length == i + 1 %>
          <br>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-3">
    <%= image_tag('choose_a_school.png', alt: 'Choose a School', style: 'margin-top: 20px; padding-top: 10px;') %>
  </div>
</div>

<% if @show_announcement == true %>
  <% if not @important_event[:config_key_prefix_list_with_index].empty? and @important_event[:max_important_event_to_display] > 0 %>
    <%= render 'upcoming_event', locals: { hide_announcement_module: true, hide_announcement_city_page: true } %>
  <% end %>
<% else %>
  <% if not @important_event[:config_key_prefix_list_with_index].empty? and @important_event[:max_important_event_to_display] > 0 %>
    <%= render 'upcoming_event' %>
  <% end %>
<% end %>



<%= render 'shared/sign_up_for_updates' %>

<div class="row" id="footer">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac" style="padding:10px;">
    <div class="limit_width_1200 open-sans">

      <%= render 'shared/about_gs_footer' %>

      <%= render 'shared/popular_cities_in_country' %>

      <hr/>

      <%= render 'shared/gs_address_and_copyright' %>

    </div>
  </div>
</div>
