<% content_for :javascript_includes do %>
  <%= javascript_include_tag "resources/jquery.cycle2.min.js" %>
  <%= javascript_include_tag "resources/jquery.cycle2.carousel.min.js" %>
<% end %>

<%= render 'nav/topnav' %>
<%= render 'shared/no_school_alert' %>

<div class="imageBgScale moduleHeight-500">
  <div class="img-container">
    <!-- Put image here -->
  </div>
  <div class="content-centered moduleTop-50">
    <div class="city-hubs-bg tal">
      <form action="/search/search.page" method='get' id='jq-findByNameForm' name='searchBySchoolNameForm'>
        <input type="hidden" name='search_type' value='1'>
        <div class="clearfix">
          <div class="pull-left">
            <h3 class='SourceSansPro-Semibold-h3' style='color: #ffb725; padding-bottom: 5px; margin-bottom: 0; margin-top: 0;'>Find a School in</h3>
            <h1 class='SourceSansPro-Semibold-h1-large' style='color: #fff; margin-bottom: 20px; margin-top: 0;'>Collection Nickname</h1>
          </div>
          <div class="pull-right">
            <div class="small" style='margin-bottom: 0; padding-bottom: 0; color: #fff; text-align: center;'>In partnership with</div>
            <a href="education-community/partner">
              <img src="http://www.greatschools.org/res/img/cityHubs/1_sponsor.png" alt="sponsor logo">
            </a>
          </div>
        </div>

        <div id='city-hub-search-bar-container'>
          <input  type="text" id='js-findByNameBox' class='text1'
                  name='q' placeholder="School name (e.g. Niles Elementary School)"
                  onfocus="GS.textSwitch(this, '', 'School name (e.g. Niles Elementary School)');"
                  onblur="GS.textSwitch(this, 'School name (e.g. Niles Elementary School)', '');"
                  value="School name (e.g. Niles Elementary School)"
                  style='padding: 6px 5px; width: 602px;'/>
          <input type="hidden" name="collectionId" id="jq-collectionId" value="<%= @collection_configs.last.collection_id %>"/>
          <input type="hidden" name="state" id="jq-state" value="<%= @state[:short] %>"/>
          <div id='search-icon'>
              <span class="iconx48 i-48-search-city-hubs addMousePointer" id="js-submit"><!-- do not collapse --></span>
          </div>
          <a  href="/" class="pull-right" onclick="GS.hubs.clearLocalUserCookies();">
              Not in <%= @city %>?
          </a>
        </div>

        <div class="school-breakdown">
          <h4 class='SourceSansPro-Semibold-h4'>What kind of school are you looking for?</h4>
          <% @breakdown_results.each do |result| %>
            <button class="but-4 clearfix" type="button" onclick="location.href='<%= result[:hrefXml] %>'">
              <div class="pull-left"><%= result[:contents] %></div>
              <div class="pull-right" style='position: relative;'>
                <%= image_tag('icons/oval.png', alt: 'Grey oval', style: 'vertical-align: middle') %>
                <div style="top:1px; right: 0px; color: #FFFFFF;width: 36px; text-align: center; position: absolute;">
                    <span style='text-align: center;'><%= result[:count] %></span>
                </div>
              </div>
            </button>
          <% end %>
        </div>
      </form>
    </div>
  </div>
</div>

<div class='clearfix row-970' id='choose-a-school'>
  <div class='pull-right'>
    <%= image_tag('choose_a_school.png', alt: 'Choose a School', style: 'margin-top: 20px; padding-top: 10px;') %>
  </div>

  <div class='pull-left' style="padding-right: 80px; width: 470px">
    <% if @choose_school and @choose_school[:links].length > 0 and not @choose_school[:heading].empty? %>
      <h2 class='SourceSansPro-Semibold-h2' style='margin-bottom: 10px;'><%= @choose_school[:heading] %></h2>
      <p style='margin-bottom: 20px;'><%= @choose_school[:content] %></p>
      <% @choose_school[:links].each_with_index do |link, i| %>
        <% if link[:new_window] == true %>
          <%= link_to(link[:name], link[:path], target: '_blank') %>
        <% else %>
          <%= link_to(link[:name], link[:path]) %>
        <% end %>
        <% unless @choose_school[:links].length == i + 1 %>
          <br>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @show_announcement == true %>
  <% if not @important_event[:config_key_prefix_list_with_index].empty? and @important_event[:max_important_event_to_display] > 0 %>
    <%= render 'upcoming_event', locals: { hide_announcement_module: true, hide_announcement_city_page: true } %>
  <% end %>
<% else %>
  <% if not @important_event[:config_key_prefix_list_with_index].empty? and @important_event[:max_important_event_to_display] > 0 %>
    <%= render 'upcoming_event' %>
  <% end %>
<% end %>


<% if @reviews and !@reviews.empty? %>
  <div id='js-hubsRecentReviews' class='grey-row clearfix' style='margin-bottom: 20px;'>
    <div class="clearfix row-970" style="padding-bottom: 0; margin-top: 20px; margin-bottom: 5px;">
      <div class="clearfix" style='padding-top: 10px;'>
        <h2 class='SourceSansPro-Semibold-h2 pull-left' style='margin-top: 0;'>Recent Reviews</h2>
        <button class='but but-1 but-rg pull-right' onclick='window.location="/school/parentReview.page"'>Review Your School</button>
      </div>
      <div class="clearfix" style='padding-top: 20px; padding-bottom: 20px;'>
        <% @reviews.each_with_index do |review, i| %>
          <div class='recent-review'>
            <div class="js-hubs-reviews white-well">
              <div class="bd">
                <div style='margin-bottom: 10px;'>
                  <%= render 'shared/stars', locals: { rating: review[:stars] } %>
                  <span class="small" style='margin-left: 10px; color: #999; vertical-align: top;'>Posted <%= review[:date] %></span>
                </div>
                <p class="bottom"><%= abbreviate_at_whitespace(review[:comments], 140) %></p>
              </div>
            </div>
            <div class="bottom medium-bold" style='margin-top: 20px;'><%= review[:school_name] %></div>
            <a href="#" class='small'>Read all 20 reviews</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% unless current_user %>
  <div class="row-970 clearfix">
    <div style='text-align: center; padding: 20px; border: 1px solid #e6e6e6; border-radius: 4px; background-color: #eee;'>
      <h3 class="SourceSansPro-Semibold-h3 bottom">Join our community</h3>
      <p style='padding-top: 10px;'>
          Sign up for weekly tips on how to support your child’s education and get updates on your child’s school.
          Coming soon - we’ll send you email alerts when there are education events in your area and important enrollment deadlines.
      </p>
      <button class="but but-lg but-1" onclick="$(function(){GSType.hover.joinHover.showJoinGlobalHeader();}); return false;">Join</button>
    </div>
  </div>
<% end %>

<div class="row-970 clearfix">
  <div class="featured-articles">
    <h2 class="SourceSansPro-Semibold-h2" style='margin-top: 0;'>Featured Articles</h2>
    <% unless @articles.empty? %>
      <% @articles.each do |article| %>
        <div class="clearfix" style='margin-top: 20px; margin-bottom: 20px;'>
          <div class='pull-left' style='margin-left: 0; margin-right: 5px; width: 110px;'>
            <%= image_tag(article[:image], alt: "City of #{@city}", width: '100px', height: '70px') %>
          </div>
          <div class='pull-left' style='width: 390px; padding-right: 40px; margin-right: 0;'>
            <div class="medium-bold bottom">
              <h4 class="SourceSansPro-Semibold-h4 bottom js-hubsFeaturedArticles" style='margin-top: 0;'>
                <% if article[:new_window] %>
                  <%= link_to article[:title], article[:path], target: '_blank' %>
                <% else %>
                  <%= link_to article[:title], article[:path] %>
                <% end %>
              </h4>
              <p><%= article[:content] %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3 class="SourceSansPro-Semibold-h3" style='margin-bottom: 10px; margin-top: 10px;'>No Data Found - Key cities_cityArticle</h3>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h2 class="SourceSansPro-Semibold-h2" style='margin-top: 0; margin-left: 10px;'>Nearby Homes for Sale</h2>
    <%= render 'data_layouts/zillow', data: @zillow_data, category_placement: @category_placement, hide_header: true %>
  </div>
</div>

<% if @partner_carousel and !@partner_carousel[:logos].empty? %>
  <div id="js-hubsPartnerCarousel" class='grey-row' style='margin-top: 20px;'>
    <div class="clearfix row-970" style='margin-bottom: 20px; margin-top: 20px;'>
      <div class="clearfix">
        <div class="pull-left">
          <h2 class="SourceSansPro-Semibold-h2" style='margin-top: 0;'><%= @partner_carousel[:heading] %></h2>
        </div>
        <div class="pull-right">
          <a href="education-community" style='font-size: 14px;'>See the entire education community &amp;#187;</a>
        </div>
      </div>
      <div class="clearfix">
        <div class="pull-left" style='margin-top: 65px; margin-right: 20px;'>
          <a href="#" id="prev">
            <span class="iconx32g" style='background-position: -608px 0;'></span>
          </a>
        </div>

        <div class="pull-left">
          <div class="cycle-slideshow cycle-autoinit"
               data-cycle-fx="carousel"
               data-cycle-slides="> div"
               data-cycle-loader="wait"
               data-cycle-speed="1000"
               data-cycle-pause-on-hover="true"
               data-cycle-timeout="1000"
               data-cycle-easing="linear"
               data-cycle-carousel-visible='6'
               data-cycle-slideshow="true"
               data-cycle-next="#next"
               data-cycle-prev="#prev">
            <% @partner_carousel[:logos].each do |logo| %>
              <div>
                <%= link_to(image_tag(logo[:image_path], class: 'partner-carousel-image', alt: logo[:partner_name]), logo[:link]) %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="pull-right" style='margin-left: 25px; margin-top: 65px;'>
          <a href="#" id="next">
            <span class="iconx32g i-32-carouselRight" style='background-position: -640px 0; verticle-align: middle;'></span>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%= render 'shared/sign_up_for_updates' %>

<div class="row" id="footer">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac" style="padding:10px;">
    <div class="limit_width_1200 open-sans">

      <%= render 'shared/about_gs_footer' %>

      <%= render 'shared/popular_cities_in_country' %>

      <hr/>

      <%= render 'shared/gs_address_and_copyright' %>

    </div>
  </div>
</div>
