<% content_for :javascript_includes do %>
  <%= javascript_include_tag "resources/jquery.cycle2.min.js" %>
  <%= javascript_include_tag "resources/jquery.cycle2.carousel.min.js" %>
<% end %>

<%= render 'nav/topnav' %>
<%= render 'shared/no_school_alert' %>

<div class="limit_width_1200">
  <div class="image-bg-scale">
    <div class="img-container">
      <!-- Put image here -->
    </div>
    <div class="content-centered" style='top: 50px;'>
      <div class="city-hubs-bg tal">
        <form action="/search/search.page" method='get' id='jq-findByNameForm' name='searchBySchoolNameForm'>
          <input type="hidden" name='search_type' value='1'>
          <div class="clearfix">
            <div class="pull-left">
              <h3 class='SourceSansPro-Semibold-h3 mvn pbs' style='color: #ffb725;'>Find a School in</h3>
              <h1 class='SourceSansPro-Semibold-h1-large mtn mbl' style='color: #fff;'><%= @city %></h1>
            </div>
            <% unless @sponsor.nil? %>
              <div class="pull-right">
                <div class="small mbn pbn tac" style='color: #fff;'><%= @sponsor[:text] %></div>
                <a href="education-community/partner">
                  <%= image_tag(@sponsor[:path], alt: 'sponsor logo') %>
                </a>
              </div>
            <% end %>
          </div>

          <div id='city-hub-search-bar-container'>
            <input  type="text" id='js-findByNameBox' class='text1'
                    name='q' placeholder="School name (e.g. Niles Elementary School)"
                    onfocus="GS.textSwitch(this, '', 'School name (e.g. Niles Elementary School)');"
                    onblur="GS.textSwitch(this, 'School name (e.g. Niles Elementary School)', '');"
                    value="School name (e.g. Niles Elementary School)"
                    style='padding: 6px 5px; width: 602px;'/>
            <input type="hidden" name="collectionId" id="jq-collectionId" value="<%= @collection_configs.last.collection_id %>"/>
            <input type="hidden" name="state" id="jq-state" value="<%= @state[:short] %>"/>
            <div id='search-icon'>
                <span class="iconx48 i-48-search-city-hubs addMousePointer" id="js-submit"><!-- do not collapse --></span>
            </div>
            <a  href="/" class="pull-right" onclick="GS.hubs.clearLocalUserCookies();">
                Not in <%= @city %>?
            </a>
          </div>

          <div class="school-breakdown">
            <h4 class='SourceSansPro-Semibold-h4'>What kind of school are you looking for?</h4>
            <% @breakdown_results.each do |text, data| %>
              <button class="but-4 clearfix js-button-link" data-link-value="<%= data[:path] %>" type="button">
                <div class="pull-left"><%= text %></div>
                <div class="pull-right pr">
                  <%= image_tag('icons/oval.png', alt: 'Grey oval', class: 'vam') %>
                  <div class='pa tac' style="top:1px; right: 0px; color: #FFFFFF; width: 36px;">
                      <span><%= data[:count] %></span>
                  </div>
                </div>
              </button>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <% if @choose_school and @choose_school[:link].length > 0 and not @choose_school[:heading].empty? %>
        <h2 class='SourceSansPro-Semibold-h2 mbm'><%= @choose_school[:heading] %></h2>
        <p class='mbl'><%= @choose_school[:content].html_safe %></p>
        <% @choose_school[:link].each_with_index do |link, i| %>
          <% if link[:newWindow] == 'true' %>
            <%= link_to(link[:name].html_safe, link[:path], target: '_blank') %>
          <% else %>
            <%= link_to(link[:name].html_safe, link[:path]) %>
          <% end %>
          <% unless @choose_school[:link].length == i + 1 %>
            <br>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tar">
      <div>
        <%= image_tag('choose_a_school.png', alt: 'Choose a School', class: 'mtl ptm scale-image') %>
      </div>
    </div>
  </div>

  <% unless @important_events.nil? %>
    <%= render 'upcoming_event', announcement: @announcement %>
  <% end %>

  <% if @reviews and !@reviews.empty? %>
    <div class="row">
      <div class="clearfix">
        <h2 class='pull-left mtn'>Recent Reviews</h2>
        <button class='btn btn-primary pull-right lg-pull-right js-button-link' data-link-value="/school/parentReview.page">Review Your School</button>
      </div>

      <% @reviews.each_with_index do |review, i| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pam mbl">
          <div class="well">
            <div class="bd">
              <div class='mbm'>
                <%= render 'shared/stars', locals: { rating: review.quality.to_i } %>
                <span class="small mlm vat" style='color: #999;'>Posted <%= review.posted %></span>
              </div>
              <p class=""><%= abbreviate_at_whitespace(review.comments, 140) %></p>
            </div>
          </div>
          <div class=" medium-bold mtl"><%= review.school.name %></div>
          <%= link_to "Read all #{@review_count} reviews", school_reviews_url(review.school), class: 'small' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% unless current_user %>
    <div class="row">
      <div class="tac well">
        <h3 class="mtn">Join our community</h3>
        <p class='pbm'>
            Sign up for weekly tips on how to support your child’s education and get updates on your child’s school.
            Coming soon - we’ll send you email alerts when there are education events in your area and important enrollment deadlines.
        </p>
        <button class="btn btn-primary js-button-link" data-link-value="/gsr/login/?tab=join'">Join</button>
      </div>
    </div>
  <% end %>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 mtl mbl pull-left" style='margin-right: 30px;'>
      <h2 class="mtn">Featured Articles</h2>
      <% unless @articles.nil? %>
        <% @articles.each do |article| %>
          <div class="featured-article" style='clear: left;'>
            <%= image_tag(article[:articleImagePath], alt: "City of #{@city}", width: '100px', height: '70px', class: 'pull-left mrl mln') %>
            <div class='mrn'>
              <div class="medium-bold">
                <h4 class="mtn">
                  <% if article[:newwindow] %>
                    <%= link_to article[:heading], article[:articlepath], target: '_blank' %>
                  <% else %>
                      <%= link_to article[:heading], article[:articlepath] %>
                  <% end %>
                </h4>
                <p><%= article[:content] %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="mbm mtm">No Data Found - Key cities_cityArticle</h3>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mtl pull-right">
      <h2 class="mtn mlm">Nearby Homes for Sale</h2>
      <%= render 'data_layouts/zillow_content', data: @zillow_data %>
    </div>
  </div>

  <% if @partner_carousel and !@partner_carousel[:partnerLogos].empty? %>
    <div class="row">
      <div class="col-xs-12 mtl">
        <div class="clearfix">
          <div class="pull-left">
            <h2 class="SourceSansPro-Semibold-h2 mtn"><%= @partner_carousel[:heading] %></h2>
          </div>
          <div class="pull-right">
            <a href="education-community" style='font-size:  px;'><%= "See the entire education community &#187".html_safe %></a>
          </div>
        </div>
        <div class="clearfix">
          <div class="pull-left mrl" style='margin-top: 65px;'>
            <a href="#" id="prev">
              <span class="iconx32g" style='background-position: -608px 0;'></span>
            </a>
          </div>

          <div class="pull-left">
            <div class="cycle-slideshow cycle-autoinit"
                 data-cycle-fx="carousel"
                 data-cycle-slides="> div"
                 data-cycle-loader="wait"
                 data-cycle-speed="1000"
                 data-cycle-pause-on-hover="true"
                 data-cycle-timeout="1000"
                 data-cycle-easing="linear"
                 data-cycle-carousel-visible='6'
                 data-cycle-slideshow="true"
                 data-cycle-next="#next"
                 data-cycle-prev="#prev">
              <% @partner_carousel[:partnerLogos].each do |logo| %>
                <div>
                  <%= link_to(image_tag(logo[:logoPath], class: 'partner-carousel-image', alt: logo[:partnerName]), logo[:anchoredLink]) %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="pull-right" style='margin-left: 25px; margin-top: 65px;'>
            <a href="#" id="next">
              <span class="iconx32g i-32-carouselRight vam" style='background-position: -640px 0;'></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/sign_up_for_updates' %>

<div class="row" id="footer">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac pam">
    <div class="limit_width_1200 open-sans">

      <%= render 'shared/about_gs_footer' %>

      <%= render 'shared/popular_cities_in_country' %>

      <hr/>

      <%= render 'shared/gs_address_and_copyright' %>

    </div>
  </div>
</div>
