<% content_for :page_javascripts do %>
    <%= webpack_javascript_include_tag 'react-redux', defer: true %>
    <%= webpack_javascript_include_tag 'community', defer: true %>
<% end %>
<% content_for :page_stylesheets do %>
    <%= stylesheet_link_tag "post_load", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "city", async: true %>
<% end %>

<div class="community-page">
  <%= react_component("City", props: {
      schools_data: @top_schools,
      breadcrumbs: @breadcrumbs,
      locality: @locality,
      districts: @districts,
      school_levels: @school_levels,
      reviews: @reviews,
      csa_module: @csa_module
    }) %>
</div>
