<% content_for :javascript_includes do %>
  <%= javascript_include_tag "cycle/jquery.cycle2.js" %>
  <%= javascript_include_tag "cycle/jquery.cycle2.carousel.js" %>
  <%= javascript_include_tag "cycle/carousel_init.js" %>
  <script>
    $(document).ready(function() {
      GS.track.setOmnitureData();
      GS.util.setupImages({ selector: '.js-choose-a-school-img', desktopImage: '<%= image_path('hubs/choose_a_school.png')%>',loadMobile: false});

    });
  </script>
<% end %>

<%= render 'nav/topnav', hub_params: @hub_params %>
<%= render 'shared/no_school_alert' %>

<%= render 'shared/search_hero', collection_nickname: @collection_nickname,
                            collection_id: @collection_id,
                            state: @state,
                            browse_links: @browse_links,
                            sponsor: @sponsor,
                            hero_image: @hero_image,
                            hero_image_mobile: @hero_image_mobile %>

<div class="limit-width-1200">

  <%= render 'shared/choose_a_school', choose_school: @choose_school %>
  <%= render 'upcoming_events', important_events: @important_events, announcement: @announcement %>
  <% if @show_ads %>
     <% ad_hash_review_module={content_ad_target_mobile_id:'Ad_Id_Responsive_City_Home_Mobile_Content_Top',content_ad_target_mobile:'Responsive_City_Home_Mobile_Content_Top_300x250',content_ad_target_id:'Ad_Id_Responsive_City_Home_Content_Top',content_ad_target:'Responsive_City_Home_Content_Top_300x250'}%>
  <%end%>
  <%= render 'shared/review_global', ad_data_review:ad_hash_review_module %>
  <%= render 'shared/home/email_signup'%>
  <%= render 'featured_articles', articles: @articles %>
  <%= render 'partner_carousel', partner_carousel: @partner_carousel %>



   <% if @show_ads %>
        <% ad_hash_desktop_footer={visible_for:'visible-lg visible-md visible-sm',ad_slot_id:'Ad_Id_Responsive_City_Home_Footer',ad_size:'[728,90]',ad_width:'728',ad_target:'Responsive_City_Home_Footer_728x90'}%>
        <% ad_hash_mobile_footer={visible_for:'visible-xs',ad_slot_id:'Ad_Id_Responsive_City_Home_Mobile_Footer',ad_size:'[320,50]',ad_width:'320',ad_target:'Responsive_City_Home_Mobile_Footer_320x50'}%>

      <div class="mvl">
      <%= render 'shared/ad_slot', ad_data: ad_hash_desktop_footer %>
      <%= render 'shared/ad_slot', ad_data: ad_hash_mobile_footer %>
      </div>

   <% end %>

</div>

<%= render 'shared/state_footer', state: @state, cities: @cities %>
