<% content_for :head do %>
  <title>GreatSchools.org Public API Registration & Developer Hub</title>
  <meta name="description" content="Sign up for the GreatSchools public API developer account and get access to over 200,000 public, charter, and private K-12 school information profiles">
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag "commons", defer: true %>
  <%= webpack_javascript_include_tag 'react-redux', defer: true %>
  <%= webpack_javascript_include_tag 'admin-tools', defer: true %>
<% end %>

<%= render 'admin/admin/developer_nav' %>

<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 plan-selection">
  <h3>Select Your Plan</h3>
  <div class="api-plan-description">
    Basic or enterprise, pay what you need, with our tiered plans
  </div>

  <div class="api-plans">
    <% @plans.each do |plan| %>
      <div class="api-plan-container">
        <div class="api-plan-name"> <%= plan.name.split("_").join(" ") %> </div>
        <div class="api-plan-details">
          <div class="api-plan-price">
            <div class="api-price">$<%= plan.price %>/mo</div>
            <div><%= number_with_delimiter(plan.calls, :delimiter => ',') %> Calls</div>
            <div><%= plan.private_use? ? "Private Use" : "Public Facing" %></div>
          </div>
          <div class="api-plan-datasets">
            <% demo_icon = plan.demographics_included? ? 'icons/blue-check-circle.svg' : 'icons/gray-check-circle.svg' %>
            <% subratings_icon = plan.subratings_included? ? 'icons/blue-check-circle.svg' : 'icons/gray-check-circle.svg' %>
            <div> <%= image_tag 'icons/blue-check-circle.svg' %> Directory</div>
            <div> <%= image_tag 'icons/blue-check-circle.svg' %> GreatSchools Rating</div>
            <div> <%= image_tag demo_icon %> Demographics</div>
            <div> <%= image_tag subratings_icon %> Greatschools Subratings</div>
          </div>
          <div class="api-plan-start">
            <button>Start Now</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
