<h3>Finished Script Log Table</h3>
<h4>DB Host: <%= ENV_GLOBAL["db_host"] %> 
  <span style="margin-left:10px;">
    <%= select_tag :scripts, options_for_select(
      (1..@range_of_num_of_scripts).map {|x| [x, admin_script_query_path(:limit => x.to_i)]}
      ), prompt: "Displayed Logs",  id: "script-logger"
    %>
  </span>
</h4>
<table class="table table-striped">
  <tbody>
    <% %w(PID Username Filename Arguments Output StartTime Elapsed Succeeded).each do |header| %>
    <th><%= header %></th>
    <% end %>
    <% Array.wrap(last_script_ran).each do |script| %>
    <% show_badge = script.succeeded ? "icon-checkmark" : 'icon-close' %>
    <% color = script.succeeded ? "color:green" : 'color:red' %>
    <tr>
      <td><%= script.pid %></td>
      <td><%= script.username %></td>
      <td><%= script.filename %></td>
      <td><%= script.arguments %></td>
      <td><%= script.output %></td>
      <td><%= script.start.to_formatted_s(:long_ordinal) %></td>
      <td><%= (script.end - script.start).round(0) %> seconds long</td>
      <td>
        <div class=<%= show_badge %> style=<%= color %>></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('#script-logger').on('change', function(){
      return $.ajax({
        method: 'GET',
        url: $(this).val(),
        contentType: "text/javascript",
        dataType: "script"
      })
    })
  })
</script>