<% db_host = ActiveRecord::Base.configurations.dig('production','gs_schooldb','host') || '' %>

<a style="margin-left:50px;" class="btn btn-success btn-sm" href="/auth/google_oauth2">Google Signin</a>

<% if @current_running_script.length > 0 %>
  <div style="padding:0px 50px">
    <h3>Current Running Script Log Table</h3>
    <h4>DB Host: <%= db_host %></h4>
      <table class="table table-striped">
        <tbody>
          <% %w(PID Username Filename Arguments StartTime Elapsed).each do |header| %>
            <th><%= header %></th>
          <% end %>
          <% Array.wrap(@current_running_script).each do |script| %>
            <tr>
              <td><%= script.pid %></td>
              <td><%= script.username %></td>
              <td><%= script.filename %></td>
              <td><%= script.arguments %></td>
              <td><%= script.start.to_formatted_s(:long_ordinal) %></td>
              <td>Running for <%= time_ago_in_words(script.start) %>.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
<% end %>
<% if @last_script_ran.length > 0 %>
  <div id="last-scripts" style="padding: 0px 50px">
    <h3>Finished Script Log Table</h3>
    <h4>DB Host: <%= db_host %>
      <span style="margin-left:10px;">
        <%= select_tag :scripts, options_for_select(
          (1..@range_of_num_of_scripts).map {|x| [x, admin_script_query_path(:limit => x.to_i)]}
          ), prompt: "Displayed Logs",  id: "script-logger"
        %>
      </span>
    </h4>
    <%= render partial: 'script_query_table', locals: {last_script_ran: @last_script_ran}%>
  </div>
<% end %>

<script>
  $(function () {
    $('#script-logger').on('change', function () {
      return $.ajax({
        method: 'GET',
        url: $(this).val(),
        contentType: "text/javascript",
        dataType: "script"
      })
    })
  })
</script>