
<table class="table table-striped" id="osp-table" style="margin: auto;">
  <thead>
  <tr style="background: #5B5B5B; color: white; font-size: 14px;">
    <th></th>
    <th>School</th>
    <th>Email</th>
    <th>Id</th>
    <th>Name</th>
    <th>Job title</th>
    <th>Status</th>
    <th>Web url</th>
    <th>Note</th>
  </tr>
  </thead>
  <tbody>
  <% if @osp_memberships.present? %>
    <% @osp_memberships.each do |_osp| %>
        <% osp = OspModerationDecorator.decorate(_osp)%>
        <% highlight = osp.highlight_color%>
        <tr>
          <% if highlight %>
              <td style="background: <%=highlight%>"><input class="osp-member" type="checkbox" id="<%=osp.id%>"></td>
          <% else %>
              <td><input class="osp-member" type="checkbox" id="<%=osp.id%>"></td>
          <%end%>
          <td>
            <strong><%= link_to(osp.school.name, root_path + "#{States.state_path(osp.state.downcase)}/city/#{osp.school_id}-school-name", target: :_blank) if osp.school%></strong><br>
            <%= osp.state%>-<%= osp.school_id%>&nbsp;&nbsp;<%= link_to 'All records for this school', osp_search_path + '?state=' + osp.state + '&school_id=' + osp.school_id.to_s, {:style=>'font-size: 11px;'}%>
            | <%= link_to 'Edit', osp_edit_path(osp.id), {:style=>'font-size: 11px; color: #E77495'} %>
          </td>
          <td><%= osp.user.email%></td>
          <td><%= osp.user.id%></td>
          <td><%= osp.user.first_name.capitalize%> <%= osp.user.last_name.capitalize%></td>
          <td><%= osp.job_title%></td>
          <td><%= osp.status %></td>
          <td><%= osp.web_url%></td>
          <td>
            <textarea class="osp-notes"><%= osp.note %></textarea>
          </td>
        </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan=8 style="text-align: center;">
        No OSP's selected yet.
      </td>
    </tr>
  <% end %>
  </tbody>
</table>