

<div class="osp-edit">
  <%= link_to 'Back to Pending OSP Requests', osp_moderation_index_path %>
  <h2><%= @school.name %> ( <span style="color: #D59FAE;"><%= @school.state%>-<%= @school.id%></span> )</h2>

  <%= form_for @osp, url: osp_update_list_member_path, method: :post do |f| %>
    <%= render '/osp/osp_moderation/error_messages' %>

    <div>
      <label>Address</label>
      <span><%= @school.street %>, <%= @school.city%>, <span></span><%= @school.state%> <%= @school.zipcode%></span>
    </div>

    <div>
      <label>Membership Id</label>
      <span><%= @osp.member_id %></span>
    </div>

    <%= fields_for @osp.user do |ff| %>
     <div>
      <%= ff.label :first_name %>
      <%= ff.text_field :first_name, required: true %>
     </div>
     <div>
      <%= ff.label :last_name %>
      <%= ff.text_field :last_name, required: true %>
     </div>
     <div>
      <%= ff.label :email %>
      <%= ff.text_field :email, required: true %>
     </div>
    <% end %>
    <div>
      <%= f.label :web_url %>
      <%= f.text_field :web_url %>
    </div>
    <div>
      <%= f.label :job_title%>
      <%= f.select :job_title, [['Administrative Asst.', 'administrative assistant'],
                                ['Administrator (Other)', 'administrator (other)'],
                                ['Admissions Rep', 'admissions representative'],
                                ['Asst. Principal', 'assistant principal'],
                                ['Communications Rep', 'communications representative'],
                                ['Consultant', 'consultant'],
                                ['Department Head', 'department head'],
                                ['Development Rep', 'development representative'],
                                ['Headmaster', 'headmaster'],
                                ['President', 'president'],
                                ['Principal', 'principal'],
                                ['Registrar', 'registrar'],
                                ['Special Ed Director', 'special education director'],
                                ['Superintendent', 'superintendent'],
                                ['Teacher', 'teacher'],
                                ['Webmaster', 'webmaster']], { :include_blank => '-- Choose One --' }, required: true,
                                class: 'selectpicker required role-select' %>
    </div>

    <div>
      <%= f.label :note, 'Notes' %>
      <%= f.text_area :note %>
    </div>

    <div>
      <label>Status</label>
      <span style="color: <%= @osp.status == 'approved' ? '#2874A6' : 'red' %>; font-family: 'opensans-semibold', sans-serif;"><%= @osp.status.capitalize %></span>
    </div>

    <div>
      <label>Created</label>
      <span><%= @osp.created.strftime('%m/%d/%Y') %></span>
    </div>

    <div>
      <label>Updated</label>
      <span><%= @osp.updated.strftime('%m/%d/%Y') %></span>
    </div>
    <div>
      <%= f.submit "Save", class: "btn btn-primary osp-edit-submit", style: "width: 150px; margin-right: 15px;" %>
    </div>

  <% end %>

</div>

