<%= render 'nav/topnav' %>
<%= render 'localized_profile/header',
    school: @school,
    include_contact_info_link: false,
    include_cta_button_group: false %>
<div id="navigation2-blank"></div>

<div class="row limit_width_1200">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="ptl pll">
        <% if defined? @school %>
            <%= link_to 'View this school\'s profile', school_url(@school) %>
            <br/>
        <% end %>
        <%= link_to 'Review another school', the_scoop_path %>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
        <div class="row">
                <div>
                  <div class="modal-body">
                    <div class="well">
                      <div class="tab-pane active in" id="login">
                        <%= form_for(SchoolRating.new, html: {'data-parsley-namespace' => 'data-parsley-', :class => 'form-horizontal parsley-form', role: 'form'}, url: school_ratings_path(school_params(@school))) do |f| %>
                          <fieldset>
                            <legend>Write a review about <%= @school.name %></legend>

                              <%= f.hidden_field :state, value: @school.state %>
                              <%= f.hidden_field :school_id, value: @school.id %>

                            <div class="form-group">
                              <label class="control-label" for="input01">How do you rate your school?</label>
                              <div class="controls ptm">

                                <div class="fl phm pts js-review-rating-stars">
                                  <div class="iconx24-stars i-24-grey-star i-24-star-1 fl review-star"></div>
                                  <div class="iconx24-stars i-24-grey-star i-24-star-1 fl review-star"></div>
                                  <div class="iconx24-stars i-24-grey-star i-24-star-1 fl review-star"></div>
                                  <div class="iconx24-stars i-24-grey-star i-24-star-1 fl review-star"></div>
                                  <div class="iconx24-stars i-24-grey-star i-24-star-1 fl review-star"></div>
                                </div>

                                <%= f.hidden_field :overall, value: '', id: 'overall_rating', class: 'input-xlarge',
                                   'data-parsley-required' => 'true',
                                   'data-parsley-error-message' => 'Please select a star rating for this school.',
                                   'data-parsley-error-container' => '#js-overall_rating-errors',
                                   'data-parsley-trigger' => 'change' %>
                                <label class="control-label js-review-rating-label" for="overall_rating">Click on
                                  stars to rate</label>
                                <p id="js-overall_rating-errors" class="help-block"></p>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label" for="school_rating_user_type">I am a:</label>
                              <div class="controls">
                                  <% valid_affiliations = [] %>
                                  <% valid_affiliations << ['Parent', 'parent'] %>
                                  <% valid_affiliations << ['Student', 'student'] if @school.includes_highschool? %>
                                  <% valid_affiliations << ['Teacher/staff member', 'teacher'] %>
                                  <% valid_affiliations << ['Other', 'other'] %>
                                <%= f.select :affiliation, valid_affiliations,
                                  {}, { :class => 'form-control', style: 'width:50%' } %>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label" for="textarea">Tell us about your school!</label>
                              <div class="controls">
                                <%= f.text_area :review_text, value: '',
                                                id: 'review_text', rows: 8, class: 'input-xlarge',
                                                'data-parsley-required' => 'true',
                                                'data-parsley-minwords' => '15',
                                                'data-parsley-minwords-message' => 'Please use at least 15 words in your comment.',
                                                'data-parsley-maxlength' => '1200',
                                                'data-parsley-trigger' => 'change',
                                                'data-parsley-error-container' => '#js-review_text-errors',
                                                'style' => 'width: 100%' %>
                                <p id="js-review_text-errors" class="help-block"></p>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="controls">
                                <label class="checkbox">
                                  <%= check_box 'terms', 'terms', 'data-parsley-required' => 'true',
                                                'data-parsley-error-message' => 'You must agree to the terms of use before submitting your review.',
                                                'data-parsley-error-container' => '#js-terms-errors' %>
                                  I agree to the
                                    <%= link_to 'GreatSchools Terms of Use', terms_of_use_path %> and
                                    <%= link_to 'School Review Guidelines', school_review_guidelines_path %>.
                                </label>
                                <p id="js-terms-errors" class="help-block"></p>
                              </div>
                            </div>

                            <div class="form-actions">
                              <button type="submit" class="btn btn-primary">Submit your review</button>
                            </div>
                          </fieldset>
                        <% end %>

                      </div>
                        <div class="row ptl">
                            <% if @sweepstakes_enabled %>
                                <%= render "shared/sweepstakes_content" %>
                            <% end %>
                        </div>
                    </div>

                  </div>
                </div>

                <div>

            </div>

        </div>

    </div>
    <div class="col-xs-0 col-sm-2 col-md-3 col-lg-3">

    </div>
</div>
<%= render 'nav/school_profile_footer', state: @state, cities: @cities %>