<%= include_handlebars_templates('community_scorecards/') %>

<div id="community-spotlight" class="<%= @gs_bootstrap %> community-spotlight">
  <div class="container-fluid">
    <div class='shim-20 hidden-xs'></div>
    <h1 class="lg-roboto"><%= t(".#{@t_scope}.title") %></h1>
    <%= render partial: 'community_spotlights/logo_bar' %>
    <div class='shim-20'></div>
    <%= render partial: 'community_spotlights/summary' %>
    <h2><%= t(".#{@t_scope}.table_title") %></h2>
    <div class="pbl">
      <%= render 'performance/performance_level_color_legend' %>
    </div>
    <%= render partial: 'community_spotlights/table_header' %>
    <% # these elements with ids are used for handlebars templating %>
    <div id="community-scorecard-mobile" class='visible-xs row striped-divs js-spinnyWheelTarget'></div>
    <div id="community-scorecard-table" class='hidden-xs js-spinnyWheelTarget'></div>
  </div>
</div>

<div class='shim-20'></div>
