<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<% gs_rating = @school.gs_rating || 'nr' %>
<div class="js-ratings-vertical-rule row pr" style="height: 300px;">
  <% if gs_rating.to_s.upcase != 'NR' %>
    <div class="col-xs-12 tac">
      <a href="<%= school_quality_url(@school) %>#Ratings">
        <div class="link-darkgray pbs"><%= t('.greatschool_rating') %><br /></div>
        <div class="dib">
          <%= render 'performance/gs_rating', value: gs_rating, size: 'lg', subtext: true %>
        </div>
      </a>
    </div>
  <% end %>

  <% ratings_array = [] %>

<% state_rating = @school.state_rating %>
<% state_rating = state_rating.select { |r| r['overall_rating'] } %>

<% if state_rating && state_rating.is_a?(Array) && state_rating.size > 0 && state_rating.first['overall_rating'] %>

    <% if @school.state == 'CA' %>
      <% rating_text = t('.api_score') %>
    <% elsif @school.state == 'CO' %>
      <% rating_text = t('.colorado_school_grade') %>
    <% else %>
      <% rating_text = t('.state_rating') %>
    <% end %>

    <% unless @school.state == 'CO' %>
      <% state_rating = state_rating.first['overall_rating'] %>
    <% end %>

    <% ratings_array << "<div class='rs-state-rating'>" + (render(rating_partial_for_snapshot(@school.state), page:'overview', rating: state_rating, supporting_text: rating_text)) + "</div>" %>
<% end %>

<% local_rating = @school.local_rating %>
<% if local_rating %>
       <% rating_text = (t('.esd_rating')) %>
        <% ratings_array << (render "shared/rating/snapshot/variable_icon_rating", icon_to_use:'iconx72-ESD-ratings', icon_to_choose:'i-72-ratings-',rating:@school.local_rating,supporting_text: rating_text) %>
<% end %>

<% if @school.preK_star_rating %>
        <% rating_text = t('.preschool_rating') %>
    <% if @school.state == 'MI' %>
        <% ratings_array << ( render "shared/rating/snapshot/detroit_blue_star", rating:@school.preK_star_rating, supporting_text: rating_text) %>
    <% else %>
        <% ratings_array << ( render rating_partial_for_snapshot(@school.state), page:'overview', rating:@school.preK_star_rating, supporting_text: rating_text) %>
    <% end %>
<% end %>

<% if ratings_array.present?%>
    <div class="col-xs-12 tac ptl mts">
      <a href="quality#Ratings" >
        <%= raw render_array_horizontally ratings_array, {"xs"=> 4,"sm"=> 4,"md"=> 4,"lg"=> 4} %>
      </a>
    </div>
<% end %>


<div class="js-tsr-block tac pa full-width"  style="bottom: 20px;" >
    <%= link_to t('.test_scores'), school_quality_url(@school, anchor:"Test_scores") %>&nbsp;|&nbsp;
    <%= link_to t('.ratings'), school_quality_url(@school, anchor:"Ratings") %>
</div>

</div>
