<div class="row" id="footer">
    <!-- TODO: verify font sizing / colors -->
    <!-- TODO: verify copy -->
    <!-- TODO: move colors / inline styles to sass / stylesheets -->

    <style text="text/css">
        #footer a { color: #B0B0B0; font-size:smaller }
    </style>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac" style="background-color: #333333; padding:10px; margin-top: 20px;color:#FFFFFF">
        <div class="pal limit_width_1200 open-sans">

            <div class="row text-left">
                <div class="col-lg-6">
                    <h5 style="color:#666666">About greatschools</h5>
                    <p style="color:#B0B0B0">
                        Our mission is to inspire and support families to champion their children's education - at
                        school, at home and in their community. We are a national non-profit with offices in San
                        Francisco, Milwaukee, Washington D.C. and Indianapolis.
                    </p>
                </div>
                <div class="col-lg-2">
                    <h5 style="color:#666666">Company</h5>
                    <ul class="list-unstyled">
                        <li><a href="/about/aboutUs.page">Our mission</a></li>
                        <li><a href="/about/senior-management.page">Our people</a></li>
                        <li><a href="/jobs/">Jobs</a></li>
                        <li><a href="/about/feedback.page">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h5 style="color:#666666">Media</h5>
                    <ul class="list-unstyled">
                        <li><a href="/about/advertiserOpportunities.page">Advertise with us</a></li>
                        <li><a href="/about/partnerOpportunities.page">Partners</a></li>
                        <li><a rel="nofollow" href="/about/pressRoom.page">Media room</a></li>
                        <li><a href="/about/linkToUs.page">Widgets &amp; tools</a></li>
                    </ul>

                </div>
                <div class="col-lg-2">
                    <h5 style="color:#666666">Policies</h5>
                    <ul class="list-unstyled">
                        <li><a href="/find-a-school/defining-your-ideal/2423-ratings.gs">How we rate schools</a></li>
                        <li><a href="/about/guidelines.page">School review guidelines</a></li>
                        <li><a rel="nofollow" href="/terms/?state=AK">Terms of use</a></li>
                        <li><a href="/privacy/?state=AK">Privacy policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="row text-left">
                <h5 style="color:#666666">Popular cities</h5>

                <div class="col-lg-2 col_blah">
                    <ul class="list-unstyled">
                        <li><%= link_to 'Albuquerque, NM', city_path(state: 'NM', city: 'Albuquerque') %></li>
                        <li><%= link_to 'Anchorage, AK', city_path(state: 'AK', city: 'Anchorage') %></li>
                        <li><%= link_to 'Atlanta, GA', city_path(state: 'GA', city: 'Atlanta') %></li>
                        <li><%= link_to 'Austin, TX', city_path(state: 'TX', city: 'Austin') %></li>
                        <li><%= link_to 'Baltimore, MD', city_path(state: 'MD', city: 'Baltimore') %></li>
                        <li><%= link_to 'Billings, MT', city_path(state: 'MT', city: 'Billings') %></li>
                        <li><%= link_to 'Birmingham, AL', city_path(state: 'AL', city: 'Birmingham') %></li>
                        <li><%= link_to 'Boise, ID', city_path(state: 'ID', city: 'Boise') %></li>
                        <li><%= link_to 'Boston, MA', city_path(state: 'MA', city: 'Boston') %></li>
                        <li><%= link_to 'Bridgeport, CT', city_path(state: 'CT', city: 'Bridgeport') %></li>
                        <li><%= link_to 'Burlington, VT', city_path(state: 'VT', city: 'Burlington') %></li>
                    </ul>
                </div>
                <div class="col-lg-2 col_blah">
                    <ul class="list-unstyled">
                        <li><%= link_to 'Charleston, WV', city_path(state: 'WV', city: 'Charleston') %></li>
                        <li><%= link_to 'Charlotte, NC', city_path(state: 'NC', city: 'Charlotte') %></li>
                        <li><%= link_to 'Cheyenne, WY', city_path(state: 'WY', city: 'Cheyenne') %></li>
                        <li><%= link_to 'Chicago, IL', city_path(state: 'IL', city: 'Chicago') %></li>
                        <li><%= link_to 'Columbia, SC', city_path(state: 'SC', city: 'Columbia') %></li>
                        <li><%= link_to 'Columbus, OH', city_path(state: 'OH', city: 'Columbus') %></li>
                        <li><%= link_to 'Dallas, TX', city_path(state: 'TX', city: 'Dallas') %></li>
                        <li><%= link_to 'Denver, CO', city_path(state: 'CO', city: 'Denver') %></li>
                        <li><%= link_to 'Des Moines, IA', city_path(state: 'IA', city: 'Des Moines') %></li>
                        <li><%= link_to 'Detroit, MI', city_path(state: 'MI', city: 'Detroit') %></li>
                        <li><%= link_to 'El Paso, TX', city_path(state: 'TX', city: 'El Paso') %></li>
                    </ul>
                </div>
                <div class="col-lg-2 col_blah">
                    <ul class="list-unstyled">

                        <li><%= link_to 'Fargo, ND', city_path(state: 'ND', city: 'Fargo') %></li>
                        <li><%= link_to 'Honolulu, HI', city_path(state: 'HI', city: 'Honolulu') %></li>
                        <li><%= link_to 'Houston, TX', city_path(state: 'TX', city: 'Houston') %></li>
                        <li><%= link_to 'Indianapolis, IN', city_path(state: 'IN', city: 'Indianapolis') %></li>
                        <li><%= link_to 'Jackson, MS', city_path(state: 'MS', city: 'Jackson') %></li>
                        <li><%= link_to 'Jacksonville, FL', city_path(state: 'FL', city: 'Jacksonville') %></li>
                        <li><%= link_to 'Kansas City, MO', city_path(state: 'MO', city: 'Kansas City') %></li>
                        <li><%= link_to 'Las Vegas, NV', city_path(state: 'NV', city: 'Las Vegas') %></li>
                        <li><%= link_to 'Little Rock, AR', city_path(state: 'AR', city: 'Little Rock') %></li>
                        <li><%= link_to 'Los Angeles, CA', city_path(state: 'CA', city: 'Los Angeles') %></li>
                        <li><%= link_to 'Louisville, KY', city_path(state: 'KY', city: 'Louisville') %></li>
                    </ul>
                </div>
                <div class="col-lg-2 col_blah">
                    <ul class="list-unstyled">

                        <li><%= link_to 'Manchester, NH', city_path(state: 'NH', city: 'Manchester') %></li>
                        <li><%= link_to 'Memphis, TN', city_path(state: 'TN', city: 'Memphis') %></li>
                        <li><%= link_to 'Miami, FL', city_path(state: 'FL', city: 'Miami') %></li>

                        <li><%= link_to 'Milwaukee, WI', city_path(state: 'WI', city: 'Milwaukee') %></li>
                        <li><%= link_to 'Minneapolis, MN', city_path(state: 'MN', city: 'Minneapolis') %></li>
                        <li><%= link_to 'Nashville, TN', city_path(state: 'TN', city: 'Nashville') %></li>
                        <li><%= link_to 'New Orleans, LA', city_path(state: 'LA', city: 'New Orleans') %></li>
                        <li><%= link_to 'New York City, NY', city_path(state: 'NY', city: 'New York City') %></li>
                        <li><%= link_to 'Newark, NJ', city_path(state: 'NJ', city: 'Newark') %></li>
                        <li><%= link_to 'Oakland, CA', city_path(state: 'CA', city: 'Oakland') %></li>
                    </ul>
                </div>
                <div class="col-lg-2 col_blah">
                    <ul class="list-unstyled">

                        <li><%= link_to 'Oklahoma City, OK', city_path(state: 'OK', city: 'Oklahoma City') %></li>
                        <li><%= link_to 'Omaha, NE', city_path(state: 'NE', city: 'Omaha') %></li>

                        <li><%= link_to 'Philadelphia, PA', city_path(state: 'PA', city: 'Philadelphia') %></li>
                        <li><%= link_to 'Phoenix, AZ', city_path(state: 'AZ', city: 'Phoenix') %></li>
                        <li><%= link_to 'Portland, ME', city_path(state: 'ME', city: 'Portland') %></li>
                        <li><%= link_to 'Portland, OR', city_path(state: 'OR', city: 'Portland') %></li>
                        <li><%= link_to 'Providence, RI', city_path(state: 'RI', city: 'Providence') %></li>
                        <li><%= link_to 'Sacramento, CA', city_path(state: 'CA', city: 'Sacramento') %></li>
                        <li><%= link_to 'Salt Lake City, UT', city_path(state: 'UT', city: 'Salt Lake City') %></li>
                        <li><%= link_to 'San Antonio, TX', city_path(state: 'TX', city: 'San Antonio') %></li>
                    </ul>
                </div>
                <div class="col-lg-2 col_blah">
                    <ul class="list-unstyled">

                        <li><%= link_to 'San Diego, CA', city_path(state: 'CA', city: 'San Diego') %></li>
                        <li><%= link_to 'San Francisco, CA', city_path(state: 'CA', city: 'San Francisco') %></li>
                        <li><%= link_to 'San Jose, CA', city_path(state: 'CA', city: 'San Jose') %></li>
                        <li><%= link_to 'Seattle, WA', city_path(state: 'WA', city: 'Seattle') %></li>
                        <li><%= link_to 'Sioux Falls, SD', city_path(state: 'SD', city: 'Sioux Falls') %></li>
                        <li><%= link_to 'Tucson, AZ', city_path(state: 'AZ', city: 'Tucson') %></li>
                        <li><%= link_to 'Virginia Beach, VA', city_path(state: 'VA', city: 'Virginia Beach') %></li>
                        <li><%= link_to 'Washington, DC', city_path(state: 'DC', city: 'Washington') %></li>
                        <li><%= link_to 'Wichita, KS', city_path(state: 'KS', city: 'Wichita') %></li>
                        <li><%= link_to 'Wilmington, DE', city_path(state: 'DE', city: 'Wilmington') %></li>
                    </ul>
                </div>
            </div>

            <hr/>

            <div>
                <p class="" style="color:#B0B0B0; font-size:smaller">GreatSchools, Inc. 160 Spear Street, Suite 1020, San Francisco, CA 94105</p>
                <p class="" style="color:#B0B0B0; font-size:smaller">
                    ©1998-2014 GreatSchools Inc. All Rights Reserved. GreatSchools is a 501(c)(3) not-for-profit organization
                </p>
            </div>

        </div>
    </div>
</div>