<footer class="footer rs-new-footer pbm gs-bootstrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 prl">
        <div class="heading"><%= t('.about_gs.heading') %></div>
        <p><%= t('.about_gs.body') %></p>
        <br/>
        <p><%= t('.support_greatschools') %> <%= link_to(t('.donate_now'), 'https://greatschools.networkforgood.com/', target: "_blank") %></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="heading"><%= t('.link_list_1')[:heading] %></div>
            <ul>
              <% t('.link_list_1')[:links].each do |link| %>
                <li>
                  <%= link_to(link['text'], link['url'] || send(link['route'] + '_path')) %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="heading"><%= t('.link_list_2')[:heading] %></div>
            <ul>
              <li><a href="javascript:void(0)" class="js-send-me-updates-button-footer"><%= t('.newsletter') %></a></li>
              <% t('.link_list_2')[:links].each do |link| %>
                <li>
                  <%= link_to(link['text'], link['url'] || send(link['route'] + '_path')) %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="heading"><%= t('.connect_links')[:heading] %></div>
            <ul>
              <% t('.connect_links')[:links].each do |link| %>
                <li>
                  <%= link_to(link['url']) do %>
                    <span class="i-16-f-<%= link['icon'] %>"></span><%= link['text'] %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tac">
    <%= render 'nav/gs_address_and_copyright' %>
  </div>
</footer>
