<div>
  <p>©1998-<%= Time.now.year %> GreatSchools.org <%= t('.all_rights_reserved') %> <%= t('.greatschools_is_non_for_profit') %>
       | <%= link_to privacy_url(:anchor => 'advertiserNotice'), :class=>'js-no_ad' do %><%= t('.ad_choices') %> <span
            class="iconx16 i-16-adChoice vam smaller bottom"></span><% end %>
</div>
