
<%= render 'shared/school_contact_info_footer' %>

<%= render 'shared/sign_up_for_updates' %>

<div class="row invert-colors">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac" style="padding:10px;">
    <div class="limit_width_1200 open-sans">

      <%= render 'shared/about_gs_footer' %>

      <%= render 'shared/popular_cities_in_country' %>

      <hr/>

      <%= render 'shared/gs_address_and_copyright' %>

    </div>
  </div>
</div>