<% state ||= nil %>

<%= render 'shared/school_contact_info_footer' %>

<%= render 'shared/sign_up_for_updates' %>

<div class="row invert-colors">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac pam">
    <div class="limit-width-1200 open-sans">

      <%= render 'shared/about_gs_footer' %>

      <% unless state.blank? %>
        <%= render 'shared/popular_cities_in_state', state: state %>
      <% else %>
        <%= render 'shared/popular_cities_in_country' %>
      <% end %>

      <hr/>

      <%= render 'shared/gs_address_and_copyright' %>

    </div>
  </div>
</div>
