<%= stylesheet_link_tag    'header', media: 'all', 'data-turbolinks-track' => true %>
<div class="">
  <div class="header_un">
    <div class="un clearfix">
      <div class="tr">
        <div class="menu_layout_mobile">
          <input class="menu-btn" type="checkbox" id="drop"/>
          <label class="menu-icon toggle" for="drop"><span class="navicon"></span></label>
        </div>
        <%= render 'nav/header/logo_image' %>
        <%= render 'nav/header/search' %>
        <%= render 'nav/header/navigation' %>
      </div>
    </div>
  </div>
  <%= render 'nav/header/featured' %>
</div>
<div class="nav-padding"></div>
<%= javascript_include_tag 'header', 'data-turbolinks-track' => true %>