<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="limit_width_1200">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="fl pam"><%= link_to(home_url) { image_tag 'nav/GS_logo_x2.png', size:'189x38' } %></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse topnav_float">
            <ul class="nav navbar-nav ">
                <li>
                    <%- if @hub_params.present? || cookies[:hubState] || @school %>
                        <a class="dropdown-toggle " data-toggle="dropdown" href="#home" style="text-transform:capitalize;">
                            <%= topnav_title(@school, @hub_params) %>  <b class="caret"></b>
                        </a>
                    <% end %>
                    <ul class="dropdown-menu">
                        <% city = cookies[:hubCity] || @school.try(:hub_city) %>
                        <% state = cookies[:hubState] || @school.try(:state) %>

                        <%- if @hub_params.present? || cookies[:hubState] %>
                            <% url_params = { state: States.state_name(state), city: city } %>
                            <% if city %>
                                <%= render 'nav/dropdown_link', text: "#{city.gs_capitalize_words} Home", url: city_url(url_params) %>
                                <%= render 'nav/dropdown_link', flag: cookies[:choosePage], text: 'Choosing a School', url: city_choosing_schools_url(url_params) %>
                                <%= render 'nav/dropdown_link', flag: cookies[:eduPage], text: 'Education Community', url: city_education_community_url(url_params) %>
                                <%= render 'nav/dropdown_link', flag: cookies[:enrollPage], text: 'Enrollment Information', url: city_enrollment_url(url_params) %>
                                <%= render 'nav/dropdown_link', flag: cookies[:eventsPage], text: 'Events', url: city_events_url(url_params) %>

                                <li>
                                    <%= link_to home_url, class: 'js-clear-local-cookies-link' do %>Not in
                                        <span style="text-transform:capitalize;"><%= city.gs_capitalize_words %></span>?
                                    <% end %>
                                </li>
                            <% else %>
                                <% url_params = @hub_params || { state: States.state_name(state) } %>
                                <%= render 'nav/dropdown_link', text: "#{States.state_name(state).gs_capitalize_words} Home", url: state_url(url_params) %>
                                <%= render 'nav/dropdown_link', flag: cookies[:choosePage], text: "Choosing a School", url: '#' %>
                                <%= render 'nav/dropdown_link', flag: cookies[:eduPage], text: "Education Community", url: '#' %>
                                <%= render 'nav/dropdown_link', flag: cookies[:enrollPage], text: "Enrollment Information", url: '#' %>

                                <li>
                                    <%= link_to home_url, class: 'js-clear-local-cookies-link' do %>Not in
                                        <span style="text-transform:capitalize;"><%= States.state_name(state).gs_capitalize_words %></span>?
                                    <% end %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </li>
                <li><%= link_to 'Find a School', find_schools_url %></li>
                <li>
                    <%= link_to 'Review Your School',
                        (defined?(@school) ? school_review_form_path(@school, driver: 'GlobalNav') : the_scoop_path) %>
                </li>
                <li><a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#back-to-school">Discover <b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li class=" ">
                            <%= link_to 'Worksheets &amp; Activities'.html_safe, worksheets_and_activities_url %>
                        </li>
                        <li class=" ">
                            <%= link_to 'Common Core'.html_safe, common_core_url %>
                        </li>
                        <li>
                            <%= link_to 'Parenting Dilemmas', parenting_dilemmas_url %>
                        </li>
                        <li>
                            <%= link_to 'Learning Difficulties', learning_difficulties_url %>
                        </li>
                        <li>
                            <%= link_to 'Health &amp; Behavior'.html_safe, health_and_behavior_url %>
                        </li>

                    </ul>

                </li>

                <li>
                    <% if logged_in? %>
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#back-to-school">My Account <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu dropdown-menu_top_nav">
                            <% if current_user.provisional_or_approved_osp_user? %>
                                <li>
                                    <%= link_to 'Edit school profile', osp_dashboard_url %>
                                </li>
                            <% end %>
                            <li>
                                <%= link_to 'My School List', my_school_list_url, rel:'nofollow' %>
                            </li>
                            <li>
                                <%= link_to 'Account Settings', my_account_url %>
                            </li>
                            <li>
                                <%= link_to('Sign Out', logout_url, :method => :delete) %>
                            </li>
                        </ul>
                    <% else %>
                        <%= link_to('Sign In', signin_url, class: 'secondary-color')  %>
                    <% end %>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
