<div class='print-logo'><%= render 'nav/header/logo_image' %></div>
<div class="header_display">
  <div class="header_un">
    <div class="un clearfix">
      <div class="tr">
        <div class="menu_layout_mobile">
          <input class="menu-btn" type="checkbox" id="drop"/>
          <label class="menu-icon toggle" for="drop"><span class="navicon"></span></label>
        </div>
        <%= render 'nav/header/logo_image' %>
        <%= render 'nav/header/search' %>
        <%= render 'nav/header/navigation' %>
      </div>
    </div>
  </div>
  <% if I18n.locale == I18n.default_locale && %w(header school_profiles).include?(controller_name) %>
    <%= render 'nav/header/featured' %>
  <% end %>
</div>
<div class="nav-padding"></div>