<% review = SchoolProfileReviewDecorator.decorate(review) unless review.is_a?(SchoolProfileReviewDecorator) %>
<div class="compact-review-module">
  <div class="header">
    <span class="open-sans_i"><%= review.topic_markup_with_overall %></span>
    <span class="open-sans_cb"> <%= review.answer_markup %> </span>
  </div>
  <div class="sub-text">
    <%= t('.user_type_html', user_type: review.user_type)  %> &#183;
    <span class="rs-review-posted"><%= review.posted %></span>
  </div>
  <div class="comment">
    <%= review.truncated_comment(250) %>
    <%=  link_to(t('.more'), school_reviews_url(review.school, 
                                            review_id: review.id) 
                ) if review.comment.length > 250 %>
  </div>
  <hr>
</div>
