<!DOCTYPE html>
<html>
  <head>
    <%= render 'google_tag_manager/init_data_layer' %>
    <%= include_gon %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'admin_tools'%>
    <%= javascript_include_tag 'just_jquery' %>
    <%= javascript_include_tag 'resources/jquery.cookie' %>
    <%= javascript_include_tag 'admin_tools' %>
  </head>
  <body class="open-sans">
  <%= render 'google_tag_manager/push_to_data_layer' %>
  <div class="js-modal-container"></div>
  <%= render 'google_tag_manager/install' %>
    <div class="container">
      <div class="admin_header">
        <%= link_to image_tag('nav/gs_logo.png', size:'119x50', alt:'GreatSchools.org'), root_path%>
      </div>

      <div class="admin_body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
