<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'admin_tools'%>
  <%= javascript_include_tag 'just_jquery' %>
</head>
<body class="open-sans">
<div style="padding: 30px;width: 70%; margin: auto;">
  <span style="float: right;"><%= image_tag('nav/gs_logo.png', size:'150x50', alt:'GreatSchools.org')%></span>
  <%= yield :header %>
  <%= yield :body %>
</div>
</body>
</html>
