<% unless defined?(universal_nav) %>
  <% universal_nav = true %>
<% end %>
<% unless defined?(footer) %>
  <% footer = true %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <%= render 'google_tag_manager/init_data_layer' %>
    <%= include_gon %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'admin_tools'%>
    <%= stylesheet_link_tag "footer", :async => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="open-sans">
  <div class="js-modal-container"></div>

  <%= render 'nav/topnav_universal' if universal_nav %>
  <%= render 'google_tag_manager/install' %>
    <div class="container">
      <%# <div class="admin_header"> %>
        <%#= link_to image_tag('nav/gs_logo.png', size:'119x50', alt:'GreatSchools.org'), root_path%>
      <%# </div> %>

      <div class="admin_body">
        <%= yield %>
      </div>
    </div>
    <%= render 'nav/footer' if footer %>
    <%= webpack_javascript_include_tag 'commons-blocking' %>
    <%= webpack_javascript_include_tag 'commons-blocking-loader' %>
    <%= webpack_javascript_include_tag 'admin-tools' %>
    <%= javascript_include_tag 'admin_postload', defer: true %>
  </body>
</html>
