<!DOCTYPE html>
<html>
  <head>
    <title>GreatSchools Admin</title>
    <%= stylesheet_link_tag 'post_load'%>
    <%= stylesheet_link_tag 'admin_tools'%>
    <%= javascript_include_tag 'just_jquery' %>
  </head>
  <body class="open-sans">
    <div class="container">
      <div class="admin_header">
        <%= link_to image_tag('nav/gs_logo.png', size:'119x50', alt:'GreatSchools.org'), root_path%>
      </div>

      <div class="admin_body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
