<% content_for(:page_stylesheets) do %>
  <%= stylesheet_link_tag("api_documentation", async: true) %>
  <%= stylesheet_link_tag("post_load", async: true) %>
<% end %>

<% content_for(:content) do %>
  <div id="api-documentation" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= render('admin/api_accounts/api_resources') %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <%= content_for?(:content) ? yield(:content) : yield %>
        <div class="call">
          <h3>Have Questions?</h3>
          <div class="questions">To ask questions or to report bugs please email api-support@greatschools.org. Please do not abuse our API. Review the
            <%= link_to("Terms of Use", api_terms_of_use_url, target: '_blank') %>.
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
<% end %>

<%= render(
  template: 'layouts/application',
  locals: {
    universal_nav: true,
    footer: true
  }
) %>
