<!DOCTYPE html>
<html>
<head>
  <title>Great Schools Profile</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= yield :head %>
</head>
<body>

<% flash.each do |key, value| %>
<div style="border: 1px solid #ffff00">
    <%= content_tag(:div, value, :class => "flash #{key}") %>
</div>
<% end %>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
