<% unless defined?(universal_nav) %>
  <% universal_nav = true %>
<% end %>
<% unless defined?(footer) %>
  <% footer = true %>
<% end %>

<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <% if @disable_google_analytics %>
    <script>
      window['ga-disable-UA-54676320-1'] = true;
    </script>
  <% end %>
  <%= display_meta_tags %>

  <%= render 'layouts/common_prefetches' %>

  <%= yield :page_stylesheets %>

  <%= render 'layouts/preloads' %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag    "print",       media: "print" %>

  <% # must come before commons-blocking %>
  <%= include_gon %>

  <%= webpack_javascript_include_tag("commons-blocking", "data-turbolinks-track" => true) %>
  <%= webpack_javascript_include_tag("commons-blocking-loader", "data-turbolinks-track" => true) %>

  <%= render 'layouts/meta_tags' %>

  <%= render 'layouts/apple_favicons' %>

  <%= yield :head %>

  <%= render 'layouts/json_ld_script' %>

</head>

<body class="open-sans">
  <div class="js-modal-container"></div>

  <%= render 'google_tag_manager/install' %>

  <%= render 'nav/topnav_universal_html' if universal_nav %>

  <%= content_for?(:content) ? yield(:content) : yield %>

  <%= render 'omniture/quantcast' %>

  <a href="#" class="back-to-top"><span class="top-icon icon-up"></span><span class="top-text"><%= t('.top') %></span></a>

  <%= render 'nav/footer' if footer %>

  <div class="visible-xs js-disableInterstitial"></div>

  <%= stylesheet_link_tag('post_load', async: true) unless content_for?(:page_stylesheets) %>

  <%= webpack_javascript_include_tag 'commons', defer: true %>

  <%= yield :javascript_includes %>

  <%= yield :page_javascripts %>

  <div class="remodal modal modal_info_box" data-remodal-options="hashTracking: false" data-remodal-id="modal_info_box">Add Spinny</div>
</body>
</html>
