<!DOCTYPE html>
<html>
<head>
  <title>Great Schools Profile</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= yield :head %>
</head>
<body class="open-sans">

<div class="js-header-message" style="display:none; margin-top: 8px;">
    <% flash.each do |key, value| %>
        <% value = Array(value) %>
        <% value.each do |msg| %>
            <%= content_tag(:div, msg, :class => "flash_#{key}",
                :style => 'border-bottom: 1px solid #eee; background-color:#ffffa3; color:#333; font-weight:semibold; padding:5px;') %>
        <% end %>
    <% end %>
</div>
<script type="text/javascript">
    $(".js-header-message").slideDown("slow");
</script>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
