<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    "gs/style_guide/main", media: "all" %>
  <link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet" type="text/css">

  <%= yield :stylesheet_includes %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= include_gon %>
  <%= javascript_include_tag "style_guide/main", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "style_guide/picturefill.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>



  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <%= content_tag :link, nil, rel: 'apple-touch-icon-precomposed', sizes:'144x144', href: image_path('icons/favicons/GS_favicon_144x144.png') %>
  <!-- For iPhone with high-resolution Retina display: -->
  <%= content_tag :link, nil, rel: 'apple-touch-icon-precomposed', sizes:'114x114', href: image_path('icons/favicons/GS_favicon_114x114.png') %>
  <!-- For first- and second-generation iPad: -->
  <%= content_tag :link, nil, rel: 'apple-touch-icon-precomposed', sizes:'72x72', href: image_path('icons/favicons/GS_favicon_72x72.png') %>
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <%= content_tag :link, nil, rel: 'apple-touch-icon-precomposed', sizes:'32x32', href: image_path('icons/favicons/GS_favicon_32x32.png') %>

  <% if @canonical_url.present? %>
    <link rel="canonical" href="<%= @canonical_url %>" />
  <% else %>
    <% Rails.logger.warn "Warning: Page #{request.original_url} has no rel canonical set" %>
  <% end %>
  <%= yield :head %>
</head>

<body class="open-sans section-material-design first-chapter qp-ui qp-ui-mask gs-style-guide" data-qp-ui="{ 'Mask': {} }"
      data-qp-ui-data-id="qp:1" style="margin-top:0px; padding-top: 0px;">
<header class="qp-ui qp-ui-peekaboo" data-qp-ui="{
  'Peekaboo': {
    'mobile': 72,
    'desktop-sm': 72,
    'default': 192
  }
}" data-qp-ui-data-id="qp:2">
  <div class="header-wrapper qp-ui qp-ui-peekaboo" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }" data-qp-ui-data-id="qp:3">
    <div class="header-title">      <span class="section-title"><%= @directory %></span>
      <span class="chapter-title"><%= @page_title %></span>
    </div>
  </div><div class="header-wrapper qp-ui qp-ui-peekaboo-placeholder" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }" aria-hidden="true">
    <div class="header-title">      <span class="section-title"><%= @directory %></span>
      <span class="chapter-title"><%= @page_title %></span>
  </div>
</div>
</header>
<nav>
  <button class="hamburger-button qp-ui qp-ui-side-nav-toggle" data-qp-ui="{ 'SideNavToggle': {} }" role="tab" aria-expanded="false" data-qp-ui-data-id="qp:4">Show navigation</button>
</nav>
<div id="side-nav" class="qp-ui qp-ui-side-nav-drawer" data-qp-ui="{ 'SideNavDrawer': {} }" data-qp-ui-data-id="qp:5">
  <div class="side-nav-wrapper">
    <span id="logo"><img alt="GreatSchools.org" height="35" src="http://localhost:3000/assets/nav/GS_logo_2x-new.png" width="150"></span>
    <nav>
      <dl>

        <% #Navbar code Begin %>
        <dt class="qp-ui goog-zippy-header goog-zippy-collapsed" data-qp-ui="{ 'SideNavZippy': false }" tabindex="0"
          role="tab" aria-expanded="false" data-qp-ui-data-id="qp:6">GreatSchools Style Guide
        </dt>
        <div style="overflow: hidden; display: block"><dd>
          <%= link_to "Welcome!", "/admin/gsr/style-guide/" %>
        </dd></div>

        <% @categories_and_pages.each do |category, pages| %>
          <dt class="qp-ui goog-zippy-header goog-zippy-collapsed" data-qp-ui="{ 'SideNavZippy': false }" tabindex="0"
            role="tab" aria-expanded="false"> <%= category.gsub(/-|_/, ' ').capitalize %>
          </dt>

          <div style="overflow: hidden; display: block;"><dd>
            <% pages.each do |page| %>
              <% #ex from /style-guide/pages/category/authentic-motion.html.erb to authentic-motion %>
              <% p = page.split('/').pop.split('.').first  %>
              <%= link_to p.gsub(/-|_/, ' ').capitalize, "/admin/gsr/style-guide/#{category}/#{p}" %>
            <% end %>
          </dd></div>
        <% end %>
        <% #Navbar code end %>

      </dl>
    </nav>
    <div class="legal">
      <p class="copyright">Google ©</p>
      <a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/">Terms</a>
    </div>
  </div>
</div>

<div id="grid-cont">
  <section class="grid_outer chapter">
    <%= render_chapter_title %>
    <%= begin_chapter_content do %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    <% end %>
  </section>
</div>

<footer>
  <div class="footer-grid">
    <div class="footer-L section-what-is-material">&nbsp;</div>
    <div class="footer-grid-L section-what-is-material">
    </div>

    <div class="footer-R section-what-is-material">&nbsp;</div>
    <div class="footer-grid-R section-what-is-material">
      <a class="footer-text" href="/design/spec/what-is-material/environment.html">
        <img class="arrow-L" alt="" src="//material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg">
        <span>Next</span>
        <div>
          What is material?
        </div>
      </a>
    </div>

  </div>
</footer>
<script src="js/picturefill.min.js"></script>
<script src="js/main.js"></script>




<div class="qp-ui-mask-modal"></div>





<a href="#" class="back-to-top"><span class="iconx16 i-16-back-to-top mrm"></span>Top</a>



</body>
</html>
