<% display_question_label = display_question.displayed_label %>
<% q_id                   = display_question.osp_question_id %>
<% display_validations    = display_question.display_validations %>
<% response_key %>


<div class="row mbl pbl">
  <div class="col-xs-12">
    <h3 class="mbl">
      <span class="mrl">
        <%= display_question_label %>
      </span>
    </h3>
      <input type="text" onkeydown="return false" class="form-control datepicker input-field-sm" data-date-format="mm/dd/yyyy" name="<%= "#{q_id}-#{response_key}" %>" value="<%= preexisting_esp_values[0] %>">
  </div>

  <%= javascript_include_tag("bootstrap-datepicker.min.js") %>
  <%= stylesheet_link_tag("bootstrap-datepicker3.css") %>
</div>
