<% display_question_label = display_question.displayed_label %>
<% q_id                   = display_question.osp_question_id %>
<% display_validations    = display_question.display_validations %>
<% #parsley_validations can look like (data-parsley-youtubevimeotag data-parsley-type='email') rendered on page and {'data-parsley-youtubevimeotag': '', 'data-parsley-type':'email'} in db%>
<% parsley_validations = [*display_validations].inject('') { |string, (k , v)| string << (v.present? ? "#{k}=#{v} " : "#{k} ") }  %>

<% parsley_trigger_keyup = display_validations.nil? ? '' : @keyup%>

<% response_key  %>

<div class="row mbl pbl">
  <div class="col-xs-12">
    <h3 class="mbl">
      <span class="mrl">
        <%= display_question_label %>
      </span>
    </h3>
  </div>

  <textarea <%= parsley_validations %> <%= parsley_trigger_keyup %> class="form-control input-field-lg" rows="3" name="<%= "#{q_id}-#{response_key}" %>" value="<%= preexisting_esp_values[0] %>"><%= preexisting_esp_values[0] %></textarea>
</div>