<% osp_page = []  %>
<% osp_page[page] = 'active'  %>


<div class="bg-medium-gray tac clearfix pvm mbl">
  <div class="nav-osp">
    <div class="limit-width-1200">
      <span class="nav_button <%=osp_page[1]%> pointer js-button-link" data-link-value="<%= admin_osp_page_path(schoolId: @school.id.to_s, state: @school.state, page: "1") %>">
        <h3 class="absolute-center brand-primary pt45"> Basic Information </h3>
        <span class="iconx96 i-96-question-mark"></span>
      </span>
    <span class="nav_button <%=osp_page[2]%> pointer js-button-link" data-link-value="<%= admin_osp_page_path(schoolId: @school.id.to_s, state: @school.state, page: "2") %>">
      <h3 class="absolute-center brand-primary pt45"> Academics </h3>
      <span class="iconx96 iconx96 i-96-book"></span>
    </span>
    <span class="nav_button <%=osp_page[3]%> pointer js-button-link" data-link-value="<%= admin_osp_page_path(schoolId: @school.id.to_s, state: @school.state, page: "3") %>">
      <h3 class="absolute-center brand-primary pt45"> Extracurriculars <br/> & Culture </h3>
      <span class="iconx96 i-96-trophy"></span>
    </span>
    <span class="nav_button <%=osp_page[4]%> pointer js-button-link" data-link-value="<%= admin_osp_page_path(schoolId: @school.id.to_s, state: @school.state, page: "4") %>">
      <h3 class="absolute-center brand-primary pt45"> Facilities <br/> & Staff </h3>
      <span class="iconx96 i-96-person"></span>
    </span>
    </div>
  </div>
</div>
