<div class="fr vdl col-lg-2 col-md-3 col-sm-3 col-xs-12">
  <div class="hidden-xs fr pt45 prl col-sm-12">
    <div class="pll">
      <button class="btn btn-default js-button-link" data-link-value="<%= school_reviews_path(@school, anchor: 'topic1') %>" data-link-use-new-window='true'>
        Post a message
      </button>
    </div>
  </div>
  <div class="visible-xs tac col-xs-12">
    <%= link_to 'Post a message', school_reviews_path(@school, anchor: 'topic1'), target: '_blank' %>
  </div>

  <div class="hidden-xs fr prl mtl col-sm-12">
    <div class="pll">
      <button class="btn btn-default js-button-link" data-link-value="<%= school_path(@school) %>" data-link-use-new-window='true'>
        Go to school profile
      </button>
    </div>
  </div>
  <div class="visible-xs tac mvm col-xs-12">
    <%= link_to 'Go to school profile', school_path(@school), target: '_blank' %>
  </div>
  <div class="hidden-xs fr prl mtl col-sm-12">
    <div class="pll">
      <%= link_to 'Need help?', 'http://www.google.com', target: '_blank' %>
    </div>
  </div>
  <div class="visible-xs tac col-xs-12">
    <%= link_to 'Need help?', 'http://www.google.com', target: '_blank' %>
    <div class="hdp"></div>
  </div>
</div>





