<div class="limit-width-1200 osp-landing-page">
  <div class="school-story">
    <div class="row">
    <%= image_tag (image_path('osp/landing_school1.png')), class: "pull-right hidden-xs col-sm-4 col-lg-6" %>
    <%= image_tag (image_path('osp/OSP_landingpage3_mobile.png')), class: "pull-right visible-xs" %>

    <div class="col-xs-8 col-lg-6 phm mbl mtl">
      <h1>Tell your school's story</h1>

      <h3>
        You know your school best. Showcase it with your words, your photos and your videos.
      </h3>

    </div>
    </div>
  </div>

  <div class="connect-parents">
    <div class="row">
      <%= image_tag (image_path('osp/landing_book2.png')), class: "pull-left hidden-xs col-sm-4 col-lg-6" %>
      <%= image_tag (image_path('osp/OSP_landingpage4_mobile.png')), class: "pull-left visible-xs" %>

      <div class="col-xs-8 col-lg-6 phm mbl mtl">
        <h1> Connect with parents</h1>

        <h3>
          Reach prospective and existing parents with all the relevant school information they need
        </h3>

      </div>
    </div>
  </div>
    <div class="row mal">
      <%= image_tag (image_path('osp/landing_phone3.png')), class: "pull-right hidden-xs col-sm-4 col-lg-6" %>
      <%= image_tag (image_path('osp/OSP_landingpage5_mobile.png')), class: "pull-right visible-xs" %>
      <div class="col-xs-8 col-lg-6 phm mbl mtl">
        <h1>Add existing social media</h1>
        <h3>
          Already have a Facebook page or Twitter account?Add it to keep your profile fresh
        </h3>
      </div>
    </div>
    <div class="row mal">
        <%= image_tag (image_path('osp/landing_kids4.png')), class: "pull-left hidden-xs col-sm-4 col-lg-6" %>
        <%= image_tag (image_path('osp/OSP_landingpage6_mobile.png')), class: "pull-left visible-xs" %>
       <div class="col-xs-8 col-lg-6 phm mbl mtl">
         <h1>Ensure our accuracy</h1>
         <h3>
          Sometimes, errors creep into data.Help us maintain accuracy with your school
         </h3>
        </div>
  </div>

</div>

<%= render 'shared/home_footer' %>