<div class="osp-pages" xmlns="http://www.w3.org/1999/html">
  <%= render 'osp/osp_page_header' %>
  <%= render 'osp/osp_header' %>
  <div class="osp-registration-form">
    <div class="container">
      <%= form_tag osp_registration_submit_path, name: 'ospRegisterPage', 'data-parsley-validate' => '' do %>
          <%= hidden_field_tag :tab, "drive" %>
          <input type="hidden" id="state" name="state" value="<%= @state[:short] %>">
          <input type="hidden" id-="name" name="schoolId" value="<%= @school.id %>">
          <%= label_tag(:email, "Email address") %>
          <input class="form-control" type="text" name="email" id="email"
                 data-parsley-trigger="change"
                 data-parsley-blockhtmltags
                 data-parsley-required="true"
                 data-parsley-required-message="Email is required"
                 data-parsley-type="email"
                 data-parsley-type-message="Please enter a valid email"
                 data-parsley-remote='/gsr/validations/email_available'
                 data-parsley-remote-options='{ "type": "GET"}'
                 data-parsley-remote-message="Looks like you already have an account. <a href='/gsr/login'>Sign in.</a>"
          >

          <%= label_tag(:password, "Password (6-14 characters)") %>
          <input type="password" class="form-control" required placeholder="Password" id="password" name="password" data-parsley-blockhtmltags
                 data-parsley-required="true"
                 data-parsley-length="[6, 14]" data-parsley-trigger="change" data-parsley-required-message="Password is required">

          <%= label_tag(:password_verify, "Confirm password") %>
          <input type="password" class="form-control" data-parsley-required="true" data-parsley-blockhtmltags
                 data-parsley-required-message="Password is required"
                 data-parsley-equalto="#password" data-parsley-equalto-message="Password values should match" id="password_verify" name="password_verify"
                 data-parsley-trigger="change" placeholder="Re-Type Password">


          <%= label_tag(:first_name, "First name") %>
          <input class="form-control" type="text" name="first_name" id="first_name" data-parsley-blockhtmltags
                 data-parsley-required-message="First Name is required"
                 data-parsley-trigger="change" data-parsley-required="true">

          <%= label_tag(:last_name, "Last name") %>
          <input class="form-control" type="text" name="last_name" id="last_name" data-parsley-blockhtmltags
                 data-parsley-required-message="Last Name is required"
                 data-parsley-trigger="change" data-parsley-required="true">

          <%= label_tag(:job_title, "Role in relation to the school") %>
          <%= select_tag "job_title", "<option value=\"\">Choose One</option><option value=\"administrative assistant\">Administrative Asst.</option>
                                       <option value=\"administrator (other)\">Administrator (Other)</option>
                                       <option value=\"admissions representative\">Admissions Rep</option>
                                       <option value=\"assistant principal\">Asst. Principal</option>
                                       <option value=\"communications representative\">Communications Rep</option>
                                       <option value=\"consultant\">Consultant</option>
                                       <option value=\"department head\">Department Head</option>
                                       <option value=\"development representative\">Development Rep</option>
                                       <option value=\"headmaster\">Headmaster</option>
                                       <option value=\"president\">President</option>
                                       <option value=\"principal\">Principal</option>
                                       <option value=\"registrar\">Registrar</option>
                                       <option value=\"special education director\">Special Ed Director</option>
                                       <option value=\"superintendent\">Superintendent</option>
                                       <option value=\"teacher\">Teacher</option>
                                      <option value=\"webmaster\">Webmaster</option>".html_safe, class: 'form_control' %>


          <%= label_tag(:school_website, "Official school website (URL)") %>
          <input class="form-control" type="text" name="school_website" id="school_website" data-parsley-blockhtmltags
                 data-parsley-trigger="change" data-parsley-type="url"  data-parsley-type-message="Please enter a valid School Website">




          <button class="btn btn-primary" type="submit">
            Save edits
          </button>
          </div>
      <% end %>
      </div>


</div>
<%= render 'nav/short_footer' %>

