<div class="">
  <%= render partial: 'osp/osp_header' %>
  <%= render partial: 'osp/osp_nav', locals: {page: 3} %>
</div>
<div class="limit-width-1200">
  <%= render partial: 'osp/osp_questions_display', locals: {questions_display_config: @osp_display_config}%>
  <%= render 'osp/osp_form_display_test' %>
</div>

<%= render 'shared/state_footer', state: @state, cities: @cities %>