<div class="row limit-width-1200 pll tac">
  School : <%= @school.name %> ,  <%= @school.state %> ,  <%= @school.city %>

Facilities and Staff
  <br/>
  <%= link_to "Basic Information".html_safe, admin_osp_page_path(schoolId: @school.id.to_s,state: @school.state ,page: "1") %><br/>
  <%= link_to "Academics".html_safe, admin_osp_page_path(schoolId: @school.id.to_s,state: @school.state ,page: "2") %><br/>
  <%= link_to "Extracurricular".html_safe, admin_osp_page_path(schoolId: @school.id.to_s,state: @school.state ,page: "3") %>


</div>