<div class="osp-landing-page">
  <div class="info-module">
    <div class="limit-width-1200 ">
      <div class="row">
        <div class="col-lg-12 padding padding-lg">
          <h3>
            <font color="#fad700"><i>Half of American parents*</i></font>&nbsp;use GreatSchools&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            We have <font color="#fad700"><i>more accurate</i></font> school data than anyone else
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="school-story">
    <div class="limit-width-1200 ">
      <div class="row">
        <%= image_tag (image_path('osp/landing_school1.png')), class: "pull-right hidden-xs col-sm-4" %>
        <%= image_tag (image_path('osp/OSP_landingpage3_mobile.png')), class: "pull-right visible-xs" %>
        <div class="col-xs-8 col-lg-6 padding">
          <h1>Tell your school's story</h1>

          <h4>
            You know your school best. Showcase it with your words, photos and videos.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="connect-parents">
    <div class="limit-width-1200 ">
      <div class="row">
        <%= image_tag (image_path('osp/landing_book2.png')), class: "pull-left hidden-xs col-sm-4 padding" %>
        <%= image_tag (image_path('osp/OSP_landingpage4_mobile.png')), class: "pull-left visible-xs" %>
        <div class="col-xs-8 col-lg-6 padding pull-right">
          <h1> Connect with parents</h1>
          <h4>
            Reach current and prospective parents with all the relevant school information they need.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="social-media">
    <div class="limit-width-1200">
      <div class="row">
        <%= image_tag (image_path('osp/landing_phone3.png')), class: "pull-right hidden-xs col-sm-4" %>
        <%= image_tag (image_path('osp/OSP_landingpage5_mobile.png')), class: "pull-right visible-xs" %>
        <div class="col-xs-8 col-lg-6 padding">
          <h1>Add social media</h1>
          <h4>
            Connect your Facebook page to expand your reach.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="ensure-accuracy">
    <div class="limit-width-1200">
      <div class="row">
        <%= image_tag (image_path('osp/landing_kids4.png')), class: "pull-left hidden-xs col-sm-4 padding" %>
        <%= image_tag (image_path('osp/OSP_landingpage6_mobile.png')), class: "pull-left visible-xs" %>
        <div class="col-xs-8 col-lg-6 padding">
          <h1>Ensure our accuracy</h1>

          <h4>
            Sometimes, errors can creep into data. Make sure your school's details are correct.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="claim-profile">
    <div class="limit-width-1200">
      <div class="row">
        <div class="col-xs-12 padding-lg">
          <h1>Claim your school’s profile in minutes  </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 padding">
          <% partial_params = {searchClass: 'js-forceLocationSearch'} %>
          <%= render partial: 'nav/search_form', locals: partial_params %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 padding">
          <h4>1. Create your account</h4>
          <p>Sign up using an official school email address, then verify your email with one click.</p>

        </div>
        <div class="col-xs-12 col-sm-4 padding">
          <h4>2. Customize your profile</h4>
          <p>Answer simple questions to detail your school. If you have them, add photos and social links.</p>

        </div>
        <div class="col-xs-12 col-sm-4 padding">
          <h4>3. We’ll do the rest</h4>
          <p> We take data security seriously, so we’ll verify your account before publishing changes. Check your email
              for confirmation after a few days.
          </p>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-offset-3 col-sm-9 padding-lg">
            <h3>* Based on internal GreatSchools customer surveys, conducted in 2014.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/home_footer' %>