<div class="osp-pages">
    <%= render 'osp/osp_page_header' %>
    <%= render 'osp/osp_header'%>
    <div class="osp-registration-form">
          <div class="container">
          <%= form_tag osp_registration_submit_path, name: 'ospRegisterPage', 'data-parsley-validate' => '' do %>
                  <%= hidden_field_tag :tab , "drive" %>
                  <input type="hidden" id="state" name="state" value="<%= @state[:short] %>">
                  <input type="hidden" id-="name" name="schoolId" value="<%= @school.id %>">
                  <%= label_tag(:email, "Email*:") %>
                  <%= email_field(:user, :email, class: 'form-control js-email-validation') %>
                  <div class="js-email-error dn"><font class="red-error">Looks like you already have an account.</font> <%= link_to 'Sign in.', signin_path%></div>
                 <button class="btn btn-primary" type="submit">
                  Save edits
                 </button>
        </div>
        <% end %>
    </div>


</div>
<%= render 'nav/short_footer' %>
